<template>
  <div class="container">
    <div class="wrapper">
      <div class="banner-main">
        <div class="banner-title">
          <img src="@/assets/images/pc/game/egame/bannerText.png" />
        </div>
        <div class="banner-image">
          <img src="@/assets/images/pc/game/egame/bannerImage.png" />
        </div>
        <div class="banner-icon">
          <img src="@/assets/images/pc/game/egame/bannerCoin.png" />
        </div>
        <div class="banner-number-group">
          <div class="banner-number-item">
            <e-game-num />
          </div>
          <div class="banner-number-item">
            <e-game-num />
          </div>
          <div class="banner-number-symbol">
            <img-svg
              :src="require('@/assets/images/pc/game/egame/comma.svg')"
            ></img-svg>
          </div>
          <div class="banner-number-item">
            <e-game-num />
          </div>
          <div class="banner-number-item">
            <e-game-num />
          </div>
          <div class="banner-number-item">
            <e-game-num />
          </div>
          <div class="banner-number-symbol">
            <img-svg
              :src="require('@/assets/images/pc/game/egame/comma.svg')"
            ></img-svg>
          </div>
          <div class="banner-number-item">
            <e-game-num />
          </div>
          <div class="banner-number-item">
            <e-game-num />
          </div>
          <div class="banner-number-item">
            <e-game-num />
          </div>
          <div class="banner-number-symbol">
            <img-svg
              :src="require('@/assets/images/pc/game/egame/comma.svg')"
            ></img-svg>
          </div>
          <div class="banner-number-item">
            <e-game-num />
          </div>
          <div class="banner-number-item">
            <e-game-num />
          </div>
        </div>
      </div>
      <div class="game-main">
        <div class="game-operate-group">
          <div class="game-sort-row">
            <div
              v-for="item in sortMethods"
              :key="item.id"
              class="game-sort-item"
            >
              {{ item.name }}
            </div>
          </div>
          <div class="game-search-row">
            <div class="game-search-input">
              <input
                v-model="keyword"
                type="text"
                :placeholder="$t('eGame.enterkeyword')"
                @keyup.enter="search()"
              />
            </div>
            <div class="game-search-button">
              <img-svg
                :src="require('@/assets/images/pc/game/egame/search.svg')"
              ></img-svg>
            </div>
          </div>
        </div>
        <div class="game-operate-group"></div>
      </div>
    </div>
  </div>
</template>
<script>
import {
  getGameProvider,
  getGameList,
  // getFavoriteList,
  // addFavorite,
  // removeFavorite,
  // openGame,
} from '@/api/game.js'
export default {
  data() {
    return {
      gameProvider: {
        id: '',
        name: '',
        index: 1,
      },
      gameProviderList: [],
      sortSelected: '',
      sortMethods: [
        {
          id: 1,
          value: 'all',
          name: this.$t('eGame.all'),
        },
        {
          id: 2,
          value: 'newest',
          name: this.$t('eGame.popularSort'),
        },
        {
          id: 3,
          value: 'newest',
          name: this.$t('eGame.newestSort'),
        },
        {
          id: 4,
          value: 'newest',
          name: this.$t('eGame.favoriteSort'),
        },
      ],
      keyword: '',
    }
  },
  created() {
    this.initializate()
  },
  methods: {
    async initializate() {
      await this.getGameProvider('egame')
      await this.gameProviderList.forEach((x) => {
        this.getGameList(x.platform_id)
      })
    },
    search(keyword) {
      if (!this.keyword && !keyword) return
      const searchKeyword = this.keyword ? this.keyword : keyword
      this.searchStatus = true
      this.originalKeyword = searchKeyword
      const array = [...this.originalGameList]
      const result = []
      array.forEach((x) => {
        if (x.game_name.includes(searchKeyword) === true) {
          result.push(x)
        }
      })
      this.gameList = result
    },
    async getGameProvider(type) {
      const payload = { device: 'pc', gameType: type }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameProviderList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getGameList(id) {
      const provider = id
      try {
        const res = await getGameList(provider)
        const result = res.data
        console.log(result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    changeProvider(item, index) {
      const result = {
        id: item.platform_id,
        name: item.platform_name,
        index: index + 1,
      }
      this.gameProvider = result
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/style/pc/index.scss';
.container {
  margin: 0 auto;
  min-height: 100vh;
  background-image: url('~assets/images/pc/game/bg2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
  .wrapper {
    width: 1260px;
    min-height: 900px;
    margin: 0 auto;
  }
}
.banner-main {
  padding-top: $header-height;
  @include flexbox(space-between, flex-start);
  .banner-title {
    padding: 2rem 0 0 2rem;
    img {
      width: 525px;
    }
  }
  .banner-image img {
    width: 700px;
  }
  .banner-icon {
    position: absolute;
    margin: 300px 0 0 800px;
  }
  .banner-number-item {
    background: url('~assets/images/pc/game/egame/button.png') center no-repeat;
    background-size: cover;
    width: 70px;
    height: 98px;
    border-radius: 0.6rem;
    box-shadow: 0 8px 3px rgba(0, 0, 0, 0.2);
  }
  .banner-number-group {
    @include flexbox(flex-start, flex-end);
    position: absolute;
    margin: 19rem 0 0 2rem;
    .banner-number-item {
      margin: 0 0.2rem;
    }
    .banner-number-symbol {
      color: #ff9312;
      padding: 0 0.5rem;
    }
  }
}
.game-main {
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  .game-operate-group {
    @include flexbox(space-between);
    .game-sort-row {
      @include flexbox(flex-start);
      .game-sort-item {
        margin: 0 0.5rem;
        border-radius: 2rem;
        padding: 0.5rem 2rem;
        font-weight: bold;
        color: #343a40;
        cursor: pointer;
        &:hover {
          background: #e5e5e5;
        }
      }
      .selected {
        background: linear-gradient(to bottom, #ffb106, #ff9312);
        color: white;
      }
    }
    .game-search-row {
      @include flexbox(flex-start);
      background: #f3f3f3;
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      .game-search-input {
        margin-right: 0.5rem;
        input {
          width: 200px;
          outline: none;
          border: 0;
          height: 3rem;
          font-size: 1.1rem;
        }
      }
      .game-search-button {
        @include flexbox;
        @include iconSample(
          3rem,
          3rem,
          linear-gradient(to bottom, #ffb106, #ff9312)
        );
        color: white;
        cursor: pointer;
      }
    }
  }
}
</style>
