<template>
  <div class="container">
    <div class="wrapper">
      <div class="game-main">
        <div class="game-image">
          <img
            :src="
              require(`@/assets/images/pc/game/esport/image${gameProvider.index}.png`)
            "
          />
        </div>
        <div class="game-border">
          <div class="game-border-content">
            <div class="game-border-title">{{ gameProvider.name }}</div>
            <div class="game-border-text">{{ $t('esport.content') }}</div>
            <div class="game-border-icon-group">
              <div v-for="i in 5" :key="i" class="game-border-icon-item">
                <img-svg
                  :src="require(`@/assets/images/pc/game/esport/icon${i}.svg`)"
                ></img-svg>
              </div>
            </div>
            <div class="game-border-button">{{ $t('esport.enter') }}</div>
            <div class="game-border-provider-group">
              <div
                v-for="(item, index) in gameProviderList"
                :key="item.platform_id"
                class="game-border-provider-item"
                @click="changeProvider(item, index)"
              >
                <div
                  class="game-border-provider-icon"
                  :class="{ selected: gameProvider.id === item.platform_id }"
                ></div>
                <div class="game-border-provider-text">
                  {{ item.platform_name }}
                </div>
              </div>
            </div>
          </div>
          <div class="game-border-item1">
            <img src="@/assets/images/pc/game/esport/item1.png" />
          </div>
          <div class="game-border-item2">
            <img src="@/assets/images/pc/game/esport/item2.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getGameProvider } from '@/api/game.js'
export default {
  data() {
    return {
      gameProvider: {
        id: '',
        name: '',
        index: 1,
      },
      gameProviderList: [],
    }
  },
  created() {
    this.getGameProvider('esport')
  },
  methods: {
    async getGameProvider(type) {
      const payload = { device: 'pc', gameType: type }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameProviderList = result
        this.gameProvider.id = result[0].platform_id
        this.gameProvider.name = result[0].platform_name
        this.gameProvider.index = 1
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    changeProvider(item, index) {
      const result = {
        id: item.platform_id,
        name: item.platform_name,
        index: index + 1,
      }
      this.gameProvider = result
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/style/pc/index.scss';
.container {
  margin: 0 auto;
  min-height: 100vh;
  background-image: url('~assets/images/pc/game/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
  .wrapper {
    width: 1260px;
    min-height: 900px;
    margin: 0 auto;
  }
}
.game-main {
  padding-top: 16rem;
  @include flexbox(space-between);
  .game-image {
    position: absolute;
    top: 25%;
    margin-left: -3rem;
  }
  .game-border {
    position: absolute;
    width: 1260px;
    height: 632px;
    background-image: url('~assets/images/pc/game/esport/border.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    top: 29%;
    padding: 5rem 6rem;
    .game-border-content {
      width: 46%;
      float: right;
      .game-border-title {
        background-image: linear-gradient(to bottom, #abc000, #2b8b00);
        background-clip: text;
        color: transparent;
        font-size: 3.5rem;
        font-weight: 900;
        letter-spacing: -0.1rem;
      }
      .game-border-text {
        margin-top: 1rem;
        color: rgba(0, 0, 0, 0.5);
        font-weight: bold;
      }
      .game-border-icon-group {
        @include flexbox(flex-start);
        margin-top: 1rem;
        .game-border-icon-item {
          margin-right: 1rem;
        }
      }
      .game-border-button {
        @include flexbox;
        margin: 2.5rem 0;
        font-size: 1.3rem;
        font-weight: bold;
        color: rgba(90, 90, 90, 0.9);
        width: 160px;
        height: 55px;
        background-image: url('~assets/images/pc/game/button.png');
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
        border-radius: 2rem;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    .game-border-item1 {
      position: absolute;
      right: 0;
      margin: -10rem 6rem 0 0;
    }
    .game-border-item2 {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0 -2.5rem -1rem 0;
    }
  }
}
.game-border-provider-group {
  @include flexbox(flex-start, center, wrap);
  .game-border-provider-item {
    margin: 0 0 0.5rem 0.7rem;
    cursor: pointer;
    .game-border-provider-icon {
      border: 1px solid #becbd8;
      width: 5rem;
      height: 5rem;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0.15)
      );
      border-radius: 0.7rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
      &:hover {
        background-image: linear-gradient(
          to bottom,
          #70c815,
          #056a03
        ) !important;
      }
    }
    .selected {
      background-image: linear-gradient(to bottom, #70c815, #056a03) !important;
    }
    .game-border-provider-text {
      @include flexbox;
      margin-top: 1rem;
      color: #4d4d4d;
      font-weight: 600;
    }
  }
  .game-border-provider-item:nth-child(1) {
    margin: 0 0 0.5rem 0;
  }
}
</style>
