<template>
  <div class="container">
    <div class="wrapper">
      <div class="section-main">
        <div class="section-title-group">
          <div class="section-title-name">{{ $t('forgetPassword.title') }}</div>
          <div class="section-title-en">FORGET PASSWORD</div>
        </div>
        <div class="section-form-group">
          <div class="section-form-step-group">
            <div
              v-for="item in stepList"
              :key="item.id"
              class="section-form-step-item"
            >
              <div
                class="section-form-step-icon"
                :class="{ step: item.id <= step }"
              >
                {{ item.id }}
              </div>
              <div
                class="section-form-step-text"
                :class="{ stepText: item.id <= step }"
              >
                {{ item.name }}
              </div>
              <div
                v-if="item.id < 3"
                class="section-form-step-line"
                :class="{ step: item.id < step }"
              ></div>
            </div>
          </div>
          <template v-if="step === 1">
            <div class="section-form-content-group">
              <div class="section-form-validat-group">
                <div
                  class="section-form-validat-item"
                  :class="{ selected: validateMethod === 'phone' }"
                  @click="changeValidateMethod('phone')"
                >
                  {{ $t('forgetPassword.phoneRetrieve') }}
                </div>
                <div
                  class="section-form-validat-item"
                  :class="{ selected: validateMethod === 'email' }"
                  @click="changeValidateMethod('email')"
                >
                  {{ $t('forgetPassword.emailRetrieve') }}
                </div>
              </div>
              <div class="section-form-input-group">
                <ValidationProvider
                  ref="userAccount"
                  :rules="{
                    required: true,
                    regex: regex.userAccount,
                  }"
                >
                  <input
                    v-model="userAccount"
                    type="text"
                    class="section-form-input-item"
                    :class="{ invalid: !validate.account.status }"
                    :placeholder="$t('forgetPassword.accountPlaceholder')"
                    @keyup="
                      validateMethod === 'phone'
                        ? validateForm('forgetPassword-phone')
                        : validateForm('forgetPassword-email')
                    "
                  />
                </ValidationProvider>

                <template v-if="!validate.account.status">
                  <div class="step-form-errorTip">
                    {{
                      $t('forgetPassword.accountErrorTip', [
                        validate.account.min,
                        validate.account.max,
                      ])
                    }}
                  </div>
                </template>
                <template v-if="validateMethod === 'phone'">
                  <div class="section-form-input-row">
                    <el-select
                      v-model="countryCode"
                      class="section-form-input-select"
                      placeholder=""
                    >
                      <el-option
                        v-for="item in countryCodeList"
                        :key="item.iso"
                        :label="item.label"
                        :value="item.country_code"
                      >
                      </el-option>
                    </el-select>
                    <ValidationProvider
                      ref="phoneNumber"
                      :rules="{
                        required: true,
                        regex: regex.phoneNumber,
                      }"
                    >
                      <input
                        v-model="phoneNumber"
                        type="text"
                        class="section-form-input-item"
                        :class="{ invalid: !validate.phoneNumber.status }"
                        :placeholder="
                          $t('forgetPassword.phoneNumberPlaceholder')
                        "
                        @keyup="validateForm('forgetPassword-phone')"
                      />
                    </ValidationProvider>
                  </div>
                  <template v-if="!validate.phoneNumber.status">
                    <div class="step-form-errorTip">
                      {{
                        $t('forgetPassword.phoneNumberErrorTip', [
                          validate.phoneNumber.min,
                          validate.phoneNumber.max,
                        ])
                      }}
                    </div>
                  </template>
                </template>
                <template v-else>
                  <ValidationProvider
                    ref="email"
                    :rules="{
                      required: true,
                      regex: regex.email,
                    }"
                  >
                    <input
                      v-model="email"
                      type="text"
                      class="section-form-input-item"
                      :class="{ invalid: !validate.email.status }"
                      :placeholder="$t('forgetPassword.emailPlaceholder')"
                      @keyup="validateForm('forgetPassword-email')"
                    />
                  </ValidationProvider>
                  <template v-if="!validate.email.status">
                    <div class="step-form-errorTip">
                      {{
                        $t('forgetPassword.emailErrorTip', [
                          validate.email.min,
                          validate.email.max,
                        ])
                      }}
                    </div>
                  </template>
                </template>
                <div
                  class="section-form-button"
                  @click="nextStep('forgetPassword')"
                >
                  {{ $t('forgetPassword.nextStep') }}
                </div>
              </div>
            </div>
          </template>
          <template v-if="step === 2">
            <div class="section-form-content-group">
              <div class="section-form-input-group">
                <template v-if="validateMethod === 'phone'">
                  <div class="section-form-text-item">
                    {{ phoneNumber }}
                  </div>
                  <ValidationProvider
                    ref="verificationPhone"
                    :rules="{
                      required: true,
                    }"
                  >
                    <input
                      v-model="verificationPhone"
                      type="text"
                      class="section-form-verification-item"
                      :class="{ invalid: !validate.verificationPhone }"
                      :placeholder="
                        $t('forgetPassword.verificationPhonePlaceholder')
                      "
                      @keyup="validateForm('verifyIdentity-phone')"
                    />
                  </ValidationProvider>
                  <div
                    v-if="!countdownStatus"
                    class="section-form-verification-button"
                    @click="getVerificationPhone()"
                  >
                    {{ $t('forgetPassword.getVerificationPhone') }}
                  </div>
                  <div v-else class="section-form-verification-text">
                    {{ countdown }}s
                  </div>
                  <template v-if="!validate.verificationPhone">
                    <div class="step-form-errorTip">
                      {{ $t('forgetPassword.verificationPhoneErrorTip') }}
                    </div>
                  </template>
                </template>
                <template v-else>
                  <div class="section-form-text-item">
                    {{ email }}
                  </div>
                  <ValidationProvider
                    ref="verificationEmail"
                    :rules="{
                      required: true,
                    }"
                  >
                    <input
                      v-model="verificationEmail"
                      type="text"
                      class="section-form-verification-item"
                      :class="{ invalid: !validate.verificationEmail }"
                      :placeholder="
                        $t('forgetPassword.verificationEmailPlaceholder')
                      "
                      @keyup="validateForm('verifyIdentity-email')"
                    />
                  </ValidationProvider>
                  <div
                    v-if="!countdownStatus"
                    class="section-form-verification-button"
                    @click="getVerificationEmail()"
                  >
                    {{ $t('forgetPassword.getVerificationEmail') }}
                  </div>
                  <div v-else class="section-form-verification-text">
                    {{ countdown }}s
                  </div>
                  <template v-if="!validate.verificationEmail">
                    <div class="step-form-errorTip">
                      {{ $t('forgetPassword.verificationEmailErrorTip') }}
                    </div>
                  </template>
                </template>
                <div
                  class="section-form-button"
                  @click="nextStep('verifyIdentity')"
                >
                  {{ $t('forgetPassword.nextStep') }}
                </div>
              </div>
            </div>
          </template>
          <template v-if="step === 3">
            <div class="section-form-content-group">
              <div class="section-form-input-group">
                <div class="section-form-input-remind">
                  {{ $t('forgetPassword.remind') }}
                </div>
                <ValidationProvider
                  ref="userPassword"
                  :rules="{
                    required: true,
                    regex: regex.userPassword,
                  }"
                >
                  <input
                    v-model="userPassword"
                    :type="!privacyPassword ? 'password' : 'text'"
                    class="section-form-verification-item"
                    :class="{ invalid: !validate.password.status }"
                    :placeholder="$t('forgetPassword.password')"
                    @keyup="validateForm('setPassword')"
                  />
                </ValidationProvider>
                <div
                  class="section-form-privacy"
                  @click="privacyPassword = !privacyPassword"
                >
                  <img
                    v-show="privacyPassword"
                    src="@/assets/images/pc/login/openEye.svg"
                  />
                  <img
                    v-show="!privacyPassword"
                    src="@/assets/images/pc/login/closeEye.svg"
                  />
                </div>
                <template v-if="!validate.password.status">
                  <div class="step-form-errorTip">
                    {{
                      $t('forgetPassword.passwordErrorTip', [
                        validate.password.min,
                        validate.password.max,
                      ])
                    }}
                  </div>
                </template>
                <ValidationProvider
                  ref="confirmPassword"
                  :rules="{
                    required: true,
                    is: userPassword,
                  }"
                >
                  <input
                    v-model="confirmPassword"
                    :type="!privacyConfirmPassword ? 'password' : 'text'"
                    class="section-form-verification-item"
                    :class="{ invalid: !validate.confirmPassword }"
                    :placeholder="
                      $t('forgetPassword.confirmPasswordPlaceholder')
                    "
                    @keyup="validateForm('setPassword')"
                  />
                </ValidationProvider>
                <div
                  class="section-form-privacy"
                  @click="privacyConfirmPassword = !privacyConfirmPassword"
                >
                  <img
                    v-show="privacyConfirmPassword"
                    src="@/assets/images/pc/login/openEye.svg"
                  />
                  <img
                    v-show="!privacyConfirmPassword"
                    src="@/assets/images/pc/login/closeEye.svg"
                  />
                </div>
                <template v-if="!validate.confirmPassword">
                  <div class="step-form-errorTip">
                    {{ $t('forgetPassword.confirmPasswordErrorTip') }}
                  </div>
                </template>
                <div
                  class="section-form-button"
                  @click="nextStep('setPassword')"
                >
                  {{ $t('forgetPassword.complete') }}
                </div>
              </div>
            </div>
          </template>
          <template v-if="step === 4">
            <div class="section-form-content-group">
              <div class="section-form-input-group">
                <div class="section-form-input-icon">
                  <img-svg
                    :src="require(`@/assets/images/pc/login/check.svg`)"
                  ></img-svg>
                </div>
                <div class="section-form-input-title">
                  {{ $t('forgetPassword.modifySuccess2') }}
                </div>
                <div class="section-form-input-text">
                  {{ $t('forgetPassword.modifySuccess3') }}
                </div>
                <nuxt-link class="section-form-button" to="Login">
                  {{ $t('forgetPassword.useNewPassword') }}
                </nuxt-link>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
    <reminder-windows
      v-if="reminderStatus"
      :transmit-object="transmitObject"
      @closeWindows="closeReminderWindows"
    />
  </div>
</template>
<script>
import {
  checkPhoneNumber,
  getVerificationPhone,
  checkEmail,
  getVerificationEmail,
  checkVerification,
  resetPassword,
  getCountryCode,
} from '@/api/user.js'
import regex from '@/assets/scripts/regex'
export default {
  data() {
    return {
      stepList: [
        { id: 1, name: this.$t('forgetPassword.accountName') },
        { id: 2, name: this.$t('forgetPassword.verifyIdentity') },
        { id: 3, name: this.$t('forgetPassword.setPassword') },
      ],
      validateMethod: 'phone',
      step: 1,
      userAccount: '',
      phoneNumber: '',
      email: '',
      verificationEmail: '',
      verificationPhone: '',
      userPassword: '',
      confirmPassword: '',
      privacyPassword: false,
      privacyConfirmPassword: false,
      countryCode: '',
      countryCodeList: [],
      isAllValid: false,
      validate: {
        account: {
          status: true,
          min: 5,
          max: 16,
        },
        phoneNumber: {
          status: true,
          min: 5,
          max: 16,
        },
        email: {
          status: true,
          min: 5,
          max: 16,
        },
        password: {
          status: true,
          min: 5,
          max: 16,
        },
        confirmPassword: true,
        verificationEmail: true,
        verificationPhone: true,
      },
      regex: {
        userAccount: regex.userAccount,
        phoneNumber: regex.phoneNumber,
        email: regex.email,
        userPassword: regex.userPassword,
      },
      reminderStatus: false,
      transmitObject: {},
    }
  },
  created() {
    this.getCountryCode()
  },
  methods: {
    changeValidateMethod(method) {
      this.validateMethod = method
      this.resetData()
    },
    closeReminderWindows() {
      this.reminderStatus = false
    },
    resetData() {
      this.step = 1
      this.userAccount = ''
      this.phoneNumber = ''
      this.email = ''
      this.verificationEmail = ''
      this.verificationPhone = ''
      this.userPassword = ''
      this.confirmPassword = ''
      this.validate.account.status = true
      this.validate.phoneNumber.status = true
      this.validate.email.status = true
      this.validate.password.status = true
      this.validate.confirmPassword = true
      this.validate.verificationEmail = true
      this.validate.verificationPhone = true
    },
    async nextStep(stepName) {
      if (this.isAllValid !== true) return
      switch (stepName) {
        case 'forgetPassword': {
          this.validateMethod === 'phone'
            ? await this.checkPhoneNumber()
            : await this.checkEmail()
          break
        }
        case 'verifyIdentity': {
          await this.checkVerification()
          break
        }
        case 'setPassword': {
          this.resetPassword()
          break
        }
        default:
          break
      }
    },
    async validateForm(stepName) {
      switch (stepName) {
        case 'forgetPassword-phone': {
          const result = await Promise.all([
            this.$refs.userAccount.validate(),
            this.$refs.phoneNumber.validate(),
          ])
          this.validate.account.status = result[0].valid
          this.validate.phoneNumber.status = result[1].valid
          this.isAllValid = result.every((x) => x.valid === true)
          break
        }
        case 'forgetPassword-email': {
          const result = await Promise.all([
            this.$refs.userAccount.validate(),
            this.$refs.email.validate(),
          ])
          this.validate.account.status = result[0].valid
          this.validate.email.status = result[1].valid
          this.isAllValid = result.every((x) => x.valid === true)
          break
        }
        case 'verifyIdentity-phone': {
          const result = await Promise.all([
            this.$refs.verificationPhone.validate(),
          ])

          this.validate.verificationPhone = result[0].valid
          this.isAllValid = result.every((x) => x.valid === true)
          break
        }
        case 'verifyIdentity-email': {
          const result = await Promise.all([
            this.$refs.verificationEmail.validate(),
          ])

          this.validate.verificationEmail = result[0].valid
          this.isAllValid = result.every((x) => x.valid === true)
          break
        }
        case 'setPassword': {
          const result = await Promise.all([
            this.$refs.userPassword.validate(),
            this.$refs.confirmPassword.validate(),
          ])
          this.validate.password.status = result[0].valid
          this.validate.confirmPassword = result[1].valid
          this.isAllValid = result.every((x) => x.valid === true)
          break
        }
        default:
          break
      }
    },
    async getCountryCode() {
      try {
        const res = await getCountryCode()
        const result = res.data
        this.countryCode = '+' + result[0].country_code
        const array = result.map((x) => {
          const result = {
            country_code: x.country_code,
            iso: x.iso,
            name: x.name,
            label: '+' + x.country_code,
          }
          return result
        })
        this.countryCodeList = array
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async checkPhoneNumber() {
      const payload = {
        userAccount: this.userAccount,
        phoneNumber: this.phoneNumber,
        countryCode: this.countryCode,
      }
      try {
        await checkPhoneNumber(payload)
        this.step = 2
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async getVerificationPhone() {
      const payload = {
        userAccount: this.userAccount,
        phoneNumber: this.phoneNumber,
      }
      try {
        await getVerificationPhone(payload)
        const result = {
          type: 'forgetPassword',
          icon: {
            src: 'login/check2.svg',
            text: this.$t('forgetPassword.sendSuccess2'),
          },
          content: this.$t('forgetPassword.sendSuccess3'),
        }
        this.transmitObject = result
        this.reminderStatus = true
        this.countdownTimer(60)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async checkEmail() {
      const payload = {
        userAccount: this.userAccount,
        email: this.email,
      }
      try {
        await checkEmail(payload)
        this.step = 2
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async getVerificationEmail() {
      const payload = {
        userAccount: this.userAccount,
        email: this.email,
      }
      try {
        await getVerificationEmail(payload)
        const result = {
          type: 'forgetPassword',
          icon: {
            src: 'login/check2.svg',
            text: this.$t('forgetPassword.sendSuccess2'),
          },
          content: this.$t('forgetPassword.sendSuccess3'),
        }
        this.transmitObject = result
        this.reminderStatus = true
        this.countdownTimer(60)
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async checkVerification() {
      const payload = {
        code:
          this.validateMethod === 'phone'
            ? this.verificationPhone
            : this.verificationEmail,
      }
      try {
        await checkVerification(payload)
        this.step = 3
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async resetPassword() {
      const payload = {
        userPassword: this.userPassword,
      }
      try {
        await resetPassword(payload)
        this.step = 4
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  background-image: url('~assets/images/pc/login/bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .wrapper {
    width: 1260px;
    height: 100%;
    margin: 0 auto;
  }
}

.section-main {
  padding-top: 10rem;
  .section-title-group {
    position: relative;
    text-align: center;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      bottom: -25px;
      display: block;
      width: 37.5px;
      height: 70px;
      border-color: #dfe8ff;
      border-style: solid;
      border-top: none;
      border-bottom: none;
      left: calc(50% - 235px);
      border-left-width: 20px;
      border-right-width: 10px;
      transform: skew(52.75deg, 0deg);
      transform-origin: bottom right;
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -25px;
      display: block;
      width: 37.5px;
      height: 70px;
      border-color: #dfe8ff;
      border-style: solid;
      border-top: none;
      border-bottom: none;
      right: calc(50% - 235px);
      border-left-width: 10px;
      border-right-width: 20px;
      transform: skew(-52.75deg, 0deg);
      transform-origin: bottom left;
      z-index: 1;
    }
    .section-title-en {
      font-size: 1.5rem;
      font-weight: bold;
      color: #41425e;
    }
    .section-title-name {
      font-size: 2.5rem;
      font-weight: bold;
      color: #58a9fe;
    }
  }
  .section-form-group {
    height: 1000px;
    box-shadow: inset 0 0 30px rgba(132, 167, 255, 0.55);
    background-color: white;
    border-radius: 2rem;
    margin-top: -1.5rem;
    &::before {
      content: '';
      position: absolute;
      width: 640px;
      left: calc(50% - 320px);
      border-top-width: 35px;
      border-top-style: solid;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-top-color: rgba(132, 167, 255, 0.55);
      filter: blur(15px);
      margin-top: 1.2rem;
    }
    &::after {
      content: '';
      position: absolute;
      width: 640px;
      left: calc(50% - 320px);
      top: 13.8rem;
      border-top-width: 60px;
      border-top-style: solid;
      border-left: 80px solid transparent;
      border-right: 80px solid transparent;
      border-top-color: #f2f2f2;
    }
  }
}
.section-form-step-group {
  @include flexbox(space-between);
  width: 35%;
  margin: 0 auto;
  padding-top: 6rem;
  .section-form-step-icon {
    position: relative;
    @include flexbox;
    color: #777777;
    font-size: 1.5rem;
    font-weight: bold;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: #f2f2f2;
    margin: 0 auto;
    z-index: 1;
  }
  .section-form-step-text {
    margin-top: 0.7rem;
    color: rgba(0, 0, 0, 0.53);
    font-weight: bold;
  }
  .section-form-step-line {
    position: absolute;
    width: 10rem;
    height: 0.3rem;
    background-color: #f2f2f2;
    margin: -3.6rem 0rem 0 3.5rem;
  }
  .step {
    color: white;
    background-color: #5296fd;
  }
  .stepText {
    color: #5296fd;
  }
}
.section-form-content-group {
  width: 33%;
  margin: 2rem auto 0;
  .section-form-validat-group {
    @include flexbox(space-between);
    .section-form-validat-item {
      @include flexbox;
      width: 50%;
      color: rgba(0, 0, 0, 0.53);
      font-weight: bold;
      font-size: 1.2rem;
      padding: 1rem 0;
      border-bottom: 0.2rem solid #f2f2f2;
      cursor: pointer;
    }
    .selected {
      border-bottom: 0.2rem solid #5296fd;
      color: #5296fd;
    }
  }
  .section-form-input-group {
    margin-top: 2rem;
    .section-form-input-row {
      @include flexbox;
      .section-form-input-select {
        margin-right: 0.5rem;
      }
      .section-form-input-item {
        width: 20.5rem;
        height: 3rem;
        border: 1px solid #e5e5e5;
        border-radius: 1.5rem;
        outline: none;
        padding: 0 1.5rem;
        font-size: 1.1rem;
        margin: 0.5rem 0;
      }
    }
    .section-form-input-item {
      width: 26rem;
      height: 3rem;
      border: 1px solid #e5e5e5;
      border-radius: 1.5rem;
      outline: none;
      padding: 0 1.5rem;
      font-size: 1.1rem;
      margin: 0.5rem 0;
    }
    .step-form-errorTip {
      margin: 0 1.5rem;
      color: #dc3545;
      font-weight: 600;
    }
    .section-form-button {
      @include flexbox;
      width: 26rem;
      height: 3rem;
      margin-top: 0.5rem;
      color: white;
      font-weight: bold;
      border-radius: 1.5rem;
      font-size: 1.1rem;
      background-image: linear-gradient(to right, #4e65ff, #5ce2fc);
      cursor: pointer;
      text-decoration: none;
    }
    .section-form-text-item {
      @include flexbox(flex-start);
      width: 26rem;
      height: 3rem;
      border: 1px solid #e5e5e5;
      border-radius: 1.5rem;
      padding: 0 1.5rem;
      font-size: 1.1rem;
      margin: 0.5rem 0;
    }
    .section-form-verification-item {
      width: 26rem;
      height: 3rem;
      border: 1px solid #e5e5e5;
      border-radius: 1.5rem;
      outline: none;
      padding: 0 9rem 0 1.5rem;
      font-size: 1.1rem;
      margin: 0.5rem 0;
    }
    .section-form-verification-button {
      @include flexbox;
      position: absolute;
      color: white;
      font-weight: bold;
      background-color: #343a40;
      height: 2rem;
      width: 7rem;
      border-radius: 1rem;
      letter-spacing: -1px;
      margin: -3rem 0 0 18rem;
      cursor: pointer;
      &:hover {
        background-color: black;
      }
    }
    .section-form-verification-text {
      position: absolute;
      color: #5296fd;
      margin: -2.7rem 0 0 23.5rem;
      font-size: 1.1rem;
    }
    .section-form-input-remind {
      text-align: center;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }
    .section-form-privacy {
      position: absolute;
      margin: -2.7rem 0 0 23rem;
      opacity: 0.5;
    }
    .section-form-input-icon {
      @include flexbox;
    }
    .section-form-input-title {
      @include flexbox;
      margin-top: 1rem;
      font-size: 1.3rem;
      font-weight: bold;
    }
    .section-form-input-text {
      @include flexbox;
      margin: 1rem;
      color: rgba(0, 0, 0, 0.5);
      font-weight: bold;
    }
    .invalid {
      border: 1px solid #dc3545;
    }
  }
}
</style>
