<template>
  <div class="container">
    <div class="carousel-main">
      <swiper class="swiper" :options="swiperOption">
        <swiper-slide v-for="item in bannerList" :key="item.id">
          <img class="bannerImage" :src="item.src" />
        </swiper-slide>
        <div slot="pagination" class="swiper-pagination"></div>
      </swiper>
    </div>
    <div class="wrapper">
      <div class="marquee-main">
        <div class="marquee-title">{{ $t('index.bulletin') }}</div>
        <div
          class="marquee-text"
          @mouseover="marqueePaused = true"
          @mouseleave="marqueePaused = false"
        >
          <marquee-text :duration="30" :paused="marqueePaused">
            <span
              v-for="(item, index) in marqueeList"
              :key="item.id"
              @click="openBulletinWindows(item, index)"
              >{{ item.content }}</span
            >
          </marquee-text>
        </div>
        <nuxt-link class="marquee-button" to="/">{{
          $t('index.more')
        }}</nuxt-link>
      </div>
      <div class="section-main">
        <div class="section-title-group">
          <div class="section-title-en">TOP 1000+ GAMES</div>
          <div class="section-title-name">{{ $t('index.gameTitle') }}</div>
          <div class="section-title-text">{{ $t('index.gameTip') }}</div>
        </div>
        <div class="section-game-group">
          <div class="section-game-menu-group">
            <div
              v-for="item in gameTypeList"
              :key="item.id"
              class="section-game-menu-item"
              :class="multipleGameCSS(item)"
              @click="changeCategory(item)"
            >
              <div class="section-game-menu-icon">
                <img-svg
                  :src="require(`@/assets/images/pc/index/${item.src}`)"
                ></img-svg>
              </div>
              <div class="section-game-menu-text">
                {{ item.name }}
              </div>
            </div>
          </div>
          <div class="section-game-area-group">
            <div class="section-game-area-left">
              <img
                :src="require(`@/assets/images/pc/index/${gameType.image}`)"
              />
            </div>
            <div class="section-game-area-right">
              <div class="section-game-area-title" :class="multipleGameCSS()">
                {{ gameType.title }}
              </div>
              <div
                class="section-game-area-entitle"
                :class="multipleEnTilteCSS()"
              >
                {{ gameType.entitle }}
              </div>
              <div class="section-game-area-text" :class="multipleGameCSS()">
                {{ gameType.tip }}
              </div>
              <div class="section-game-area-button-group">
                <div
                  v-for="item in gameType.provider"
                  :key="item.platform_id"
                  class="section-game-area-button-item"
                >
                  <div
                    class="section-game-area-button-icon"
                    :class="multipleGameCSS()"
                  ></div>
                  <div class="section-game-area-button-text">
                    {{ item.platform_name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-main">
        <div class="section-title-group">
          <div class="section-title-en">BEST ONLINE CASINO</div>
          <div class="section-title-name">{{ $t('index.serviceTitle') }}</div>
          <div class="section-title-text">{{ $t('index.serviceTip') }}</div>
        </div>
        <div class="section-service-group">
          <div
            v-for="(item, index) in serviceList"
            :key="item.id"
            class="section-service-item"
          >
            <div
              class="section-service-bg"
              :class="index % 2 > 0 ? 'blue-bg' : 'gold-bg'"
            >
              <div class="section-service-bg-icon">
                <img :src="require(`@/assets/images/pc/index/${item.src}`)" />
              </div>
              <div class="section-service-bg-text">
                {{ item.amount }}
                <span v-if="index < 2">{{ $t('index.second') }}</span>
                <span v-else>+</span>
              </div>
            </div>
            <div class="section-service-text">
              {{ item.text }}
            </div>
            <div class="section-service-entext">{{ item.enText }}</div>
          </div>
        </div>
      </div>
      <div class="block-main">
        <div v-for="item in blockList" :key="item.id" class="block-item">
          <div class="block-item-icon">
            <img :src="require(`@/assets/images/pc/index/${item.src}`)" />
          </div>
          <div class="block-item-content">
            <div class="block-item-title">{{ item.title }}</div>
            <div class="block-item-enTitle">{{ item.enTitle }}</div>
            <div class="block-item-text">{{ item.text }}</div>
          </div>
        </div>
      </div>
      <div class="section-main">
        <div class="section-title-group">
          <div class="section-title-name">{{ $t('index.officialTitle') }}</div>
          <div class="section-title-en">OFFICIAL PARTNERS</div>
        </div>
        <div class="section-official-group">
          <div class="section-official-content">
            <div v-for="i in 11" :key="i" class="section-official-item">
              <img :src="require(`@/assets/images/pc/index/partner${i}.png`)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getGameProvider } from '@/api/game.js'
export default {
  data() {
    return {
      swiperOption: {
        loop: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
      bannerList: [
        { id: 1, src: '/images/pc/banner01.jpg' },
        { id: 2, src: '/images/pc/banner01.jpg' },
        { id: 3, src: '/images/pc/banner01.jpg' },
        { id: 4, src: '/images/pc/banner01.jpg' },
        { id: 5, src: '/images/pc/banner01.jpg' },
      ],
      marqueePaused: false,
      marqueeList: [
        {
          id: 1,
          title: '玩賺週末 紅包來襲',
          content:
            '請會員注意自身資安安全，VWIN絕對不會以任何形式索取會員帳號密碼，與個人資料，(包含FB、Line、簡訊)',
        },
        {
          id: 2,
          title: '玩賺週末 紅包來襲2',
          content:
            '請會員注意自身資安安全，VWIN絕對不會以任何形式索取會員帳號密碼，與個人資料，(包含FB、Line、簡訊)',
        },
      ],
      gameTypeList: [
        {
          id: 1,
          type: 'sport',
          name: this.$t('index.sport'),
          src: 'sport.svg',
        },
        { id: 2, type: 'live', name: this.$t('index.live'), src: 'live.svg' },
        {
          id: 3,
          type: 'lotto',
          name: this.$t('index.lotto'),
          src: 'lotto.svg',
        },
        {
          id: 4,
          type: 'egame',
          name: this.$t('index.egame'),
          src: 'egame.svg',
        },
        {
          id: 5,
          type: 'poker',
          name: this.$t('index.poker'),
          src: 'poker.svg',
        },
        {
          id: 6,
          type: 'esport',
          name: this.$t('index.esport'),
          src: 'esport.svg',
        },
      ],
      entitle: {
        sport: 'SPORTS EVENTS',
        live: 'LIVE CASINO',
        lotto: 'LOTTERY GAMES',
        egame: 'SLOT GAMES',
        poker: 'CHESS & CARD GAMES',
        esport: 'FISHING GAMING',
      },
      gameType: {
        type: '',
        image: '',
        title: '',
        en: '',
        tip: '',
        provider: [],
      },
      serviceList: [
        {
          id: 1,
          type: 'deposit',
          text: this.$t('index.serviceIconTip1'),
          enText: 'AVERAGE TIME OF DEPOSIT',
          src: 'deposit.png',
          amount: 60,
        },
        {
          id: 2,
          type: 'withdraw',
          text: this.$t('index.serviceIconTip2'),
          enText: 'AVERAGE TIME OF WITHDRAW',
          src: 'withdraw.png',
          amount: 60,
        },
        {
          id: 3,
          type: 'cooperation',
          text: this.$t('index.serviceIconTip3'),
          enText: 'COOPERATIVE PLATFORM',
          src: 'cooperation.png',
          amount: 20,
        },
        {
          id: 4,
          type: 'service',
          text: this.$t('index.serviceIconTip4'),
          enText: '24/7 SUPPORT',
          src: 'service.png',
          amount: 365,
        },
      ],
      blockList: [
        {
          id: 1,
          type: 'transaction',
          title: this.$t('index.serviceItemTitle1'),
          enTitle: 'FAST WITHDRAWAL',
          text: this.$t('index.serviceItemTip1'),
          src: 'transaction.png',
        },
        {
          id: 2,
          type: 'games',
          title: this.$t('index.serviceItemTitle2'),
          enTitle: '1000+ GAMES',
          text: this.$t('index.serviceItemTip2'),
          src: 'games.png',
        },
        {
          id: 3,
          type: 'protection',
          title: this.$t('index.serviceItemTitle3'),
          enTitle: 'ALWAYS-ON PROTECTION',
          text: this.$t('index.serviceItemTip3'),
          src: 'protection.png',
        },
        {
          id: 4,
          type: 'devices',
          title: this.$t('index.serviceItemTitle4'),
          enTitle: 'SUPPORT FOR ALL DEVICES',
          text: this.$t('index.serviceItemTip4'),
          src: 'devices.png',
        },
      ],
    }
  },
  created() {
    this.changeCategory(this.gameTypeList[0])
  },
  methods: {
    multipleGameCSS(item) {
      const result = item ? item.type : this.gameType.type
      return {
        sport: result === 'sport',
        live: result === 'live',
        lotto: result === 'lotto',
        egame: result === 'egame',
        poker: result === 'poker',
        esport: result === 'esport',
      }
    },
    multipleEnTilteCSS() {
      const result = this.gameType.type
      return {
        'sport-en': result === 'sport',
        'live-en': result === 'live',
        'lotto-en': result === 'lotto',
        'egame-en': result === 'egame',
        'poker-en': result === 'poker',
        'esport-en': result === 'esport',
      }
    },
    changeCategory(item) {
      const result = {
        type: item.type,
        image: item.type + '.png',
        title: this.$t(`index.${item.type}Title`),
        tip: this.$t(`index.${item.type}Tip`),
        entitle: this.entitle[item.type],
        provider: [],
      }
      this.gameType = result
      this.getGameProvider(item)
    },
    async getGameProvider(item) {
      const payload = { device: 'pc', gameType: item.type }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameType.provider = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/style/pc/index.scss';
.container {
  margin: 0 auto;
  min-height: 100vh;
  background-image: url('~assets/images/pc/index/bg.jpg');
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
  .wrapper {
    width: 1260px;
    height: 100%;
    margin: 0 auto;
  }
}
.carousel-main {
  max-height: 800px;
  overflow: hidden;
  .bannerImage {
    width: 100%;
  }
}
.marquee-main {
  @include flexbox(space-between);
  position: relative;
  height: 3rem;
  box-shadow: 0 0 16px rgba(105, 139, 253, 0.3);
  background-color: white;
  border-radius: 1.5rem;
  margin-top: -1.5rem;
  z-index: 1;
  .marquee-title {
    @include flexbox;
    width: 10rem;
    height: 3rem;
    background-image: linear-gradient(to bottom, #57affd, #506eff);
    border-radius: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
  }
  .marquee-text {
    width: calc(100% - 18rem);
    span {
      margin: 0 2.5rem;
      font-weight: 600;
      color: #343a40;
      &:hover {
        color: #5296fd;
      }
    }
  }
  .marquee-button {
    @include flexbox;
    text-decoration: none;
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    background-image: linear-gradient(to bottom, #57affd, #506eff);
    font-weight: bold;
    margin-right: 1rem;
  }
}
.section-main {
  margin-top: 5rem;
  .section-title-group {
    position: relative;
    text-align: center;
    z-index: 1;
    .section-title-en {
      font-size: 1.5rem;
      font-weight: bold;
      color: #41425e;
    }
    .section-title-name {
      font-size: 2.5rem;
      font-weight: bold;
      color: #58a9fe;
    }
    .section-title-text {
      font-weight: 600;
      color: #41425e;
    }
  }
  .section-game-group {
    height: 750px;
    background-image: url('~assets/images/pc/index/game-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 30px rgba(132, 167, 255, 0.55);
    background-color: white;
    border-radius: 2rem;
    margin-top: -1.5rem;

    .section-game-menu-group {
      @include flexbox(space-between);
      margin: 0 auto;
      padding-top: 5rem;
      width: 60%;
      .section-game-menu-item {
        @include flexbox;
        border-radius: 1.5rem;
        height: 3rem;
        width: 7rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.25)
        );
        box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
        &:hover {
          box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.35);
        }
        .section-game-menu-icon {
          @include flexbox;
          margin-right: 0.5rem;
        }
      }
    }
    .section-game-area-group {
      @include flexbox(space-between, flex-start);
      width: 90%;
      margin: 5rem auto;
      .section-game-area-left {
        @include flexbox;
        width: 47%;
      }
      .section-game-area-right {
        width: 48.5%;
        .section-game-area-title {
          margin-top: 1rem;
          font-size: 4.3rem;
          font-weight: bold;
        }
        .section-game-area-entitle {
          margin-top: -0.5rem;
          font-size: 3rem;
          letter-spacing: -0.2rem;
          font-family: 'Barlow Condensed', 'Helvetica Neue', 'Arial', sans-serif;
          background-clip: text;
          color: transparent;
        }
        .section-game-area-text {
          margin-top: 0.5rem;
          font-weight: bold;
          letter-spacing: -1px;
        }
        .section-game-area-button-group {
          @include flexbox(flex-start, center, wrap);
          margin-top: 3rem;
          .section-game-area-button-item {
            margin: 0 0 0.5rem 0.7rem;
            cursor: pointer;
            .section-game-area-button-icon {
              width: 5rem;
              height: 5rem;
              background-image: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0.1),
                rgba(0, 0, 0, 0.15)
              );
              border-radius: 0.7rem;
              box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
            }
            .section-game-area-button-text {
              @include flexbox;
              margin-top: 0.5rem;
              color: #4d4d4d;
              font-weight: 600;
            }
          }
          .section-game-area-button-item:nth-child(1) {
            margin: 0 0 0.5rem 0;
          }
        }
      }
    }
  }
  .section-service-group {
    height: 470px;
    box-shadow: inset 0 0 30px rgba(132, 167, 255, 0.55);
    background-color: white;
    border-radius: 2rem;
    margin-top: -1.5rem;
    text-align: center;
    .section-service-item {
      display: inline-block;
      margin: 7.5rem 0 0 3rem;
      .section-service-bg {
        background-size: 100%;
        width: 14rem;
        height: 14rem;
        border-radius: 7rem;
        box-shadow: 0 0 28.5px rgba(1, 54, 160, 0.35);
        .section-service-bg-icon {
          padding-top: 2.5rem;
        }
        .section-service-bg-text {
          margin: -1.5rem 0 0 1rem;
          color: white;
          font-size: 3.5rem;
          font-weight: bold;
          text-shadow: 0.5px 0.5px 6px rgba(1, 45, 89, 0.5);
          span {
            margin-left: -1rem;
            font-size: 1.5rem;
          }
        }
      }
      .gold-bg {
        background-image: url('~assets/images/pc/index/circle-golden.png');
      }
      .blue-bg {
        background-image: url('~assets/images/pc/index/circle-blue.png');
      }
      .section-service-text {
        color: #282942;
        font-size: 1.3rem;
        font-weight: 600;
        margin-top: 1rem;
      }
      .section-service-entext {
        color: rgba(128, 128, 128, 0.9);
        font-size: 1.1rem;
        margin-top: 0.5rem;
      }
    }
    .section-service-item:nth-child(1) {
      margin: 6.5rem 0 0 0;
    }
  }
  .section-official-group {
    height: 380px;
    box-shadow: inset 0 0 30px rgba(132, 167, 255, 0.55);
    background-color: white;
    border-radius: 2rem;
    margin-top: -1.5rem;
    text-align: center;
    .section-official-content {
      @include flexbox(center, center, wrap);
      width: 90%;
      margin: 0 auto;
      padding-top: 8rem;
    }
    .section-official-item {
      margin: 0 3rem 3rem 0;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
.block-main {
  @include flexbox(space-between, center, wrap);
  margin-top: 1rem;
  .block-item {
    @include flexbox(flex-start);
    width: 49.5%;
    height: 10rem;
    background-image: url('~assets/images/pc/index/border.png');
    background-color: white;
    background-size: 100%;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    .block-item-icon {
      @include flexbox;
      width: 30%;
    }
    .block-item-content {
      width: 70%;
      .block-item-title {
        color: #282942;
        font-weight: bold;
        font-size: 1.3rem;
      }
      .block-item-enTitle {
        color: #335cb9;
        font-weight: bold;
        font-size: 1.1rem;
      }
      .block-item-text {
        margin-top: 0.57rem;
        font-weight: bold;
        letter-spacing: -0.5px;
        color: #343a40;
      }
    }
  }
}
</style>
