<template>
  <div class="container">
    <div class="form-main">
      <nuxt-link class="form-logo" to="/">
        <img-svg :src="require('@/assets/images/pc/header/logo.svg')"></img-svg>
      </nuxt-link>
      <div class="form-input-group">
        <div class="form-input-icon">
          <img-svg
            :src="require('@/assets/images/pc/login/person.svg')"
          ></img-svg>
        </div>
        <ValidationProvider
          ref="userAccount"
          :rules="{
            required: true,
            regex: regex.userAccount,
          }"
        >
          <input
            v-model="userAccount"
            type="text"
            class="form-input-text"
            :placeholder="$t('login.accountPlaceholder')"
            @keyup="validateForm()"
          />
        </ValidationProvider>
      </div>
      <template v-if="!validate.account.status">
        <div class="form-errorTip-group">
          <div class="form-errorTip-icon">
            <img-svg
              :src="require('@/assets/images/pc/login/error.svg')"
            ></img-svg>
          </div>
          <div class="form-errorTip-text">
            {{
              $t('login.accountErrorTip', [
                validate.account.min,
                validate.account.max,
              ])
            }}
          </div>
        </div>
      </template>
      <div class="form-input-group">
        <div class="form-input-icon">
          <img-svg
            :src="require('@/assets/images/pc/login/lock.svg')"
          ></img-svg>
        </div>
        <ValidationProvider
          ref="userPassword"
          :rules="{
            required: true,
            regex: regex.userPassword,
          }"
        >
          <input
            v-model="userPassword"
            :type="!privacyPassword ? 'password' : 'text'"
            class="form-input-text"
            :placeholder="$t('login.passwordPlaceholder')"
            @keyup="validateForm()"
          />
        </ValidationProvider>
        <div
          class="form-input-privacy"
          @click="privacyPassword = !privacyPassword"
        >
          <img
            v-show="privacyPassword"
            src="@/assets/images/pc/login/openEye.svg"
          />
          <img
            v-show="!privacyPassword"
            src="@/assets/images/pc/login/closeEye.svg"
          />
        </div>
      </div>
      <template v-if="!validate.password.status">
        <div class="form-errorTip-group">
          <div class="form-errorTip-icon">
            <img-svg
              :src="require('@/assets/images/pc/login/error.svg')"
            ></img-svg>
          </div>
          <div class="form-errorTip-text">
            {{
              $t('login.passwordErrorTip', [
                validate.password.min,
                validate.password.max,
              ])
            }}
          </div>
        </div>
      </template>

      <div v-if="verificationStatus" class="form-input-group">
        <div class="form-input-icon">
          <img-svg
            :src="require('@/assets/images/pc/login/lock.svg')"
          ></img-svg>
        </div>
        <ValidationProvider
          ref="verificationImage"
          :rules="{
            required: true,
          }"
        >
          <input
            v-model="verificationImage.input"
            type="text"
            class="form-input-verification"
            :placeholder="$t('login.verificationImagePlaceholder')"
            @keyup="validateForm()"
          />
        </ValidationProvider>
        <div class="form-input-verificationImg" @click="getVerificationImage()">
          <img :src="verificationImage.url" />
        </div>
      </div>
      <template v-if="!validate.verificationImage">
        <div class="form-errorTip-group">
          <div class="form-errorTip-icon">
            <img-svg
              :src="require('@/assets/images/pc/login/error.svg')"
            ></img-svg>
          </div>
          <div class="form-errorTip-text">
            {{ $t('login.verificationPhoneErrorTip') }}
          </div>
        </div>
      </template>

      <div class="form-operate">
        <div class="form-remember-account">
          <input
            id="rememberAccount"
            v-model="rememberStatus"
            type="checkbox"
          />
          <label for="rememberAccount">{{ $t('login.rememberAccount') }}</label>
        </div>
        <nuxt-link class="form-forget-password" to="ForgetPassword">{{
          $t('login.forgetPassword')
        }}</nuxt-link>
      </div>

      <div class="form-button-group">
        <div
          class="form-button-login"
          :class="{ opacity: !isAllValid }"
          @click="login()"
        >
          {{ $t('login.login') }}
        </div>
        <div class="form-button-area">
          <nuxt-link class="form-button-item" to="Register">{{
            $t('login.goRegister')
          }}</nuxt-link
          >|
          <nuxt-link class="form-button-item" to="/">{{
            $t('login.index')
          }}</nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { userLogin, getVerificationImage } from '@/api/user.js'
import regex from '@/assets/scripts/regex'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', false)
      vm.$store.dispatch('header/setFooterStatus', false)
      vm.$store.dispatch('header/setSideMenuStatus', false)
    })
  },
  data() {
    return {
      userAccount: '',
      userPassword: '',
      rememberStatus: false,
      privacyPassword: false,
      verificationStatus: false,
      verificationImage: {
        input: '',
        url: '',
        key: '',
      },
      isAllValid: false,
      validate: {
        account: {
          status: true,
          min: 5,
          max: 16,
        },
        password: {
          status: true,
          min: 5,
          max: 16,
        },
        verificationImage: true,
      },
      regex: {
        userAccount: regex.userAccount,
        userPassword: regex.userPassword,
      },
    }
  },
  computed: {
    ...mapState('user', ['loginInfo']),
  },
  created() {
    if (this.loginInfo.userAccount) {
      this.userAccount = this.loginInfo.userAccount
      this.userPassword = this.loginInfo.userPassword
      this.rememberStatus = this.loginInfo.rememberStatus
      this.isAllValid = true
    }
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderStatus')
    this.$store.dispatch('header/clearFooterStatus')
    this.$store.dispatch('header/clearSideMenuStatus')
  },
  methods: {
    async getVerificationImage() {
      const type = 'base64'
      try {
        const res = await getVerificationImage(type)
        const result = res.data
        this.verificationImage.url = result.flat.img
        this.verificationImage.key = result.flat.key
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async validateForm() {
      switch (this.verificationStatus) {
        case true: {
          const result = await Promise.all([
            this.$refs.userAccount.validate(),
            this.$refs.userPassword.validate(),
            this.$refs.verificationImage.validate(),
          ])
          this.validate.account.status = result[0].valid
          this.validate.password.status = result[1].valid
          this.validate.verificationImage = result[2].valid
          this.isAllValid = result.every((x) => x.valid === true)
          break
        }
        case false: {
          const result = await Promise.all([
            this.$refs.userAccount.validate(),
            this.$refs.userPassword.validate(),
          ])
          this.validate.account.status = result[0].valid
          this.validate.password.status = result[1].valid
          this.isAllValid = result.every((x) => x.valid === true)
          break
        }
        default:
          break
      }
    },
    async login() {
      if (this.isAllValid !== true) return
      const payload = {
        userAccount: this.userAccount,
        userPassword: this.userPassword,
        verificationImage: this.verificationStatus
          ? this.verificationImage.input
          : '',
        key: this.verificationStatus ? this.verificationImage.key : '',
      }
      try {
        const res = await userLogin(payload)
        const result = res.data
        await this.$store.dispatch('login/setLoginStatus', true)
        await this.$store.dispatch('login/setMemberInfo', result)
        if (this.rememberStatus) {
          const result = {
            userAccount: this.userAccount,
            userPassword: this.userPassword,
            rememberStatus: this.rememberStatus,
          }
          this.$store.dispatch('user/setLoginInfo', result)
        } else {
          this.$store.dispatch('user/clearloginInfo')
        }
        this.$router.push({ name: 'index' })
      } catch (err) {
        this.showErrorToast(err.message)
        if (err.login_error_count >= 6) {
          this.getVerificationImage()
          this.verificationImage.input = ''
          this.verificationStatus = true
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  min-height: 100vh;
  background-image: url('~assets/images/pc/login/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.form-main {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  .form-logo {
    @include flexbox;
    margin-bottom: 3rem;
  }
  .form-input-group {
    @include flexbox(flex-start);
    margin: 0 auto 1rem;
    background-color: white;
    width: 100%;
    height: 3.1rem;
    border-radius: 1.55rem;
    padding: 0 1.5rem;
    .form-input-icon {
      @include flexbox;
      margin-right: 1rem;
    }
    .form-input-text {
      border: 0;
      height: 2rem;
      width: 17.5rem;
      font-size: 1.1rem;
      outline: none;
    }
    .form-input-privacy img {
      @include flexbox;
      width: 1.3rem;
      margin-left: 1rem;
      opacity: 0.5;
    }
    .form-input-verification {
      border: 0;
      height: 2rem;
      width: 12rem;
      font-size: 1.1rem;
      outline: none;
    }
    .form-input-verificationImg {
      @include flexbox(flex-start);
      width: 1rem;
      height: 1rem;
      margin-left: 1rem;
      img {
        width: auto;
        height: 2rem;
      }
    }
  }
  .form-errorTip-group {
    @include flexbox(flex-start);
    width: 100%;
    height: 1rem;
    margin: 0 auto 1rem;
    color: #5296fd;
    .form-errorTip-icon {
      @include flexbox;
      margin-right: 0.5rem;
    }
    .form-errorTip-text {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
  .form-operate {
    @include flexbox(space-between);
    width: 100%;
    margin: 0 auto 1rem;
    height: 2rem;
    color: white;
    .form-remember-account {
      font-weight: bold;
      input[type='checkbox'] {
        display: none;
        &:checked {
          & + label {
            &::before {
              background: url('~assets/images/mb/login/checked.svg') center
                no-repeat;
            }
          }
        }
        & + label {
          position: relative;
          padding-left: 30px;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: url('~assets/images/mb/login/uncheck.svg') center
              no-repeat;
          }
        }
      }
    }
    .form-forget-password {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
  .form-button-group {
    width: 100%;
    margin: 0 auto 1rem;
    color: white;
    .form-button-login {
      @include flexbox;
      background-image: linear-gradient(to right, #4e65ff, #5ce2fc);
      border-radius: 1.55rem;
      height: 3.1rem;
      font-weight: bold;
      font-size: 1.1rem;
      cursor: pointer;
    }
    .opacity {
      opacity: 0.5;
      cursor: default;
    }
    .form-button-area {
      @include flexbox;
      margin-top: 1rem;
      .form-button-item {
        @include flexbox;
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin: 0 0.5rem;
      }
    }
  }
}
</style>
