<template>
  <div class="container">
    <div class="form-main">
      <nuxt-link class="form-logo" to="/">
        <img-svg :src="require('@/assets/images/pc/header/logo.svg')"></img-svg>
      </nuxt-link>
      <div class="form-input-group">
        <div class="form-input-icon">
          <img-svg
            :src="require('@/assets/images/pc/login/person.svg')"
          ></img-svg>
        </div>
        <ValidationProvider
          ref="userAccount"
          :rules="{
            required: true,
            regex: regex.userAccount,
          }"
        >
          <input
            v-model="userAccount"
            type="text"
            class="form-input-text"
            :placeholder="$t('register.accountPlaceholder')"
            @keyup="validateForm()"
          />
        </ValidationProvider>
      </div>
      <template v-if="!validate.account.status">
        <div class="form-errorTip-group">
          <div class="form-errorTip-icon">
            <img-svg
              :src="require('@/assets/images/pc/login/error.svg')"
            ></img-svg>
          </div>
          <div class="form-errorTip-text">
            {{
              $t('register.accountErrorTip', [
                validate.account.min,
                validate.account.max,
              ])
            }}
          </div>
        </div>
      </template>
      <div class="form-input-group">
        <div class="form-input-icon">
          <img-svg
            :src="require('@/assets/images/pc/login/lock.svg')"
          ></img-svg>
        </div>
        <ValidationProvider
          ref="userPassword"
          :rules="{
            required: true,
            regex: regex.userPassword,
          }"
        >
          <input
            v-model="userPassword"
            :type="!privacyPassword ? 'password' : 'text'"
            class="form-input-text"
            :placeholder="$t('register.passwordPlaceholder')"
            @keyup="validateForm()"
          />
        </ValidationProvider>
        <div
          class="form-input-privacy"
          @click="privacyPassword = !privacyPassword"
        >
          <img
            v-show="privacyPassword"
            src="@/assets/images/pc/login/openEye.svg"
          />
          <img
            v-show="!privacyPassword"
            src="@/assets/images/pc/login/closeEye.svg"
          />
        </div>
      </div>
      <template v-if="!validate.password.status">
        <div class="form-errorTip-group">
          <div class="form-errorTip-icon">
            <img-svg
              :src="require('@/assets/images/pc/login/error.svg')"
            ></img-svg>
          </div>
          <div class="form-errorTip-text">
            {{
              $t('register.accountErrorTip', [
                validate.password.min,
                validate.password.max,
              ])
            }}
          </div>
        </div>
      </template>
      <div class="form-input-group">
        <div class="form-input-icon">
          <img-svg
            :src="require('@/assets/images/pc/login/lock.svg')"
          ></img-svg>
        </div>
        <ValidationProvider
          ref="confirmPassword"
          :rules="{
            required: true,
            is: userPassword,
          }"
        >
          <input
            v-model="confirmPassword"
            :type="!privacyConfirmPassword ? 'password' : 'text'"
            class="form-input-text"
            :placeholder="$t('register.confirmPasswordPlaceholder')"
            @keyup="validateForm()"
          />
        </ValidationProvider>
        <div
          class="form-input-privacy"
          @click="privacyConfirmPassword = !privacyConfirmPassword"
        >
          <img
            v-show="privacyConfirmPassword"
            src="@/assets/images/pc/login/openEye.svg"
          />
          <img
            v-show="!privacyConfirmPassword"
            src="@/assets/images/pc/login/closeEye.svg"
          />
        </div>
      </div>
      <template v-if="!validate.confirmPassword">
        <div class="form-errorTip-group">
          <div class="form-errorTip-icon">
            <img-svg
              :src="require('@/assets/images/pc/login/error.svg')"
            ></img-svg>
          </div>
          <div class="form-errorTip-text">
            {{ $t('register.confirmPasswordErrorTip') }}
          </div>
        </div>
      </template>

      <div class="form-operate">
        <div class="form-agree-terms">
          <input id="agreeTerms" v-model="agreeStatus" type="checkbox" />
          <label class="form-agree-terms-label" for="agreeTerms">
            <i18n path="register.agreeTerms" tag="div">
              <template v-slot:terms>
                <nuxt-link class="form-agree-terms-link" to="/">
                  {{ $t('register.terms') }}
                </nuxt-link>
              </template>
              <template v-slot:policy>
                <nuxt-link class="form-agree-terms-link" to="/">
                  {{ $t('register.policy') }}
                </nuxt-link>
              </template>
            </i18n>
          </label>
        </div>
      </div>
      <template v-if="!validate.agreeTerms">
        <div class="form-errorTip-group">
          <div class="form-errorTip-icon">
            <img-svg
              :src="require('@/assets/images/mb/login/tip.svg')"
            ></img-svg>
          </div>
          <div class="form-errorTip-text">
            {{ $t('register.agreeTermsErrorTip') }}
          </div>
        </div>
      </template>
      <div class="form-button-group">
        <div
          class="form-button-login"
          :class="{ opacity: !isAllValid }"
          @click="register()"
        >
          {{ $t('register.register') }}
        </div>
        <div class="form-button-area">
          <nuxt-link class="form-button-item" to="Login">{{
            $t('register.goLogin')
          }}</nuxt-link
          >|
          <nuxt-link class="form-button-item" to="/">{{
            $t('register.index')
          }}</nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { userRegister } from '@/api/user.js'
import regex from '@/assets/scripts/regex'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', false)
      vm.$store.dispatch('header/setFooterStatus', false)
      vm.$store.dispatch('header/setSideMenuStatus', false)
    })
  },
  data() {
    return {
      userAccount: '',
      userPassword: '',
      confirmPassword: '',
      agreeStatus: false,
      privacyPassword: false,
      privacyConfirmPassword: false,
      isAllValid: false,
      validate: {
        account: {
          status: true,
          min: 5,
          max: 16,
        },
        password: {
          status: true,
          min: 5,
          max: 16,
        },
        confirmPassword: true,
        agreeTerms: true,
      },
      regex: {
        userAccount: regex.userAccount,
        userPassword: regex.userPassword,
      },
    }
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderStatus')
    this.$store.dispatch('header/clearFooterStatus')
    this.$store.dispatch('header/clearSideMenuStatus')
  },
  methods: {
    async validateForm() {
      const result = await Promise.all([
        this.$refs.userAccount.validate(),
        this.$refs.userPassword.validate(),
        this.$refs.confirmPassword.validate(),
      ])
      this.validate.account.status = result[0].valid
      this.validate.password.status = result[1].valid
      this.validate.confirmPassword = result[2].valid
      this.isAllValid = result.every((x) => x.valid === true)
    },
    async register() {
      if (this.isAllValid !== true) return

      if (this.agreeStatus !== true) {
        this.validate.agreeTerms = false
        return
      } else {
        this.validate.agreeTerms = true
      }

      try {
        const payload = {
          userAccount: this.userAccount,
          userPassword: this.userPassword,
          introducerNumber: '',
        }

        await userRegister(payload)
        this.$router.push({ name: 'Login' })
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  min-height: 100vh;
  background-image: url('~assets/images/pc/login/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.form-main {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  .form-logo {
    @include flexbox;
    margin-bottom: 3rem;
  }
  .form-input-group {
    @include flexbox(flex-start);
    margin: 0 auto 1rem;
    background-color: white;
    width: 100%;
    height: 3.1rem;
    border-radius: 1.55rem;
    padding: 0 1.5rem;
    .form-input-icon {
      @include flexbox;
      margin-right: 1rem;
    }
    .form-input-text {
      border: 0;
      height: 2rem;
      width: 17.5rem;
      font-size: 1.1rem;
      outline: none;
    }
    .form-input-privacy img {
      @include flexbox;
      width: 1.3rem;
      margin-left: 1rem;
      opacity: 0.5;
    }
    .form-input-verification {
      border: 0;
      height: 2rem;
      width: 12rem;
      font-size: 1.1rem;
      outline: none;
    }
    .form-input-verificationImg {
      @include flexbox(flex-start);
      width: 1rem;
      height: 1rem;
      margin-left: 1rem;
      img {
        width: auto;
        height: 2rem;
      }
    }
  }
  .form-errorTip-group {
    @include flexbox(flex-start);
    width: 100%;
    height: 1rem;
    margin: 0 auto 1rem;
    color: #5296fd;
    .form-errorTip-icon {
      @include flexbox;
      margin-right: 0.5rem;
    }
    .form-errorTip-text {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
  .form-operate {
    @include flexbox(space-between);
    width: 100%;
    margin: 0 auto 1rem;
    height: 2rem;
    color: white;
    .form-agree-terms {
      font-weight: bold;
      input[type='checkbox'] {
        display: none;
        &:checked {
          & + label {
            &::before {
              background: url('~assets/images/mb/login/checked.svg') center
                no-repeat;
            }
          }
        }
        & + label {
          position: relative;
          padding-left: 30px;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: url('~assets/images/mb/login/uncheck.svg') center
              no-repeat;
          }
        }
      }
    }
    .form-agree-terms-label {
      @include flexbox(flex-start);
    }
    .form-agree-terms-link {
      color: PaleVioletRed;
    }
  }
  .form-button-group {
    width: 100%;
    margin: 0 auto 1rem;
    color: white;
    .form-button-login {
      @include flexbox;
      background-image: linear-gradient(to right, #4e65ff, #5ce2fc);
      border-radius: 1.55rem;
      height: 3.1rem;
      font-weight: bold;
      font-size: 1.1rem;
      cursor: pointer;
    }
    .opacity {
      opacity: 0.5;
      cursor: default;
    }
    .form-button-area {
      @include flexbox;
      margin-top: 1rem;
      .form-button-item {
        @include flexbox;
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin: 0 0.5rem;
      }
    }
  }
}
</style>
