@import 'svg.scss';
@import 'element-ui.scss';

@mixin flexbox($justify: center, $align: center, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin iconSample($height: 2rem, $width: 2rem, $color: gray) {
  height: $height;
  width: $width;
  border-radius: $height/2;
  background: $color;
}

$header-height: 3rem;
$bottomNav-height: 3.5rem;
$box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
$indent-length: 1rem;

.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 3px;
  border-radius: 25%;
  margin: 0 3px !important;
}

.swiper-pagination {
  bottom: 0;
}
