.el-popover {
  min-width: auto;
  background-color: #868c9b;
  color: white;
  border-radius: 0.5rem;
  border: 0;
  box-shadow: 0 0 0 0;
  font-weight: bold;
}
.el-popover--plain {
  padding: 5px 15px;
}
.el-popper[x-placement^='bottom'] .popper__arrow::after {
  border-bottom-color: #868c9b;
}
.el-message-box {
  width: 80%;
}

.el-loading-mask {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
}

.el-loading-spinner {
  margin-top: -0.25rem;
  .circular {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.operate-funds .el-loading-spinner {
  margin-top: -0.6rem;
  margin-left: 1rem;
}

.transfer-mask .el-loading-mask {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  .circular {
    width: 3rem;
    height: 3rem;
  }
}

.loading-mask .el-loading-mask {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  .circular {
    width: 3rem;
    height: 3rem;
  }
}
