.header-logo svg {
  width: 8rem;
}

.wallet-funds-icon {
  svg {
    width: 0.8rem;
  }
}

.game-item-favourite {
  svg {
    width: 1rem;
  }
}

.step-icon,
.bank-button-icon,
.depositBank-button-icon,
.exclusive-icon,
.window-operate-button {
  svg {
    width: 1.2rem;
  }
}

.selector-operate svg {
  width: 1.5rem;
  height: 1.5rem;
}

.selected-1,
.selected-2,
.selected-3,
.selected-4,
.selected-5,
.selected-6 {
  svg path {
    fill: white;
  }
}

.bottomNav .selected,
.exclusive-icon {
  svg path {
    fill: #55a6fd;
  }
}

.upperHalf-top-button {
  svg path {
    fill: #aaa;
  }
}
.lowerHalf-item-button,
.header-previous,
.info-item-button,
.transfer-wallet-icon,
.receiveBank-icon,
.table-button,
.table-provider-button,
.wallet-funds-icon,
.link-main {
  svg path {
    fill: #777;
  }
}

.game-item-favourite {
  svg path {
    color: red;
  }
}

.favourite {
  svg path {
    fill: red;
  }
}
