<template>
  <div class="bottomNav">
    <nuxt-link
      v-for="item in bottomNavList"
      :key="item.id"
      class="bottomNav-button"
      :class="{ selected: bottomNavSelected === item.path }"
      :to="item.path"
      @click.native="setBottomNav(item)"
    >
      <div class="bottomNav-icon">
        <img-svg
          :src="require(`@/assets/images/mb/navigation/${item.src}`)"
        ></img-svg>
      </div>
      <div class="bottomNav-text">{{ item.name }}</div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      bottomNavSelected: '',
      bottomNavList: [
        {
          id: 1,
          path: '/',
          name: this.$t('navigation.index'),
          src: 'index.svg',
        },
        {
          id: 2,
          path: '/Activity',
          name: this.$t('navigation.activity'),
          src: 'activity.svg',
        },
        {
          id: 3,
          path: '/CustomerService',
          name: this.$t('navigation.customerService'),
          src: 'customerService.svg',
        },
        {
          id: 4,
          path: '/PersonalCenter',
          name: this.$t('navigation.personalCenter'),
          src: 'personalCenter.svg',
        },
      ],
    }
  },
  created() {
    this.bottomNavSelected = this.bottomNavList[0].path
  },
  methods: {
    setBottomNav(item) {
      this.bottomNavSelected = item.path
    },
  },
}
</script>

<style lang="scss" scoped>
$button-size: 3rem;
.bottomNav {
  @include flexbox(space-around);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $bottomNav-height;
  background-color: white;
  border-top: 1px solid #ecf0f7;
  padding: 0 1rem;
  z-index: 3;
  .bottomNav-button {
    text-decoration: none;
    color: #707070;
    font-size: 0.8rem;
    font-weight: bold;
    .bottomNav-icon {
      @include flexbox;
      width: 100%;
      height: 1.5rem;
    }
    .bottomNav-text {
      @include flexbox;
    }
  }
  .selected {
    color: #55a6fd;
  }
}
</style>
