<template>
  <div class="filter-mask">
    <div class="filter-main">
      <template v-if="filterType === 'provider'">
        <div class="filter-group">
          <div
            v-for="item in gameTypeList"
            :key="item.id"
            class="filter-item"
            :class="{ selected: selectedGameType === item.value }"
            @click="selectGameType(item)"
          >
            {{ item.name }}
          </div>
        </div>
        <template v-if="gameProviderRows.length > 0">
          <div class="filter-line"></div>
          <div class="filter-group">
            <div
              v-for="item in gameProviderRows"
              :key="item.no"
              class="filter-item"
              :class="{ selected: filterOption.provider === item.name }"
              @click="selectOption(item)"
            >
              {{ item.name }}
            </div>
          </div>
        </template>
      </template>
      <template v-if="filterType === 'transaction'">
        <div class="filter-group">
          <div
            v-for="item in transactionList"
            :key="item.id"
            class="filter-item"
            :class="{ selected: filterOption.transaction === item.name }"
            @click="selectOption(item)"
          >
            {{ item.name }}
          </div>
        </div>
      </template>
      <template v-if="filterType === 'reward'">
        <div class="filter-group">
          <div
            v-for="item in rewardList"
            :key="item.id"
            class="filter-item"
            :class="{ selected: filterOption.reward === item.name }"
            @click="selectOption(item)"
          >
            {{ item.name }}
          </div>
        </div>
      </template>
      <template v-if="filterType === 'date'">
        <div class="filter-group">
          <div
            v-for="item in periodList"
            :key="item.id"
            class="filter-item"
            :class="{ selected: filterOption.date === item.name }"
            @click="selectOption(item)"
          >
            {{ item.name }}
          </div>
        </div>
        <template v-if="periodStatus">
          <label class="filter-row">
            <div class="filter-row-title">
              {{ $t('filterBar.startDate') }}
            </div>
            <input v-model="startTime" type="date" class="filter-row-input" />
            <div class="filter-row-text">{{ startTime }}</div>
            <div class="filter-row-icon">></div>
          </label>
          <label class="filter-row">
            <div class="filter-row-title">
              {{ $t('filterBar.endDate') }}
            </div>
            <input v-model="endTime" type="date" class="filter-row-input" />
            <div class="filter-row-text">{{ endTime }}</div>
            <div class="filter-row-icon">></div>
          </label>
          <div class="filter-operate">
            <div class="filter-button" @click="selectDate('cancel')">
              {{ $t('filterBar.cancel') }}
            </div>
            <div class="filter-button confirm" @click="selectDate('confirm')">
              {{ $t('filterBar.confirm') }}
            </div>
          </div>
        </template>
      </template>
      <template v-if="filterType === 'settlement'">
        <div class="filter-group">
          <div
            v-for="item in settlementList"
            :key="item.id"
            class="filter-item"
            :class="{ selected: filterOption.settlement === item.name }"
            @click="selectOption(item)"
          >
            {{ item.name }}
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { getGameProvider } from '@/api/game.js'
export default {
  props: {
    filterType: {
      type: String,
      default() {
        return ''
      },
    },
    filterOption: {
      type: Object,
      default() {
        return {}
      },
    },
    gameType: {
      type: String,
      default() {
        return ''
      },
    },
    transactionList: {
      type: Array,
      default() {
        return []
      },
    },
    rewardList: {
      type: Array,
      default() {
        return []
      },
    },
    periodList: {
      type: Array,
      default() {
        return []
      },
    },
    settlementList: {
      type: Array,
      default() {
        return []
      },
    },
  },
  data() {
    return {
      periodStatus: false,
      startTime: '',
      endTime: '',
      selectedGameType: '',
      gameTypeList: [
        { id: 1, name: this.$t('bettingRecord.sport'), value: 'sport' },
        { id: 2, name: this.$t('bettingRecord.live'), value: 'live' },
        { id: 3, name: this.$t('bettingRecord.lotto'), value: 'lotto' },
        { id: 4, name: this.$t('bettingRecord.egame'), value: 'egame' },
        { id: 5, name: this.$t('bettingRecord.poker'), value: 'poker' },
        { id: 6, name: this.$t('bettingRecord.esport'), value: 'esport' },
      ],
      gameProviderList: [],
    }
  },
  computed: {
    gameProviderRows() {
      if (this.gameProviderList.length > 0) {
        return this.gameProviderList.map((x, index) => {
          const result = {
            no: index,
            id: x.platform_id,
            name: x.platform_name,
            type: x.platform_type,
          }
          return result
        })
      } else {
        return []
      }
    },
  },
  created() {
    if (this.filterType === 'provider') {
      this.getGameProvider(this.gameType)
      this.selectedGameType = this.gameType
    }
  },
  methods: {
    async getGameProvider(type) {
      const payload = { device: 'h5', gameType: type }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameProviderList = result
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    selectGameType(item) {
      this.getGameProvider(item.value)
      this.selectedGameType = item.value
    },
    selectOption(item) {
      if (item.value && item.value === 'selectPeriod') {
        this.periodStatus = true
        return
      }
      this.$emit('setOptionData', item)
    },
    selectDate(mode) {
      const data = {
        startTime: this.startTime,
        endTime: this.endTime,
        operate: mode,
      }
      this.$emit('setDate', data)
    },
  },
}
</script>

<style lang="scss" scoped>
.filter-mask {
  position: fixed;
  top: 7rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  .filter-main {
    background: white;
    .filter-group {
      @include flexbox(flex-start, flex-start, wrap);
      width: 100%;
      padding: 1rem;
      .filter-item {
        @include flexbox;
        background-color: #f7f6fb;
        color: #707070;
        border-radius: 0.5rem;
        width: 31.5%;
        padding: 0.7rem 0;
        margin: 0 2vw 0.5rem 0;
        font-size: 0.85rem;
        font-weight: 600;
      }
      .selected {
        background: linear-gradient(to right, #95d7fe, #81c4fd);
        color: white;
      }
      .filter-item:nth-child(3n) {
        margin: 0 0 0.5rem 0;
      }
    }
    .filter-line {
      width: 100%;
      height: 0.5rem;
      background-color: #f7f6fb;
    }
    .filter-row {
      @include flexbox(space-between);
      padding: 0.7rem 1rem;
      font-size: 0.9rem;
      color: #585858;
      font-weight: bold;
      border-top: 1px solid #ecf0f7;
      .filter-row-input {
        opacity: 0.1;
      }
      .filter-row-text {
        font-weight: normal;
      }
    }
    .filter-operate {
      @include flexbox;
      .filter-button {
        @include flexbox;
        width: 50%;
        color: #5296fd;
        padding: 0.5rem 0;
        font-size: 0.9rem;
        font-weight: 600;
      }
      .confirm {
        background-color: rgb(124, 191, 254);
        color: white;
      }
    }
  }
}
</style>
