<template>
  <div class="header">
    <div class="header-logo">
      <img-svg :src="require('@/assets/images/mb/header/logo.svg')"></img-svg>
    </div>
    <nuxt-link class="header-icon" to="/MessageCenter">
      <img-svg
        :src="require('@/assets/images/mb/header/messageCenter.svg')"
      ></img-svg>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  background: linear-gradient(0.25turn, #5494fe, #5acffc, #53bbfe);
  z-index: 3;
  @include flexbox(space-between);
  .header-logo {
    @include flexbox(flex-start);
    margin-left: $indent-length;
  }
  .header-icon {
    @include flexbox(flex-start);
    margin-right: $indent-length;
  }
}
</style>
