<template>
  <div class="header">
    <div class="header-previous" @click="backPrevious()">
      <img-svg :src="require('@/assets/images/mb/header/back.svg')"></img-svg>
    </div>
    <div class="header-title">{{ headerTitle }}</div>
    <template v-if="headerIcon.length > 0">
      <div class="header-icon-group">
        <nuxt-link
          v-for="item in headerIcon"
          :key="item.id"
          class="header-icon-item"
          :to="item.path"
        >
          <img-svg
            :src="require(`@/assets/images/mb/header/${item.src}`)"
          ></img-svg
        ></nuxt-link>
      </div>
    </template>
    <template v-if="headerText.length > 0">
      <div class="header-icon-group">
        <nuxt-link
          v-for="item in headerText"
          :key="item.id"
          class="header-text-item"
          :class="{ 'header-text-button': item.buttonStyle }"
          :to="item.path"
          >{{ item.title }}</nuxt-link
        >
      </div>
    </template>
    <div
      v-show="headerComplete"
      class="header-icon-group"
      @click="submitData()"
    >
      {{ $t('header.complete') }}
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { updateUserDetailInfo } from '@/api/member.js'
import { checkVerification } from '@/api/user.js'

export default {
  data() {
    return {}
  },
  computed: {
    ...mapState('header', [
      'headerTitle',
      'headerIcon',
      'headerText',
      'headerComplete',
    ]),
    ...mapState('member', ['updateCategory', 'updateInfo', 'validate']),
    ...mapState('report', ['betStep']),
  },
  methods: {
    backPrevious() {
      if (this.betStep === 2) {
        this.$store.dispatch('report/setBetStep', 1)
      } else {
        this.$router.go(-1)
      }
    },
    submitData() {
      if (
        this.updateCategory === 'phoneNumber' ||
        this.updateCategory === 'email'
      ) {
        this.checkVerification()
      } else {
        this.updateUserDetailInfo()
      }
    },
    async checkVerification() {
      const payload = { code: this.validate }
      try {
        await checkVerification(payload)
        this.updateUserDetailInfo()
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async updateUserDetailInfo() {
      const payload = {
        realName: this.updateInfo.realName,
        birthday: '',
        email: this.updateInfo.email,
        lineID: this.updateInfo.lineID,
        phoneNumber: this.updateInfo.phoneNumber,
        countryCode: this.updateInfo.countryCode,
        gender: '',
      }
      try {
        await updateUserDetailInfo(payload)
        const result = {
          state: 'updateInfo',
          property: this.updateCategory,
        }
        this.$store.dispatch('member/clearUpdateInfo', result)
        this.$router.replace({ path: 'PersonalInfo' })
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.header {
  @include flexbox(space-between);
  position: fixed;
  width: 100%;
  height: $header-height;
  box-shadow: $box-shadow;
  color: #777;
  background-color: white;
  z-index: 3;
  font-weight: 600;
  .header-previous {
    @include flexbox;
    margin-left: $indent-length;
  }
  .header-title {
    position: absolute;
    font-size: 1.2rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .header-icon-group {
    @include flexbox;
    margin-right: $indent-length;
    .header-icon-item {
      @include flexbox;
      margin-left: 0.2rem;
    }
    .header-text-item {
      text-decoration: none;
      color: #707070;
      font-size: 0.85rem;
    }
    .header-text-button {
      padding: 0.5rem 1.5rem;
      border-radius: 1rem;
      background-color: #5296fd;
      color: white;
    }
  }
}
</style>
