<template>
  <div class="header">
    <div
      class="header-page-previous"
      :class="{ opacity: headerComplete }"
      @click="!headerComplete ? backPrevious() : ''"
    >
      <img-svg :src="require('@/assets/images/mb/header/back.svg')"></img-svg>
    </div>
    <div class="header-title">{{ headerTitle }}</div>
    <template v-if="headerIcon.length > 0">
      <div class="header-icon-group">
        <nuxt-link
          v-for="item in headerIcon"
          :key="item.id"
          class="header-icon-item"
          :to="item.path"
          @click.native="item.mask ? openOperateMode() : openDeleteMode()"
          ><img-svg
            :src="require(`@/assets/images/mb/header/${item.src}`)"
          ></img-svg>
        </nuxt-link>
      </div>
    </template>
    <template v-if="headerText.length > 0">
      <div class="header-icon-group">
        <nuxt-link
          v-for="item in headerText"
          :key="item.id"
          class="header-text-item"
          :class="{ 'header-text-button': item.buttonStyle }"
          :to="item.path"
          >{{ item.title }}</nuxt-link
        >
      </div>
    </template>
    <div
      v-show="headerComplete"
      class="header-icon-group"
      @click="closeEditMode()"
    >
      {{ $t('header.complete') }}
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data() {
    return {}
  },
  computed: {
    ...mapState('header', [
      'headerTitle',
      'headerIcon',
      'headerText',
      'headerComplete',
    ]),
  },
  methods: {
    backPrevious() {
      this.$router.go(-1)
    },
    openOperateMode() {
      this.$store.dispatch('message/setMessageOperateMask', true)
    },
    openDeleteMode() {
      this.$store.dispatch('message/setMessageDeleteMask', true)
    },
    closeEditMode() {
      const data = [{ id: 1, src: 'dot.svg', path: '', mask: true }]
      this.$store.dispatch('header/setHeaderIcon', data)
      this.$store.dispatch('header/setHeaderComplete', false)
      this.$store.dispatch('message/setMessageEditMode', false)
    },
  },
}
</script>

<style lang="scss" scoped>
.header {
  @include flexbox(space-between);
  position: fixed;
  width: 100%;
  height: $header-height;
  background: linear-gradient(0.25turn, #5494fe, #5acffc, #53bbfe);
  z-index: 3;
  color: white;
  font-weight: 600;
  .header-page-previous {
    @include flexbox;
    margin-left: $indent-length;
  }
  .opacity {
    opacity: 0;
  }
  .header-title {
    position: absolute;
    font-size: 1.2rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .header-icon-group {
    @include flexbox;
    margin-right: $indent-length;
    .header-icon-item {
      @include flexbox;
      margin-left: 0.2rem;
    }
    .header-text-item {
      text-decoration: none;
      color: white;
      font-size: 0.85rem;
    }
    .header-text-button {
      padding: 0.5rem 1.5rem;
      border-radius: 1rem;
      background-color: #5296fd;
      color: white;
    }
  }
}
</style>
