<template>
  <div class="reminder-mask">
    <div class="reminder-main">
      <div class="reminder-title">{{ $t('reminderWindows.title') }}</div>
      <div class="reminder-content">
        {{ content }}
      </div>
      <template v-if="!transmitObject.cancel">
        <div class="reminder-button" @click="nextStep()">
          {{ $t('reminderWindows.confirm') }}
        </div>
      </template>
      <template v-else>
        <div class="reminder-row">
          <div class="reminder-row-button cancel" @click="cancel()">
            {{ $t('reminderWindows.cancel') }}
          </div>
          <div class="reminder-row-button" @click="nextStep()">
            {{ $t('reminderWindows.confirm') }}
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { deposit } from '@/api/transaction.js'
import { setAutoTransfer } from '@/api/wallet.js'
export default {
  props: {
    transmitObject: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      content: '',
    }
  },
  created() {
    const type = this.transmitObject.type
    switch (type) {
      case 'deposit': {
        this.content = this.$t('reminderWindows.depositContent')
        break
      }
      case 'withdraw': {
        this.content = this.$t('reminderWindows.withdrawContent')
        break
      }
      case 'autoOn': {
        this.content = this.$t('reminderWindows.autoOnContent')
        break
      }
      case 'autoOff': {
        this.content = this.$t('reminderWindows.autoOffContent')
        break
      }
      case 'message': {
        this.content = this.$t('reminderWindows.messageContent')
        break
      }
      default:
        break
    }
  },
  methods: {
    closeWindows() {
      this.$emit('closeWindows')
    },
    async nextStep() {
      const type = this.transmitObject.type
      switch (type) {
        case 'deposit': {
          this.deposit()
          break
        }
        case 'withdraw': {
          this.$emit('closeWindows')
          break
        }
        case 'autoOn': {
          this.setAutoTransfer()
          break
        }
        case 'autoOff': {
          this.setAutoTransfer()
          break
        }
        case 'message': {
          await this.transmitObject.data.forEach((x) => {
            this.deleteMessage(x)
          })
          this.$emit('closeWindows')
          this.showToast(this.$t('reminderWindows.messageSuccess'))
          break
        }
        default:
          break
      }
    },
    cancel() {
      const type = this.transmitObject.type
      switch (type) {
        case 'autoOn': {
          this.$emit('closeWindows', !this.transmitObject.data.autoPay)
          break
        }
        case 'autoOff': {
          this.$emit('closeWindows', !this.transmitObject.data.autoPay)
          break
        }
        case 'message': {
          this.$emit('closeWindows', 'cancel')
          break
        }
        default:
          break
      }
    },
    async deposit() {
      const payload = {
        amount: this.transmitObject.data.amount,
        payGateway: this.transmitObject.data.payGateway,
        withdrawBanknNo: this.transmitObject.data.withdrawBanknNo,
        depositBankNo: this.transmitObject.data.depositBankNo,
      }
      try {
        const res = await deposit(payload)
        if (this.transmitObject.data.payGateway) {
          const result = res.data.bank
          this.$store.dispatch('transaction/setDepositData', result)
          this.$router.push({ path: 'DepositDetail' })
        } else {
          const result = res.data.url
          window.open(result)
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      } finally {
        this.closeWindows()
      }
    },
    async setAutoTransfer() {
      const payload = {
        autoPay: this.transmitObject.data.autoPay,
      }
      try {
        await setAutoTransfer(payload)
        this.$emit('closeWindows', this.transmitObject.data.autoPay)
        const msg =
          this.transmitObject.type === 'autoOn'
            ? this.$t('reminderWindows.autoOnSuccess')
            : this.$t('reminderWindows.autoOffSuccess')
        this.showToast(msg)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async deleteMessage(item) {
      const payload = {
        id: item.no,
      }
      try {
        await setAutoTransfer(payload)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.reminder-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  @include flexbox;
  .reminder-main {
    position: absolute;
    width: 70%;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    .reminder-title {
      color: #5296fd;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 1rem 0;
    }
    .reminder-content {
      padding: 0 1rem;
      color: #707070;
      font-size: 0.9rem;
      font-weight: bold;
      line-height: 1.3rem;
    }
    .reminder-button {
      margin: 1rem;
      border-radius: 0.5rem;
      color: white;
      background-color: #5296fd;
      padding: 0.7rem 0;
    }
    .reminder-row {
      @include flexbox;
      .reminder-row-button {
        width: 50%;
        margin-top: 1rem;
        color: white;
        background-color: #5296fd;
        padding: 0.7rem 0;
        border-radius: 0 0 1rem 0;
      }
      .cancel {
        color: #5296fd;
        background-color: white;
        border-radius: 0 0 0 1rem;
      }
    }
  }
}
</style>
