<template>
  <div>
    <div class="search-main">
      <div class="search-group">
        <input
          v-model="keyword"
          type="text"
          class="search-input"
          :placeholder="$t('addBankAccount.search')"
          @keyup.enter="search()"
        />
        <div class="search-icon" @click="search()">
          <img-svg
            :src="require('@/assets/images/mb/cardManage/search.svg')"
          ></img-svg>
        </div>
      </div>
    </div>
    <div class="bank-main">
      <div
        v-for="item in bankList"
        :key="item.bank_code"
        class="bank-item"
        @click="selectBank(item)"
      >
        <div class="bank-item-content">
          <div class="bank-item-code">
            {{ item.bank_code }}
          </div>
          <div class="bank-item-name">
            {{ item.bank_name }}
          </div>
        </div>

        <div v-show="item.bank_code === bankCode" class="bank-item-icon">
          <img-svg
            :src="require('@/assets/images/mb/cardManage/checked.svg')"
          ></img-svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getBankCode } from '@/api/transaction.js'
export default {
  props: {
    bankName: {
      type: String,
      default() {
        return ''
      },
    },
    bankCode: {
      type: String,
      default() {
        return ''
      },
    },
  },
  data() {
    return {
      keyword: '',
      bankList: [],
      originalBankList: [],
    }
  },
  created() {
    this.getBankCode()
  },
  methods: {
    search() {
      const array = [...this.originalBankList]
      const result = []
      array.forEach((x) => {
        if (
          x.bank_name.includes(this.keyword) === true ||
          x.bank_code.includes(this.keyword) === true
        ) {
          result.push(x)
        }
      })
      this.bankList = result
    },
    selectBank(item) {
      this.$emit('backToForm', item)
    },
    async getBankCode() {
      try {
        const res = await getBankCode()
        const result = res.data
        this.originalBankList = result
        this.bankList = [...this.originalBankList]
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.search-main {
  @include flexbox;
  padding: 1rem;
  .search-group {
    @include flexbox;
    background-color: white;
    width: 100%;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: #f7f6fb;
    .search-input {
      background-color: #f7f6fb;
      border: 0;
      height: 2rem;
      width: 80%;
      font-size: 16px;
      outline: none;
      font-size: 0.9rem;
    }
    .search-icon {
      @include flexbox;
      margin-left: 0.5rem;
    }
  }
}
.bank-main {
  background-color: white;
  .bank-item {
    @include flexbox(flex-start);
    padding: 0.7rem 2rem;
    border-bottom: 1px solid #ecf0f7;
    .bank-item-content {
      width: calc(100% - 1rem);
      @include flexbox(flex-start);
      .bank-item-code {
        font-weight: 500;
        margin-right: 0.5rem;
      }
      .bank-item-name {
        font-weight: bold;
      }
    }
    .bank-item-icon {
      @include flexbox;
    }
  }
}
</style>
