<template
  ><div v-loading="loading" class="transfer-mask">
    <div class="transfer-main">
      <div class="transfer-upperHalf">
        <div class="transfer-title">
          {{ $t('transferWindows.fastTransfer') }}
        </div>
        <div class="transfer-wallet">
          <div class="transfer-wallet-main">
            <div class="transfer-wallet-title">
              {{ $t('transferWindows.wallet') }}
            </div>
            <div class="transfer-wallet-funds">
              {{ formatNumber(userCredits) }}
            </div>
            <div class="transfer-wallet-button" @click="recycleWallet()">
              {{ $t('transferWindows.recycle') }}
            </div>
          </div>
          <div class="transfer-wallet-icon">
            <img-svg
              :src="require('@/assets/images/mb/index/arrow.svg')"
            ></img-svg>
          </div>
          <div class="transfer-wallet-sub">
            <div class="transfer-wallet-title">{{ gameItem.name }}</div>
            <div class="transfer-wallet-funds">
              {{ formatNumber(providerCredits) }}
            </div>
          </div>
        </div>
      </div>
      <div class="transfer-lowerHalf">
        <div class="transfer-funds">
          <input
            v-model="transferAmount"
            type="number"
            class="transfer-funds-input"
            :placeholder="$t('transferWindows.amountPlaceholder')"
          />
          <div
            class="transfer-funds-button"
            @click="transferAmount = Math.floor(userCredits)"
          >
            {{ $t('transferWindows.all') }}
          </div>
        </div>
        <div v-show="transferAmount > userCredits" class="transfer-errorTip">
          {{ $t('transferWindows.amountErrorTip') }}
        </div>
        <div class="transfer-button" @click="checkAmount()">
          {{ $t('transferWindows.enterGame') }}
        </div>
        <div class="transfer-button demoGame" @click="openGame('demo')">
          {{ $t('transferWindows.demoGame') }}
        </div>
      </div>
      <div class="transfer-cancel" @click="closeWindows()">
        <img-svg
          :src="require('@/assets/images/mb/index/cancel.svg')"
        ></img-svg>
      </div>
    </div>
  </div>
</template>

<script>
import { openGame, getGameProvider } from '@/api/game.js'
import { getUserCredits } from '@/api/member.js'
import {
  getProviderCredits,
  transferInProvider,
  transferOutProvider,
} from '@/api/wallet.js'
export default {
  props: {
    gameItem: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      loading: true,
      userCredits: 0,
      providerCredits: 0,
      transferAmount: '',
      gameProviderList: [],
    }
  },
  computed: {
    gameProviderRows() {
      if (this.gameProviderList.length > 0) {
        return this.gameProviderList.map((x, index) => {
          const result = {
            no: index,
            id: x.platform_id,
            name: x.platform_name,
            type: x.platform_type,
            amount: '',
            maintain: x.maintain,
          }
          return result
        })
      } else {
        return []
      }
    },
  },
  created() {
    this.initialize()
  },
  methods: {
    closeWindows() {
      this.$emit('closeWindows')
    },
    async initialize() {
      await this.getUserCredits()
      await this.getGameProvider()
      await this.gameProviderRows.forEach((x) => {
        this.getProviderCredits(x)
      })
    },
    checkAmount() {
      if (this.transferAmount > this.userCredits) return
      !this.transferAmount ? this.openGame() : this.transferInProvider()
    },
    async recycleWallet() {
      this.loading = true
      await this.gameProviderRows.forEach((x) => {
        if (typeof x.amount !== 'string' && parseInt(x.amount) !== 0) {
          this.transferOutProvider(x)
        }
      })
      setTimeout(this.reload, 1000)
    },
    async reload() {
      await this.getUserCredits()
      await this.getProviderCredits(this.gameItem, 'reload')
      this.loading = false
    },
    async getGameProvider() {
      const payload = { device: 'h5' }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameProviderList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getUserCredits() {
      try {
        const res = await getUserCredits()
        const result = res.data
        this.userCredits = parseInt(result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getProviderCredits(item, status) {
      const payload = {
        type: item.type,
        provider: status ? item.provider : item.id,
      }
      try {
        const res = await getProviderCredits(payload)
        const result = res.data
        if (item.id === this.gameItem.provider) {
          this.providerCredits = parseInt(result.local)
        }
        if (status) {
          this.providerCredits = parseInt(result.local)
        }
        this.$set(item, 'amount', parseInt(result.local))
      } catch (err) {
        this.$set(item, 'amount', this.$t('walletOverview.maintain'))
      } finally {
        if (item.id === this.gameItem.provider) {
          this.loading = false
        }
      }
    },
    async transferInProvider() {
      this.loading = true
      const payload = {
        type: this.gameItem.type,
        provider: this.gameItem.provider,
        amount: parseInt(this.transferAmount),
      }
      try {
        await transferInProvider(payload)
        this.openGame()
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async transferOutProvider(item) {
      const payload = {
        type: item.type,
        provider: item.id,
        amount: parseInt(item.amount),
      }
      try {
        await transferOutProvider(payload)
      } catch (err) {
        this.showErrorMessage(err.message)
      } finally {
        this.loading = false
      }
    },
    async openGame(value) {
      const gameProvider = this.gameItem.provider
      const gameId = this.gameItem.type === 'egame' ? this.gameItem.id : ''
      const gameType = this.gameItem.type
      const demo = value === 'demo' ? 'Y' : ''
      try {
        const res = await openGame(gameProvider, gameType, gameId, demo)
        const result = res.data
        window.open(result)
        this.$emit('closeWindows')
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.transfer-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  @include flexbox;
  .transfer-main {
    position: absolute;
    width: 90%;
    background-color: white;
    border-radius: 1rem;
    .transfer-upperHalf {
      padding: 1rem 1rem 2rem;
      .transfer-title {
        color: #5296fd;
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        padding-bottom: 1rem;
      }
    }
    .transfer-cancel {
      position: absolute;
      margin-top: 0.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.transfer-wallet {
  @include flexbox(space-between);
  .transfer-wallet-main {
    text-align: center;
    background-color: rgb(240, 241, 255);
    border-radius: 1rem;
    width: 40%;
    padding: 1rem;
  }
  .transfer-wallet-sub {
    text-align: center;
    background-color: rgb(247, 246, 251);
    border-radius: 0.5rem;
    width: 40%;
    padding: 1rem;
  }
  .transfer-wallet-title {
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }
  .transfer-wallet-funds {
    font-size: 0.9rem;
    font-weight: bold;
    color: #5296fd;
  }
  .transfer-wallet-button {
    position: absolute;
    font-size: 0.8rem;
    padding: 0.2rem 0.6rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #5296fd;
    color: #5296fd;
    left: calc(20% - 1.6rem);
    margin-top: 0.3rem;
  }
}

.transfer-lowerHalf {
  padding: 1rem;
  background-color: rgb(247, 246, 251);
  border-radius: 0 0 1rem 1rem;
  .transfer-funds {
    @include flexbox;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    .transfer-funds-input {
      border: 0;
      width: calc(100% - 6rem);
      outline: none;
      margin: 0 0.5rem;
      font-weight: bold;
    }
    .transfer-funds-button {
      font-size: 0.8rem;
      padding: 0.2rem 0.6rem;
      background-color: white;
      border-radius: 1rem;
      border: 1px solid #5296fd;
      color: #5296fd;
      font-weight: bold;
    }
  }
  .transfer-errorTip {
    color: rgb(250, 107, 136);
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  .transfer-button {
    @include flexbox;
    background-color: #5296fd;
    border-radius: 0.5rem;
    height: 3rem;
    color: white;
    margin-top: 1rem;
    font-weight: bold;
  }
  .enterGame {
    background-color: #495871;
  }
  .demoGame {
    background-color: white;
    color: #495871;
  }
}
</style>
