<template
  ><div>
    <div v-loading="loading" class="loading-mask"></div>
    <div class="operate-main">
      <div class="operate-header">
        <div class="operate-title">{{ $t('walletOverview.walletAmount') }}</div>
        <div class="operate-icon" @click="getUserCredits()">
          <img-svg
            :src="require('@/assets/images/mb/wallet/refresh.svg')"
          ></img-svg>
        </div>
        <div class="operate-button" @click="recycleWallet()">
          {{ $t('walletOverview.recycle') }}
        </div>
      </div>
      <div class="operate-group">
        <div class="operate-item">
          <div class="operate-item-icon">
            <img src="@/assets/images/mb/wallet/wallet.png" />
          </div>
          <div class="operate-item-name">
            {{ $t('walletOverview.mainWallet') }}
          </div>
          <div class="operate-item-funds">{{ formatNumber(userCredits) }}</div>
        </div>
        <div class="operate-item">
          <div class="operate-item-icon">
            <img src="@/assets/images/mb/wallet/wallet.png" />
          </div>
          <div class="operate-item-name">
            {{ $t('walletOverview.lockWallet') }}
          </div>
          <div class="operate-item-funds">{{ formatNumber(lockCredits) }}</div>
        </div>
      </div>
    </div>
    <div class="wallet-main">
      <div class="wallet-group" :class="{ hidden: !walletDatailStatus }">
        <div
          v-for="item in gameProviderRows"
          :key="item.no"
          class="wallet-item"
          :class="{
            selected:
              gameItem.provider === item.id && transactionType === 'transfer',
          }"
          @click="changeGameProvider(item)"
        >
          <div class="wallet-name">{{ item.name }}</div>
          <div v-loading="item.loading" class="wallet-funds">
            <div v-show="item.maintain" class="wallet-funds-icon">
              <img-svg
                :src="require('@/assets/images/mb/wallet/maintain.svg')"
              ></img-svg>
            </div>
            <div class="wallet-funds-text" :class="{ maintain: item.maintain }">
              {{ formatNumber(item.amount) }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="wallet-button"
        @click="walletDatailStatus = !walletDatailStatus"
      >
        <div v-show="walletDatailStatus" class="wallet-text">
          {{ $t('walletOverview.collapse') }}
          <img-svg
            :src="require('@/assets/images/mb/wallet/collapse.svg')"
          ></img-svg>
        </div>
        <div v-show="!walletDatailStatus" class="wallet-text">
          {{ $t('walletOverview.expand') }}
          <img-svg
            :src="require('@/assets/images/mb/wallet/expand.svg')"
          ></img-svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getUserCredits } from '@/api/member.js'
import { getLockCredits } from '@/api/transaction.js'
import { getGameProvider } from '@/api/game.js'
import { getProviderCredits, transferOutProvider } from '@/api/wallet.js'
export default {
  props: {
    transactionType: {
      type: String,
      default() {
        return ''
      },
    },
    gameItem: {
      type: Object,
      default() {
        return {}
      },
    },
    uploadStatus: {
      type: Boolean,
      default() {
        return false
      },
    },
  },
  data() {
    return {
      loading: true,
      lockCredits: 0,
      walletDatailStatus: true,
      gameProviderSelected: '',
      gameProviderList: [],
      userCredits: 0,
    }
  },
  computed: {
    gameProviderRows() {
      if (this.gameProviderList.length > 0) {
        return this.gameProviderList.map((x, index) => {
          const result = {
            no: index,
            id: x.platform_id,
            name: x.platform_name,
            type: x.platform_type,
            amount: '',
            maintain: x.maintain,
            loading: true,
          }
          return result
        })
      } else {
        return []
      }
    },
  },
  watch: {
    uploadStatus(data) {
      this.getUserCredits()
      this.gameProviderRows.forEach((x) => {
        if (x.id === this.gameItem.provider) {
          x.loading = true
          x.amount = ''
          this.getProviderCredits(x)
        }
      })
      this.$emit('resetUploadStatus', false)
    },
  },
  created() {
    this.initialize()
  },
  methods: {
    async initialize() {
      await this.getUserCredits()

      this.getLockCredits()
      await this.getGameProvider()
      this.$emit('setUserCredits', this.userCredits)
      this.$emit('setGameProvider', this.gameProviderRows)
      this.$emit('openInterface', this.gameProviderRows[0])
      this.loading = false
      this.gameProviderRows.forEach((x) => {
        this.getProviderCredits(x)
      })
    },
    async reload() {
      await this.getUserCredits()
      this.getLockCredits()
      this.$emit('setUserCredits', this.userCredits)
      this.gameProviderRows.forEach((x) => {
        x.loading = true
        x.amount = ''
        this.getProviderCredits(x)
      })
    },
    async getUserCredits() {
      try {
        const res = await getUserCredits()
        const result = res.data
        this.userCredits = parseInt(result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getLockCredits() {
      try {
        const res = await getLockCredits()
        const result = res.data
        this.lockCredits = parseInt(result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getGameProvider() {
      const payload = { device: 'h5' }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameProviderList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getProviderCredits(item) {
      const payload = {
        type: item.type,
        provider: item.id,
      }
      try {
        const res = await getProviderCredits(payload)
        const result = res.data
        this.$set(item, 'amount', parseInt(result.local))
      } catch (err) {
        item.maintain = true
        this.$set(item, 'amount', this.$t('walletOverview.maintain'))
      } finally {
        this.$set(item, 'loading', false)
        this.walletDatailStatus = !this.walletDatailStatus
        this.walletDatailStatus = !this.walletDatailStatus
      }
    },
    async recycleWallet() {
      await this.gameProviderRows.forEach((x) => {
        if (typeof x.amount !== 'string' && parseInt(x.amount) !== 0) {
          this.transferOutProvider(x)
        }
      })
      setTimeout(this.reload, 1000)
    },
    async transferOutProvider(item) {
      const payload = {
        type: item.type,
        provider: item.id,
        amount: parseInt(item.amount),
      }
      try {
        await transferOutProvider(payload)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    changeGameProvider(item) {
      this.$emit('openInterface', item)
    },
  },
}
</script>

<style lang="scss" scoped>
.operate-main {
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  .operate-header {
    @include flexbox(flex-start);
    .operate-title {
      font-size: 0.9rem;
      font-weight: bold;
      margin-right: 1rem;
    }
    .operate-icon {
      @include flexbox;
      @include iconSample(2rem, 2rem, white);
    }
    .operate-button {
      position: absolute;
      color: #5296fd;
      border-radius: 1rem;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 0.2rem 0.6rem;
      right: 10%;
      background: white;
      border: 1px solid #5296fd;
    }
  }
  .operate-group {
    @include flexbox(space-between);
    margin-top: 0.5rem;
    .operate-item {
      width: 48%;
      padding: 0.5rem 0;
      text-align: center;
      background-color: white;
      border-radius: 0.5rem;
      .operate-item-icon {
        display: inline-block;
      }
      .operate-item-name {
        display: inline-block;
        font-weight: bold;
        font-size: 0.9rem;
        vertical-align: top;
      }
      .operate-item-funds {
        font-weight: bold;
        color: #5296fd;
      }
    }
  }
}
.wallet-main {
  position: relative;
  padding: 1rem;
  background-color: white;
  .wallet-group {
    @include flexbox(flex-start, flex-start, wrap);
    .wallet-item {
      background-color: #f8f8f8;
      border-radius: 0.5rem;
      width: 31%;
      text-align: center;
      padding: 0.7rem 0;
      margin: 0 0.5rem 0.5rem 0;
      border: 1px solid white;
      min-height: 4.2rem;
      .wallet-name {
        font-size: 0.9rem;
        color: #707070;
        margin-bottom: 0.3rem;
      }
      .wallet-funds {
        @include flexbox;
        .wallet-funds-icon {
          margin-right: 0.3rem;
        }
        .wallet-funds-text {
          font-size: 0.9rem;
          color: #5296fd;
        }
        .maintain {
          color: #777;
        }
      }
    }
    .wallet-item:nth-child(3n) {
      margin: 0 0 0.5rem;
    }
    .selected {
      border-color: #5296fd;
    }
  }
  .hidden {
    height: 4.65rem;
    overflow: hidden;
  }
  .wallet-button {
    @include flexbox;
    .wallet-text {
      font-weight: bold;
      font-size: 0.9rem;
      color: #5296fd;
      margin-right: 0.5rem;
    }
  }
}
</style>
