<template>
  <div class="container">
    <div class="menu-main">
      <div
        v-for="item in menuList"
        :key="item.id"
        class="menu-item"
        :class="{ selected: menuSelected === item.value }"
        @click="selectType(item)"
      >
        {{ item.name }}
      </div>
    </div>
    <div class="list-main">
      <div class="list-group">
        <div
          v-for="item in activityList"
          :key="item.id"
          class="list-item"
          @click="openDetail(item)"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 1)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.activity')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      menuSelected: '',
      menuList: [
        {
          id: 1,
          name: this.$t('activity.allOffers'),
          value: 'allOffers',
        },
        {
          id: 2,
          name: this.$t('activity.limitedTimeOffer'),
          value: 'limitedTimeOffer',
        },
        {
          id: 3,
          name: this.$t('activity.firstDeposit'),
          value: 'firstDeposit',
        },
        {
          id: 4,
          name: this.$t('activity.dailyActivity'),
          value: 'dailyActivity',
        },
      ],
      activityList: [],
      extraActivity: [],
      commonActivity: [
        {
          id: 1,
          type: 'firstDeposit',
          value: 'noviceTask',
          path: '/Activity/NoviceTask',
        },
        {
          id: 2,
          type: 'dailyActivity',
          value: 'vipDiscount',
          path: '/Activity/VIPDiscount',
        },
        {
          id: 3,
          type: 'dailyActivity',
          value: 'inviteFriends',
          path: '/Activity/InviteFriends',
        },
      ],
    }
  },
  computed: {
    originalActivityList() {
      return this.extraActivity.concat(this.commonActivity)
    },
  },
  created() {
    this.menuSelected = this.menuList[0].value
    this.activityList = [...this.originalActivityList]
  },
  methods: {
    selectType(item) {
      this.menuSelected = item.value
      if (item.value === 'allOffers') {
        this.activityList = [...this.originalActivityList]
      } else {
        const result = this.originalActivityList.filter(
          (x) => x.type === item.value
        )
        this.activityList = [...result]
      }
    },
    openDetail(item) {
      if (item.path) {
        this.$router.push({ path: item.path })
      } else {
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
}
.menu-main {
  @include flexbox(space-between);
  padding: 1rem;
  box-shadow: $box-shadow;
  color: #777777;
  font-weight: 600;
  .selected {
    border-bottom: 0.15rem solid #5296fd;
    color: #5296fd;
  }
}
.list-main {
  padding: 1rem;
  .list-group {
    width: 100%;
    .list-item {
      width: 100%;
      height: 35vw;
      background-color: gray;
      border-radius: 1rem;
      margin-bottom: 0.5rem;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    }
  }
}
</style>
