<template>
  <div class="container">
    <div class="activity-main">
      <div class="activity-banner">
        <img src="@/assets/images/mb/activity/VIPDiscount.png" />
      </div>
      <div class="activity-content">
        <div class="activity-content-title">活動內容</div>
        <div class="activity-content-subTitle">活動對象：德贏全站會員</div>
        <div class="activity-content-subTitle">活動時間：2018年6月1日開始</div>
        <div class="activity-content-row">
          加入德贏，體現尊貴，彰顯品位，盡享VIP專屬禮遇。
        </div>
        <div class="activity-content-row">
          領取生日禮金和每月紅包，請點擊
          <nuxt-link to="/PersonalCenter/VIPPrivilege">【VIP特權】</nuxt-link>
        </div>
        <div class="activity-content-table">
          <div class="activity-content-header">
            <div class="activity-content-header-item">會員等級</div>
            <div class="activity-content-header-item">累積存款</div>
            <div class="activity-content-header-item">漸進有效流水</div>
            <div class="activity-content-header-item">保級有效流水</div>
            <div class="activity-content-header-item">VIP日提款次數</div>
          </div>
          <div
            v-for="item in vipDataList"
            :key="item.vip_level"
            class="activity-content-group"
          >
            <div class="activity-content-item">VIP{{ item.vip_level }}</div>
            <div class="activity-content-item">
              ≥{{ formatText(item.deposit) }}
            </div>
            <div class="activity-content-item">
              ≥{{ formatText(item.upgrade_rolling) }}
            </div>
            <div class="activity-content-item">
              ≥{{ formatText(item.relegation_rolling) }}
            </div>
            <div class="activity-content-item">
              {{ item.free_transfer_times }}
            </div>
          </div>
        </div>
        <div class="activity-content-table">
          <div class="activity-content-header">
            <div class="activity-content-header-item">會員等級</div>
            <div class="activity-content-header-item">每日提款額度</div>
            <div class="activity-content-header-item">升級禮金</div>
            <div class="activity-content-header-item">生日禮金</div>
            <div class="activity-content-header-item">豪禮贈送</div>
          </div>
          <div
            v-for="item in vipDataList"
            :key="item.vip_level"
            class="activity-content-group"
          >
            <div class="activity-content-item">VIP{{ item.vip_level }}</div>
            <div class="activity-content-item">
              {{ item.daily_max_withdrawals }}
            </div>
            <div class="activity-content-item">
              {{ formatNumber(item.upgrade_prize, 0) }}元
            </div>
            <div class="activity-content-item">
              {{ formatNumber(item.birthday_gift, 0) }}元
            </div>
            <div class="activity-content-item">
              -
            </div>
          </div>
        </div>
      </div>
      <div class="activity-content">
        <div class="activity-content-title">活動規則</div>
        <div
          v-for="item in ruleList"
          :key="item.id"
          class="activity-content-row"
          :class="{ red: item.important }"
        >
          {{ item.id }}.{{ item.title }}：{{ item.content }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getVIPLevel } from '@/api/vip.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 1)
      vm.$store.dispatch('header/setNavbarStatus', -1)
      const title = vm.$t('header.vipDiscount')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      vipDataList: [],
      ruleList: [
        {
          id: 1,
          title: '晉升標準',
          content:
            '會員的累積存款以及累積有效投注流水達到相應等級的要求，即可在次日12:00後晉級相應的VIP等級。',
          important: false,
        },
        {
          id: 2,
          title: '晉升順序',
          content:
            'VIP等級達到相應的要求可每天晉升1級，但VIP等級不可越級晉升。',
          important: false,
        },
        {
          id: 3,
          title: '保級要求',
          content:
            '會員在晉級後90天內投注需要完成保等級要求。如果在此期間再次晉升，保級要求重新按照當前新的等級計算。',
          important: false,
        },
        {
          id: 4,
          title: '降低標準',
          content:
            '如果會員在晉級後90天內沒有完成相應的保級要求流水，系統會自動降級1個等級，相應的返水及其他優惠也會隨之調整至降級後的等級。',
          important: false,
        },
        {
          id: 5,
          title: '特別優惠',
          content:
            '達到相應等級的VIP會員可聯繫在線客服進行申請，禮品不能折算為現金，每個等級的名貴禮品每位會員僅能獲得1次。德贏娛樂對名貴禮品擁有最終解釋權（名貴禮品僅針對VIP6，VIP7 ，VIP8，VIP9，VIP10會員）。',
          important: false,
        },
        {
          id: 6,
          title: '升級禮金',
          content:
            '升級禮金在會員達到該會員等級後系統自動派發，每個等級的升級禮金每位會員僅能獲得1次（升級禮金1倍流水即可提款）',
          important: false,
        },
        {
          id: 7,
          title: '生日禮金',
          content:
            '會員在註冊3個月內過生日，今年將不能領取生日禮金。另註冊時間大於3個月的會員需在生日當天於VIP頁面進行自助領取，每年可領取1次（生日彩金1倍流水即可提款）。',
          important: false,
        },
        {
          id: 8,
          title: '晉級優惠',
          content:
            '活動指定流水額度內的投注不計算返水；達到流水額度或餘額低於5元轉入任意金額解鎖場館後恢復正常返水；未達到條件解鎖場館之前，再次轉入場館的金額產生的投注，也不計算返水。',
          important: false,
        },
        {
          id: 9,
          title: '',
          content:
            '每個等級的VIP晉級優惠僅支持指定場館申請（只可申請符合當前等級的晉級優惠）。',
          important: false,
        },
        {
          id: 10,
          title: '',
          content:
            '若您已達優惠資格請盡速及時領取，若已達優惠資格卻尚未領取即晉級，請聯繫客服處理。',
          important: true,
        },
        {
          id: 11,
          title: '',
          content: '德贏娛樂保留對活動的修改、停止及最終解釋權。',
          important: false,
        },
      ],
    }
  },
  computed: {},
  created() {
    this.getVIPLevel()
  },
  methods: {
    async getVIPLevel() {
      try {
        const res = await getVIPLevel()
        const result = res.data
        this.vipDataList = [...result]
        this.vipDataList.shift()
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    formatText(num) {
      const string = num.toString()
      if (string.length > 4) {
        const result = string.substring(0, string.length - 4)
        return result + '萬'
      } else {
        return num
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  background: rgb(250, 250, 250);
}
.activity-banner img {
  width: 100%;
}
.activity-content {
  margin: 0rem 1rem 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  .activity-content-title {
    color: #5296fd;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .activity-content-subTitle {
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.5rem;
  }
  .activity-content-row {
    font-size: 0.85rem;
    font-weight: bold;
    color: #888888;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    a {
      color: #5296fd;
    }
  }
  .red {
    color: #fa6b88;
  }
  .activity-content-table {
    border-radius: 0.5rem;
    background: rgb(236, 240, 247);
    margin: 1em 0;
    .activity-content-header {
      @include flexbox(flex-start);
      background: linear-gradient(rgb(82, 150, 253), rgb(88, 170, 253));
      color: white;
      border-radius: 0.5rem 0.5rem 0 0;
      .activity-content-header-item {
        @include flexbox;
        text-align: center;
        font-size: 0.9rem;
        font-weight: bold;
        width: 20%;
        padding: 0.5rem 0.7rem;
        border-left: 1px solid white;
        min-height: 4.5rem;
      }
      .activity-content-header-item:nth-child(1) {
        border-left: 0;
      }
    }
    .activity-content-group {
      @include flexbox(flex-start);
      border-radius: 0 0 0.5rem 0.5rem;
      .activity-content-item {
        @include flexbox;
        text-align: center;
        font-size: 0.7rem;
        font-weight: 500;
        width: 20%;
        padding: 0.5rem 0;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        min-height: 2.5rem;
      }
      .activity-content-item:nth-child(1) {
        border-left: 0;
      }
    }
  }
}
</style>
