<template>
  <div class="container">
    <div class="wrapper">
      <member-meun />
      <div class="content-main">
        <div class="form-group">
          <nuxt-link
            class="form-title"
            :class="{ hover: titleHover }"
            :to="histoyRoute"
            @mouseover.native="hoverEffect(true)"
            @mouseleave.native="hoverEffect(false)"
          >
            <img-svg
              :src="require('@/assets/images/pc/wallet/back.svg')"
            ></img-svg>
            <span :class="{ hover: titleHover }">{{
              $t('addBankAccount.title')
            }}</span>
          </nuxt-link>
          <div class="form-item">
            <div class="form-item-title">
              {{ $t('addBankAccount.accountName') }}：
            </div>
            <div
              class="form-item-input"
              :class="{ invalid: !validate.accountName }"
            >
              <ValidationProvider
                ref="accountName"
                :rules="{
                  required: true,
                }"
              >
                <input
                  v-model="accountName"
                  type="text"
                  :placeholder="$t('addBankAccount.accountNamePlaceholder')"
                />
              </ValidationProvider>
            </div>
          </div>
          <div class="form-tip">{{ $t('addBankAccount.accountNameTip') }}</div>
          <div class="form-item">
            <div class="form-item-title">
              {{ $t('addBankAccount.bankName') }}：
            </div>
            <div
              class="form-item-select"
              :class="{ invalid: !validate.bankCode }"
            >
              <el-select
                v-model="bankCode"
                :placeholder="$t('addBankAccount.bankNamePlaceholder')"
              >
                <el-option
                  v-for="item in bankList"
                  :key="item.bank_code"
                  :label="item.bank_name"
                  :value="item.bank_code"
                >
                </el-option>
              </el-select>
            </div>
          </div>
          <div class="form-item">
            <div class="form-item-title">
              {{ $t('addBankAccount.bankAccount') }}：
            </div>
            <div
              class="form-item-input"
              :class="{ invalid: !validate.bankAccount }"
            >
              <ValidationProvider
                ref="bankAccount"
                :rules="{
                  required: true,
                  regex: regex.bankAccount,
                }"
              >
                <input
                  v-model="bankAccount"
                  type="text"
                  :placeholder="$t('addBankAccount.bankAccountPlaceholder')"
                />
              </ValidationProvider>
            </div>
          </div>
          <div class="form-tip">{{ $t('addBankAccount.bankAccountTip') }}</div>
          <div class="form-item">
            <div class="form-item-title">
              {{ $t('addBankAccount.phoneNumber') }}：
            </div>
            <el-select v-model="countryCode" placeholder="">
              <el-option
                v-for="item in countryCodeList"
                :key="item.iso"
                :label="item.label"
                :value="item.country_code"
              >
              </el-option>
            </el-select>
            <div
              class="form-item-input phone"
              :class="{ invalid: !validate.phoneNumber }"
            >
              <ValidationProvider
                ref="phoneNumber"
                :rules="{
                  required: true,
                  regex: regex.phoneNumber,
                }"
              >
                <input
                  v-model="phoneNumber"
                  type="text"
                  :placeholder="$t('addBankAccount.phoneNumberPlaceholder')"
                />
              </ValidationProvider>
            </div>
          </div>
          <div class="form-tip">{{ $t('addBankAccount.phoneNumberTip') }}</div>
          <div class="form-item">
            <div class="form-item-title">
              {{ $t('addBankAccount.verificationPhone') }}：
            </div>

            <div
              class="form-item-input"
              :class="{ invalid: !validate.verificationPhone }"
            >
              <ValidationProvider
                ref="verificationPhone"
                :rules="{
                  required: true,
                }"
              >
                <input
                  v-model="verificationPhone"
                  type="text"
                  :placeholder="
                    $t('addBankAccount.verificationPhonePlaceholder')
                  "
                />
              </ValidationProvider>
              <div
                v-if="!countdownStatus"
                class="form-item-verification-button"
                @click="getVerificationPhone()"
              >
                {{ $t('forgetPassword.getVerificationPhone') }}
              </div>
              <div v-else class="form-item-verification-text">
                {{ countdown }}s
              </div>
            </div>
          </div>
          <div class="form-line"></div>
          <div class="form-button-row">
            <div class="form-button-item cancel" @click="clearForm()">
              {{ $t('addBankAccount.cancel') }}
            </div>
            <div class="form-button-item" @click="nextStep()">
              {{ $t('addBankAccount.complete') }}
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-main">
        <div class="betting-group">
          <div class="betting-header-group">
            <div class="betting-header-title">
              {{ $t('wallet.bettingRecord') }}
            </div>
            <nuxt-link
              class="betting-header-button"
              to="/PersonalCenter/BettingRecord"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
          <div
            v-for="item in bettingOverviewList"
            :key="item.title"
            class="betting-overview-item"
          >
            <div class="betting-overview-title">{{ item.title }}</div>
            <div class="betting-overview-row">
              <div class="betting-overview-row-text">
                {{ $t('wallet.bettingAmount') }}
                {{ formatNumber(item.bettingAmount) }}
              </div>
            </div>
            <div class="betting-overview-row">
              <div class="betting-overview-row-text">
                {{ $t('wallet.validBetting') }}
                {{ formatNumber(item.validBetting) }}
              </div>
              <div class="betting-overview-row-text">
                {{ $t('wallet.winLose') }}
                <span :class="{ win: item.winloss > 0 }">{{
                  formatNumber(item.winloss)
                }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="activity-group">
          <div class="activity-header-group">
            <div class="activity-header-title">
              {{ $t('wallet.activity') }}
            </div>
            <nuxt-link class="activity-header-button" to="/activity"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  getVerificationPhone,
  addWithdrawAccounts,
  getBankCode,
} from '@/api/transaction.js'
import { checkVerification, getCountryCode } from '@/api/user.js'
import { getBettingOverview } from '@/api/report.js'
import { getDateByTimezone, getISODateString } from '@/assets/scripts/time.js'
import regex from '@/assets/scripts/regex'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('route/setCurrentPath', to.path)
      vm.histoyRoute = from.path
    })
  },
  data() {
    return {
      histoyRoute: '',
      titleHover: false,
      bettingOverviewList: [],
      realName: '',
      accountName: '',
      bankName: this.$t('addBankAccount.bankNamePlaceholder'),
      bankCode: '',
      bankAccount: '',
      phoneNumber: '',
      verificationPhone: '',
      countryCode: '',
      countryCodeList: [],
      bankList: [
        {
          bank_no: '012',
          bank_name: '台北富邦商業銀行',
          bank_label: '012 台北富邦商業銀行',
        },
        {
          bank_no: '004',
          bank_name: '台灣銀行',
          bank_label: '004 台灣銀行',
        },
        {
          bank_no: '013',
          bank_name: '國泰世華商業銀行',
          bank_label: '013 國泰世華商業銀行',
        },
      ],
      validate: {
        accountName: true,
        bankCode: true,
        bankAccount: true,
        phoneNumber: true,
        verificationPhone: true,
      },
      regex: {
        bankAccount: regex.bankAccount,
        phoneNumber: regex.phoneNumber,
      },
    }
  },
  created() {
    this.initializate()
  },
  methods: {
    initializate() {
      this.getCountryCode()
      this.getBankCode()
      this.getBettingOverview()
    },
    clearForm() {
      this.accountName = ''
      this.phoneNumber = ''
      this.verificationPhone = ''
      this.countryCode = this.countryCodeList[0].country_code
      this.bankCode = ''
      this.validate.accountName = true
      this.validate.phoneNumber = true
      this.validate.verificationPhone = true
      this.validate.countryCode = true
      this.validate.bankCode = true
    },
    hoverEffect(status) {
      this.titleHover = status
    },
    async validateForm(stepName) {
      switch (stepName) {
        case 'getVerification': {
          const result = await Promise.all([this.$refs.phoneNumber.validate()])
          this.validate.phoneNumber = result[0].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'addBankAccount': {
          const result = await Promise.all([
            this.$refs.accountName.validate(),
            this.$refs.bankAccount.validate(),
            this.$refs.phoneNumber.validate(),
            this.$refs.verificationPhone.validate(),
          ])
          this.validate.accountName = result[0].valid
          this.validate.bankAccount = result[1].valid
          this.validate.phoneNumber = result[2].valid
          this.validate.verificationPhone = result[3].valid
          this.validate.bankCode = this.bankCode.length > 0
          result.push({ valid: this.validate.bankCode })
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'addBankAccount-realName': {
          const result = await Promise.all([
            this.$refs.bankAccount.validate(),
            this.$refs.phoneNumber.validate(),
            this.$refs.verificationPhone.validate(),
          ])

          this.validate.bankAccount = result[0].valid
          this.validate.phoneNumber = result[1].valid
          this.validate.verificationPhone = result[2].valid
          this.validate.bankCode = this.bankCode.length > 0
          result.push({ valid: this.validate.bankCode })
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        default:
          break
      }
    },
    async nextStep() {
      if (!this.realName) {
        const validResult = await this.validateForm('addBankAccount')
        if (validResult !== true) return
      } else {
        const validResult = await this.validateForm('addBankAccount-realName')
        if (validResult !== true) return
      }
      this.checkVerification()
    },
    async getBankCode() {
      try {
        const res = await getBankCode()
        const result = res.data
        this.bankList = [...result]
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getCountryCode() {
      try {
        const res = await getCountryCode()
        const result = res.data
        this.countryCode = '+' + result[0].country_code
        const array = result.map((x) => {
          const result = {
            country_code: x.country_code,
            iso: x.iso,
            name: x.name,
            label: '+' + x.country_code,
          }
          return result
        })
        this.countryCodeList = array
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getVerificationPhone() {
      const validResult = await this.validateForm('getVerification')
      if (validResult !== true) return
      const payload = {
        phoneNumber: this.phoneNumber,
        countryCode: this.countryCode,
      }
      try {
        await getVerificationPhone(payload)
        this.showToast(this.$t('addBankAccount.sendSuccess'))
        this.countdownTimer(60)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async checkVerification() {
      const payload = { code: this.verificationPhone }
      try {
        await checkVerification(payload)
        this.addWithdrawAccounts()
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async addWithdrawAccounts() {
      const payload = {
        accountName: this.realName ? this.realName : this.accountName,
        bankCode: this.bankCode,
        bankName: this.bankName,
        bankAccount: this.bankAccount,
        bankType: 'credit',
      }
      try {
        await addWithdrawAccounts(payload)
        this.showToast(this.$t('addBankAccount.addSuccess'))
        this.$router.replace({ path: this.histoyRoute })
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getBettingOverview() {
      const payload = {
        startTime: getISODateString(
          getDateByTimezone(new Date(), { isStartOfDate: true })
        ),
        endTime: getISODateString(
          getDateByTimezone(new Date(), { isEndOfDate: true })
        ),
      }
      try {
        const res = await getBettingOverview(payload)
        const result = res.data
        const entries = Object.entries(result)
        const array = entries.map((x) => {
          const result = {
            type: x[0],
            title: x[0] !== 'total' ? this.$t(`wallet.${x[0]}`) : '',
            bettingAmount: x[1].bet,
            validBetting: x[1].valid_bet,
            winloss: x[1].profit,
            provider: x[1].providers,
          }
          return result
        })
        const totalIndex = array.findIndex((x) => x.type === 'total')
        array.splice(totalIndex, 1)
        this.bettingOverviewList = array
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  background-color: #eff0f6;
  height: 900px;
  padding-top: 5rem;
  .wrapper {
    @include flexbox(flex-start);
    width: 1260px;
    height: 96.5%;
    margin: 1rem auto;
  }
}
.content-main {
  width: 800px;
  height: 100%;
  .form-group {
    width: 100%;
    height: 790px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1.5rem;
    .form-title {
      font-size: 1.2rem;
      text-decoration: none;
      color: #343a40;
      span {
        margin-left: 0.5rem;
      }
      .hover {
        color: #678afc;
      }
    }
    .form-item {
      @include flexbox(flex-start);
      margin-top: 2rem;
      .form-item-title {
        width: 8.5rem;
        font-weight: bold;
        color: #212529;
      }

      .form-item-input {
        @include flexbox(space-between);
        border: 1px solid #e5e5e5;
        border-radius: 0.3rem;
        padding: 0.3rem 0.5rem;
        width: 20rem;
        span {
          width: 100%;
          input {
            width: 100%;
            outline: none;
            border: 0;
          }
        }
        .form-item-verification-button {
          margin-left: 0.5rem;
          color: #007aff;
          font-size: 0.9rem;
          font-weight: 600;
          letter-spacing: -1px;
          text-decoration: underline;
          cursor: pointer;
          width: 6rem;
          padding: 0.2rem 0;
        }
        .form-item-verification-text {
          color: #007aff;
          font-weight: normal;
        }
      }
      .invalid {
        border: 1px solid #dc3545;
        border-radius: 0.3rem;
      }
      .phone {
        margin-left: 0.5rem;
        width: 14.5rem;
      }
    }
    .form-tip {
      margin-top: 0.5rem;
      font-weight: bold;
      font-size: 0.85rem;
      color: rgba(0, 0, 0, 0.497);
      margin-left: 8.5rem;
    }
    .form-line {
      border-top: 1px solid #e5e5e5;
      width: 100%;
      height: 5px;
      margin: 2rem 0 1rem;
    }
    .form-button-row {
      @include flexbox(flex-end);
      .form-button-item {
        padding: 0.5rem 2rem;
        border-radius: 1.5rem;
        background: linear-gradient(135deg, #5ce2fc, #4e65ff);
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-size: 0.9rem;
      }
      .cancel {
        color: #678afc;
        background: white;
        border: 1px solid #678afc;
        margin-right: 0.5rem;
        &:hover {
          color: white;
          background: #678afc;
        }
      }
    }
  }
}
.sidebar-main {
  width: 230px;
  height: 100%;
  margin-left: 1rem;
  .betting-group {
    width: 100%;
    height: 470px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .betting-header-group {
      @include flexbox(space-between);
      .betting-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .betting-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
    .betting-overview-item {
      padding: 0.5rem 0;
      border-bottom: 1px solid #ecf0f7;
      .betting-overview-title {
        font-size: 0.8rem;
        font-weight: 600;
        color: #343a40;
      }
      .betting-overview-row {
        @include flexbox(space-between);
        .betting-overview-row-text {
          font-size: 0.7rem;
          color: #343a40;
          margin-top: 0.1rem;
          .win {
            color: #dc3545;
          }
        }
      }
    }
  }
  .activity-group {
    width: 100%;
    height: calc(100% - 485px);
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .activity-header-group {
      @include flexbox(space-between);
      .activity-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .activity-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
  }
}
.content-line {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}
</style>
