<template>
  <div class="container">
    <div class="wrapper">
      <member-meun />
      <div class="content-main">
        <div class="payment-group">
          <div class="payment-title">{{ $t('deposit.title') }}</div>
          <div class="payment-row">
            <div class="payment-row-text">
              {{ $t('deposit.payment') }}
            </div>
            <nuxt-link class="payment-row-link" to="">
              <img-svg
                :src="require('@/assets/images/pc/wallet/question.svg')"
              ></img-svg>
              <span>{{ $t('deposit.teach') }}</span>
            </nuxt-link>
          </div>
          <div class="payment-method-group">
            <div
              v-for="item in modeList"
              :key="item.id"
              class="payment-method-item"
              :class="{ selected: modeSelected === item.value }"
              @click="selectMode(item)"
            >
              <div class="payment-method-icon">
                <img-svg
                  :src="require(`@/assets/images/pc/wallet/${item.src}`)"
                ></img-svg>
              </div>
              <div class="payment-method-name">{{ item.name }}</div>
              <div
                v-show="item.value === 'bank'"
                class="payment-method-recommend"
              >
                <img src="@/assets/images/pc/wallet/recommend.png" />
              </div>
              <div
                v-show="modeSelected === item.value"
                class="payment-method-check"
              ></div>
            </div>
          </div>
        </div>
        <template v-if="modeSelected === 'ATM'">
          <div class="remind-group">{{ $t('deposit.ATMTip') }}</div>
        </template>
        <template v-if="modeSelected === 'bank'">
          <div class="receive-account-group">
            <div class="receive-account-title">
              {{ $t('deposit.receiveAccount') }}
            </div>
            <div class="receive-account-line"></div>
            <div class="receive-account-select">
              <el-select
                v-model="depositBankSelected"
                :placeholder="$t('deposit.receiveAccountPlaceholder')"
                @change="selectDepositBank()"
              >
                <el-option
                  v-for="item in depositBankList"
                  :key="item.bank_no"
                  :label="item.bank_name"
                  :value="item.bank_no"
                >
                </el-option>
              </el-select>
            </div>
          </div>
          <div class="transfer-out-group">
            <div class="transfer-out-title">
              <div class="transfer-out-title-text">
                {{ $t('deposit.transferOutAccount') }}
              </div>
              <div class="transfer-out-title-quantity">
                {{ $t('deposit.cardQuantity') }} {{ withdrawBankList.length }}/3
              </div>
            </div>
            <div class="transfer-out-line"></div>
            <div class="transfer-out-bank-group">
              <div
                v-for="(item, index) in withdrawBankList"
                :key="item.no"
                class="transfer-out-bank-item"
                @click="selectWithdrawBank(item)"
              >
                <div class="transfer-out-bank-item-row">
                  <div class="transfer-out-bank-item-name">
                    {{ item.bank_name }}
                  </div>
                  <div class="transfer-out-bank-item-number">
                    {{ item.card_no }}
                  </div>
                  <div class="transfer-out-bank-item-date">
                    {{ $t('deposit.bindCardDate') }}
                  </div>
                </div>
                <img
                  class="transfer-out-bank-item-image"
                  :src="
                    require(`@/assets/images/pc/wallet/card-bg${index + 1}.png`)
                  "
                />
                <div
                  v-show="item.no === withdrawBankSelected"
                  class="transfer-out-bank-item-check"
                ></div>
              </div>
              <template v-if="withdrawBankList.length < 3">
                <nuxt-link
                  class="transfer-out-bank-add"
                  to="/Wallet/AddBankAccount"
                >
                  <div class="transfer-out-bank-add-icon">
                    <img-svg
                      :src="require('@/assets/images/pc/wallet/plus.svg')"
                    ></img-svg>
                  </div>
                  <div class="transfer-out-bank-add-text">
                    {{ $t('deposit.addBankAccount') }}
                  </div>
                </nuxt-link>
              </template>
            </div>
          </div>
        </template>
        <div class="operate-group">
          <div class="operate-title">{{ $t('deposit.depositAmount') }}</div>
          <div class="operate-amount-group">
            <div
              v-for="item in amountList"
              :key="item.id"
              class="operate-amount-item"
              :class="{ selected: amountSelected === item.value }"
              @click="selectAmount(item)"
            >
              ${{ item.value }}
            </div>
          </div>
          <div class="operate-input-row" :class="{ invalid: !validate.amount }">
            $
            <ValidationProvider
              ref="amount"
              :rules="{
                required: true,
                integer: true,
                minValue: limitRange.min,
                maxValue: limitRange.max,
              }"
            >
              <input
                v-model="depositAmount"
                class="operate-input-item"
                type="text"
                :placeholder="
                  $t('deposit.amountPlaceholder', [
                    limitRange.min,
                    limitRange.max,
                  ])
                "
              />
            </ValidationProvider>
            <div class="operate-input-button" @click="clearAmount()">
              <img-svg
                :src="require('@/assets/images/pc/wallet/cancel.svg')"
              ></img-svg>
            </div>
          </div>
          <div class="operate-tip">
            <img-svg
              :src="require('@/assets/images/pc/wallet/tip.svg')"
            ></img-svg
            >{{ $t('deposit.amountTip') }}
          </div>
          <div class="operate-button" @click="nextStep()">
            {{ $t('deposit.depositNow') }}
          </div>
          <div class="operate-link">
            <i18n path="deposit.helpTip" tag="div">
              <template v-slot:path>
                <nuxt-link
                  class="operate-customer-service"
                  to="/CustomerService"
                >
                  {{ $t('deposit.customerService') }}
                </nuxt-link>
              </template>
            </i18n>
          </div>
        </div>
      </div>
      <div class="sidebar-main">
        <div class="record-group">
          <div class="record-header-group">
            <div class="record-header-title">
              {{ $t('wallet.depositRecord') }}
            </div>
            <nuxt-link
              class="record-header-button"
              to="/Wallet/TransactionRecord"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
          <div
            v-for="item in depositRecordList"
            :key="item.transaction_id"
            class="record-item"
          >
            <div class="record-row">
              <div class="record-row-title">{{ $t('wallet.deposit') }}</div>
              <div class="record-row-amount">
                {{ formatNumber(item.pay_amount) }}
              </div>
            </div>
          </div>
        </div>
        <div class="activity-group">
          <div class="activity-header-group">
            <div class="activity-header-title">
              {{ $t('wallet.activity') }}
            </div>
            <nuxt-link class="activity-header-button" to="/activity"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
        </div>
      </div>
    </div>
    <reminder-windows
      v-if="reminderStatus"
      :transmit-object="transmitObject"
      @closeWindows="switchReminderWindows"
    />
  </div>
</template>

<script>
import { getWithdrawAccounts, getDepositAccounts } from '@/api/transaction.js'
import { getDepositRecord } from '@/api/report.js'
import { getDateByTimezone, getISODateString } from '@/assets/scripts/time.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('route/setCurrentPath', to.path)
      vm.histoyRoute = from.path
    })
  },
  data() {
    return {
      modeSelected: '',
      modeList: [
        {
          id: 1,
          name: this.$t('deposit.bankCard'),
          value: 'bank',
          src: 'bankCard.svg',
        },
        {
          id: 2,
          name: this.$t('deposit.ATM'),
          value: 'ATM',
          src: 'ATM.svg',
        },
      ],
      depositBankSelected: '',
      depositBankList: [],
      withdrawBankSelected: '',
      withdrawBankList: [],
      amountSelected: '',
      amountList: [
        { id: 1, value: 1001 },
        { id: 2, value: 2001 },
        { id: 3, value: 5001 },
        { id: 4, value: 10001 },
      ],
      depositAmount: '',
      limitRange: {
        min: 100,
        max: 99999,
      },
      validate: {
        bankCode: true,
        amount: true,
      },
      reminderStatus: false,
      transmitObject: {
        type: 'deposit',
        content: '',
        data: {
          amount: 0,
          payGateway: '',
          withdrawBanknNo: '',
          depositBankNo: '',
        },
      },
      depositRecordList: [],
    }
  },
  watch: {
    modeSelected(data) {
      if (data === 'bank') {
        this.getDepositAccounts()
        this.getWithdrawAccounts()
      }
    },
  },
  created() {
    this.modeSelected = this.modeList[0].value
    this.transmitObject.data.payGateway = this.modeList[0].value
    this.getDepositRecord()
  },
  methods: {
    selectMode(item) {
      this.modeSelected = item.value
      this.transmitObject.data.payGateway =
        item.value === 'bank' ? item.value : ''
      this.resetData()
      this.clearAmount()
    },
    selectDepositBank(item) {
      this.transmitObject.data.depositBankNo = this.depositBankSelected.toString()
    },
    selectWithdrawBank(item) {
      this.withdrawBankSelected = item.no
      this.transmitObject.data.withdrawBanknNo = item.no.toString()
    },
    selectAmount(item) {
      this.amountSelected = item.value
      this.depositAmount = item.value
    },
    clearAmount() {
      this.amountSelected = ''
      this.depositAmount = ''
    },
    resetData() {
      if (this.withdrawBankList.length > 0) {
        this.withdrawBankSelected = this.withdrawBankList[0].no
        this.transmitObject.data.withdrawBanknNo = this.withdrawBankList[0].no.toString()
      }
      this.transmitObject.data.depositBankNo = ''
      this.depositBankSelected = ''
    },
    async validateForm() {
      const result = await Promise.all([this.$refs.amount.validate()])
      this.validate.amount = result[0].valid

      const isAllValid = result.every((x) => x.valid === true)
      return isAllValid
    },
    async nextStep() {
      const validResult = await this.validateForm()
      if (validResult !== true) return
      if (!this.depositAmount) return
      const type = this.modeSelected
      switch (type) {
        case 'bank': {
          if (
            !this.transmitObject.data.withdrawBanknNo ||
            !this.transmitObject.data.depositBankNo ||
            !this.transmitObject.data.payGateway
          )
            return
          this.switchReminderWindows()
          break
        }
        case 'ATM': {
          this.switchReminderWindows()
          break
        }
        default:
          break
      }
    },
    switchReminderWindows() {
      if (!this.reminderStatus) {
        this.reminderStatus = true
        const result = String(this.depositAmount)
        this.transmitObject.data.amount = result
        this.transmitObject.content =
          this.modeSelected === 'bank'
            ? this.$t('deposit.bankCardrRemind')
            : this.$t('deposit.ATMRemind')
        this.$store.dispatch('transaction/setDepositAmount', result)
        this.$store.dispatch('transaction/setDepositMode', this.modeSelected)
      } else {
        this.reminderStatus = false
      }
    },
    async getDepositRecord() {
      const payload = {
        startTime: getISODateString(
          getDateByTimezone(new Date(), { isStartOfDate: true })
        ),
        endTime: getISODateString(
          getDateByTimezone(new Date(), { isEndOfDate: true })
        ),
        page: 1,
        pageSize: 1000,
      }
      try {
        const res = await getDepositRecord(payload)
        const result = res.data
        const array = result.reports.filter((x, index) => index < 10)
        this.depositRecordList = array
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getDepositAccounts() {
      const payload = {
        payGateway: this.modeSelected,
      }
      try {
        const res = await getDepositAccounts(payload)
        const result = res.data
        this.depositBankList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getWithdrawAccounts() {
      try {
        const res = await getWithdrawAccounts()
        const result = res.data
        this.withdrawBankList = [...result]
        if (this.withdrawBankList.length > 0) {
          this.withdrawBankSelected = result[0].no
          this.transmitObject.data.withdrawBanknNo = result[0].no.toString()
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  background-color: #eff0f6;
  height: 1045px;
  padding-top: 5rem;
  .wrapper {
    @include flexbox(flex-start);
    width: 1260px;
    height: 96.5%;
    margin: 1rem auto;
  }
}
.content-main {
  width: 800px;
  height: 100%;
  .payment-group {
    width: 100%;
    min-height: 220px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .payment-title {
      font-size: 1.2rem;
    }
    .payment-row {
      @include flexbox(space-between);
      margin: 1rem 0;
      font-size: 0.9rem;
      font-weight: 600;
      color: #343a40;
      .payment-row-link {
        @include flexbox(flex-start);
        cursor: pointer;
        color: #343a40;
        text-decoration: none;
        span {
          margin-left: 0.3rem;
        }
        &:hover {
          color: #5296fd;
        }
      }
    }
    .payment-method-group {
      @include flexbox(flex-start, flex-start, wrap);
      .payment-method-item {
        width: 18.2%;
        margin: 0 1rem 1rem 0;
        height: 6rem;
        border: 1px solid #e5e5e5;
        border-radius: 0.3rem;
        text-align: center;
        cursor: pointer;
        .payment-method-icon {
          margin-top: 1.2rem;
        }
        .payment-method-name {
          margin-top: 0.3rem;
          font-size: 0.9rem;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.568);
        }
        .payment-method-recommend {
          position: absolute;
          margin: -5rem 0 0 6rem;
        }
        .payment-method-check {
          position: absolute;
          margin: 0.5rem 0 0 3.7rem;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background: no-repeat 50% / 50% 50%;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
          background-color: #4a7be2;
        }
      }
      .payment-method-item:nth-child(5n) {
        margin: 0 0 1rem 0;
      }
      .selected {
        border: 1px solid #5296fd;
        color: #5296fd;
      }
    }
  }
  .receive-account-group {
    width: 100%;
    min-height: 120px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .receive-account-title {
      font-size: 0.9rem;
      font-weight: 600;
      color: #343a40;
    }
    .receive-account-line {
      width: 100%;
      height: 5px;
      border-top: 1px solid #e5e5e5;
      margin: 0.7rem 0;
    }
  }
  .transfer-out-group {
    width: 100%;
    height: 255px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .transfer-out-title {
      @include flexbox(space-between);
      .transfer-out-title-text {
        font-size: 0.9rem;
        font-weight: 600;
        color: #343a40;
      }
      .transfer-out-title-quantity {
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.497);
      }
    }
    .transfer-out-line {
      width: 100%;
      height: 5px;
      border-top: 1px solid #e5e5e5;
      margin: 0.5rem 0 1rem;
    }
    .transfer-out-bank-group {
      @include flexbox(flex-start);
      .transfer-out-bank-item {
        width: 32%;
        margin-left: 1rem;
        cursor: pointer;
        .transfer-out-bank-item-row {
          position: absolute;
          padding: 1rem;
          .transfer-out-bank-item-name {
            font-weight: bold;
          }
          .transfer-out-bank-item-number {
            margin-top: 0.5rem;
            font-size: 1.1rem;
            font-weight: 500;
          }
          .transfer-out-bank-item-date {
            margin-top: 3.5rem;
            font-size: 0.8rem;
            color: #343a40;
          }
        }
        .transfer-out-bank-item-image {
          width: 100%;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          border-radius: 0.5rem;
        }
        .transfer-out-bank-item-check {
          position: absolute;
          margin: -9.5rem 0 0 12.5rem;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          border-radius: 50%;
          background: no-repeat 50% / 50% 50%;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
          background-color: #4a7be2;
        }
      }
      .transfer-out-bank-item:nth-child(1) {
        margin-left: 0;
      }
      .transfer-out-bank-add {
        width: 32%;
        height: 10rem;
        margin-left: 1rem;
        text-decoration: none;
        background-color: #f7f6fb;
        color: black;
        border-radius: 0.5rem;
        &:hover {
          background-color: #e7e6ef;
        }
        .transfer-out-bank-add-icon {
          @include flexbox;
          margin-top: 4rem;
        }
        .transfer-out-bank-add-text {
          text-align: center;
          font-weight: bold;
          font-size: 0.9rem;
          color: #343a40;
          margin-top: 0.5rem;
        }
      }
    }
  }
  .operate-group {
    width: 100%;
    min-height: 290px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .operate-title {
      font-size: 0.9rem;
      font-weight: 600;
      color: #343a40;
    }
    .operate-amount-group {
      @include flexbox(flex-start, flex-start, wrap);
      margin-top: 1rem;
      .operate-amount-item {
        width: 15%;
        padding: 0.5rem 0;
        background-color: #f6f6f6;
        border: 1px solid #f6f6f6;
        text-align: center;
        margin: 0 1rem 1rem 0;
        border-radius: 0.3rem;
        cursor: pointer;
      }
      .selected {
        border: 1px solid #5296fd;
        background-color: white;
      }
    }
    .operate-input-row {
      @include flexbox(flex-start);
      border: 1px solid #e5e5e5;
      border-radius: 0.3rem;
      padding: 0.5rem;
      width: 20rem;
      font-weight: bold;
      span {
        width: 100%;
      }
      .operate-input-item {
        outline: none;
        border: 0;
        width: 100%;
      }
      .operate-input-button {
        margin-left: 0.5rem;
        cursor: pointer;
      }
    }
    .invalid {
      border: 1px solid #dc3545;
    }
    .operate-tip {
      @include flexbox(flex-start);
      margin-top: 1rem;
      color: #5296fd;
      font-weight: 600;
      font-size: 0.9rem;
    }
    .operate-button {
      margin-top: 1rem;
      background: linear-gradient(135deg, #5ce2fc, #4e65ff);
      color: white;
      border-radius: 0.3rem;
      width: 20rem;
      padding: 0.5rem 0;
      box-shadow: 5.5px 5.5px 10px rgba(0, 34, 121, 0.15);
      text-align: center;
      font-weight: bold;
      cursor: pointer;
    }
    .operate-link {
      margin-top: 1rem;
      color: rgba(0, 0, 0, 0.568);
      font-weight: 600;
      font-size: 0.9rem;
      .operate-customer-service {
        text-decoration: none;
        color: #5296fd;
      }
    }
  }
  .remind-group {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    color: #fa6b88;
    font-size: 0.9em;
    font-weight: 600;
  }
}
.sidebar-main {
  width: 230px;
  height: 100%;
  margin-left: 1rem;
  .record-group {
    width: 100%;
    height: 425px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .record-header-group {
      @include flexbox(space-between);
      .record-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .record-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
    .record-item {
      padding: 0.5rem 0;
      border-bottom: 1px solid #ecf0f7;
      width: 100%;
      .record-row {
        @include flexbox(space-between);
        width: 100%;
        font-size: 0.8rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.497);
      }
    }
  }
  .activity-group {
    width: 100%;
    height: calc(100% - 440px);
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .activity-header-group {
      @include flexbox(space-between);
      .activity-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .activity-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
  }
}
</style>
