<template>
  <div class="container">
    <div class="wrapper">
      <member-meun />
      <div class="content-main">
        <div class="remind-group">
          <div class="remind-header-row">
            <nuxt-link
              class="remind-header-title"
              :class="{ hover: titleHover }"
              to="/Wallet/Deposit"
              @mouseover.native="hoverEffect(true)"
              @mouseleave.native="hoverEffect(false)"
            >
              <img-svg
                :src="require('@/assets/images/pc/wallet/back.svg')"
              ></img-svg>
              <span :class="{ hover: titleHover }">{{
                $t('depositDetail.bank')
              }}</span>
            </nuxt-link>
            <nuxt-link class="remind-header-link" to="">
              <img-svg
                :src="require('@/assets/images/pc/wallet/question.svg')"
              ></img-svg>
              <span>{{ $t('depositDetail.teach') }}</span>
            </nuxt-link>
          </div>
          <div class="remind-hints">
            <div class="remind-hints-title">
              {{ $t('depositDetail.hints') }}
            </div>
            <div class="remind-hints-group">
              <div
                v-for="item in hintList"
                :key="item.id"
                class="remind-hints-item"
              >
                {{ item.content }}
              </div>
            </div>
          </div>
          <div class="remind-amount">
            <div class="remind-amount-row">
              <div id="funds" class="remind-amount-funds">
                ${{ formatNumber(parseInt(depositAmount)) }}
              </div>
              <div class="remind-amount-button" @click="copyText('#funds')">
                {{ $t('depositDetail.copy') }}
              </div>
            </div>
            <div class="remind-amount-tip">
              {{ $t('depositDetail.amountTip') }}
            </div>
          </div>
          <div class="remind-detail">
            <div class="remind-detail-row">
              <div class="remind-detail-title">
                {{ $t('depositDetail.transferBank') }}
              </div>
              <div id="transferBank" class="remind-detail-text">
                {{ depositData.bank_name }}
              </div>
              <div
                class="remind-detail-button"
                @click="copyText('#transferBank')"
              >
                {{ $t('depositDetail.copy') }}
              </div>
            </div>
            <div class="remind-detail-row">
              <div class="remind-detail-title">
                {{ $t('depositDetail.bankCode') }}
              </div>
              <div id="bankCode" class="remind-detail-text">
                {{ depositData.bank_code }}
              </div>
              <div
                class="remind-detail-button"
                @click="copyText('#funbankCodeds')"
              >
                {{ $t('depositDetail.copy') }}
              </div>
            </div>
            <div class="remind-detail-row">
              <div class="remind-detail-title">
                {{ $t('depositDetail.bankAccount') }}
              </div>
              <div id="bankAccount" class="remind-detail-text">
                {{ depositData.bank_account }}
              </div>
              <div
                class="remind-detail-button"
                @click="copyText('#bankAccount')"
              >
                {{ $t('depositDetail.copy') }}
              </div>
            </div>
            <div class="remind-detail-row">
              <div class="remind-detail-title">
                {{ $t('depositDetail.remittanceAccount') }}
              </div>
              <div class="remind-detail-text">
                {{ depositData.name }}
              </div>
            </div>

            <div class="remind-detail-row">
              <div class="remind-detail-title">
                {{ $t('depositDetail.remark') }}
              </div>
              <div id="remittanceAccount" class="remind-detail-text">
                {{ depositData.note }}
              </div>
              <div
                class="remind-detail-button"
                @click="copyText('#remittanceAccount')"
              >
                {{ $t('depositDetail.copy') }}
              </div>
            </div>
            <div class="remind-detail-tip">
              {{ $t('depositDetail.remarkTip') }}
            </div>
          </div>
          <div class="remind-prompt">
            <div class="remind-prompt-title">
              {{ $t('depositDetail.reminder') }}
            </div>
            <div class="remind-prompt-text">
              {{ $t('depositDetail.reminderContent1')
              }}<span class="pink">{{ countdownLabel }}</span
              >{{ $t('depositDetail.reminderContent2') }}
            </div>
            <div class="remind-prompt-button">
              {{ $t('depositDetail.depositNow') }}
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-main">
        <div class="record-group">
          <div class="record-header-group">
            <div class="record-header-title">
              {{ $t('wallet.depositRecord') }}
            </div>
            <nuxt-link
              class="record-header-button"
              to="/Wallet/TransactionRecord"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
          <div
            v-for="item in depositRecordList"
            :key="item.transaction_id"
            class="record-item"
          >
            <div class="record-row">
              <div class="record-row-title">{{ $t('wallet.deposit') }}</div>
              <div class="record-row-amount">
                {{ formatNumber(item.pay_amount) }}
              </div>
            </div>
          </div>
        </div>
        <div class="activity-group">
          <div class="activity-header-group">
            <div class="activity-header-title">
              {{ $t('wallet.activity') }}
            </div>
            <nuxt-link class="activity-header-button" to="/activity"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { getDepositRecord } from '@/api/report.js'
import { getDateByTimezone, getISODateString } from '@/assets/scripts/time.js'
export default {
  data() {
    return {
      titleHover: false,
      hintList: [],
      hintType: {
        ATM: 6,
        bank: 7,
      },
      countdownDefault: true,
      countdown: 0,
      countdownLabel: undefined,
      depositRecordList: [],
    }
  },
  computed: {
    ...mapState('transaction', ['depositMode', 'depositAmount', 'depositData']),
  },
  created() {
    this.setReminderContent()
    this.countdownTimer(900)
    this.getDepositRecord()
  },
  methods: {
    hoverEffect(status) {
      this.titleHover = status
    },
    setReminderContent() {
      for (let i = 1; i <= this.hintType[this.depositMode]; i++) {
        const object = {
          id: i,
          content: this.$t(`depositDetail.${this.depositMode}Content${i}`),
        }
        this.hintList.push(object)
      }
    },
    countdownTimer(time) {
      if (this.countdownDefault) {
        this.countdown = time
        this.countdownDefault = false
      }
      if (this.countdown > 0) {
        this.countdown -= 1
        setTimeout(this.countdownTimer, 1000)
      }
      this.timeCountFormat(this.countdown)
    },
    timeCountFormat(timestamp) {
      const m = this.fillzero(Math.floor(timestamp / 60) % 60)
      const s = this.fillzero(Math.floor(timestamp / 1) % 60)

      const result = [m, s].filter((x) => x !== '')
      this.countdownLabel = result.join(':')
    },
    fillzero(number) {
      if (number > 0) {
        if (number > 9) {
          return number
        } else {
          return `0${number}`
        }
      } else {
        return '00'
      }
    },
    async getDepositRecord() {
      const payload = {
        startTime: getISODateString(
          getDateByTimezone(new Date(), { isStartOfDate: true })
        ),
        endTime: getISODateString(
          getDateByTimezone(new Date(), { isEndOfDate: true })
        ),
        page: 1,
        pageSize: 1000,
      }
      try {
        const res = await getDepositRecord(payload)
        const result = res.data
        const array = result.reports.filter((x, index) => index < 10)
        this.depositRecordList = array
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  background-color: #eff0f6;
  height: 960px;
  padding-top: 5rem;
  .wrapper {
    @include flexbox(flex-start);
    width: 1260px;
    height: 96.5%;
    margin: 1rem auto;
  }
}
.content-main {
  width: 800px;
  height: 100%;
  .remind-group {
    width: 100%;
    min-height: 850px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    .remind-header-row {
      @include flexbox(space-between);
      .remind-header-title {
        font-size: 1.2rem;
        text-decoration: none;
        color: #343a40;
        span {
          margin-left: 0.5rem;
        }
      }
      .hover {
        color: #678afc;
      }
      .remind-header-link {
        @include flexbox(space-between);
        font-size: 0.9rem;
        font-weight: bold;
        text-decoration: none;
        color: #343a40;
        span {
          margin-left: 0.3rem;
        }
      }
    }
    .remind-hints {
      margin-top: 1.5rem;
      .remind-hints-title {
        font-weight: bold;
        color: #343a40;
      }
      .remind-hints-group {
        margin-top: 1rem;
        .remind-hints-item {
          font-size: 0.9rem;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.497);
          margin-bottom: 0.5rem;
        }
      }
    }
    .remind-amount {
      margin: 1rem 0;
      padding: 1.5rem;
      width: 30rem;
      border-radius: 0.3rem;
      background-image: linear-gradient(-45deg, #4682fc, #458eff);
      color: white;
      .remind-amount-row {
        @include flexbox;
        .remind-amount-funds {
          font-weight: bold;
          font-size: 1.5rem;
          margin-right: 0.5rem;
        }
        .remind-amount-button {
          border: 1px solid white;
          padding: 0.1rem 0.5rem;
          border-radius: 2rem;
          font-size: 0.8rem;
          cursor: pointer;
        }
      }
      .remind-amount-tip {
        text-align: center;
        margin-top: 0.5rem;
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
    .remind-detail {
      margin: 1rem 0;
      padding: 1rem;
      width: 30rem;
      border-radius: 0.3rem;
      background-image: linear-gradient(-45deg, #4682fc, #458eff);
      color: white;
      .remind-detail-row {
        @include flexbox(flex-start);
        margin: 1rem 0;
        font-size: 0.9rem;
        font-weight: 600;
        .remind-detail-text {
          width: 70%;
        }
        .remind-detail-button {
          border: 1px solid white;
          padding: 0.1rem 0.5rem;
          border-radius: 2rem;
          font-size: 0.8rem;
          cursor: pointer;
        }
      }
      .remind-detail-tip {
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
    .remind-prompt {
      font-weight: 600;
      .remind-prompt-title {
        color: #5296fd;
        margin-bottom: 0.5rem;
      }
      .remind-prompt-text {
        color: #777777;
        margin-bottom: 0.5rem;
      }
      .remind-prompt-button {
        @include flexbox;
        background-image: linear-gradient(135deg, #5ce2fc, #4e65ff);
        color: white;
        border-radius: 0.3rem;
        width: 15rem;
        padding: 0.7rem 0;
        box-shadow: 5.5px 5.5px 10px rgba(0, 34, 121, 0.15);
        cursor: pointer;
      }
    }
    .pink {
      color: #fa6b88;
    }
  }
}
.sidebar-main {
  width: 230px;
  height: 100%;
  margin-left: 1rem;
  .record-group {
    width: 100%;
    height: 425px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .record-header-group {
      @include flexbox(space-between);
      .record-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .record-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
    .record-item {
      padding: 0.5rem 0;
      border-bottom: 1px solid #ecf0f7;
      width: 100%;
      .record-row {
        @include flexbox(space-between);
        width: 100%;
        font-size: 0.8rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.497);
      }
    }
  }
  .activity-group {
    width: 100%;
    height: calc(100% - 440px);
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .activity-header-group {
      @include flexbox(space-between);
      .activity-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .activity-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
  }
}
</style>
