<template>
  <div class="container">
    <div class="wrapper">
      <member-meun />
      <div class="content-main">
        <div class="wallet-group">
          <div class="wallet-title">
            {{ $t('wallet.myWallet') }}
          </div>
          <nuxt-link to="" class="wallet-image">
            <div class="wallet-image-area">
              <div class="wallet-image-text">
                {{ $t('wallet.inviteFriends') }}
              </div>
              <div class="wallet-image-button">{{ $t('wallet.check') }}</div>
            </div>
          </nuxt-link>
          <div class="wallet-operate-group">
            <div class="wallet-operate-row">
              <div class="wallet-funds">
                <div class="wallet-funds-item">
                  <div class="wallet-funds-icon">
                    <img-svg
                      :src="require('@/assets/images/pc/wallet/wallet.svg')"
                    ></img-svg>
                  </div>
                  <div class="wallet-funds-text">
                    {{ $t('wallet.mainWallet') }}
                  </div>
                  <div class="wallet-funds-button">
                    {{ $t('wallet.recycle') }}
                  </div>
                </div>
                <div class="wallet-funds-amount">
                  $<span>{{ formatNumber(userCredits) }}</span>
                </div>
              </div>
              <div class="wallet-operate-line"></div>
              <div class="wallet-funds">
                <div class="wallet-funds-item">
                  <div class="wallet-funds-icon lock">
                    <img-svg
                      :src="require('@/assets/images/pc/wallet/lock.svg')"
                    ></img-svg>
                  </div>
                  <div class="wallet-funds-text">
                    {{ $t('wallet.lockWallet') }}
                  </div>
                </div>
                <div class="wallet-funds-amount">
                  $<span>{{ formatNumber(lockCredits) }}</span>
                </div>
              </div>
            </div>
            <div class="wallet-operate-row">
              <nuxt-link
                v-for="item in operateList"
                :key="item.id"
                class="wallet-operate-item"
                :to="item.path"
                @mouseover.native="hoverEffect(item, true)"
                @mouseleave.native="hoverEffect(item, false)"
              >
                <div
                  class="wallet-operate-icon"
                  :class="{
                    hoverImage: transactionHover === item.id,
                  }"
                >
                  <img-svg
                    :src="require(`@/assets/images/pc/wallet/${item.src}`)"
                  ></img-svg>
                </div>
                <div
                  class="wallet-operate-text"
                  :class="{
                    hoverText: transactionHover === item.id,
                  }"
                >
                  {{ item.name }}
                </div>
              </nuxt-link>
            </div>
          </div>
          <div class="wallet-provider">
            <div class="wallet-provider-title">
              {{ $t('wallet.walletDetail') }}
            </div>
            <div class="wallet-provider-group">
              <div
                v-for="item in gameProviderRows"
                :key="item.no"
                class="wallet-provider-item"
              >
                <div class="wallet-provider-row">
                  <div class="wallet-provider-name">{{ item.name }}</div>
                  <div v-if="!item.maintain" class="wallet-provider-button">
                    {{ $t('wallet.transferIn') }}
                  </div>
                  <div v-else class="wallet-provider-button maintain">
                    {{ $t('wallet.maintain') }}
                  </div>
                </div>
                <div v-loading="item.loading" class="wallet-provider-amount">
                  $ <span>{{ formatNumber(item.amount) }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-group">
          <div class="card-title">
            <div class="card-title-text">
              {{ $t('wallet.cardManage') }}
            </div>
            <div class="card-title-quantity">
              {{ $t('wallet.cardQuantity') }} {{ bankList.length }}/3
            </div>
          </div>
          <div class="card-line"></div>
          <div class="card-bank-group">
            <div
              v-for="(item, index) in bankList"
              :key="item.no"
              class="card-bank-item"
            >
              <div class="card-bank-item-row">
                <div class="card-bank-item-name">{{ item.bank_name }}</div>
                <div class="card-bank-item-number">{{ item.card_no }}</div>
                <div class="card-bank-item-date">
                  {{ $t('wallet.bindCardDate') }}
                </div>
              </div>
              <img
                class="card-bank-item-image"
                :src="
                  require(`@/assets/images/pc/wallet/card-bg${index + 1}.png`)
                "
              />
            </div>
            <template v-if="bankList.length < 3">
              <nuxt-link class="card-bank-add" to="/Wallet/AddBankAccount">
                <div class="card-bank-add-icon">
                  <img-svg
                    :src="require('@/assets/images/pc/wallet/plus.svg')"
                  ></img-svg>
                </div>
                <div class="card-bank-add-text">
                  {{ $t('wallet.addBankAccount') }}
                </div>
              </nuxt-link>
            </template>
          </div>
        </div>
      </div>
      <div class="sidebar-main">
        <div class="betting-group">
          <div class="betting-header-group">
            <div class="betting-header-title">
              {{ $t('wallet.bettingRecord') }}
            </div>
            <nuxt-link
              class="betting-header-button"
              to="/PersonalCenter/BettingRecord"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
          <div
            v-for="item in bettingOverviewList"
            :key="item.title"
            class="betting-overview-item"
          >
            <div class="betting-overview-title">{{ item.title }}</div>
            <div class="betting-overview-row">
              <div class="betting-overview-row-text">
                {{ $t('wallet.bettingAmount') }}
                {{ formatNumber(item.bettingAmount) }}
              </div>
            </div>
            <div class="betting-overview-row">
              <div class="betting-overview-row-text">
                {{ $t('wallet.validBetting') }}
                {{ formatNumber(item.validBetting) }}
              </div>
              <div class="betting-overview-row-text">
                {{ $t('wallet.winLose') }}
                <span :class="{ win: item.winloss > 0 }">{{
                  formatNumber(item.winloss)
                }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="activity-group">
          <div class="activity-header-group">
            <div class="activity-header-title">
              {{ $t('wallet.activity') }}
            </div>
            <nuxt-link class="activity-header-button" to="/activity"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { getLockCredits, getWithdrawAccounts } from '@/api/transaction.js'
import { getBettingOverview } from '@/api/report.js'
import { getGameProvider } from '@/api/game.js'
import { getProviderCredits } from '@/api/wallet.js'
import { getDateByTimezone, getISODateString } from '@/assets/scripts/time.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('route/setCurrentPath', to.path)
    })
  },
  data() {
    return {
      lockCredits: 0,
      operateList: [
        {
          id: 1,
          path: '/Wallet/Deposit',
          name: this.$t('wallet.deposit'),
          src: 'deposit.svg',
        },
        {
          id: 2,
          path: '/Wallet/Transfer',
          name: this.$t('wallet.transfer'),
          src: 'transfer.svg',
        },
        {
          id: 3,
          path: '/Wallet/Withdraw',
          name: this.$t('wallet.withdraw'),
          src: 'withdraw.svg',
        },
      ],
      transactionHover: '',
      gameProviderList: [],
      bettingOverviewList: [],
      bankList: [],
    }
  },
  computed: {
    ...mapState('login', ['userCredits']),
    gameProviderRows() {
      if (this.gameProviderList.length > 0) {
        return this.gameProviderList.map((x, index) => {
          const result = {
            no: index,
            id: x.platform_id,
            name: x.platform_name,
            type: x.platform_type,
            amount: '',
            loading: true,
            maintain: x.maintain,
          }
          return result
        })
      } else {
        return []
      }
    },
  },
  created() {
    this.initializate()
  },
  methods: {
    async initializate() {
      await this.getLockCredits()
      await this.getWithdrawAccounts()
      await this.getGameProvider()
      await this.gameProviderRows.forEach((x) => {
        this.getProviderCredits(x)
      })
      await this.getBettingOverview()
    },
    hoverEffect(item, status) {
      this.transactionHover = status ? item.id : ''
    },
    async getLockCredits() {
      try {
        const res = await getLockCredits()
        const result = res.data
        this.lockCredits = parseInt(result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getGameProvider() {
      const payload = { device: 'pc' }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameProviderList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getProviderCredits(item) {
      const payload = {
        type: item.type,
        provider: item.id,
      }
      try {
        const res = await getProviderCredits(payload)
        const result = res.data
        this.$set(item, 'amount', parseInt(result.local))
      } catch (err) {
        item.maintain = true
        this.$set(item, 'amount', 0)
      } finally {
        this.$set(item, 'loading', false)
      }
    },
    async getWithdrawAccounts() {
      try {
        const res = await getWithdrawAccounts()
        const result = res.data
        this.bankList = result
      } catch (err) {
        this.showErrorMessage(err.message)
        this.bankList = []
      }
    },
    async getBettingOverview() {
      const payload = {
        startTime: getISODateString(
          getDateByTimezone(new Date(), { isStartOfDate: true })
        ),
        endTime: getISODateString(
          getDateByTimezone(new Date(), { isEndOfDate: true })
        ),
      }
      try {
        const res = await getBettingOverview(payload)
        const result = res.data
        const entries = Object.entries(result)
        const array = entries.map((x) => {
          const result = {
            type: x[0],
            title: x[0] !== 'total' ? this.$t(`wallet.${x[0]}`) : '',
            bettingAmount: x[1].bet,
            validBetting: x[1].valid_bet,
            winloss: x[1].profit,
            provider: x[1].providers,
          }
          return result
        })
        const totalIndex = array.findIndex((x) => x.type === 'total')
        array.splice(totalIndex, 1)
        this.bettingOverviewList = array
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  background-color: #eff0f6;
  height: 1390px;
  padding-top: 5rem;
  .wrapper {
    @include flexbox(flex-start);
    width: 1260px;
    height: 97.8%;
    margin: 1rem auto;
  }
}
.content-main {
  width: 800px;
  height: 100%;
  .wallet-group {
    width: 100%;
    min-height: 1000px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .wallet-title {
      font-size: 1.2rem;
    }
    .wallet-image {
      text-decoration: none;
      .wallet-image-area {
        width: 100%;
        height: 85.5px;
        margin-top: 1rem;
        padding: 1rem;
        background: url('~assets/images/pc/wallet/gift.jpg') center no-repeat;
        background-size: 100% 100%;
        border-radius: 0.3rem;

        .wallet-image-text {
          color: white;
          font-weight: bold;
          font-size: 1.1rem;
        }
        .wallet-image-button {
          padding: 0.3rem 0;
          background-color: white;
          color: #5296fd;
          font-size: 0.8rem;
          font-weight: 500;
          width: 5rem;
          border-radius: 1.5rem;
          text-align: center;
          margin-top: 0.5rem;
        }
      }
    }
    .wallet-operate-group {
      @include flexbox(space-between);
      margin-top: 1rem;
      .wallet-operate-row {
        @include flexbox(space-between);
        border: 1px solid #e5e5e5;
        border-radius: 0.3rem;
        padding: 1rem;
        height: 100px;
        .wallet-funds {
          width: 225px;
          .wallet-funds-item {
            @include flexbox(flex-start);
            .wallet-funds-icon {
              width: 1.2rem;
              margin-right: 0.5rem;
            }
            .lock {
              width: 1rem;
            }
            .wallet-funds-text {
              color: rgba(0, 0, 0, 0.497);
              font-size: 0.9rem;
              font-weight: bold;
            }
            .wallet-funds-button {
              color: #5296fd;
              font-size: 0.9rem;
              font-weight: bold;
              margin-left: 5rem;
              cursor: pointer;
            }
          }
          .wallet-funds-amount {
            margin-top: 0.5rem;
            font-weight: 500;
            span {
              font-weight: bold;
              font-size: 1.5rem;
            }
          }
        }
        .wallet-operate-line {
          border-left: 1px solid #e5e5e5;
          height: 100%;
          width: 1px;
          margin: 0 1rem;
        }
        .wallet-operate-item {
          margin: 0 0.5rem;
          text-decoration: none;
          .wallet-operate-icon {
            @include flexbox;
            @include iconSample(
              3rem,
              3rem,
              linear-gradient(to bottom, #8ad1fd, #458eff)
            );
            color: white;
          }
          .wallet-operate-text {
            margin-top: 0.3rem;
            text-align: center;
            color: #343a40;
            font-weight: bold;
            font-size: 1.1rem;
          }
          .hoverImage {
            transform: scale(1.1);
          }
          .hoverText {
            color: #007bff;
          }
        }
      }
    }
    .wallet-provider {
      margin-top: 1rem;
      .wallet-provider-title {
        font-weight: 600;
      }
      .wallet-provider-group {
        @include flexbox(flex-start, flex-start, wrap);
        margin-top: 0.5rem;
        .wallet-provider-item {
          width: 24.1%;
          min-height: 5.5rem;
          border: 1px solid #e5e5e5;
          border-radius: 0.3rem;
          margin: 0 0.5rem 0.5rem 0;
          padding: 0.5rem;
          .wallet-provider-row {
            @include flexbox(space-between);
            .wallet-provider-name {
              color: rgba(0, 0, 0, 0.497);
              font-size: 0.9rem;
            }
            .wallet-provider-button {
              font-size: 0.8rem;
              font-weight: bold;
              background: linear-gradient(135deg, #8ad1fd, #458eff);
              border-radius: 1rem;
              padding: 0.2rem 0.5rem;
              color: white;
              cursor: pointer;
            }
            .maintain {
              background: #6c757d;
              opacity: 0.65;
              cursor: default;
            }
          }
          .wallet-provider-amount {
            color: #343a40;
            margin-top: 0.5rem;
            span {
              font-size: 1.2rem;
              font-weight: bold;
            }
          }
        }
        .wallet-provider-item:nth-child(4n) {
          margin: 0 0 0.5rem 0;
        }
      }
    }
  }
  .card-group {
    width: 100%;
    height: 265px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .card-title {
      @include flexbox(space-between);
      .card-title-text {
        font-size: 1.2rem;
      }
      .card-title-quantity {
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.497);
      }
    }
    .card-line {
      width: 100%;
      height: 5px;
      border-top: 1px solid #e5e5e5;
      margin: 0.5rem 0 1rem;
    }
    .card-bank-group {
      @include flexbox(flex-start);
      .card-bank-item {
        width: 32%;
        margin-left: 1rem;
        cursor: pointer;
        .card-bank-item-row {
          position: absolute;
          padding: 1rem;
          .card-bank-item-name {
            font-weight: bold;
          }
          .card-bank-item-number {
            margin-top: 0.5rem;
            font-size: 1.1rem;
            font-weight: 500;
          }
          .card-bank-item-date {
            margin-top: 3.5rem;
            font-size: 0.8rem;
            color: #343a40;
          }
        }
        .card-bank-item-image {
          width: 100%;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          border-radius: 0.5rem;
        }
      }
      .card-bank-item:nth-child(1) {
        margin-left: 0;
      }
      .card-bank-add {
        width: 32%;
        height: 10rem;
        margin-left: 1rem;
        text-decoration: none;
        background-color: #f7f6fb;
        color: black;
        border-radius: 0.5rem;
        &:hover {
          background-color: #e7e6ef;
        }
        .card-bank-add-icon {
          @include flexbox;
          margin-top: 4rem;
        }
        .card-bank-add-text {
          text-align: center;
          font-weight: bold;
          font-size: 0.9rem;
          color: #343a40;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
.sidebar-main {
  width: 230px;
  height: 100%;
  margin-left: 1rem;
  .betting-group {
    width: 100%;
    height: 470px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .betting-header-group {
      @include flexbox(space-between);
      .betting-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .betting-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
    .betting-overview-item {
      padding: 0.5rem 0;
      border-bottom: 1px solid #ecf0f7;
      .betting-overview-title {
        font-size: 0.8rem;
        font-weight: 600;
        color: #343a40;
      }
      .betting-overview-row {
        @include flexbox(space-between);
        .betting-overview-row-text {
          font-size: 0.7rem;
          color: #343a40;
          margin-top: 0.1rem;
          .win {
            color: #dc3545;
          }
        }
      }
    }
  }
  .activity-group {
    width: 100%;
    height: calc(100% - 485px);
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .activity-header-group {
      @include flexbox(space-between);
      .activity-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .activity-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
  }
}
.content-line {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}
</style>
