<template>
  <div class="container">
    <div class="wrapper">
      <member-meun />
      <div class="content-main">
        <div class="wallet-group">
          <div class="wallet-title">
            {{ $t('transfer.title') }}
          </div>
          <div class="wallet-button-row">
            <div class="wallet-button-text">
              {{ $t('transfer.walletAmount') }}
            </div>
            <div class="wallet-button-item" @click="getUserCredits()">
              <img-svg
                :src="require('@/assets/images/pc/wallet/refresh.svg')"
              ></img-svg>
            </div>
          </div>
          <div class="wallet-operate-group">
            <div class="wallet-operate-row">
              <div class="wallet-funds">
                <div class="wallet-funds-item">
                  <div class="wallet-funds-icon">
                    <img-svg
                      :src="require('@/assets/images/pc/wallet/wallet.svg')"
                    ></img-svg>
                  </div>
                  <div class="wallet-funds-text">
                    {{ $t('wallet.mainWallet') }}
                  </div>
                  <div class="wallet-funds-button">
                    {{ $t('wallet.recycle') }}
                  </div>
                </div>
                <div class="wallet-funds-amount">
                  $<span>{{ formatNumber(userCredits) }}</span>
                </div>
              </div>
              <div class="wallet-operate-line"></div>
              <div class="wallet-funds">
                <div class="wallet-funds-item">
                  <div class="wallet-funds-icon lock">
                    <img-svg
                      :src="require('@/assets/images/pc/wallet/lock.svg')"
                    ></img-svg>
                  </div>
                  <div class="wallet-funds-text">
                    {{ $t('wallet.lockWallet') }}
                  </div>
                </div>
                <div class="wallet-funds-amount">
                  $<span>{{ formatNumber(lockCredits) }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="wallet-provider">
            <div class="wallet-provider-title">
              {{ $t('wallet.walletDetail') }}
            </div>
            <div class="wallet-provider-group">
              <div
                v-for="item in gameProviderRows"
                :key="item.no"
                class="wallet-provider-item"
              >
                <div class="wallet-provider-row">
                  <div class="wallet-provider-name">{{ item.name }}</div>
                  <div v-if="!item.maintain" class="wallet-provider-button">
                    {{ $t('wallet.transferIn') }}
                  </div>
                  <div v-else class="wallet-provider-button maintain">
                    {{ $t('wallet.maintain') }}
                  </div>
                </div>
                <div v-loading="item.loading" class="wallet-provider-amount">
                  $ <span>{{ formatNumber(item.amount) }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="operate-group">
          <div class="operate-title">
            {{ $t('transfer.transferAmount') }}
          </div>
          <div class="operate-tip">
            {{ $t('transfer.amountTip') }}
          </div>
          <div class="operate-select-row">
            <div class="operate-select-item">
              <el-select
                v-model="walletOneSelected"
                :placeholder="$t('transfer.select')"
                @change="selectWallet(1)"
              >
                <el-option
                  v-for="item in walletOneList"
                  :key="item.no"
                  :label="item.name"
                  :value="item.no"
                >
                </el-option>
              </el-select>
            </div>
            <div class="operate-select-icon">
              <img-svg
                :src="require('@/assets/images/pc/wallet/transfer-arrow.svg')"
              ></img-svg>
            </div>
            <div class="operate-select-item">
              <el-select
                v-model="walletTwoSelected"
                :placeholder="$t('transfer.select')"
                @change="selectWallet(2)"
              >
                <el-option
                  v-for="item in walletTwoList"
                  :key="item.no"
                  :label="item.name"
                  :value="item.no"
                >
                </el-option>
              </el-select>
            </div>
          </div>
          <div class="operate-subtitle">
            {{ $t('transfer.transferAmount') }}
          </div>
          <div class="operate-input-row">
            <input
              v-model="transferAmount"
              type="text"
              :placeholder="$t('transfer.amountPlaceholder')"
            />
            <div class="operate-input-button" @click="fullAmount()">
              {{ $t('transfer.all') }}
            </div>
          </div>
          <div class="operate-button" @click="transfer()">
            {{ $t('transfer.transferNow') }}
          </div>
        </div>
      </div>
      <div class="sidebar-main">
        <div class="record-group">
          <div class="record-header-group">
            <div class="record-header-title">
              {{ $t('wallet.tranferRecord') }}
            </div>
            <nuxt-link
              class="record-header-button"
              to="/PersonalCenter/TransactionRecord"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
          <div
            v-for="item in transferRecordList"
            :key="item.transaction_id"
            class="record-item"
          >
            <div class="record-row">
              <div class="record-row-title">{{ $t('wallet.transfer') }}</div>
              <div class="record-row-amount">
                {{ formatNumber(parseInt(item.amount)) }}
              </div>
            </div>
            <div class="record-row queue">
              <div class="record-row-item">{{ item.from_account }}</div>
              <div class="record-row-arrow">→</div>
              <div class="record-row-item">
                {{ item.to_account }}
              </div>
            </div>
          </div>
        </div>
        <div class="activity-group">
          <div class="activity-header-group">
            <div class="activity-header-title">
              {{ $t('wallet.helpCenter') }}
            </div>
            <nuxt-link class="activity-header-button" to="/HelpCenter"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getUserCredits } from '@/api/member.js'
import { getLockCredits } from '@/api/transaction.js'
import { getGameProvider } from '@/api/game.js'
import { getTransferRecord } from '@/api/report.js'
import {
  getProviderCredits,
  transferInProvider,
  transferOutProvider,
} from '@/api/wallet.js'
import { getDateByTimezone, getISODateString } from '@/assets/scripts/time.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('route/setCurrentPath', to.path)
      vm.histoyRoute = from.path
    })
  },
  data() {
    return {
      userCredits: 0,
      lockCredits: 0,
      transferAmount: '',
      gameProviderList: [],
      transferType: 'in',
      walletOneSelected: '',
      walletOneList: [],
      walletTwoSelected: '',
      walletTwoList: [],
      gameItem: {},
      uploadStatus: false,
      transferRecordList: [],
    }
  },
  computed: {
    gameProviderRows() {
      if (this.gameProviderList.length > 0) {
        return this.gameProviderList.map((x, index) => {
          const result = {
            no: index,
            id: x.platform_id,
            name: x.platform_name,
            type: x.platform_type,
            amount: '',
            loading: true,
            maintain: x.maintain,
          }
          return result
        })
      } else {
        return []
      }
    },
  },
  watch: {
    uploadStatus(data) {
      this.getUserCredits()
      this.gameProviderRows.forEach((x) => {
        if (x.id === this.gameItem.id) {
          x.loading = true
          x.amount = ''
          this.getProviderCredits(x)
        }
      })
      this.uploadStatus = false
    },
  },
  created() {
    this.initializate()
  },
  methods: {
    async initializate() {
      await this.getUserCredits()
      await this.getLockCredits()
      await this.getGameProvider()
      this.getTransferRecord()
      const result = [...this.gameProviderRows]
      result.unshift({
        no: -1,
        id: 'mainWallet',
        name: this.$t('transfer.mainWallet'),
      })
      this.walletOneList = [...result]
      this.walletTwoList = [...result]
      await this.gameProviderRows.forEach((x) => {
        this.getProviderCredits(x)
      })
    },
    fullAmount() {
      this.transferAmount =
        this.transferType === 'in'
          ? Math.floor(this.userCredits)
          : Math.floor(this.gameItem.amount)
    },
    selectWallet(type) {
      if (type === 1) {
        const result = this.walletTwoList.find((x) => x.no < 0)
        this.gameItem = this.gameProviderRows.filter(
          (x) => x.no === this.walletOneSelected
        )[0]
        if (this.walletOneSelected < 0) {
          this.walletTwoList.shift()
        } else if (!result && this.walletOneSelected >= 0) {
          this.walletOneList.shift()
          this.walletTwoList.unshift({
            no: -1,
            id: 'mainWallet',
            name: this.$t('transfer.mainWallet'),
          })
          this.walletTwoSelected = this.walletTwoList[0].no
          this.transferType = 'out'
        } else if (result && this.walletOneSelected >= 0) {
          this.walletOneList.shift()
          this.walletTwoSelected = this.walletTwoList[0].no
          this.transferType = 'out'
        }
      } else {
        const result = this.walletOneList.find((x) => x.no < 0)
        this.gameItem = this.gameProviderRows.filter(
          (x) => x.no === this.walletTwoSelected
        )[0]
        if (this.walletTwoSelected < 0) {
          this.walletOneList.shift()
        } else if (!result && this.walletTwoSelected >= 0) {
          this.walletOneList.unshift({
            no: -1,
            id: 'mainWallet',
            name: this.$t('transfer.mainWallet'),
          })
          this.walletTwoList.shift()
          this.walletOneSelected = this.walletOneList[0].no
          this.transferType = 'in'
        } else if (result && this.walletTwoSelected >= 0) {
          this.walletTwoList.shift()
          this.walletOneSelected = this.walletOneList[0].no
          this.transferType = 'in'
        }
      }
    },
    transfer() {
      this.transferType === 'in'
        ? this.transferInProvider()
        : this.transferOutProvider()
    },
    async getUserCredits() {
      try {
        const res = await getUserCredits()
        const result = res.data
        this.userCredits = parseInt(result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getLockCredits() {
      try {
        const res = await getLockCredits()
        const result = res.data
        this.lockCredits = parseInt(result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getGameProvider() {
      const payload = { device: 'pc' }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameProviderList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getProviderCredits(item) {
      const payload = {
        type: item.type,
        provider: item.id,
      }
      try {
        const res = await getProviderCredits(payload)
        const result = res.data
        this.$set(item, 'amount', parseInt(result.local))
      } catch (err) {
        item.maintain = true
        this.$set(item, 'amount', 0)
      } finally {
        this.$set(item, 'loading', false)
      }
    },
    async transferInProvider() {
      if (this.transferAmount > this.userCredits || !this.transferAmount) return
      const payload = {
        type: this.gameItem.type,
        provider: this.gameItem.id,
        amount: parseInt(this.transferAmount),
      }
      try {
        await transferInProvider(payload)
        this.transferAmount = ''
        this.uploadStatus = true
        this.showToast(this.$t('transfer.transferSuccess'))
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async transferOutProvider() {
      if (
        this.transferAmount > this.gameItem.amount ||
        !this.transferAmount ||
        typeof this.gameItem.amount === 'string'
      )
        return
      const payload = {
        type: this.gameItem.type,
        provider: this.gameItem.id,
        amount: parseInt(this.transferAmount),
      }
      try {
        await transferOutProvider(payload)
        this.transferAmount = ''
        this.uploadStatus = true
        this.showToast(this.$t('transfer.transferSuccess'))
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getTransferRecord() {
      const payload = {
        startTime: getISODateString(
          getDateByTimezone(new Date(), { isStartOfDate: true })
        ),
        endTime: getISODateString(
          getDateByTimezone(new Date(), { isEndOfDate: true })
        ),
        page: 1,
        pageSize: 1000,
      }
      try {
        const res = await getTransferRecord(payload)
        const result = res.data
        const array = result.reports.filter((x, index) => index < 10)
        this.transferRecordList = array
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  background-color: #eff0f6;
  height: 1325px;
  padding-top: 5rem;
  .wrapper {
    @include flexbox(flex-start);
    width: 1260px;
    height: 97.8%;
    margin: 1rem auto;
  }
}
.content-main {
  width: 800px;
  height: 100%;
  .wallet-group {
    width: 100%;
    min-height: 920px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .wallet-title {
      font-size: 1.2rem;
    }
    .wallet-button-row {
      @include flexbox(flex-start);
      margin-top: 0.5rem;
      .wallet-button-text {
        color: rgba(0, 0, 0, 0.497);
        font-size: 0.9rem;
        font-weight: bold;
      }
      .wallet-button-item {
        @include flexbox;
        @include iconSample(1.5rem, 1.5rem);
        margin-left: 0.5rem;
        border: 1px solid #ffffff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(to right, #f6f6f6, #ffffff);
        cursor: pointer;
      }
    }
    .wallet-operate-group {
      @include flexbox(space-between);
      margin-top: 1rem;
      .wallet-operate-row {
        @include flexbox(space-between);
        border: 1px solid #e5e5e5;
        border-radius: 0.3rem;
        padding: 1rem;
        height: 100px;
        .wallet-funds {
          width: 225px;
          .wallet-funds-item {
            @include flexbox(flex-start);
            .wallet-funds-icon {
              width: 1.2rem;
              margin-right: 0.5rem;
            }
            .lock {
              width: 1rem;
            }
            .wallet-funds-text {
              color: rgba(0, 0, 0, 0.497);
              font-size: 0.9rem;
              font-weight: bold;
            }
            .wallet-funds-button {
              color: #5296fd;
              font-size: 0.9rem;
              font-weight: bold;
              margin-left: 5rem;
              cursor: pointer;
            }
          }
          .wallet-funds-amount {
            margin-top: 0.5rem;
            font-weight: 500;
            span {
              font-weight: bold;
              font-size: 1.5rem;
            }
          }
        }
        .wallet-operate-line {
          border-left: 1px solid #e5e5e5;
          height: 100%;
          width: 1px;
          margin: 0 1rem;
        }
        .wallet-operate-item {
          margin: 0 0.5rem;
          text-decoration: none;
          .wallet-operate-icon {
            @include flexbox;
            @include iconSample(
              3rem,
              3rem,
              linear-gradient(to bottom, #8ad1fd, #458eff)
            );
            color: white;
          }
          .wallet-operate-text {
            margin-top: 0.3rem;
            text-align: center;
            color: #343a40;
            font-weight: bold;
            font-size: 1.1rem;
          }
          .hoverImage {
            transform: scale(1.1);
          }
          .hoverText {
            color: #007bff;
          }
        }
      }
    }
    .wallet-provider {
      margin-top: 1rem;
      .wallet-provider-title {
        font-weight: 600;
      }
      .wallet-provider-group {
        @include flexbox(flex-start, flex-start, wrap);
        margin-top: 0.5rem;
        .wallet-provider-item {
          width: 24.1%;
          min-height: 5.5rem;
          border: 1px solid #e5e5e5;
          border-radius: 0.3rem;
          margin: 0 0.5rem 0.5rem 0;
          padding: 0.5rem;
          .wallet-provider-row {
            @include flexbox(space-between);
            .wallet-provider-name {
              color: rgba(0, 0, 0, 0.497);
              font-size: 0.9rem;
            }
            .wallet-provider-button {
              font-size: 0.8rem;
              font-weight: bold;
              background: linear-gradient(135deg, #8ad1fd, #458eff);
              border-radius: 1rem;
              padding: 0.2rem 0.5rem;
              color: white;
              cursor: pointer;
            }
            .maintain {
              background: #6c757d;
              opacity: 0.65;
              cursor: default;
            }
          }
          .wallet-provider-amount {
            color: #343a40;
            margin-top: 0.5rem;
            span {
              font-size: 1.2rem;
              font-weight: bold;
            }
          }
        }
        .wallet-provider-item:nth-child(4n) {
          margin: 0 0 0.5rem 0;
        }
      }
    }
  }
  .operate-group {
    width: 100%;
    height: 280px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .operate-title {
      font-size: 1.2rem;
    }
    .operate-tip {
      margin-top: 0.5rem;
      color: rgba(0, 0, 0, 0.497);
      font-size: 0.9rem;
      font-weight: bold;
    }
    .operate-select-row {
      @include flexbox(flex-start);
      margin: 0.5rem 0;
      .operate-select-icon {
        margin: 0 1rem;
      }
    }
    .operate-subtitle {
      font-size: 0.9rem;
      font-weight: bold;
      margin-top: 1rem;
      color: #343a40;
    }
    .operate-input-row {
      @include flexbox(space-between);
      border: 1px solid #e5e5e5;
      padding: 0.5rem;
      border-radius: 0.3rem;
      width: 15rem;
      margin: 0.5rem 0;
      input {
        outline: none;
        border: 0;
        width: 11rem;
      }
      .operate-input-button {
        color: #5296fd;
        font-size: 0.9rem;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .operate-button {
      @include flexbox;
      margin-top: 1rem;
      color: white;
      font-size: 0.9rem;
      font-weight: bold;
      width: 15rem;
      padding: 0.7rem 0;
      background-image: linear-gradient(135deg, #5ce2fc, #4e65ff);
      box-shadow: 5.5px 5.5px 10px rgba(0, 34, 121, 0.15);
      border-radius: 0.3rem;
      cursor: pointer;
    }
  }
}
.sidebar-main {
  width: 230px;
  height: 100%;
  margin-left: 1rem;
  .record-group {
    width: 100%;
    height: 645px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .record-header-group {
      @include flexbox(space-between);
      .record-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .record-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
    .record-item {
      padding: 0.5rem 0;
      border-bottom: 1px solid #ecf0f7;
      width: 100%;
      .record-row {
        @include flexbox(space-between);
        width: 100%;
        font-size: 0.8rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.497);
        margin-top: 0.1rem;
        .record-row-item {
          width: 20%;
          color: #343a40;
        }
        .record-row-arrow {
          margin: 0 1rem;
          font-size: 1rem;
          color: #343a40;
        }
      }
      .queue {
        justify-content: flex-start;
      }
    }
  }
  .activity-group {
    width: 100%;
    height: calc(100% - 662px);
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .activity-header-group {
      @include flexbox(space-between);
      .activity-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .activity-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
  }
}
</style>
