<template>
  <div class="container">
    <div class="wrapper">
      <member-meun />
      <div class="content-main">
        <div class="wallet-group">
          <div class="wallet-title">
            {{ $t('withdraw.title') }}
          </div>
          <div class="wallet-button-row">
            <div class="wallet-button-text">
              {{ $t('withdraw.walletAmount') }}
            </div>
            <div class="wallet-button-item" @click="getUserCredits()">
              <img-svg
                :src="require('@/assets/images/pc/wallet/refresh.svg')"
              ></img-svg>
            </div>
          </div>
          <div class="wallet-operate-group">
            <div class="wallet-operate-row">
              <div class="wallet-funds">
                <div class="wallet-funds-icon">
                  <img-svg
                    :src="
                      require('@/assets/images/pc/wallet/wallet-circle.svg')
                    "
                  ></img-svg>
                </div>
                <div class="wallet-funds-item">
                  <div class="wallet-funds-text">
                    {{ $t('wallet.mainWallet') }}
                  </div>
                  <div class="wallet-funds-amount">
                    $<span>{{ formatNumber(userCredits) }}</span>
                  </div>
                </div>
                <div class="wallet-funds-button">
                  {{ $t('wallet.recycle') }}
                </div>
              </div>
              <div class="wallet-operate-line"></div>
              <div class="wallet-funds">
                <div class="wallet-funds-icon">
                  <img-svg
                    :src="require('@/assets/images/pc/wallet/lock-circle.svg')"
                  ></img-svg>
                </div>
                <div class="wallet-funds-item">
                  <div class="wallet-funds-text">
                    {{ $t('wallet.lockWallet') }}
                  </div>
                  <div class="wallet-funds-amount">
                    $<span>{{ formatNumber(lockCredits) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wallet-provider">
            <div class="wallet-provider-title">
              {{ $t('wallet.walletDetail') }}
            </div>
            <div class="wallet-provider-group">
              <div
                v-for="item in gameProviderRows"
                :key="item.no"
                class="wallet-provider-item"
              >
                <div class="wallet-provider-row">
                  <div class="wallet-provider-name">{{ item.name }}</div>
                  <div v-if="!item.maintain" class="wallet-provider-button">
                    {{ $t('wallet.transferIn') }}
                  </div>
                  <div v-else class="wallet-provider-button maintain">
                    {{ $t('wallet.maintain') }}
                  </div>
                </div>
                <div v-loading="item.loading" class="wallet-provider-amount">
                  $ <span>{{ formatNumber(item.amount) }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-group">
          <div class="card-title">
            <div class="card-title-text">
              {{ $t('wallet.cardManage') }}
            </div>
            <div class="card-title-quantity">
              {{ $t('wallet.cardQuantity') }} {{ bankList.length }}/3
            </div>
          </div>
          <div class="card-line"></div>
          <div class="card-bank-group">
            <div
              v-for="(item, index) in bankList"
              :key="item.no"
              class="card-bank-item"
              @click="selectBank(item)"
            >
              <div class="card-bank-item-row">
                <div class="card-bank-item-name">{{ item.bank_name }}</div>
                <div class="card-bank-item-number">{{ item.card_no }}</div>
                <div class="card-bank-item-date">
                  {{ $t('wallet.bindCardDate') }}
                </div>
              </div>
              <img
                class="card-bank-item-image"
                :src="
                  require(`@/assets/images/pc/wallet/card-bg${index + 1}.png`)
                "
              />
              <div
                v-show="item.no === bankSelected"
                class="card-bank-item-check"
              ></div>
            </div>
            <template v-if="bankList.length < 3">
              <nuxt-link class="card-bank-add" to="/Wallet/AddBankAccount">
                <div class="card-bank-add-icon">
                  <img-svg
                    :src="require('@/assets/images/pc/wallet/plus.svg')"
                  ></img-svg>
                </div>
                <div class="card-bank-add-text">
                  {{ $t('wallet.addBankAccount') }}
                </div>
              </nuxt-link>
            </template>
          </div>
        </div>
        <div class="operate-group">
          <div class="operate-title">{{ $t('withdraw.withdrawAmount') }}</div>
          <div class="operate-tip">{{ $t('withdraw.recycleTip') }}</div>
          <div class="operate-limit-group">
            <div class="operate-limit-item">
              <div class="operate-limit-title">
                {{ $t('withdraw.withdrawCount') }}
              </div>
              <div class="operate-limit-content">
                <div class="operate-limit-amount">{{ limit.free_times }}</div>
                <div class="operate-limit-text">
                  {{ $t('withdraw.dailyCount') }}
                </div>
              </div>
            </div>
            <div class="operate-limit-item">
              <div class="operate-limit-title">
                {{ $t('withdraw.withdrawQuota') }}
              </div>
              <div class="operate-limit-content">
                <div class="operate-limit-amount">
                  {{ formatNumber(limit.daily_max) }}
                </div>
                <div class="operate-limit-text">
                  {{ $t('withdraw.dailyAmount') }}
                </div>
              </div>
            </div>
            <div class="operate-limit-item">
              <div class="operate-limit-title">
                {{ $t('withdraw.withdrawQuota') }}
              </div>
              <div class="operate-limit-content">
                <div class="operate-limit-amount">
                  {{ formatNumber(limit.daily_max) }}
                </div>
                <div class="operate-limit-text">
                  {{ $t('withdraw.onceMaxAmount') }}
                </div>
              </div>
            </div>
          </div>
          <div class="operate-input-row">
            <div
              class="operate-input-item"
              :class="{ invalid: !validate.amount }"
            >
              <ValidationProvider
                ref="amount"
                :rules="{
                  required: true,
                  integer: true,
                  minValue: limitRange.min,
                  maxValue: limitRange.max,
                }"
              >
                <input
                  v-model="withdrawAmount"
                  type="text"
                  :placeholder="$t('withdraw.amountPlaceholder')"
                  @blur="toInteger()"
                />
              </ValidationProvider>
              <div class="operate-input-button" @click="fullAmount()">
                {{ $t('withdraw.all') }}
              </div>
            </div>

            <div class="operate-input-tip">
              <div class="operate-input-icon">
                <img-svg
                  :src="require('@/assets/images/pc/wallet/tip.svg')"
                ></img-svg>
              </div>
              <div class="operate-input-text">
                {{
                  $t('withdraw.withdrawRange', [limitRange.min, limitRange.max])
                }}
              </div>
            </div>
          </div>
          <div class="operate-button" @click="withdraw()">
            {{ $t('withdraw.withdrawNow') }}
          </div>
        </div>
      </div>
      <div class="sidebar-main">
        <div class="record-group">
          <div class="record-header-group">
            <div class="record-header-title">
              {{ $t('wallet.withdrawRecord') }}
            </div>
            <nuxt-link
              class="record-header-button"
              to="/PersonalCenter/TransactionRecord"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
          <div
            v-for="item in withdrawRecordList"
            :key="item.transaction_id"
            class="record-item"
          >
            <div class="record-row">
              <div class="record-row-title">{{ $t('wallet.withdraw') }}</div>
              <div class="record-row-amount">
                {{ formatNumber(parseInt(item.pay_amount)) }}
              </div>
            </div>
          </div>
        </div>
        <div class="activity-group">
          <div class="activity-header-group">
            <div class="activity-header-title">
              {{ $t('wallet.helpCenter') }}
            </div>
            <nuxt-link class="activity-header-button" to="/HelpCenter"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getUserCredits } from '@/api/member.js'
import {
  getLockCredits,
  getWithdrawAccounts,
  getWithdrawAccountsInfo,
  withdraw,
} from '@/api/transaction.js'
import { getGameProvider } from '@/api/game.js'
import { getWithdrawRecord } from '@/api/report.js'
import { getProviderCredits } from '@/api/wallet.js'
import { getDateByTimezone, getISODateString } from '@/assets/scripts/time.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('route/setCurrentPath', to.path)
      vm.histoyRoute = from.path
    })
  },
  data() {
    return {
      userCredits: 0,
      lockCredits: 0,
      withdrawAmount: '',
      gameProviderList: [],
      withdrawRecordList: [],
      bankSelected: '',
      bankList: [],
      limit: {},
      limitRange: {
        min: 100,
        max: 99999,
      },
      validate: {
        amount: true,
      },
    }
  },
  computed: {
    gameProviderRows() {
      if (this.gameProviderList.length > 0) {
        return this.gameProviderList.map((x, index) => {
          const result = {
            no: index,
            id: x.platform_id,
            name: x.platform_name,
            type: x.platform_type,
            amount: '',
            loading: true,
            maintain: x.maintain,
          }
          return result
        })
      } else {
        return []
      }
    },
  },
  created() {
    this.initializate()
  },
  methods: {
    async initializate() {
      await this.getUserCredits()
      await this.getLockCredits()
      await this.getGameProvider()
      this.getWithdrawAccounts()
      this.getWithdrawRecord()
      await this.gameProviderRows.forEach((x) => {
        this.getProviderCredits(x)
      })
    },
    fullAmount() {
      this.withdrawAmount = Math.floor(this.userCredits)
    },
    selectBank(item) {
      this.bankSelected = item.no
    },
    toInteger() {
      if (!this.withdrawAmount) return
      const result = Math.floor(parseInt(this.withdrawAmount) / 100) * 100
      this.withdrawAmount = result
    },
    async getUserCredits() {
      try {
        const res = await getUserCredits()
        const result = res.data
        this.userCredits = parseInt(result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getLockCredits() {
      try {
        const res = await getLockCredits()
        const result = res.data
        this.lockCredits = parseInt(result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getGameProvider() {
      const payload = { device: 'pc' }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameProviderList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getProviderCredits(item) {
      const payload = {
        type: item.type,
        provider: item.id,
      }
      try {
        const res = await getProviderCredits(payload)
        const result = res.data
        this.$set(item, 'amount', parseInt(result.local))
      } catch (err) {
        item.maintain = true
        this.$set(item, 'amount', 0)
      } finally {
        this.$set(item, 'loading', false)
      }
    },
    async getWithdrawAccounts() {
      try {
        const res = await getWithdrawAccounts()
        const result = res.data
        this.bankList = [...result]
        if (this.bankList.length > 0) {
          this.bankSelected = this.bankList[0].no
          this.getWithdrawAccountsInfo()
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getWithdrawAccountsInfo() {
      try {
        const res = await getWithdrawAccountsInfo()
        const result = res.data
        this.limit = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async validateForm() {
      const result = await Promise.all([this.$refs.amount.validate()])
      this.validate.amount = result[0].valid

      const isAllValid = result.every((x) => x.valid === true)
      return isAllValid
    },
    async withdraw() {
      const validResult = await this.validateForm()
      if (validResult !== true) return
      const payload = {
        no: parseInt(this.bankSelected),
        amount: parseInt(this.withdrawAmount),
      }
      try {
        await withdraw(payload)
        this.reminderStatus = true
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getWithdrawRecord() {
      const payload = {
        startTime: getISODateString(
          getDateByTimezone(new Date(), { isStartOfDate: true })
        ),
        endTime: getISODateString(
          getDateByTimezone(new Date(), { isEndOfDate: true })
        ),
        page: 1,
        pageSize: 1000,
      }
      try {
        const res = await getWithdrawRecord(payload)
        const result = res.data
        const array = result.reports.filter((x, index) => index < 10)
        this.withdrawRecordList = array
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  background-color: #eff0f6;
  height: 1685px;
  padding-top: 5rem;
  .wrapper {
    @include flexbox(flex-start);
    width: 1260px;
    height: 97.8%;
    margin: 1rem auto;
  }
}
.content-main {
  width: 800px;
  height: 100%;
  .wallet-group {
    width: 100%;
    min-height: 920px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .wallet-title {
      font-size: 1.2rem;
    }
    .wallet-button-row {
      @include flexbox(flex-start);
      margin-top: 0.5rem;
      .wallet-button-text {
        color: rgba(0, 0, 0, 0.497);
        font-size: 0.9rem;
        font-weight: bold;
      }
      .wallet-button-item {
        @include flexbox;
        @include iconSample(1.5rem, 1.5rem);
        margin-left: 0.5rem;
        border: 1px solid #ffffff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(to right, #f6f6f6, #ffffff);
        cursor: pointer;
      }
    }
    .wallet-operate-group {
      @include flexbox(space-between);
      margin-top: 1rem;
      .wallet-operate-row {
        @include flexbox(space-between);
        border: 1px solid #e5e5e5;
        border-radius: 0.3rem;
        padding: 1rem;
        height: 100px;
        width: 100%;
        .wallet-funds {
          @include flexbox(flex-start, flex-start);
          width: 100%;
          .wallet-funds-icon {
            width: 1.2rem;
            margin: 0 2rem;
          }
          .wallet-funds-item {
            margin-left: 1rem;
            width: 10rem;
            .wallet-funds-text {
              color: rgba(0, 0, 0, 0.497);
              font-size: 0.9rem;
              font-weight: bold;
            }
            .wallet-funds-amount {
              font-weight: 500;
              span {
                font-weight: bold;
                font-size: 1.5rem;
              }
            }
          }
          .wallet-funds-button {
            color: #5296fd;
            font-size: 0.9rem;
            font-weight: bold;
            cursor: pointer;
          }
        }
        .wallet-operate-line {
          border-left: 1px solid #e5e5e5;
          height: 100%;
          width: 1px;
          margin: 0 1rem;
        }
        .wallet-operate-item {
          margin: 0 0.5rem;
          text-decoration: none;
          .wallet-operate-icon {
            @include flexbox;
            @include iconSample(
              3rem,
              3rem,
              linear-gradient(to bottom, #8ad1fd, #458eff)
            );
            color: white;
          }
          .wallet-operate-text {
            margin-top: 0.3rem;
            text-align: center;
            color: #343a40;
            font-weight: bold;
            font-size: 1.1rem;
          }
          .hoverImage {
            transform: scale(1.1);
          }
          .hoverText {
            color: #007bff;
          }
        }
      }
    }
    .wallet-provider {
      margin-top: 1rem;
      .wallet-provider-title {
        font-weight: 600;
      }
      .wallet-provider-group {
        @include flexbox(flex-start, flex-start, wrap);
        margin-top: 0.5rem;
        .wallet-provider-item {
          width: 24.1%;
          min-height: 5.5rem;
          border: 1px solid #e5e5e5;
          border-radius: 0.3rem;
          margin: 0 0.5rem 0.5rem 0;
          padding: 0.5rem;
          .wallet-provider-row {
            @include flexbox(space-between);
            .wallet-provider-name {
              color: rgba(0, 0, 0, 0.497);
              font-size: 0.9rem;
            }
            .wallet-provider-button {
              font-size: 0.8rem;
              font-weight: bold;
              background: linear-gradient(135deg, #8ad1fd, #458eff);
              border-radius: 1rem;
              padding: 0.2rem 0.5rem;
              color: white;
              cursor: pointer;
            }
            .maintain {
              background: #6c757d;
              opacity: 0.65;
              cursor: default;
            }
          }
          .wallet-provider-amount {
            color: #343a40;
            margin-top: 0.5rem;
            span {
              font-size: 1.2rem;
              font-weight: bold;
            }
          }
        }
        .wallet-provider-item:nth-child(4n) {
          margin: 0 0 0.5rem 0;
        }
      }
    }
  }
  .card-group {
    width: 100%;
    height: 265px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .card-title {
      @include flexbox(space-between);
      .card-title-text {
        font-size: 1.2rem;
      }
      .card-title-quantity {
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.497);
      }
    }
    .card-line {
      width: 100%;
      height: 5px;
      border-top: 1px solid #e5e5e5;
      margin: 0.5rem 0 1rem;
    }
    .card-bank-group {
      @include flexbox(flex-start);
      .card-bank-item {
        width: 32%;
        margin-left: 1rem;
        cursor: pointer;
        .card-bank-item-row {
          position: absolute;
          padding: 1rem;
          .card-bank-item-name {
            font-weight: bold;
          }
          .card-bank-item-number {
            margin-top: 0.5rem;
            font-size: 1.1rem;
            font-weight: 500;
          }
          .card-bank-item-date {
            margin-top: 3.5rem;
            font-size: 0.8rem;
            color: #343a40;
          }
        }
        .card-bank-item-image {
          width: 100%;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          border-radius: 0.5rem;
        }
        .card-bank-item-check {
          position: absolute;
          margin: -9.5rem 0 0 12.5rem;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          border-radius: 50%;
          background: no-repeat 50% / 50% 50%;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
          background-color: #4a7be2;
        }
      }
      .card-bank-item:nth-child(1) {
        margin-left: 0;
      }
      .card-bank-add {
        width: 32%;
        height: 10rem;
        margin-left: 1rem;
        text-decoration: none;
        background-color: #f7f6fb;
        color: black;
        border-radius: 0.5rem;
        &:hover {
          background-color: #e7e6ef;
        }
        .card-bank-add-icon {
          @include flexbox;
          margin-top: 4rem;
        }
        .card-bank-add-text {
          text-align: center;
          font-weight: bold;
          font-size: 0.9rem;
          color: #343a40;
          margin-top: 0.5rem;
        }
      }
    }
  }
  .operate-group {
    width: 100%;
    height: 350px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .operate-title {
      font-size: 1.2rem;
    }
    .operate-tip {
      color: rgba(0, 0, 0, 0.497);
      font-weight: bold;
      font-size: 0.9rem;
      margin-top: 0.5rem;
    }
    .operate-limit-group {
      @include flexbox(space-between);
      margin: 1rem 0;
      .operate-limit-item {
        width: 32%;
        margin-left: 0.5rem;
        border: 1px solid #e5e5e5;
        border-radius: 0.3rem;
        height: 8rem;
        .operate-limit-title {
          border-radius: 0.3rem 0.3rem 0 0;
          background-color: #e5e5e5;
          padding: 0.5rem;
          font-size: 0.9rem;
          font-weight: bold;
          color: #343a40;
        }
        .operate-limit-content {
          text-align: center;
          .operate-limit-amount {
            margin-top: 1rem;
            font-weight: bold;
            font-size: 1.5rem;
          }
          .operate-limit-text {
            margin-top: 0.3rem;
            font-size: 0.9rem;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.497);
          }
        }
      }
      .operate-limit-item:nth-child(1) {
        margin-left: 0;
      }
    }
    .operate-input-row {
      @include flexbox(flex-start);
      .operate-input-item {
        @include flexbox(flex-start);
        border: 1px solid #e5e5e5;
        border-radius: 0.3rem;
        padding: 0.5rem;
        width: 15rem;
        font-weight: bold;
        input {
          outline: none;
          border: 0;
          width: 11rem;
        }
        .operate-input-button {
          margin-left: 0.5rem;
          color: #5296fd;
          font-size: 0.9rem;
          font-weight: bold;
          cursor: pointer;
        }
      }
      .invalid {
        border: 1px solid #dc3545;
      }
      .operate-input-tip {
        @include flexbox(flex-start);
        margin-left: 1rem;
        .operate-input-icon {
          margin-right: 0.3rem;
        }
        .operate-input-text {
          font-size: 0.9rem;
          font-weight: bold;
          color: #343a40;
        }
      }
    }
    .operate-button {
      margin-top: 1rem;
      background: linear-gradient(135deg, #5ce2fc, #4e65ff);
      color: white;
      border-radius: 0.3rem;
      width: 15rem;
      padding: 0.5rem 0;
      box-shadow: 5.5px 5.5px 10px rgba(0, 34, 121, 0.15);
      text-align: center;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
.sidebar-main {
  width: 230px;
  height: 100%;
  margin-left: 1rem;
  .record-group {
    width: 100%;
    height: 425px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .record-header-group {
      @include flexbox(space-between);
      .record-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .record-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
    .record-item {
      padding: 0.5rem 0;
      border-bottom: 1px solid #ecf0f7;
      width: 100%;
      .record-row {
        @include flexbox(space-between);
        width: 100%;
        font-size: 0.8rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.497);
      }
    }
  }
  .activity-group {
    width: 100%;
    height: calc(100% - 440px);
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .activity-header-group {
      @include flexbox(space-between);
      .activity-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .activity-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
  }
}
</style>
