<template>
  <div class="list-item for-num">
    <span class="num-inner d-block"
      ><span class="num-inner-inner d-block"></span
    ></span>
  </div>
</template>
<script>
export default {
  mounted() {
    this.randomize()
    setInterval(() => {
      this.randomize()
    }, 3000)
  },
  methods: {
    randomize() {
      const num = Math.floor(Math.random() * Math.floor(9))
      const offsetY = 0 - 90 * (9 - num)
      this.$el.querySelector('.num-inner-inner').style.transform =
        'translateY(' + offsetY + 'px)'
    },
  },
}
</script>
<style lang="scss" scoped>
.for-num {
  position: relative;
  padding-bottom: 4.5px;
  .num-inner {
    position: relative;
    overflow: hidden;
    z-index: 2;
    height: 93px;
    border-radius: 11.5px;
    .num-inner-inner {
      position: relative;
      height: 900px;
      background: url('~assets/images/pc/game/egame/num.png');
      background-position-x: center;
      transition: transform 0.75s ease;
    }
  }
}
.d-block {
  display: block;
}
</style>
