<template>
  <div class="footer">
    <div class="footer-top">
      <div class="wrapper">
        <div class="footer-top-group">
          <div v-for="i in 12" :key="i" class="footer-top-item">
            <img :src="require(`@/assets/images/pc/footer/logo${i}.png`)" />
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="footer-bottom-tip">
          {{ $t('footer.tip') }}
        </div>
        <div class="footer-bottom-group">
          <div
            v-for="item in certificationList"
            :key="item.id"
            class="footer-bottom-item"
            @mouseover="hoverEffect(item, true)"
            @mouseleave="hoverEffect(item, false)"
          >
            <div class="footer-bottom-image">
              <img
                v-if="certificationHover === item.id"
                :src="
                  require(`@/assets/images/pc/footer/certification${item.id}-h.png`)
                "
              />
              <img
                v-else
                :src="
                  require(`@/assets/images/pc/footer/certification${item.id}.png`)
                "
              />
            </div>
            <div
              class="footer-bottom-name"
              :class="{ hover: certificationHover === item.id }"
            >
              {{ item.name }}
            </div>
          </div>
        </div>
        <div class="footer-bottom-link-group">
          <nuxt-link
            v-for="item in linkList"
            :key="item.id"
            class="footer-bottom-link-item"
            :to="item.path"
            >{{ item.name }}</nuxt-link
          >
        </div>
        <div class="footer-bottom-copyRight">
          ©2020 VWIN GAME. All Rights Reserves.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      certificationHover: '',
      certificationList: [
        { id: 1, name: this.$t('footer.certification') },
        { id: 2, name: this.$t('footer.committee') },
        { id: 3, name: this.$t('footer.authenticate') },
        { id: 4, name: this.$t('footer.license') },
      ],
      linkList: [
        { id: 1, name: this.$t('footer.help'), path: '/' },
        { id: 2, name: this.$t('footer.responsibility'), path: '/' },
        { id: 3, name: this.$t('footer.privacy'), path: '/' },
        { id: 4, name: this.$t('footer.terms'), path: '/' },
        { id: 5, name: this.$t('footer.contact'), path: '/' },
        { id: 6, name: this.$t('footer.join'), path: '/' },
      ],
    }
  },
  methods: {
    hoverEffect(item, status) {
      this.certificationHover = status ? item.id : ''
    },
  },
}
</script>
<style lang="scss" scoped>
.footer {
  width: 100%;
  height: $footer-height;
  background: #333333;
  .wrapper {
    width: 1260px;
    height: 100%;
    margin: 0 auto;
  }
}
.footer-top {
  height: 5rem;
  background-color: #363636;
  border-bottom: 1px solid #4e4e4e;
  .footer-top-group {
    @include flexbox(space-between);
    height: 100%;
    .footer-top-item {
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.footer-bottom-tip {
  width: 72%;
  margin: 2rem auto;
  color: #808080;
  text-align: center;
  font-weight: 600;
  line-height: 1.5rem;
}
.footer-bottom-group {
  @include flexbox(space-between);
  width: 80%;
  margin: 2rem auto;
  .footer-bottom-item {
    .footer-bottom-image {
      @include flexbox;
    }
    .footer-bottom-name {
      margin-top: 0.5rem;
      text-align: center;
      font-size: 0.9rem;
      font-weight: 600;
      color: #808080;
    }
    .hover {
      color: white;
    }
  }
}
.footer-bottom-link-group {
  @include flexbox(space-between);
  width: 60%;
  margin: 3rem auto 2rem;
  .footer-bottom-link-item {
    padding-left: 2rem;
    text-decoration: none;
    color: white;
    border-left: 1px solid white;
  }
  .footer-bottom-link-item:nth-child(1) {
    border-left: 0;
  }
}
.footer-bottom-copyRight {
  color: #808080;
  text-align: center;
  font-size: 1rem;
}
</style>
