<template>
  <div class="header">
    <div class="wrapper">
      <nuxt-link class="header-logo" to="/">
        <img-svg :src="require('@/assets/images/pc/header/logo.svg')"></img-svg>
      </nuxt-link>
      <div class="header-menu-main">
        <div
          v-for="item in menuList"
          :key="item.id"
          class="header-menu-item"
          @mouseover="item.type ? openGameNav(item) : ''"
          @mouseleave="item.type ? closeGameNav() : ''"
        >
          <nuxt-link class="header-menu-link" :to="item.path">{{
            item.name
          }}</nuxt-link>
        </div>
      </div>
      <div class="header-operate-main">
        <template v-if="isLogin">
          <nuxt-link
            v-for="item in transactionList"
            :key="item.id"
            :to="item.path"
            class="header-transaction-item"
            ><div class="header-transaction-icon">
              <img-svg
                :src="require(`@/assets/images/pc/header/${item.src}`)"
              ></img-svg>
            </div>
            <div class="header-transaction-text">
              {{ item.name }}
            </div></nuxt-link
          >
          <div class="header-member-photo">
            <img src="@/assets/images/pc/header/avatar.png" />
          </div>
          <div
            class="header-member-area"
            @mouseover="openOperateMenu()"
            @mouseleave="closeOperateMenu()"
          >
            <div class="header-member-row">
              <div class="header-member-user">{{ memberInfo.account }}</div>
              <div class="header-member-vip">VIP {{ userVIPData }}</div>
            </div>
            <div class="header-member-row">
              <div class="header-member-funds">$ {{ userCredits }}</div>
              <div class="header-member-icon">
                <img-svg
                  :src="require('@/assets/images/pc/header/chevron-down.svg')"
                ></img-svg>
              </div>
            </div>
            <div v-show="operateMenuStatus" class="header-member-group">
              <nuxt-link
                v-for="item in linkList"
                :key="item.id"
                class="header-member-item"
                :to="item.path"
              >
                <div class="header-member-item-icon">
                  <img-svg
                    :src="require(`@/assets/images/pc/header/${item.src}`)"
                  ></img-svg>
                </div>
                <div class="header-member-item-name">{{ item.name }}</div>
                <div v-show="item.id === 5" class="header-member-item-tip">
                  46
                </div>
              </nuxt-link>
              <div class="header-member-item-button" @click="logout()">
                {{ $t('header.logout') }}
              </div>
            </div>
          </div>
        </template>
        <template v-else>
          <nuxt-link class="header-link-item" to="Login">
            <div class="header-link-icon">
              <img-svg
                :src="require('@/assets/images/pc/header/personal.svg')"
              ></img-svg>
            </div>
            <div class="header-link-text">{{ $t('header.login') }}</div>
          </nuxt-link>
          |
          <nuxt-link class="header-link-item" to="Register">
            <div class="header-link-text">{{ $t('header.register') }}</div>
          </nuxt-link>
        </template>
      </div>
      <div
        class="header-lang-main"
        @mouseover="openLangMenu()"
        @mouseleave="closeLangMenu()"
      >
        <div class="header-lang-image">
          <img
            :src="require(`@/assets/images/pc/header/${currentLanguage}.png`)"
          />
        </div>
        <div class="header-lang-icon">
          <img-svg
            :src="require('@/assets/images/pc/header/arrow-down.svg')"
          ></img-svg>
        </div>
        <div v-show="langMenuStatus" class="header-lang-menu">
          <div
            v-for="item in languageList"
            :key="item.id"
            class="header-lang-item"
            @click="setLanguage(item)"
          >
            <div class="header-lang-item-icon">
              <img :src="require(`@/assets/images/pc/header/${item.id}.png`)" />
            </div>
            <div class="header-lang-item-name">{{ item.name }}</div>
          </div>
        </div>
      </div>
      <div
        v-show="gameNavStatus"
        class="header-nav-main"
        @mouseover="openGameNav()"
        @mouseleave="closeGameNav()"
      >
        <div class="header-nav-wrapper">
          <div class="header-nav-group">
            <div
              v-for="item in gameNavList"
              :key="item.platform_id"
              class="header-nav-item"
            >
              {{ item.platform_name }}
            </div>
          </div>
          <div class="header-nav-info">
            <div class="header-nav-name">{{ gameInfoData.title }}</div>
            <div class="header-nav-text">{{ gameInfoData.text }}</div>
            <div class="header-nav-number">
              {{ gameInfoData.number }}<span v-show="ratioTextStatus">%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { getGameProvider } from '@/api/game.js'
import { getUserCredits, userLogout } from '@/api/member.js'
import { getLanguageList } from '@/api/language.js'
import { getVIPInfo } from '@/api/vip.js'
export default {
  data() {
    return {
      menuListSelected: '',
      menuList: [
        { id: 1, type: '', name: this.$t('header.index'), path: '/' },
        { id: 2, type: 'sport', name: this.$t('header.sport'), path: '/Sport' },
        { id: 3, type: 'live', name: this.$t('header.live'), path: '/Live' },
        { id: 4, type: 'lotto', name: this.$t('header.lotto'), path: '/Lotto' },
        { id: 5, type: 'egame', name: this.$t('header.egame'), path: '/EGame' },
        { id: 6, type: 'poker', name: this.$t('header.poker'), path: '/Poker' },
        {
          id: 7,
          type: 'esport',
          name: this.$t('header.esport'),
          path: '/ESport',
        },
        { id: 8, type: '', name: this.$t('header.cooperation'), path: '/' },
        { id: 9, type: '', name: this.$t('header.activity'), path: '/' },
      ],
      transactionList: [
        {
          id: 1,
          name: this.$t('header.deposit'),
          src: 'deposit.svg',
          path: '/Wallet/Deposit',
        },
        {
          id: 2,
          name: this.$t('header.transfer'),
          src: 'transfer.svg',
          path: '/Wallet/Transfer',
        },
        {
          id: 3,
          name: this.$t('header.withdraw'),
          src: 'withdraw.svg',
          path: '/Wallet/Withdraw',
        },
      ],
      linkList: [
        {
          id: 1,
          name: this.$t('header.personalInfo'),
          src: 'personalInfo.svg',
          path: '/PersonalCenter/PersonalInfo',
        },
        {
          id: 2,
          name: this.$t('header.VIPPrivilege'),
          src: 'VIPPrivilege.svg',
          path: '/',
        },
        {
          id: 3,
          name: this.$t('header.bettingRecord'),
          src: 'bettingRecord.svg',
          path: '/PersonalCenter/BettingRecord',
        },
        {
          id: 4,
          name: this.$t('header.transactionRecord'),
          src: 'transactionRecord.svg',
          path: '/PersonalCenter/TransactionRecord',
        },
        {
          id: 5,
          name: this.$t('header.messageCenter'),
          src: 'messageCenter.svg',
          path: '/',
        },
      ],
      gameProviderList: [],
      gameNavList: [],
      gameNavStatus: false,
      gameInfoData: {
        title: '',
        text: '',
        number: '',
      },
      ratioTextStatus: false,
      langMenuStatus: false,
      operateMenuStatus: false,
      currentLanguage: this.$i18n.locale,
      languageList: [],
      userCredits: 0,
      userVIPData: {},
    }
  },
  computed: {
    ...mapState('login', ['isLogin', 'memberInfo']),
  },
  created() {
    this.initialize()
  },
  methods: {
    initialize() {
      if (this.isLogin) {
        this.getVIPInfo()
        this.getUserCredits()
      }
      this.getGameProvider()
      this.getLanguageList()
    },
    async getGameProvider() {
      const payload = { device: 'pc' }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameProviderList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    openGameNav(item) {
      this.gameNavStatus = true
      if (item) {
        const array = this.gameProviderList.filter(
          (x) => x.platform_type === item.type
        )
        this.gameNavList = [...array]
        switch (item.type) {
          case 'sport': {
            const result = {
              title: 'SPORTS EVENTS',
              text: '返水最高可達',
              number: '1.18',
            }
            this.gameInfoData = result
            this.ratioTextStatus = true
            break
          }
          case 'live': {
            const result = {
              title: 'LIVE CASINO',
              text: '返水最高可達',
              number: '1.00',
            }
            this.gameInfoData = result
            this.ratioTextStatus = true
            break
          }
          case 'lotto': {
            const result = {
              title: 'LOTTERY GAMES',
              text: '首存即送',
              number: '388',
            }
            this.gameInfoData = result
            this.ratioTextStatus = false
            break
          }
          case 'egame': {
            const result = {
              title: 'SLOT GAMES',
              text: '返水最高可達',
              number: '1.20',
            }
            this.gameInfoData = result
            this.ratioTextStatus = true
            break
          }
          case 'poker': {
            const result = {
              title: 'CHESS & CARD GAMES',
              text: '救援金天天領 最高',
              number: '15,888',
            }
            this.gameInfoData = result
            this.ratioTextStatus = false
            break
          }
          case 'esport': {
            const result = {
              title: 'FISHING GAMEING',
              text: '最高返水',
              number: '1.20',
            }
            this.gameInfoData = result
            this.ratioTextStatus = true
            break
          }
          default:
            break
        }
      }
    },
    closeGameNav() {
      this.gameNavStatus = false
    },
    openOperateMenu(item) {
      this.operateMenuStatus = true
    },
    closeOperateMenu() {
      this.operateMenuStatus = false
    },
    openLangMenu(item) {
      this.langMenuStatus = true
    },
    closeLangMenu() {
      this.langMenuStatus = false
    },
    async getUserCredits() {
      try {
        const res = await getUserCredits()
        const result = res.data
        this.userCredits = result
        await this.$store.dispatch('login/setUserCredits', result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getVIPInfo() {
      try {
        const res = await getVIPInfo()
        const result = res.data
        this.userVIPData = result
        await this.$store.dispatch('login/setVipInfo', result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getLanguageList() {
      try {
        const res = await getLanguageList()
        const result = res.data

        const entries = Object.entries(result)
        this.languageList = entries.map((x) => {
          const result = {
            id: x[0],
            name: x[1],
          }
          return result
        })
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    setLanguage(item) {
      this.$i18n.setLocale(item.id)
      window.location.reload(true)
    },
    async logout() {
      try {
        await userLogout()
        await this.$store.dispatch('login/removeLoginStatus')
        await this.$store.dispatch('login/removetMemberInfo')
        this.$router.push({ name: 'Login' })
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  background: linear-gradient(to right, #4e65ff, #74e7fb 68%, #688ffc);
  z-index: 3;
  .wrapper {
    background: url('~assets/images/pc/header/bg.png') no-repeat;
    @include flexbox(flex-start);
    width: 1260px;
    height: 100%;
    margin: 0 auto;
  }
}
.header-logo {
  text-decoration: none;
}
.header-menu-main {
  @include flexbox(flex-start);
  width: calc(100% - 36rem);
  margin-left: 2rem;
  .header-menu-item {
    @include flexbox(flex-start, center);
    height: 5rem;
    .header-menu-link {
      color: white;
      text-decoration: none;
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      font-weight: 600;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 2rem;
      }
    }
  }
}
.header-operate-main {
  @include flexbox(flex-end);
  color: white;
  width: calc(100% - 58rem);
  .header-transaction-item {
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-right: 1rem;
    .header-transaction-icon {
      @include flexbox;
      @include iconSample(
        2rem,
        2rem,
        linear-gradient(180deg, #94cefc, #678afc)
      );
    }
    .header-transaction-text {
      margin-top: 0.2rem;
      font-size: 0.9rem;
    }
  }
  .header-member-photo img {
    @include flexbox;
    width: 2.5rem;
    border: 1px solid white;
    border-radius: 1.25rem;
    margin-right: 0.5rem;
  }
  .header-member-area {
    padding: 1rem 0;
    .header-member-row {
      @include flexbox(flex-start);
      font-weight: 500;
      .header-member-user {
        margin-right: 0.5rem;
      }
      .header-member-vip {
        padding: 0.1rem 0.5rem;
        color: white;
        border-radius: 0.3rem;
        letter-spacing: -1px;
        background-image: linear-gradient(to bottom, #7fd2ff, #6ac5ff);
      }
      .header-member-icon {
        margin: -0.1rem 0 0 0.5rem;
        cursor: pointer;
      }
    }
  }
  .header-member-group {
    position: absolute;
    width: 15rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 3.5px 27.5px rgba(0, 0, 0, 0.25);
    margin-left: -4rem;
    top: 4.5rem;
    z-index: 1;
    color: black;
    .header-member-item {
      @include flexbox(flex-start);
      margin-top: 0.5rem;
      padding: 0.5rem;
      text-decoration: none;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 2em;
      }
      .header-member-item-icon {
        @include flexbox;
        @include iconSample(
          2rem,
          2rem,
          linear-gradient(to right, #fafafa, #f9f9f9)
        );
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
        margin-right: 1.5rem;
      }
      .header-member-item-name {
        font-weight: 600;
        margin-right: 1.5rem;
        color: rgba(0, 0, 0, 0.7);
      }
      .header-member-item-tip {
        @include flexbox;
        background: linear-gradient(to bottom, #fa6b88, #ff88a0);
        padding: 0 0.4rem;
        border-radius: 1rem;
        color: white;
        font-size: 0.7rem;
        margin-top: 0.2rem;
      }
    }
    .header-member-item:nth-child(1) {
      margin-top: 0;
    }
  }
  .header-member-item-button {
    @include flexbox;
    border: 1px solid rgba(103, 138, 252, 0.5);
    color: #678afc;
    font-weight: bold;
    border-radius: 1.5rem;
    padding: 0.5rem 0;
    margin-top: 1rem;
    cursor: pointer;
    &:hover {
      background-color: #678afc;
      color: white;
    }
  }
  .header-link-item {
    @include flexbox;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0 1rem;
    .header-link-icon {
      width: 1rem;
      margin: 0.5rem 0.5rem 0 0;
    }
  }
}
.header-lang-main {
  @include flexbox;
  margin-left: 2rem;
  padding: 1rem 0;
  .header-lang-image {
    cursor: pointer;
  }
  .header-lang-icon {
    @include flexbox;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  .header-lang-menu {
    position: absolute;
    width: 10rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 3.5px 25px rgba(0, 0, 0, 0.2);
    margin-right: 7rem;
    top: 4rem;
    z-index: 1;
    .header-lang-item {
      @include flexbox(flex-start);
      margin-top: 0.5rem;
      .header-lang-item-icon {
        margin-right: 0.5rem;
        cursor: pointer;
        img {
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
          border-radius: 1rem;
        }
      }
      .header-lang-item-name {
        @include flexbox;
        cursor: pointer;
        &:hover {
          color: #678afc;
        }
      }
    }
    .header-lang-item:nth-child(1) {
      margin-top: 0;
    }
  }
}
.header-nav-main {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 19rem;
  background-color: white;
  box-shadow: 0 3.5px 25px rgba(0, 0, 0, 0.2);
  z-index: 3;
  .header-nav-wrapper {
    @include flexbox(flex-start);
    width: 1260px;
    height: 100%;
    margin: 0 auto;
    .header-nav-group {
      @include flexbox(flex-start);
      width: calc(100% - 10rem);
      height: 100%;
      .header-nav-item {
        font-size: 1.5rem;
        font-weight: bold;
        color: rgba(90, 90, 90, 0.9);
      }
    }
    .header-nav-info {
      width: 10rem;
      height: 100%;
      .header-nav-name {
        text-align: right;
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(to bottom, #bde7ff 30%, #678afc);
        font-size: 1.7rem;
        font-weight: bold;
        line-height: 1.6rem;
        margin-top: 3.5rem;
      }
      .header-nav-text {
        text-align: right;
        margin-top: 1rem;
        font-weight: bold;
      }
      .header-nav-number {
        text-align: right;
        color: #678afc;
        margin-top: 0.5rem;
        font-size: 3rem;
        font-weight: bold;
        span {
          font-size: 1.5rem;
          font-weight: normal;
        }
      }
    }
  }
}
</style>
