<template>
  <div class="menu-main">
    <div class="personal-group">
      <div
        class="personal-photo"
        @mouseover="photoHover = true"
        @mouseleave="photoHover = false"
      >
        <img src="@/assets/images/pc/personalCenter/avatar.png" />
        <!-- <div v-if="photoHover" class="personal-photo-hover">
          <img-svg
            :src="require('@/assets/images/pc/personalCenter/camera.svg')"
          ></img-svg>
        </div> -->
      </div>
      <div class="personal-member">
        <div class="personal-member-user">{{ memberInfo.account }}</div>
        <div class="personal-member-vip">VIP {{ vipInfo }}</div>
      </div>
      <div class="personal-prompt">
        {{ $t('personalCenter.joinDays', [joinDays]) }}
      </div>
    </div>
    <div class="transaction-group">
      <nuxt-link
        v-for="item in transactionList"
        :key="item.id"
        class="transaction-item"
        :to="item.path"
        @mouseover.native="hoverEffect(item, true)"
        @mouseleave.native="hoverEffect(item, false)"
      >
        <div
          class="transaction-icon"
          :class="{
            hoverImage:
              transactionHover === item.id || currentPath === item.path,
          }"
        >
          <img-svg
            :src="require(`@/assets/images/pc/personalCenter/${item.src}`)"
          ></img-svg>
        </div>
        <div
          class="transaction-text"
          :class="{
            hoverText:
              transactionHover === item.id || currentPath === item.path,
          }"
        >
          {{ item.name }}
        </div>
      </nuxt-link>
    </div>
    <div class="link-group">
      <nuxt-link
        v-for="item in linkList"
        :key="item.id"
        :class="currentPath === item.path ? 'link-item-selected' : 'link-item'"
        :to="item.path"
      >
        <div class="link-icon">
          <img-svg
            :src="require(`@/assets/images/pc/personalCenter/${item.src}`)"
          ></img-svg>
        </div>
        <div class="link-text">{{ item.name }}</div>
        <div v-show="item.id === 7" class="link-tip">
          46
        </div>
      </nuxt-link>
    </div>
    <template v-if="photoStatus">
      <div class="photo-mask">
        <div class="photo-main">
          <div class="photo-header">
            <div class="photo-header-title">
              {{ $t('personalMeun.myAvatar') }}
            </div>
            <div class="photo-header-button" @click="photoStatus = false">
              <img-svg
                :src="require('@/assets/images/pc/personalCenter/cancel.svg')"
              ></img-svg>
            </div>
          </div>
          <div class="photo-content">
            <div class="photo-image-main">
              <img
                :src="
                  require(`@/assets/images/pc/personalCenter/avatar${selectedAvatar}.png`)
                "
              />
            </div>
            <div class="photo-image-group">
              <div
                v-for="i in 11"
                :key="i"
                class="photo-image-item"
                :class="{ selected: selectedAvatar === i }"
                @click="selectedAvatar = i"
              >
                <img
                  :src="
                    require(`@/assets/images/pc/personalCenter/avatar${i}.png`)
                  "
                />
              </div>
              <div class="photo-image-add">
                <img-svg
                  :src="require('@/assets/images/pc/personalCenter/camera.svg')"
                ></img-svg>
              </div>
            </div>
          </div>
          <div class="photo-button">
            {{ $t('personalMeun.complete') }}
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data() {
    return {
      photoHover: false,
      transactionHover: '',
      transactionList: [
        {
          id: 1,
          name: this.$t('personalMeun.deposit'),
          src: 'deposit.svg',
          path: '/Wallet/Deposit',
        },
        {
          id: 2,
          name: this.$t('personalMeun.transfer'),
          src: 'transfer.svg',
          path: '/Wallet/Transfer',
        },
        {
          id: 3,
          name: this.$t('personalMeun.withdraw'),
          src: 'withdraw.svg',
          path: '/Wallet/Withdraw',
        },
      ],
      linkList: [
        {
          id: 1,
          name: this.$t('personalMeun.personalInfo'),
          src: 'personalInfo.svg',
          path: '/PersonalCenter/PersonalInfo',
        },
        {
          id: 2,
          name: this.$t('personalMeun.VIPPrivilege'),
          src: 'VIPPrivilege.svg',
          path: '/PersonalCenter/VIPPrivilege',
        },
        {
          id: 3,
          name: this.$t('personalMeun.wallet'),
          src: 'wallet.svg',
          path: '/Wallet',
        },
        {
          id: 4,
          name: this.$t('personalMeun.transactionRecord'),
          src: 'transactionRecord.svg',
          path: '/PersonalCenter/TransactionRecord',
        },
        {
          id: 5,
          name: this.$t('personalMeun.bettingRecord'),
          src: 'bettingRecord.svg',
          path: '/PersonalCenter/BettingRecord',
        },
        {
          id: 6,
          name: this.$t('personalMeun.rewardRecord'),
          src: 'rewardRecord.svg',
          path: '/PersonalCenter/RewardRecord',
        },
        {
          id: 7,
          name: this.$t('personalMeun.messageCenter'),
          src: 'messageCenter.svg',
          path: '/MessageCenter',
        },
        {
          id: 8,
          name: this.$t('personalMeun.feedback'),
          src: 'feedback.svg',
          path: '/',
        },
      ],
      photoStatus: false,
      selectedAvatar: '-lg',
    }
  },
  computed: {
    ...mapState('login', ['memberInfo', 'vipInfo']),
    ...mapState('route', ['currentPath']),
    joinDays() {
      return this.computeOfDays(this.memberInfo.add_time) || 0
    },
  },
  methods: {
    computeOfDays(time) {
      const result =
        parseInt((new Date().getTime() - Date.parse(time)) / 86400000) + 1
      return result
    },
    hoverEffect(item, status) {
      this.transactionHover = status ? item.id : ''
    },
  },
}
</script>
<style lang="scss" scoped>
.menu-main {
  width: 230px;
  height: 100%;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
  margin-right: 1rem;
  .personal-group {
    padding: 1.5rem;
    text-align: center;
    .personal-photo {
      margin: 0 auto;
      width: 4.4rem;
      height: 4.4rem;
      border-radius: 2.2rem;
      // cursor: pointer;
      .personal-photo-hover {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 2.2rem;
        margin-top: -4.6rem;
      }
    }
    .personal-member {
      @include flexbox;
      font-weight: 500;
      margin-top: 0.1rem;
      .personal-member-user {
        margin-right: 0.5rem;
      }
      .personal-member-vip {
        padding: 0.1rem 0.5rem;
        color: white;
        border-radius: 0.3rem;
        font-size: 0.8rem;
        background-image: linear-gradient(to bottom, #7cbffd, #8dd0fe);
      }
    }
    .personal-prompt {
      margin-top: 0.3rem;
      font-size: 0.85rem;
      color: gray;
    }
  }
  .transaction-group {
    @include flexbox(space-around);
    padding: 0 1rem;
    .transaction-item {
      text-decoration: none;
      .transaction-icon {
        @include flexbox;
        @include iconSample(
          3.3rem,
          3.3rem,
          linear-gradient(to right, #fafafa, #f9f9f9)
        );
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
        border: 2px solid #ffffff;
        color: #5296fd;
      }
      .hoverImage {
        color: white;
        background: linear-gradient(to bottom, #8ad1fd, #458eff);
        border: 0;
      }
      .transaction-text {
        @include flexbox;
        margin-top: 0.5rem;
        color: rgba(0, 0, 0, 0.7);
        font-weight: bold;
        font-size: 0.9rem;
      }
      .hoverText {
        color: #007bff;
      }
    }
  }
  .link-group {
    margin-top: 1rem;
    .link-item {
      @include flexbox(flex-start);
      text-decoration: none;
      padding: 0.2rem 0;
      margin-bottom: 0.5rem;
      border-left: 0.2rem solid white;
      &:hover {
        border-left: 0.2rem solid #f8f8f8;
        background: #f8f8f8;
      }

      .link-text {
        color: rgba(0, 0, 0, 0.7);
        font-weight: 600;
        margin-right: 1.3rem;
      }
    }
    .link-item-selected {
      @include flexbox(flex-start);
      text-decoration: none;
      padding: 0.2rem 0;
      margin-bottom: 0.5rem;
      background: #e3eefe;
      border-left: 0.2rem solid #5296fd;
      .link-text {
        color: #5296fd;
        font-weight: bold;
        margin-right: 1.3rem;
      }
    }
    .link-icon {
      @include flexbox;
      @include iconSample(
        3rem,
        3rem,
        linear-gradient(to right, #fafafa, #f9f9f9)
      );
      margin: 0 1.3rem;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
      border: 2px solid #ffffff;
      color: #5296fd;
    }
    .link-tip {
      @include flexbox;
      background: linear-gradient(to bottom, #fa6b88, #ff88a0);
      padding: 0 0.4rem;
      border-radius: 1rem;
      color: white;
      font-size: 0.7rem;
      margin-top: 0.2rem;
    }
  }
}
.photo-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  @include flexbox;
  .photo-main {
    position: absolute;
    width: 500px;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    .photo-header {
      background-image: linear-gradient(to right, #8ad1fd, #458eff);
      padding: 0.7rem 0;
      border-radius: 0.5rem 0.5rem 0 0;
      margin-bottom: 2rem;
      .photo-header-title {
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
      }
      .photo-header-button {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 1rem;
        cursor: pointer;
      }
    }
    .photo-image-group {
      @include flexbox(flex-start, center, wrap);
      margin: 1rem 2rem;
      .photo-image-item {
        @include flexbox;
        @include iconSample(4.1rem, 4.1rem, white);
        cursor: pointer;
        margin: 0 0.2rem 0.7rem;
        border: 3px solid white;
        img {
          width: 3.8rem;
        }
      }
      .selected {
        border: 3px solid #007aff;
      }
    }
    .photo-image-add {
      @include iconSample(4rem, 4rem, #f7f6fb);
      color: #678afc;
      cursor: pointer;
      margin: 0 0.2rem 0.7rem;
    }
    .photo-button {
      width: 40%;
      margin: 1rem auto 2rem;
      border-radius: 0.5rem;
      color: white;
      background-image: linear-gradient(135deg, #5ce2fc, #4e65ff);
      padding: 0.7rem 0;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
</style>
