<template>
  <div class="reminder-mask">
    <div class="reminder-main">
      <div class="reminder-header">
        <div v-if="transmitObject.title" class="reminder-header-title">
          {{ transmitObject.title }}
        </div>
        <div v-else class="reminder-header-title">
          {{ $t('reminderWindows.title') }}
        </div>
        <div class="reminder-header-button" @click="closeWindows()">
          <img-svg
            :src="require('@/assets/images/pc/index/cancel.svg')"
          ></img-svg>
        </div>
      </div>
      <div class="reminder-content">
        <div v-if="transmitObject.icon" class="reminder-content-icon">
          <img-svg
            :src="require(`@/assets/images/pc/${transmitObject.icon.src}`)"
          ></img-svg>
          <div class="reminder-content-icon-text">
            {{ transmitObject.icon.text }}
          </div>
        </div>
        <div class="reminder-content-text">{{ transmitObject.content }}</div>
      </div>
      <template v-if="transmitObject.cancel">
        <div class="reminder-row">
          <div class="reminder-row-button cancel" @click="cancel()">
            {{ $t('reminderWindows.cancel') }}
          </div>
          <div class="reminder-row-button" @click="nextStep()">
            {{ $t('reminderWindows.confirm') }}
          </div>
        </div>
      </template>
      <template v-else>
        <div class="reminder-button" @click="nextStep()">
          {{ $t('reminderWindows.confirm') }}
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { deposit } from '@/api/transaction.js'
export default {
  props: {
    transmitObject: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      content: '',
    }
  },
  created() {
    const type = this.transmitObject.type
    switch (type) {
      case 'deposit': {
        this.content = this.$t('reminderWindows.depositContent')
        break
      }
      default:
        break
    }
  },
  methods: {
    closeWindows() {
      this.$emit('closeWindows')
    },
    nextStep() {
      const type = this.transmitObject.type
      switch (type) {
        case 'forgetPassword': {
          this.$emit('closeWindows')
          break
        }
        case 'updateInfo': {
          this.$emit('closeWindows', true)
          break
        }
        case 'changePassword': {
          this.$emit('closeWindows')
          break
        }
        case 'deposit': {
          this.deposit()
          break
        }
        default:
          break
      }
    },
    cancel() {
      const type = this.transmitObject.type
      switch (type) {
        case 'forgetPassword': {
          this.$emit('closeWindows')
          break
        }
        default:
          break
      }
    },
    async deposit() {
      const payload = {
        amount: this.transmitObject.data.amount,
        payGateway: this.transmitObject.data.payGateway,
        withdrawBanknNo: this.transmitObject.data.withdrawBanknNo,
        depositBankNo: this.transmitObject.data.depositBankNo,
      }
      try {
        const res = await deposit(payload)
        if (this.transmitObject.data.payGateway) {
          const result = res.data.bank
          this.$store.dispatch('transaction/setDepositData', result)
          this.$router.push({ path: 'DepositDetail' })
        } else {
          const result = res.data.url
          window.open(result)
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      } finally {
        this.closeWindows()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.reminder-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  @include flexbox;
  .reminder-main {
    position: absolute;
    width: 500px;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    .reminder-header {
      background-image: linear-gradient(to right, #8ad1fd, #458eff);
      padding: 0.7rem 0;
      border-radius: 0.5rem 0.5rem 0 0;
      margin-bottom: 2rem;
      .reminder-header-title {
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
      }
      .reminder-header-button {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 1rem;
        cursor: pointer;
      }
    }
    .reminder-content {
      font-weight: bold;
      .reminder-content-icon {
        margin-top: 1rem;
        .reminder-content-icon-text {
          margin-top: 1rem;
          font-size: 1.4rem;
        }
      }
      .reminder-content-text {
        margin-top: 1rem;
        color: rgba(0, 0, 0, 0.5);
        padding: 0 2rem;
      }
    }
    .reminder-button {
      width: 50%;
      margin: 2rem auto;
      border-radius: 0.5rem;
      color: white;
      background-image: linear-gradient(135deg, #5ce2fc, #4e65ff);
      padding: 0.7rem 0;
      font-weight: bold;
      cursor: pointer;
    }
    .reminder-row {
      @include flexbox;
      margin: 2rem auto;
      width: 70%;
      font-weight: bold;
      cursor: pointer;
      .reminder-row-button {
        width: 50%;
        margin-top: 1rem;
        color: white;
        background: linear-gradient(135deg, #5ce2fc, #4e65ff);
        padding: 0.7rem 0;
        border-radius: 0.5rem;
      }
      .cancel {
        margin-right: 0.5rem;
        color: #5296fd;
        background: white;
        border-radius: 0.5rem;
        border: 1px solid rgba(103, 138, 252, 0.5);
        &:hover {
          color: white;
          background: #678afc;
        }
      }
    }
  }
}
</style>
