<template>
  <div class="sideMenu">
    <div
      class="sideMenu-item"
      @mouseover="openHelpArea()"
      @mouseleave="closeHelpArea()"
    >
      <nuxt-link v-show="!helpStatus" class="sideMenu-item-icon" to="/">
        <img-svg
          :src="require('@/assets/images/pc/sideMenu/helpCenter.svg')"
        ></img-svg>
      </nuxt-link>
      <nuxt-link v-show="helpStatus" class="sideMenu-item-button" to="/">
        <div class="sideMenu-item-button-text">
          {{ $t('sideMenu.helpCenter') }}
        </div>
        <img-svg
          :src="require('@/assets/images/pc/sideMenu/helpCenter.svg')"
        ></img-svg>
      </nuxt-link>
    </div>
    <div
      class="sideMenu-item"
      @mouseover="openServicepArea()"
      @mouseleave="closeServiceArea()"
    >
      <nuxt-link v-show="!serviceStatus" class="sideMenu-item-icon" to="/">
        <img-svg
          :src="require('@/assets/images/pc/sideMenu/customerService.svg')"
        ></img-svg>
      </nuxt-link>
      <nuxt-link v-show="serviceStatus" class="sideMenu-item-button" to="/">
        <div class="sideMenu-item-button-text">
          {{ $t('sideMenu.customerService') }}
        </div>
        <img-svg
          :src="require('@/assets/images/pc/sideMenu/customerService.svg')"
        ></img-svg>
      </nuxt-link>
    </div>
    <div
      class="sideMenu-item"
      @mouseover="openQRcode()"
      @mouseleave="closeQRcode()"
    >
      <div class="sideMenu-item-icon">
        <img-svg
          :src="require('@/assets/images/pc/sideMenu/QRcode.svg')"
        ></img-svg>
      </div>
      <div v-show="QRcodeStatus" class="sideMenu-QRcode">
        <div class="sideMenu-QRcode-item">
          <div class="sideMenu-QRcode-title">LINE</div>
          <div class="sideMenu-QRcode-image">
            <img src="@/assets/images/pc/sideMenu/qrcode-line.jpg" />
          </div>
          <div class="sideMenu-QRcode-text">@134Vwin</div>
        </div>
        <div class="sideMenu-QRcode-item">
          <div class="sideMenu-QRcode-title">Zalo</div>
          <div class="sideMenu-QRcode-image">
            <img src="@/assets/images/pc/sideMenu/qrcode-zalo.jpg" />
          </div>
          <div class="sideMenu-QRcode-text">234Vwin</div>
        </div>
      </div>
    </div>
    <div class="sideMenu-button" @click="scrollTop()">
      <div class="sideMenu-button-icon">
        <img-svg
          :src="require('@/assets/images/pc/sideMenu/arrow-up.svg')"
        ></img-svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      helpStatus: false,
      serviceStatus: false,
      QRcodeStatus: false,
    }
  },
  methods: {
    scrollTop() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      })
    },
    openHelpArea() {
      this.helpStatus = true
    },
    closeHelpArea() {
      this.helpStatus = false
    },
    openServicepArea() {
      this.serviceStatus = true
    },
    closeServiceArea() {
      this.serviceStatus = false
    },
    openQRcode() {
      this.QRcodeStatus = true
    },
    closeQRcode() {
      this.QRcodeStatus = false
    },
  },
}
</script>
<style lang="scss" scoped>
.sideMenu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 1%;
  z-index: 2;
  .sideMenu-item {
    @include flexbox(flex-end);
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    .sideMenu-item-icon {
      @include flexbox;
      @include iconSample(4rem, 4rem, #008ad6);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: #0071af;
      }
    }
    .sideMenu-item-button {
      @include flexbox;
      background-color: #0071af;
      border-radius: 2rem;
      padding: 1rem;
      color: white;
      font-weight: bold;
      text-decoration: none;
      .sideMenu-item-button-text {
        margin-right: 0.5rem;
      }
    }
    .sideMenu-QRcode {
      position: absolute;
      padding: 0.5rem 1rem;
      background-color: white;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      .sideMenu-QRcode-item {
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        .sideMenu-QRcode-title {
          font-weight: 600;
          color: #008ad6;
          margin: 0.5rem 0;
        }
        .sideMenu-QRcode-text {
          margin-bottom: 0.5rem;
          font-size: 0.9rem;
        }
      }
      .sideMenu-QRcode-item:nth-child(1) {
        border-top: 0;
      }
    }
  }
  .sideMenu-button {
    @include flexbox(flex-end);
    margin-top: 1.5rem;
    padding-left: 1rem;
    .sideMenu-button-icon {
      @include iconSample(4rem, 4rem, #404040);
      @include flexbox;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: #252525;
      }
    }
  }
}
</style>
