<template>
  <div class="verification-mask">
    <div class="verification-main">
      <template v-if="verificationType === 'phone'">
        <div class="verification-header">
          <div class="verification-header-title">
            {{ $t('personalInfo.phoneNumber') }}
          </div>
          <div class="verification-header-button" @click="closeWindows()">
            <img-svg
              :src="require('@/assets/images/pc/index/cancel.svg')"
            ></img-svg>
          </div>
        </div>
        <div class="verification-content">
          <div class="verification-content-text">
            {{ $t('personalInfo.verificationTip') }}
          </div>
          <div class="verification-content-row">
            <select
              v-model="updataData.countryCode"
              class="verification-content-select"
            >
              <option
                v-for="item in countryCodeList"
                :key="item.iso"
                :value="item.country_code"
                >+{{ item.country_code }}</option
              >
            </select>

            <div
              class="verification-content-input"
              :class="{ invalid: !validate.phoneNumber.status }"
            >
              <ValidationProvider
                ref="phoneNumber"
                :rules="{
                  required: true,
                  regex: regex.phoneNumber,
                }"
              >
                <input
                  v-model="updataData.phoneNumber"
                  type="text"
                  :placeholder="$t('personalInfo.phoneNumberPlaceholder')"
                />
              </ValidationProvider>
            </div>
          </div>
          <div class="verification-content-row">
            <div
              class="verification-content-input"
              :class="{ invalid: !validate.verificationPhone }"
            >
              <ValidationProvider
                ref="verificationPhone"
                :rules="{
                  required: true,
                }"
              >
                <input
                  v-model="verificationPhone"
                  type="text"
                  :placeholder="$t('personalInfo.verificationPhonePlaceholder')"
                />
              </ValidationProvider>
              <div
                v-if="!countdownStatus"
                class="verification-content-button"
                @click="getVerificationPhone()"
              >
                {{ $t('personalInfo.getVerificationPhone') }}
              </div>
              <div v-else class="verification-content-countdown">
                {{ countdown }}s
              </div>
            </div>
          </div>
        </div>
        <div class="verification-button" @click="nextStep()">
          {{ $t('personalInfo.confirm') }}
        </div>
      </template>
      <template v-if="verificationType === 'email'">
        <div class="verification-header">
          <div class="verification-header-title">
            {{ $t('personalInfo.email') }}
          </div>
          <div class="verification-header-button" @click="closeWindows()">
            <img-svg
              :src="require('@/assets/images/pc/index/cancel.svg')"
            ></img-svg>
          </div>
        </div>
        <div class="verification-content">
          <div class="verification-content-text">
            {{ $t('personalInfo.verificationTip') }}
          </div>
          <div class="verification-content-row">
            <div
              class="verification-content-input"
              :class="{ invalid: !validate.email.status }"
            >
              <ValidationProvider
                ref="email"
                :rules="{
                  required: true,
                  regex: regex.email,
                }"
              >
                <input
                  v-model="updataData.email"
                  type="text"
                  :placeholder="$t('personalInfo.emailPlaceholder')"
                />
              </ValidationProvider>
            </div>
          </div>
          <div class="verification-content-row">
            <div
              class="verification-content-input"
              :class="{ invalid: !validate.verificationEmail }"
            >
              <ValidationProvider
                ref="verificationEmail"
                :rules="{
                  required: true,
                }"
              >
                <input
                  v-model="verificationEmail"
                  type="text"
                  :placeholder="$t('personalInfo.verificationEmailPlaceholder')"
                />
              </ValidationProvider>
              <div
                v-if="!countdownStatus"
                class="verification-content-button"
                @click="getVerificationEmail()"
              >
                {{ $t('personalInfo.getVerificationEmail') }}
              </div>
              <div v-else class="verification-content-countdown">
                {{ countdown }}s
              </div>
            </div>
          </div>
        </div>
        <div class="verification-button" @click="nextStep()">
          {{ $t('personalInfo.confirm') }}
        </div>
      </template>
      <template v-if="verificationType === 'password'">
        <div class="verification-header">
          <div class="verification-header-title">
            {{ $t('personalInfo.changePassword') }}
          </div>
          <div class="verification-header-button" @click="closeWindows()">
            <img-svg
              :src="require('@/assets/images/pc/index/cancel.svg')"
            ></img-svg>
          </div>
        </div>
        <template v-if="step === 1">
          <div class="verification-content">
            <div class="verification-content-row">
              <div
                class="verification-content-item"
                :class="{ selected: validateMethod === 'phone' }"
                @click="changeValidateMethod('phone')"
              >
                {{ $t('changePassword.phoneVerification') }}
              </div>
              <div
                class="verification-content-item"
                :class="{ selected: validateMethod === 'email' }"
                @click="changeValidateMethod('email')"
              >
                {{ $t('changePassword.emailVerification') }}
              </div>
            </div>
            <template v-if="validateMethod === 'phone'">
              <div class="verification-content-row">
                <select
                  v-model="updataData.countryCode"
                  class="verification-content-select"
                >
                  <option
                    v-for="item in countryCodeList"
                    :key="item.iso"
                    :value="item.country_code"
                    >+{{ item.country_code }}</option
                  >
                </select>
                <div
                  class="verification-content-input"
                  :class="{ invalid: !validate.phoneNumber.status }"
                >
                  <ValidationProvider
                    ref="phoneNumber"
                    :rules="{
                      required: true,
                      regex: regex.phoneNumber,
                    }"
                  >
                    <input
                      v-model="updataData.phoneNumber"
                      type="text"
                      :placeholder="$t('changePassword.phoneNumberPlaceholder')"
                    />
                  </ValidationProvider>
                </div>
              </div>
              <div class="verification-content-row">
                <div
                  class="verification-content-input"
                  :class="{ invalid: !validate.verificationPhone }"
                >
                  <ValidationProvider
                    ref="verificationPhone"
                    :rules="{
                      required: true,
                    }"
                  >
                    <input
                      v-model="verificationPhone"
                      type="text"
                      :placeholder="
                        $t('changePassword.verificationPhonePlaceholder')
                      "
                    />
                  </ValidationProvider>
                  <div
                    v-if="!countdownStatus"
                    class="verification-content-button"
                    @click="getVerificationPhone()"
                  >
                    {{ $t('changePassword.getVerificationPhone') }}
                  </div>
                  <div v-else class="verification-content-countdown">
                    {{ countdown }}s
                  </div>
                </div>
              </div>
            </template>
            <template v-else
              ><div class="verification-content-row">
                <div
                  class="verification-content-input"
                  :class="{ invalid: !validate.email.status }"
                >
                  <ValidationProvider
                    ref="email"
                    :rules="{
                      required: true,
                      regex: regex.email,
                    }"
                  >
                    <input
                      v-model="updataData.email"
                      type="text"
                      :placeholder="$t('personalInfo.emailPlaceholder')"
                    />
                  </ValidationProvider>
                </div>
              </div>
              <div class="verification-content-row">
                <div
                  class="verification-content-input"
                  :class="{ invalid: !validate.verificationEmail }"
                >
                  <ValidationProvider
                    ref="verificationEmail"
                    :rules="{
                      required: true,
                    }"
                  >
                    <input
                      v-model="verificationEmail"
                      type="text"
                      :placeholder="
                        $t('personalInfo.verificationEmailPlaceholder')
                      "
                    />
                  </ValidationProvider>
                  <div
                    v-if="!countdownStatus"
                    class="verification-content-button"
                    @click="getVerificationEmail()"
                  >
                    {{ $t('personalInfo.getVerificationEmail') }}
                  </div>
                  <div v-else class="verification-content-countdown">
                    {{ countdown }}s
                  </div>
                </div>
              </div>
            </template>
          </div>
          <div class="verification-button" @click="nextStep()">
            {{ $t('changePassword.nextStep') }}
          </div>
        </template>
        <template v-if="step === 2">
          <div class="verification-content">
            <div class="verification-content-row">
              <div
                class="verification-content-input"
                :class="{ invalid: !validate.oldPassword.status }"
              >
                <ValidationProvider
                  ref="oldPassword"
                  :rules="{
                    required: true,
                    regex: regex.userPassword,
                  }"
                >
                  <input
                    v-model="oldPassword"
                    type="password"
                    :placeholder="
                      $t('changePassword.oldPasswordPlaceholder', [
                        validate.oldPassword.min,
                        validate.oldPassword.max,
                      ])
                    "
                  />
                </ValidationProvider>
              </div>
            </div>
            <div class="verification-content-row">
              <div
                class="verification-content-input"
                :class="{ invalid: !validate.newPassword.status }"
              >
                <ValidationProvider
                  ref="newPassword"
                  :rules="{
                    required: true,
                    regex: regex.userPassword,
                  }"
                >
                  <input
                    v-model="newPassword"
                    type="password"
                    :placeholder="
                      $t('changePassword.newPasswordPlaceholder', [
                        validate.newPassword.min,
                        validate.newPassword.max,
                      ])
                    "
                  />
                </ValidationProvider>
              </div>
            </div>
            <div class="verification-content-row">
              <div
                class="verification-content-input"
                :class="{ invalid: !validate.confirmNewPassword }"
              >
                <ValidationProvider
                  ref="confirmNewPassword"
                  :rules="{
                    required: true,
                    is: newPassword,
                  }"
                >
                  <input
                    v-model="confirmNewPassword"
                    type="password"
                    :placeholder="
                      $t('changePassword.confirmNewPasswordPlaceholder')
                    "
                  />
                </ValidationProvider>
              </div>
            </div>
          </div>
          <div class="verification-button" @click="changePassword()">
            {{ $t('changePassword.savePassword') }}
          </div>
        </template>
      </template>
    </div>
  </div>
</template>

<script>
import { getCountryCode, checkVerification } from '@/api/user.js'
import {
  getVerificationPhone,
  getVerificationEmail,
  changePassword,
  updateUserDetailInfo,
} from '@/api/member.js'
import regex from '@/assets/scripts/regex'
export default {
  props: {
    verificationType: {
      type: String,
      default() {
        return ''
      },
    },
  },
  data() {
    return {
      updataData: {
        realName: '',
        gender: '',
        birthday: '',
        lineID: '',
        email: '',
        phoneNumber: '',
        countryCode: '',
      },
      countryCodeList: [],
      verificationPhone: '',
      verificationEmail: '',
      step: 1,
      validateMethod: 'phone',
      oldPassword: '',
      newPassword: '',
      confirmNewPassword: '',
      validate: {
        phoneNumber: {
          status: true,
          min: 9,
          max: 16,
        },
        email: {
          status: true,
          min: 5,
          max: 16,
        },
        oldPassword: {
          status: true,
          min: 5,
          max: 16,
        },
        newPassword: {
          status: true,
          min: 5,
          max: 16,
        },
        confirmNewPassword: true,
        verificationEmail: true,
        verificationPhone: true,
      },
      regex: {
        phoneNumber: regex.phoneNumber,
        email: regex.email,
        userPassword: regex.userPassword,
      },
    }
  },
  created() {
    if (this.verificationType !== 'email') {
      this.getCountryCode()
    }
  },
  methods: {
    closeWindows() {
      this.$emit('closeWindows')
    },
    async nextStep() {
      const type = this.verificationType
      switch (type) {
        case 'phone': {
          const validResult = await this.validateForm(type)
          if (validResult !== true) return
          await this.checkVerification()
          break
        }
        case 'email': {
          const validResult = await this.validateForm(type)
          if (validResult !== true) return
          await this.checkVerification()
          break
        }
        case 'password': {
          const validResult =
            this.validateMethod === 'phone'
              ? await this.validateForm('phone')
              : await this.validateForm('email')
          if (validResult !== true) return
          await this.checkVerification()
          break
        }
        default:
          break
      }
      this.checkVerification()
    },
    changeValidateMethod(method) {
      this.validateMethod = method
      this.resetData()
    },
    resetData() {
      this.updataData.phoneNumber = ''
      this.updataData.email = ''
      this.verificationEmail = ''
      this.verificationPhone = ''
      this.updataData.countryCode = this.countryCodeList[0].country_code
    },
    async validateForm(type) {
      switch (type) {
        case 'phone': {
          const result = await Promise.all([
            this.$refs.phoneNumber.validate(),
            this.$refs.verificationPhone.validate(),
          ])
          this.validate.phoneNumber.status = result[0].valid
          this.validate.verificationPhone = result[1].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'email': {
          const result = await Promise.all([
            this.$refs.email.validate(),
            this.$refs.verificationEmail.validate(),
          ])
          this.validate.email.status = result[0].valid
          this.validate.verificationEmail = result[1].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'setPassword': {
          const result = await Promise.all([
            this.$refs.oldPassword.validate(),
            this.$refs.newPassword.validate(),
            this.$refs.confirmNewPassword.validate(),
          ])
          this.validate.oldPassword.status = result[0].valid
          this.validate.newPassword.status = result[1].valid
          this.validate.confirmNewPassword = result[2].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        default:
          break
      }
    },
    async getCountryCode() {
      try {
        const res = await getCountryCode()
        const result = res.data
        this.countryCodeList = result
        this.updataData.countryCode = result[0].country_code
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getVerificationPhone() {
      const payload = {
        phoneNumber: this.updataData.phoneNumber,
        countryCode: this.updataData.countryCode,
      }
      try {
        await getVerificationPhone(payload)
        this.countdownTimer(60)
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async getVerificationEmail() {
      const payload = {
        email: this.updataData.email,
      }
      try {
        await getVerificationEmail(payload)
        this.countdownTimer(60)
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async checkVerification() {
      const payload = {}
      if (this.verificationType === 'password') {
        payload.code =
          this.validateMethod === 'phone'
            ? this.verificationPhone
            : this.verificationEmail
      } else {
        payload.code =
          this.verificationType === 'phone'
            ? this.verificationPhone
            : this.verificationEmail
      }

      try {
        await checkVerification(payload)
        if (this.verificationType === 'password') {
          this.step = 2
        } else {
          this.updateUserDetailInfo()
        }
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async updateUserDetailInfo() {
      const payload = this.updataData
      try {
        await updateUserDetailInfo(payload)
        this.$emit('closeWindows', 'updateInfo')
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async changePassword() {
      const validResult = await this.validateForm('setPassword')
      if (validResult !== true) return
      const payload = {
        newPassword: this.newPassword,
        oldPassword: this.oldPassword,
        type: 'login',
      }
      try {
        await changePassword(payload)
        this.$emit('closeWindows', 'changePassword')
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.verification-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  @include flexbox;
  .verification-main {
    position: absolute;
    width: 500px;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    .verification-header {
      background-image: linear-gradient(to right, #8ad1fd, #458eff);
      padding: 0.7rem 0;
      border-radius: 0.5rem 0.5rem 0 0;
      margin-bottom: 2rem;
      .verification-header-title {
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
      }
      .verification-header-button {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 1rem;
        cursor: pointer;
      }
    }
    .verification-content {
      font-weight: bold;
      .verification-content-text {
        font-size: 0.9rem;
        margin-top: 1rem;
        color: rgba(0, 0, 0, 0.5);
      }
      .verification-content-row {
        @include flexbox;
        margin: 1rem auto;
        width: 60%;
        .verification-content-select {
          margin-right: 0.5rem;
          padding: 0.65rem 0.5rem;
          border-radius: 0.2rem;
          border: 1px solid rgba(60, 60, 60, 0.26);
          outline: none;
        }
        span {
          width: 100%;
        }
        .verification-content-input {
          @include flexbox(space-between);
          width: 100%;
          padding: 0.5rem;
          border-radius: 0.2rem;
          border: 1px solid rgba(60, 60, 60, 0.26);
          input {
            outline: none;
            border: 0;
            width: 100%;
          }
          .verification-content-button {
            margin-left: 0.5rem;
            color: #007aff;
            font-size: 0.9rem;
            font-weight: 600;
            letter-spacing: -1px;
            text-decoration: underline;
            cursor: pointer;
            width: 6rem;
          }
          .verification-content-countdown {
            color: #007aff;
            font-weight: normal;
          }
        }
        .verification-content-item {
          width: 50%;
          padding-bottom: 0.5rem;
          border-bottom: 1px solid #e5e5e5;
          color: rgba(0, 0, 0, 0.53);
          cursor: pointer;
        }
        .selected {
          color: #343a40;
          border-bottom: 3px solid #5296fd;
        }
        .invalid {
          border: 1px solid #dc3545;
        }
      }
    }
    .verification-button {
      width: 60%;
      margin: 1rem auto 2rem;
      border-radius: 0.5rem;
      color: white;
      background-image: linear-gradient(135deg, #5ce2fc, #4e65ff);
      padding: 0.7rem 0;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
</style>
