<template>
  <div class="container">
    <template v-if="validateStatus">
      <div class="validate-main">
        <div
          class="validate-item"
          :class="{ selected: validateMethod === 'phone' }"
          @click="changeValidateMethod('phone')"
        >
          {{ $t('changePassword.phoneVerification') }}
        </div>
        <div
          class="validate-item"
          :class="{ selected: validateMethod === 'email' }"
          @click="changeValidateMethod('email')"
        >
          {{ $t('changePassword.emailVerification') }}
        </div>
      </div>
    </template>

    <div class="step-main">
      <template v-if="step === 1">
        <div class="step-group">
          <template v-if="validateMethod === 'phone'">
            <div class="step-item">
              <div class="step-title">
                <span :key="validateMethod" class="step-icon">
                  <img-svg
                    :src="require('@/assets/images/mb/login/mobile.svg')"
                  ></img-svg></span
                >{{ $t('changePassword.phoneNumber') }}
              </div>
              <div class="step-phone">
                <select v-model="countryCode" class="step-select">
                  <option
                    v-for="item in countryCodeList"
                    :key="item.iso"
                    :value="item.country_code"
                    >+{{ item.country_code }}</option
                  >
                </select>
                <ValidationProvider
                  ref="phoneNumber"
                  :rules="{
                    required: true,
                    regex: regex.phoneNumber,
                  }"
                >
                  <input
                    v-model="phoneNumber"
                    type="text"
                    class="step-input"
                    :placeholder="$t('changePassword.phoneNumberPlaceholder')"
                  />
                </ValidationProvider>
              </div>
              <template v-if="!validate.phoneNumber.status">
                <div class="step-errorTip-group">
                  <div class="step-errorTip-text">
                    {{
                      $t('changePassword.phoneNumberErrorTip', [
                        validate.phoneNumber.min,
                        validate.phoneNumber.max,
                      ])
                    }}
                  </div>
                </div>
              </template>
            </div>
            <div class="step-item">
              <div class="step-title">
                <span :key="validateMethod" class="step-icon"
                  ><img-svg
                    :src="
                      require('@/assets/images/mb/login/verification-phone.svg')
                    "
                  ></img-svg></span
                >{{ $t('changePassword.verificationPhone') }}
              </div>
              <ValidationProvider
                ref="verificationPhone"
                :rules="{
                  required: true,
                }"
              >
                <input
                  v-model="verificationPhone"
                  type="text"
                  class="step-verification"
                  :placeholder="
                    $t('changePassword.verificationPhonePlaceholder')
                  "
                />
              </ValidationProvider>
              <div
                v-if="!countdownStatus"
                class="step-verification-button"
                @click="getVerificationPhone()"
              >
                {{ $t('changePassword.getVerificationPhone') }}
              </div>
              <div v-else class="step-verification-button disable">
                {{ countdown }} S
              </div>
              <template v-if="!validate.verificationPhone">
                <div class="step-errorTip-group">
                  <div class="step-errorTip-text">
                    {{ $t('changePassword.verificationPhoneErrorTip') }}
                  </div>
                </div>
              </template>
            </div>
          </template>
          <template v-else>
            <div class="step-item">
              <div class="step-title">
                <span :key="validateMethod" class="step-icon"
                  ><img-svg
                    :src="require('@/assets/images/mb/login/email.svg')"
                  ></img-svg></span
                >{{ $t('changePassword.email') }}
              </div>
              <ValidationProvider
                ref="email"
                :rules="{
                  required: true,
                  regex: regex.email,
                }"
              >
                <input
                  v-model="email"
                  type="text"
                  class="step-input"
                  :placeholder="$t('changePassword.emailPlaceholder')"
                />
              </ValidationProvider>
              <template v-if="!validate.email.status">
                <div v class="step-errorTip-group">
                  <div class="step-errorTip-text">
                    {{
                      $t('changePassword.emailErrorTip', [
                        validate.email.min,
                        validate.email.max,
                      ])
                    }}
                  </div>
                </div>
              </template>
            </div>
            <div class="step-item">
              <div class="step-title">
                <span :key="validateMethod" class="step-icon"
                  ><img-svg
                    :src="
                      require('@/assets/images/mb/login/verification-email.svg')
                    "
                  ></img-svg></span
                >{{ $t('changePassword.verificationEmail') }}
              </div>
              <ValidationProvider
                ref="verificationEmail"
                :rules="{
                  required: true,
                }"
              >
                <input
                  v-model="verificationEmail"
                  type="text"
                  class="step-verification"
                  :placeholder="
                    $t('changePassword.verificationEmailPlaceholder')
                  "
                />
              </ValidationProvider>
              <div
                v-if="!countdownStatus"
                class="step-verification-button"
                @click="getVerificationEmail()"
              >
                {{ $t('changePassword.getVerificationEmail') }}
              </div>
              <div v-else class="step-verification-button disable">
                {{ countdown }} S
              </div>
              <template v-if="!validate.verificationEmail">
                <div class="step-errorTip-group">
                  <div class="step-errorTip-text">
                    {{ $t('changePassword.verificationEmailErrorTip') }}
                  </div>
                </div>
              </template>
            </div>
          </template>

          <div class="step-button" @click="nextStep('verifyIdentity')">
            {{ $t('changePassword.nextStep') }}
          </div>
        </div>
      </template>

      <template v-if="step === 2">
        <div class="step-group">
          <div class="step-item">
            <div class="step-title">
              <span :key="step" class="step-icon">
                <img-svg
                  :src="require('@/assets/images/mb/login/lock2.svg')"
                ></img-svg></span
              >{{ $t('changePassword.oldPassword') }}
            </div>
            <ValidationProvider
              ref="oldPassword"
              :rules="{
                required: true,
                regex: regex.userPassword,
              }"
            >
              <input
                v-model="oldPassword"
                :type="!privacyOldPassword ? 'password' : 'text'"
                class="step-input"
                :placeholder="
                  $t('changePassword.oldPasswordPlaceholder', [
                    validate.oldPassword.min,
                    validate.oldPassword.max,
                  ])
                "
              />
            </ValidationProvider>
            <div
              class="step-privacy"
              @click="privacyOldPassword = !privacyOLdPassword"
            >
              <img
                v-show="privacyOldPassword"
                src="@/assets/images/mb/login/openEye.svg"
              />
              <img
                v-show="!privacyOldPassword"
                src="@/assets/images/mb/login/closeEye.svg"
              />
            </div>
            <template v-if="!validate.oldPassword.status">
              <div class="step-errorTip-group">
                <div class="step-errorTip-text">
                  {{
                    $t('changePassword.oldPasswordErrorTip', [
                      validate.oldPassword.min,
                      validate.oldPassword.max,
                    ])
                  }}
                </div>
              </div>
            </template>
          </div>
          <div class="step-item">
            <div class="step-title">
              <span :key="step" class="step-icon">
                <img-svg
                  :src="require('@/assets/images/mb/login/lock2.svg')"
                ></img-svg></span
              >{{ $t('changePassword.newPassword') }}
            </div>
            <ValidationProvider
              ref="newPassword"
              :rules="{
                required: true,
                regex: regex.userPassword,
              }"
            >
              <input
                v-model="newPassword"
                :type="!privacyNewPassword ? 'password' : 'text'"
                class="step-input"
                :placeholder="
                  $t('changePassword.newPasswordPlaceholder', [
                    validate.newPassword.min,
                    validate.newPassword.max,
                  ])
                "
              />
            </ValidationProvider>
            <div
              class="step-privacy"
              @click="privacyNewPassword = !privacyNewPassword"
            >
              <img
                v-show="privacyNewPassword"
                src="@/assets/images/mb/login/openEye.svg"
              />
              <img
                v-show="!privacyNewPassword"
                src="@/assets/images/mb/login/closeEye.svg"
              />
            </div>
            <template v-if="!validate.newPassword.status">
              <div class="step-errorTip-group">
                <div class="step-errorTip-text">
                  {{
                    $t('changePassword.newPasswordErrorTip', [
                      validate.newPassword.min,
                      validate.newPassword.max,
                    ])
                  }}
                </div>
              </div>
            </template>
          </div>
          <div class="step-item">
            <div class="step-title">
              <span :key="step" class="step-icon"
                ><img-svg
                  :src="require('@/assets/images/mb/login/lock2.svg')"
                ></img-svg></span
              >{{ $t('changePassword.confirmNewPassword') }}
            </div>
            <ValidationProvider
              ref="confirmNewPassword"
              :rules="{
                required: true,
                is: newPassword,
              }"
            >
              <input
                v-model="confirmNewPassword"
                :type="!privacyConfirmNewPassword ? 'password' : 'text'"
                class="step-input"
                :placeholder="
                  $t('changePassword.confirmNewPasswordPlaceholder')
                "
              />
            </ValidationProvider>
            <div
              class="step-privacy"
              @click="privacyConfirmNewPassword = !privacyConfirmNewPassword"
            >
              <img
                v-show="privacyConfirmNewPassword"
                src="@/assets/images/mb/login/openEye.svg"
              />
              <img
                v-show="!privacyConfirmNewPassword"
                src="@/assets/images/mb/login/closeEye.svg"
              />
            </div>
            <template v-if="!validate.confirmNewPassword">
              <div class="step-errorTip-group">
                <div class="step-errorTip-text">
                  {{ $t('changePassword.confirmNewPasswordErrorTip') }}
                </div>
              </div>
            </template>
          </div>
          <div class="step-button" @click="nextStep('setPassword')">
            {{ $t('changePassword.complete') }}
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { checkVerification, getCountryCode } from '@/api/user.js'
import {
  getVerificationPhone,
  getVerificationEmail,
  changePassword,
  getUserDetailInfo,
} from '@/api/member.js'
import regex from '@/assets/scripts/regex'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.changePassword')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      validateStatus: false,
      validateMethod: 'phone',
      step: 0,
      phoneNumber: '',
      email: '',
      verificationEmail: '',
      verificationPhone: '',
      oldPassword: '',
      newPassword: '',
      confirmNewPassword: '',
      privacyOldPassword: false,
      privacyNewPassword: false,
      privacyConfirmNewPassword: false,
      countryCode: '',
      countryCodeList: [],
      validate: {
        phoneNumber: {
          status: true,
          min: 9,
          max: 16,
        },
        email: {
          status: true,
          min: 5,
          max: 16,
        },
        oldPassword: {
          status: true,
          min: 5,
          max: 16,
        },
        newPassword: {
          status: true,
          min: 5,
          max: 16,
        },
        confirmNewPassword: true,
        verificationEmail: true,
        verificationPhone: true,
      },
      regex: {
        phoneNumber: regex.phoneNumber,
        email: regex.email,
        userPassword: regex.userPassword,
      },
    }
  },
  created() {
    this.getUserDetailInfo()
  },
  methods: {
    changeValidateMethod(method) {
      this.validateMethod = method
      this.resetData()
    },
    resetData() {
      this.step = 1
      this.phoneNumber = ''
      this.email = ''
      this.verificationEmail = ''
      this.verificationPhone = ''
      this.oldPassword = ''
      this.newPassword = ''
      this.confirmNewPassword = ''
      this.validate.phoneNumber.status = true
      this.validate.email.status = true
      this.validate.oldPassword.status = true
      this.validate.newPassword.status = true
      this.validate.confirmPassword = true
      this.validate.verificationEmail = true
      this.validate.verificationPhone = true
    },
    async nextStep(stepName) {
      switch (stepName) {
        case 'verifyIdentity': {
          const validResult = await this.validateForm(
            stepName + '-' + this.validateMethod
          )
          if (validResult !== true) return
          await this.checkVerification()
          break
        }
        case 'setPassword': {
          const validResult = await this.validateForm(stepName)
          if (validResult !== true) return
          this.changePassword()
          break
        }
        default:
          break
      }
    },
    async validateForm(stepName) {
      switch (stepName) {
        case 'verifyIdentity-phone': {
          const result = await Promise.all([
            this.$refs.phoneNumber.validate(),
            this.$refs.verificationPhone.validate(),
          ])
          this.validate.phoneNumber.status = result[0].valid
          this.validate.verificationPhone = result[1].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'verifyIdentity-email': {
          const result = await Promise.all([
            this.$refs.email.validate(),
            this.$refs.verificationEmail.validate(),
          ])
          this.validate.email.status = result[0].valid
          this.validate.verificationEmail = result[1].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'setPassword': {
          const result = await Promise.all([
            this.$refs.oldPassword.validate(),
            this.$refs.newPassword.validate(),
            this.$refs.confirmNewPassword.validate(),
          ])
          this.validate.oldPassword.status = result[0].valid
          this.validate.newPassword.status = result[1].valid
          this.validate.confirmNewPassword = result[2].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        default:
          break
      }
    },
    async getUserDetailInfo() {
      try {
        const res = await getUserDetailInfo()
        const result = res.data
        if (!result.phone_no && !result.email) {
          this.step = 2
        } else {
          this.step = 1
          this.validateStatus = true
          this.getCountryCode()
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getCountryCode() {
      try {
        const res = await getCountryCode()
        const result = res.data
        this.countryCodeList = result
        this.countryCode = result[0].country_code
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getVerificationPhone() {
      try {
        const payload = {
          phoneNumber: this.phoneNumber,
          countryCode: this.countryCode,
        }

        await getVerificationPhone(payload)
        this.showToast(this.$t('changePassword.sendPhoneSuccess'))
        this.countdownTimer(60)
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async getVerificationEmail() {
      try {
        const payload = {
          email: this.email,
        }

        await getVerificationEmail(payload)
        this.showToast(this.$t('changePassword.sendEmailSuccess'))
        this.countdownTimer(60)
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async checkVerification() {
      try {
        const payload = {
          code:
            this.validateMethod === 'phone'
              ? this.verificationPhone
              : this.verificationEmail,
        }

        await checkVerification(payload)
        this.step = 2
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async changePassword() {
      const payload = {
        newPassword: this.newPassword,
        oldPassword: this.oldPassword,
        type: 'login',
      }
      try {
        await changePassword(payload)
        this.showToast(this.$t('changePassword.changeSuccess'))
        this.$router.push({ name: 'Setting' })
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
}
.validate-main {
  @include flexbox;
  height: $header-height;
  padding: 0 1rem;
  border-bottom: 0.3rem solid #f7f6fb;
  font-size: 0.95rem;
  font-weight: bold;
  .validate-item {
    margin: 0 1rem;
    outline: none;
    color: #bebebe;
  }
  .selected {
    color: #5296fd;
  }
}

.step-group {
  padding: 0 0.5rem;
  .step-item {
    width: 100%;
    min-height: 7rem;
    border-bottom: 1px solid #f7f6fb;
    .step-title {
      @include flexbox(flex-start);
      padding: 1.5rem 1rem 1rem;
      font-size: 0.9rem;
      font-weight: bold;
      .step-icon {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
    .step-phone {
      @include flexbox(flex-start);
      .step-select {
        margin-left: 2.5rem;
        height: 1.5rem;
        outline: none;
        border: 0;
        font-size: 0.9rem;
        color: #333;
      }
      span {
        width: 100%;
        .step-input {
          border: 0;
          padding-left: 0.5rem;
          outline: none;
          font-size: 0.9rem;
        }
      }
    }
    .step-input {
      border: 0;
      width: calc(100% - 3.5rem);
      padding-left: 2.5rem;
      outline: none;
      font-size: 0.9rem;
    }
    .step-privacy {
      width: 1.5rem;
      float: right;
      margin-right: 1rem;
    }
    .step-verification {
      float: left;
      border: 0;
      padding-left: 2.5rem;
      width: calc(100% - 8rem);
      outline: none;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
    .step-verification-button {
      float: right;
      background-color: #5296fd;
      border-radius: 0.5rem;
      width: 6rem;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      margin: -7px 1rem 0 0;
      font-size: 0.9rem;
      color: white;
    }
    .disable {
      background-color: rgb(190, 190, 190);
    }
    .step-errorTip-group {
      @include flexbox(flex-start);
      width: 80%;
      height: 1rem;
      margin: 1rem auto 1rem;
      color: gray;
      .step-errorTip-text {
        font-size: 0.9rem;
        font-weight: 500;
        color: #fa6b88;
      }
    }
  }
  .step-button {
    @include flexbox;
    margin: 1.5rem auto;
    width: 90%;
    height: 3rem;
    background-color: #5296fd;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
  }
}
</style>
