<template>
  <div class="container">
    <div class="operate-group">
      <nuxt-link
        v-if="isLogin"
        class="operate-item"
        to="/Setting/ChangePassword"
      >
        <div class="operate-name">
          {{ $t('setting.changePassword') }}
        </div>
        <div class="operate-icon">
          <img-svg
            :src="require('@/assets/images/mb/setting/arrow-right.svg')"
          ></img-svg>
        </div>
      </nuxt-link>
      <!-- <nuxt-link v-if="isLogin" class="operate-item" to="/">
        <div class="operate-name">{{ $t('setting.feedback') }}</div>
        <div class="operate-icon">
          <img-svg
            :src="require('@/assets/images/mb/setting/arrow-right.svg')"
          ></img-svg>
        </div>
      </nuxt-link> -->
      <nuxt-link class="operate-item" to="/Setting/Language">
        <div class="operate-name">{{ $t('setting.language') }}</div>
        <div class="operate-text">{{ getLanguageTypeText() }}</div>
        <div class="operate-icon">
          <img-svg
            :src="require('@/assets/images/mb/setting/arrow-right.svg')"
          ></img-svg>
        </div>
      </nuxt-link>
    </div>
    <div v-if="isLogin" class="operate-button" @click="logout()">
      {{ $t('setting.logout') }}
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { userLogout } from '@/api/member.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.setting')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {}
  },
  computed: {
    ...mapState('login', ['isLogin']),
  },
  methods: {
    async logout() {
      try {
        await userLogout()
        await this.$store.dispatch('login/removeLoginStatus')
        await this.$store.dispatch('login/removetMemberInfo')
        this.$router.push({ name: 'Login' })
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    getLanguageTypeText() {
      const LanguageTypeMap = new Map([
        ['zh-Hant', '繁體中文'],
        ['en', 'English'],
      ])
      const result = LanguageTypeMap.get(this.$i18n.locale)

      return result
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
  background-color: #f7f6fb;
}
.operate-item {
  @include flexbox(space-between);
  padding: 1rem;
  border-bottom: 1px solid #ecf0f7;
  background-color: white;
  text-decoration: none;
  color: #707070;
  font-weight: bold;
  .operate-text {
    position: absolute;
    right: 2.5rem;
    font-size: 0.85rem;
    color: #777777;
    font-weight: 600;
  }
}
.operate-button {
  margin-top: 0.5rem;
  text-align: center;
  background-color: #ecf0f7;
  font-weight: bold;
  padding: 0.5rem;
  width: 100%;
}
</style>
