<template>
  <div class="container">
    <div class="language-group">
      <div class="language-item">{{ $t('language.tip') }}</div>
      <div
        v-for="item in languageList"
        :key="item.id"
        class="language-item"
        @click="setLanguage(item)"
      >
        <div class="language-name">{{ item.name }}</div>
        <div v-show="currentLanguage === item.id" class="language-icon">
          <img-svg
            :src="require('@/assets/images/mb/setting/checked.svg')"
          ></img-svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getLanguageList } from '@/api/language.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.language')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      currentLanguage: this.$i18n.locale,
      languageList: [],
    }
  },
  created() {
    this.getLanguageList()
  },
  methods: {
    async getLanguageList() {
      try {
        const res = await getLanguageList()
        const result = res.data

        const entries = Object.entries(result)
        this.languageList = entries.map((x) => {
          const result = {
            id: x[0],
            name: x[1],
          }
          return result
        })
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    setLanguage(item) {
      this.$i18n.setLocale(item.id)
      window.location.reload(true)
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
  min-height: 100vh;
}
.language-group {
  padding: 1rem;
  color: #707070;
  .language-item {
    @include flexbox(space-between);
    padding: 0.5rem;
    border-bottom: 1px solid #ecf0f7;
    font-weight: 600;
    .language-icon {
      @include flexbox;
    }
  }
}
</style>
