<template>
  <div></div>
</template>

<script>
const cache = new Map()
export default {
  props: {
    src: { type: String, required: true },
  },
  async mounted() {
    if (!cache.has(this.src)) {
      try {
        cache.set(
          this.src,
          fetch(this.src).then((x) => x.text())
        )
      } catch (e) {
        cache.delete(this.src)
      }
    }
    if (cache.has(this.src)) {
      this.$el.innerHTML = await cache.get(this.src)
      this.$el.outerHTML = this.$el.innerHTML
    }
  },
}
</script>
