<template>
  <div class="container">
    <template v-if="step === 1">
      <div class="name-main">
        <template v-if="!realName">
          <div class="name-item">
            <div class="name-item-title">
              {{ $t('addBankAccount.accountName') }}
            </div>
            <ValidationProvider
              ref="accountName"
              :rules="{
                required: true,
              }"
            >
              <input
                v-model="accountName"
                type="text"
                class="name-item-input"
                :placeholder="$t('addBankAccount.accountNamePlaceholder')"
              />
            </ValidationProvider>
            <template v-if="!validate.accountName">
              <div class="name-item-errorTip-group">
                <div class="name-item-errorTip-text">
                  {{ $t('addBankAccount.accountNameErrorTip') }}
                </div>
              </div>
            </template>
          </div>
          <div class="name-prompt">
            {{ $t('addBankAccount.accountNameTip') }}
          </div>
        </template>
        <template v-else>
          <div class="name-item realName">
            <div class="name-item-title">
              {{ $t('addBankAccount.accountName') }}
            </div>
            <div class="name-item-text">{{ realName }}</div>
          </div></template
        >
      </div>
      <div class="bank-main">
        <div class="bank-item">
          <div class="bank-item-title">
            {{ $t('addBankAccount.bankName') }}
          </div>
          <div class="bank-item-button" @click="openBankList()">
            {{ bankCode }} {{ bankName }}
            <span class="bank-item-icon">
              <img-svg
                :src="require('@/assets/images/mb/cardManage/arrow-right.svg')"
              ></img-svg>
            </span>
          </div>
          <template v-if="!validate.bankCode">
            <div class="bank-item-errorTip-group">
              <div class="bank-item-errorTip-text">
                {{ $t('addBankAccount.bankNameErrorTip') }}
              </div>
            </div>
          </template>
        </div>
        <div class="bank-item">
          <div class="bank-item-title">
            {{ $t('addBankAccount.bankAccount') }}
          </div>
          <ValidationProvider
            ref="bankAccount"
            :rules="{
              required: true,
              regex: regex.bankAccount,
            }"
          >
            <input
              v-model="bankAccount"
              type="text"
              class="bank-item-input"
              :placeholder="$t('addBankAccount.bankAccountPlaceholder')"
            />
          </ValidationProvider>
          <template v-if="!validate.bankAccount">
            <div class="bank-item-errorTip-group">
              <div class="bank-item-errorTip-text">
                {{ $t('addBankAccount.bankAccountErrorTip') }}
              </div>
            </div>
          </template>
        </div>
        <div class="bank-prompt">
          {{ $t('addBankAccount.bankAccountTip') }}
        </div>
      </div>
      <div class="button-main" @click="nextStep()">
        {{ $t('addBankAccount.nextStep') }}
      </div>
      <div class="remind-main">
        <i18n path="addBankAccount.helpTip" tag="div">
          <template v-slot:path>
            <nuxt-link class="remind-customer-service" to="/CustomerService">
              {{ $t('addBankAccount.customerService') }}
            </nuxt-link>
          </template>
        </i18n>
      </div>
    </template>
    <select-bank
      v-if="step === 2"
      :bank-name="bankName"
      :bank-code="bankCode"
      @backToForm="backToForm"
    />
    <template v-if="step === 3">
      <div class="validate-main">
        <div class="validate-item">
          <div class="validate-item-title">
            <div class="validate-item-icon">
              <img-svg
                :src="require('@/assets/images/mb/cardManage/mobile.svg')"
              ></img-svg>
            </div>
            <div class="validate-item-text">
              {{ $t('addBankAccount.phoneNumber') }}
            </div>
          </div>
          <div class="validate-item-phone">
            <select v-model="countryCode" class="validate-item-select">
              <option
                v-for="item in countryCodeList"
                :key="item.iso"
                :value="item.country_code"
                >+{{ item.country_code }}</option
              >
            </select>
            <ValidationProvider
              ref="phoneNumber"
              :rules="{
                required: true,
                regex: regex.phoneNumber,
              }"
            >
              <input
                v-model="phoneNumber"
                type="text"
                class="validate-item-input"
                :placeholder="$t('addBankAccount.phoneNumberPlaceholder')"
              />
            </ValidationProvider>
          </div>
          <template v-if="!validate.phoneNumber">
            <div class="validate-item-errorTip-group">
              <div class="validate-item-errorTip-text">
                {{ $t('addBankAccount.phoneNumberErrorTip') }}
              </div>
            </div>
          </template>
        </div>
        <div class="validate-item">
          <div class="validate-item-title">
            <div class="validate-item-icon">
              <img-svg
                :src="require('@/assets/images/mb/cardManage/verification.svg')"
              ></img-svg>
            </div>
            <div class="validate-item-text">
              {{ $t('addBankAccount.verificationPhone') }}
            </div>
          </div>
          <ValidationProvider
            ref="verificationPhone"
            :rules="{
              required: true,
            }"
          >
            <input
              v-model="verificationPhone"
              type="text"
              class="validate-item-code"
              :placeholder="$t('addBankAccount.verificationPhonePlaceholder')"
            />
          </ValidationProvider>
          <div
            v-if="!countdownStatus"
            class="validate-item-button"
            @click="getVerificationPhone()"
          >
            {{ $t('addBankAccount.getVerificationPhone') }}
          </div>
          <div v-else class="validate-item-button disable">
            {{ countdown }} S
          </div>
          <template v-if="!validate.verificationPhone">
            <div class="validate-item-errorTip-group">
              <div class="validate-item-errorTip-text">
                {{ $t('addBankAccount.verificationPhoneErrorTip') }}
              </div>
            </div>
          </template>
        </div>
        <div class="validate-button" @click="checkVerification()">
          {{ $t('addBankAccount.complete') }}
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { getVerificationPhone, addWithdrawAccounts } from '@/api/transaction.js'
import { checkVerification, getCountryCode } from '@/api/user.js'
import { getUserDetailInfo } from '@/api/member.js'
import regex from '@/assets/scripts/regex'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', -1)
      const title = vm.$t('header.addBankAccount')
      vm.$store.dispatch('header/setHeaderTitle', title)
      vm.histoyRoute = from.path
    })
  },
  data() {
    return {
      histoyRoute: '',
      realName: '',
      step: 1,
      accountName: '',
      bankName: this.$t('addBankAccount.bankNamePlaceholder'),
      bankCode: '',
      bankAccount: '',
      phoneNumber: '',
      verificationPhone: '',
      countryCode: '',
      countryCodeList: [],
      validate: {
        accountName: true,
        bankCode: true,
        bankAccount: true,
        phoneNumber: true,
        verificationPhone: true,
      },
      regex: {
        bankAccount: regex.bankAccount,
        phoneNumber: regex.phoneNumber,
      },
    }
  },
  created() {
    this.getUserDetailInfo()
  },
  methods: {
    async getUserDetailInfo() {
      try {
        const res = await getUserDetailInfo()
        const result = res.data
        this.realName = result.bank_account_name
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    openBankList() {
      this.step = 2
      const title = this.$t('header.selectBank')
      this.$store.dispatch('header/setHeaderTitle', title)
    },
    backToForm(data) {
      this.step = 1
      const title = this.$t('header.addBankAccount')
      this.$store.dispatch('header/setHeaderTitle', title)
      this.bankName = data.bank_name
      this.bankCode = data.bank_code
    },
    async validateForm(stepName) {
      switch (stepName) {
        case 'setBankAccount': {
          const result = await Promise.all([
            this.$refs.accountName.validate(),
            this.$refs.bankAccount.validate(),
          ])
          this.validate.accountName = result[0].valid
          this.validate.bankAccount = result[1].valid
          this.validate.bankCode = this.bankCode.length > 0
          result.push({ valid: this.validate.bankCode })
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'setBankAccount-realName': {
          const result = await Promise.all([this.$refs.bankAccount.validate()])
          this.validate.bankAccount = result[0].valid
          this.validate.bankCode = this.bankCode.length > 0
          result.push({ valid: this.validate.bankCode })
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'getVerification': {
          const result = await Promise.all([this.$refs.phoneNumber.validate()])
          this.validate.phoneNumber = result[0].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'addBankAccount': {
          const result = await Promise.all([
            this.$refs.phoneNumber.validate(),
            this.$refs.verificationPhone.validate(),
          ])
          this.validate.phoneNumber = result[0].valid
          this.validate.verificationPhone = result[1].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        default:
          break
      }
    },
    async nextStep() {
      if (!this.realName) {
        const validResult = await this.validateForm('setBankAccount')
        if (validResult !== true) return
      } else {
        const validResult = await this.validateForm('setBankAccount-realName')
        if (validResult !== true) return
      }
      this.getCountryCode()
      this.step = 3
    },
    async getCountryCode() {
      try {
        const res = await getCountryCode()
        const result = res.data
        this.countryCodeList = result
        this.countryCode = result[0].country_code
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getVerificationPhone() {
      const validResult = await this.validateForm('getVerification')
      if (validResult !== true) return
      const payload = {
        phoneNumber: this.phoneNumber,
        countryCode: this.countryCode,
      }
      try {
        await getVerificationPhone(payload)
        this.showToast(this.$t('addBankAccount.sendSuccess'))
        this.countdownTimer(60)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async checkVerification() {
      const validResult = await this.validateForm('addBankAccount')
      if (validResult !== true) return
      const payload = { code: this.verificationPhone }
      try {
        await checkVerification(payload)
        this.addWithdrawAccounts()
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async addWithdrawAccounts() {
      const payload = {
        accountName: this.realName ? this.realName : this.accountName,
        bankCode: this.bankCode,
        bankName: this.bankName,
        bankAccount: this.bankAccount,
        bankType: 'credit',
      }
      try {
        await addWithdrawAccounts(payload)
        this.showToast(this.$t('addBankAccount.addSuccess'))
        this.$router.replace({ path: this.histoyRoute })
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
}
.name-main {
  padding: 1rem;
  border-bottom: 0.5rem solid #f7f6fb;
  .name-item {
    background-color: white;
    padding: 1rem 0;

    .name-item-title {
      padding: 0 1rem 0.5rem;
      color: #434343;
      font-weight: bold;
    }
    .name-item-text {
      padding: 0 1.5rem;
      font-size: 0.9rem;
      color: darkgray;
    }
    .name-item-input {
      border: 0;
      width: 100%;
      padding: 0 1.5rem;
      outline: none;
      font-size: 0.9rem;
      color: darkgray;
    }
    .name-item-errorTip-group {
      @include flexbox(flex-start);
      width: 80%;
      padding: 1rem 1.5rem 0;
      .name-item-errorTip-text {
        color: #fa6b88;
        font-size: 0.85rem;
        font-weight: bold;
      }
    }
  }
  .name-prompt {
    padding: 1rem 1rem 0;
    font-size: 0.85rem;
    font-weight: bold;
    color: #777;
    letter-spacing: -0.5px;
  }
  .realName {
    border-bottom: 0;
  }
}
.bank-main {
  padding: 1rem;
  .bank-item {
    background-color: white;
    padding: 1rem 0;
    border-bottom: 1px solid #ecf0f7;
    .bank-item-title {
      padding: 0 1rem 0.5rem;
      color: #434343;
      font-weight: bold;
    }
    .bank-item-button {
      @include flexbox(space-between);
      width: 100%;
      padding: 0 1.5rem;
      font-size: 0.9rem;
      text-decoration: none;
      color: darkgray;
    }
    .bank-item-input {
      border: 0;
      width: 100%;
      padding: 0 1.5rem;
      outline: none;
      font-size: 0.9rem;
      color: darkgray;
    }
    .bank-item-errorTip-group {
      @include flexbox(flex-start);
      width: 80%;
      padding: 1rem 1.5rem 0;
      .bank-item-errorTip-text {
        color: #fa6b88;
        font-size: 0.85rem;
        font-weight: bold;
      }
    }
  }

  .bank-prompt {
    padding: 1rem 1rem 0;
    font-size: 0.85rem;
    font-weight: bold;
    color: #777;
    letter-spacing: -1px;
  }
}
.button-main {
  @include flexbox;
  background-color: #5296fd;
  border-radius: 0.5rem;
  height: 3rem;
  color: white;
  width: 85%;
  margin: 1rem auto 0;
}
.remind-main {
  @include flexbox;
  padding: 2rem 1rem;
  font-size: 0.85rem;
  font-weight: bold;
  color: #434343;
  .remind-customer-service {
    text-decoration: none;
    color: #5296fd;
  }
}
.validate-item {
  background-color: white;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ecf0f7;
  .validate-item-title {
    padding: 0 1rem 0.5rem;
    @include flexbox(flex-start);
    .validate-item-text {
      margin-left: 0.5rem;
      color: #434343;
      font-weight: bold;
    }
  }
  .validate-item-phone {
    @include flexbox(flex-start);
    padding: 0 2.5rem;
    .validate-item-select {
      height: 1.5rem;
      outline: none;
      border: 0;
      font-size: 0.9rem;
      color: #333;
    }
    span {
      width: 100%;
      .validate-item-input {
        border: 0;
        padding-left: 0.5rem;
        outline: none;
        font-size: 0.9rem;
      }
    }
  }
  .validate-item-input {
    border: 0;
    width: 100%;
    padding: 0 2.5rem;
    outline: none;
    font-size: 0.9rem;
    color: darkgray;
  }
  .validate-item-code {
    display: inline-block;
    border: 0;
    padding: 0 2.5rem;
    width: calc(100% - 8rem);
    outline: none;
    font-size: 0.9rem;
    color: darkgray;
  }
  .validate-item-button {
    display: inline-block;
    background-color: #5296fd;
    border-radius: 0.5rem;
    width: 5.5rem;
    height: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: -5px 2rem 0 0;
    font-size: 0.9rem;
    color: white;
  }
  .disable {
    background-color: lightgray;
  }
  .validate-item-errorTip-group {
    @include flexbox(flex-start);
    width: 80%;
    padding: 1rem 2.5rem 0;
    .validate-item-errorTip-text {
      color: #fa6b88;
      font-size: 0.85rem;
      font-weight: bold;
    }
  }
}
.validate-button {
  @include flexbox;
  background-color: #5296fd;
  border-radius: 0.5rem;
  height: 3rem;
  color: white;
  width: 85%;
  margin: 2rem auto 0;
}
</style>
