<template>
  <div class="container">
    <div class="bank-main">
      <div class="bank-title">
        <div class="bank-title-text">{{ $t('cardManage.myCard') }}</div>
        <div class="bank-title-total">
          {{ $t('cardManage.total', [bankList.length]) }}
        </div>
      </div>
      <template v-if="bankList.length > 0">
        <div class="bank-group">
          <div
            v-for="(item, index) in bankList"
            :key="item.bank_no"
            class="bank-item"
            @click="openMask(item)"
          >
            <div class="bank-item-content">
              <div class="bank-item-name">
                {{ item.bank_name }}
              </div>
              <div class="bank-item-number">
                {{ item.card_no }}
              </div>
            </div>
            <img
              class="bank-item-image"
              :src="
                require(`@/assets/images/mb/cardManage/card-bg${index + 1}.png`)
              "
            />
          </div>
        </div>
      </template>
      <div v-show="bankList.length === 0" class="withoutBank">
        <img-svg
          :src="require('@/assets/images/mb/cardManage/none.svg')"
        ></img-svg>
      </div>
      <template v-if="bankList.length < 3">
        <nuxt-link class="bank-button" to="AddBankAccount">
          <div class="bank-button-text">
            {{ $t('cardManage.addBankAccount') }}
          </div>
          <div class="bank-button-icon">
            <img-svg
              :src="require('@/assets/images/mb/cardManage/plus.svg')"
            ></img-svg>
          </div>
        </nuxt-link>
      </template>
    </div>
    <div class="remind-main">
      {{ $t('cardManage.remind') }}
    </div>
    <template v-if="selectorStatus">
      <div class="selector-mask">
        <div class="selector-main">
          <div class="selector-item" @click="removeWithdrawAccounts()">
            {{ $t('cardManage.unbind') }}
          </div>
          <div class="selector-item" @click="selectorStatus = !selectorStatus">
            {{ $t('cardManage.cancel') }}
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import {
  getWithdrawAccounts,
  removeWithdrawAccounts,
} from '@/api/transaction.js'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', -1)
      const title = vm.$t('header.cardManage')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      selectorStatus: false,
      bankNumber: '',
      bankList: [],
      bankIconList: [],
    }
  },
  created() {
    this.getWithdrawAccounts()
  },
  methods: {
    async getWithdrawAccounts() {
      try {
        const res = await getWithdrawAccounts()
        const result = res.data
        this.bankList = result
      } catch (err) {
        this.showErrorMessage(err.message)
        this.bankList = []
      }
    },
    openMask(item) {
      this.selectorStatus = !this.selectorStatus
      this.bankNumber = item.no
    },
    async removeWithdrawAccounts() {
      const payload = {
        bankNumber: this.bankNumber.toString(),
      }
      try {
        await removeWithdrawAccounts(payload)
        this.selectorStatus = !this.selectorStatus
        this.getWithdrawAccounts()
        this.showToast(this.$t('cardManage.unbindSuccess'))
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  background-color: #f7f6fb;
}
.bank-main {
  margin: 1rem 2rem;
  .bank-title {
    @include flexbox(space-between);
    .bank-title-text {
      font-weight: bold;
    }
    .bank-title-total {
      font-size: 0.9rem;
      letter-spacing: 0.2rem;
      font-weight: 600;
    }
  }
  .bank-group {
    margin-top: 2rem;
    .bank-item-content {
      @include flexbox(flex-start, flex-start, wrap);
      position: absolute;
      margin: 1.5rem 0 0 1.5rem;
      .bank-item-name {
        width: calc(100% - 6rem);
        font-weight: bold;
        font-size: 0.9rem;
        margin: 0.2rem 1rem;
      }
      .bank-item-number {
        font-weight: bold;
        margin: 1rem;
      }
    }
    .bank-item-image {
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .bank-button {
    @include flexbox;
    background-color: white;
    border-radius: 0.5rem;
    min-height: 6rem;
    text-decoration: none;
    margin-top: 1rem;
    .bank-button-text {
      margin-right: 1rem;
      color: black;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .bank-button-icon {
      @include flexbox;
    }
  }
  .withoutBank {
    @include flexbox;
    margin: 4rem 0;
  }
}
@media (min-width: 700px) {
  .bank-main .bank-group .bank-item-image {
    width: 80%;
  }
  .bank-main .bank-group .bank-item-content {
    margin: 2rem 0 0 6.7rem;
  }
}

@media (min-width: 1000px) {
  .bank-main .bank-group .bank-item-content {
    margin: 3rem 0 0 9.5em;
  }
}
.remind-main {
  @include flexbox;
  font-size: 0.85rem;
  font-weight: bold;
  color: #777;
  padding-bottom: 1rem;
}
.selector-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  .selector-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    font-weight: bold;
    .selector-item {
      @include flexbox;
      padding: 0.7rem 0;
      border-top: 0.4rem solid #f7f6fb;
      color: #777;
    }
    .selector-item:nth-child(1) {
      border-top: 0;
      color: rgb(250, 107, 136);
    }
  }
}
</style>
