<template>
  <div class="container">
    <div class="mode-main">
      <div class="mode-group">
        <div
          v-for="item in modeList"
          :key="item.id"
          class="mode-item"
          :class="{ selected: modeSelected === item.value }"
          @click="selectMode(item)"
        >
          <div class="mode-icon">
            <img-svg
              :src="require(`@/assets/images/mb/wallet/${item.src}`)"
            ></img-svg>
          </div>
          <div class="mode-name">{{ item.name }}</div>
          <div v-show="item.value === 'bank'" class="mode-recommend">
            <img src="@/assets/images/mb/wallet/recommend.png" />
          </div>
          <div v-show="modeSelected === item.value" class="mode-selected">
            <img-svg
              :src="require('@/assets/images/mb/wallet/selected.svg')"
            ></img-svg>
          </div>
        </div>
      </div>
    </div>
    <template v-if="modeSelected === 'bank'">
      <div class="receiveBank-main">
        <div class="receiveBank-title">
          {{ $t('deposit.receiveAccount') }}
        </div>
        <div
          class="receiveBank-button"
          @click="selectorStatus = !selectorStatus"
        >
          {{ receiveBankName }}
        </div>
        <div class="receiveBank-icon">
          <img-svg
            :src="require('@/assets/images/mb/wallet/arrow-right.svg')"
          ></img-svg>
        </div>
      </div>
      <div class="depositBank-main">
        <div v-show="withdrawBankList.length > 0" class="depositBank-title">
          {{ $t('deposit.depositAccount') }}
          <span class="depositBank-tip">{{
            $t('deposit.depositAccountTip')
          }}</span>
        </div>
        <div class="depositBank-group">
          <div
            v-for="item in withdrawBankList"
            :key="item.no"
            class="depositBank-item"
            @click="selectWithdrawBank(item)"
          >
            <div class="depositBank-item-name">
              {{ item.bank_name }} {{ item.card_no }}
            </div>
            <div
              v-show="item.no === withdrawBankSelected"
              class="depositBank-item-icon"
            >
              <img-svg
                :src="require('@/assets/images/mb/wallet/checked.svg')"
              ></img-svg>
            </div>
          </div>
        </div>
        <template v-if="withdrawBankList.length < 3">
          <nuxt-link class="depositBank-button" to="AddBankAccount">
            <div class="depositBank-button-icon">
              <img-svg
                :src="require('@/assets/images/mb/wallet/add.svg')"
              ></img-svg>
            </div>
            <div class="depositBank-button-text">
              {{ $t('deposit.addBankAccount') }}
            </div>
          </nuxt-link>
        </template>
      </div>
    </template>
    <template v-if="modeSelected === 'ATM'"
      ><div class="tip-main">{{ $t('deposit.ATMTip') }}</div>
    </template>
    <template v-if="depositStatus">
      <div class="deposit-main">
        <div class="deposit-title">{{ $t('deposit.depositAmount') }}</div>
        <div class="deposit-group">
          <div
            v-for="item in amountList"
            :key="item.id"
            class="deposit-item"
            :class="{ selected: amountSelected === item.value }"
            @click="selectAmount(item)"
          >
            ${{ item.value }}
          </div>
        </div>
        <div class="deposit-funds">
          $
          <input
            v-model="depositAmount"
            type="number"
            class="deposit-input"
            :placeholder="
              $t('deposit.amountPlaceholder', [limit.min, limit.max])
            "
          />
          <div
            v-show="depositAmount !== ''"
            class="deposit-button"
            @click="clearAmount()"
          >
            <img-svg
              :src="require('@/assets/images/mb/wallet/cancel.svg')"
            ></img-svg>
          </div>
        </div>
        <div class="deposit-tip">
          <div class="deposit-tip-icon">
            <img-svg
              :src="require('@/assets/images/mb/wallet/tip.svg')"
            ></img-svg>
          </div>
          <div class="deposit-tip-text">{{ $t('deposit.amountTip') }}</div>
        </div>
        <div class="deposit-button-depositNow" @click="nextStep()">
          {{ $t('deposit.depositNow') }}
        </div>
      </div>
    </template>
    <div class="remind-main">
      <i18n path="deposit.helpTip" tag="div">
        <template v-slot:path>
          <nuxt-link class="remind-customer-service" to="/CustomerService">
            {{ $t('deposit.customerService') }}
          </nuxt-link>
        </template>
      </i18n>
    </div>
    <template v-if="selectorStatus">
      <div class="selector-mask">
        <div class="selector-main">
          <div class="selector-operate">
            <div
              class="selector-button"
              @click="selectorStatus = !selectorStatus"
            >
              {{ $t('deposit.cancel') }}
            </div>
            <div class="selector-title">
              {{ $t('deposit.selectBank') }}
            </div>
          </div>
          <div
            v-for="item in depositBankList"
            :key="item.bank_no"
            class="selector-menu"
            @click="selectDepositBank(item)"
          >
            <div class="selector-menu-text">{{ item.bank_name }}</div>
            <div
              v-show="depositBankSelected === item.bank_no"
              class="selector-menu-selected"
            >
              <img-svg
                :src="require('@/assets/images/mb/wallet/checked.svg')"
              ></img-svg>
            </div>
          </div>
        </div>
      </div>
    </template>
    <reminder-windows
      v-if="reminderStatus"
      :transmit-object="transmitObject"
      @closeWindows="switchReminderWindows"
    />
  </div>
</template>

<script>
import { getWithdrawAccounts, getDepositAccounts } from '@/api/transaction.js'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', -1)
      const title = vm.$t('header.deposit')
      vm.$store.dispatch('header/setHeaderTitle', title)
      const data = [
        {
          id: 1,
          title: vm.$t('header.teach'),
          path: '/HelpCenter',
          buttonStyle: true,
        },
      ]
      vm.$store.dispatch('header/setHeaderText', data)
    })
  },
  data() {
    return {
      modeSelected: '',
      modeList: [
        {
          id: 1,
          name: this.$t('deposit.bankCard'),
          value: 'bank',
          src: 'bankCard.svg',
        },
        {
          id: 2,
          name: this.$t('deposit.ATM'),
          value: 'ATM',
          src: 'ATM.svg',
        },
      ],
      receiveBankName: this.$t('deposit.receiveAccountPlaceholder'),
      receiveListSelected: '',
      receiveList: [],
      selectorStatus: false,
      depositBankSelected: '',
      depositBankList: [],
      withdrawBankSelected: '',
      withdrawBankList: [],
      limitList: [],
      limit: {
        min: 100,
        max: 99999,
      },
      amountSelected: '',
      amountList: [
        { id: 1, value: 1001 },
        { id: 2, value: 2001 },
        { id: 3, value: 5001 },
        { id: 4, value: 10001 },
      ],
      depositAmount: '',
      depositStatus: true,
      reminderStatus: false,
      transmitObject: {
        type: 'deposit',
        cancel: false,
        data: {
          amount: 0,
          payGateway: '',
          withdrawBanknNo: '',
          depositBankNo: '',
        },
      },
    }
  },
  watch: {
    modeSelected(data) {
      if (data === 'bank') {
        this.getDepositAccounts()
        this.getWithdrawAccounts()
      }
    },
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderText')
  },
  created() {
    this.modeSelected = this.modeList[0].value
    this.transmitObject.data.payGateway = this.modeList[0].value
  },
  methods: {
    selectMode(item) {
      this.modeSelected = item.value
      this.transmitObject.data.payGateway =
        item.value === 'bank' ? item.value : ''
      this.resetData()
      this.clearAmount()
    },
    selectDepositBank(item) {
      this.depositBankSelected = item.bank_no
      this.transmitObject.data.depositBankNo = item.bank_no.toString()
      this.receiveBankName =
        item.bank_name || this.$t('deposit.receiveAccountPlaceholder')
      this.selectorStatus = !this.selectorStatus
    },
    selectAmount(item) {
      this.amountSelected = item.value
      this.depositAmount = item.value
    },
    selectWithdrawBank(item) {
      this.withdrawBankSelected = item.no
      this.transmitObject.data.withdrawBanknNo = item.no.toString()
    },
    clearAmount() {
      this.amountSelected = ''
      this.depositAmount = ''
    },
    resetData() {
      if (this.withdrawBankList.length > 0) {
        this.withdrawBankSelected = this.withdrawBankList[0].no
        this.transmitObject.data.withdrawBanknNo = this.withdrawBankList[0].no.toString()
      }
      this.receiveBankName = this.$t('deposit.receiveAccountPlaceholder')
      this.transmitObject.data.depositBankNo = ''
      this.depositBankSelected = ''
    },
    nextStep() {
      if (!this.depositAmount) return
      const type = this.modeSelected
      switch (type) {
        case 'bank': {
          if (
            !this.transmitObject.data.withdrawBanknNo ||
            !this.transmitObject.data.depositBankNo ||
            !this.transmitObject.data.payGateway
          )
            return
          this.switchReminderWindows()
          break
        }
        case 'ATM': {
          this.switchReminderWindows()
          break
        }
        default:
          break
      }
    },
    switchReminderWindows() {
      if (!this.reminderStatus) {
        this.reminderStatus = true
        const result = String(this.depositAmount)
        this.transmitObject.data.amount = result
        this.$store.dispatch('transaction/setDepositAmount', result)
        this.$store.dispatch('transaction/setDepositMode', this.modeSelected)
      } else {
        this.reminderStatus = false
      }
    },
    async getDepositAccounts() {
      const payload = {
        payGateway: this.modeSelected,
      }
      try {
        const res = await getDepositAccounts(payload)
        const result = res.data
        this.depositBankList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getWithdrawAccounts() {
      try {
        const res = await getWithdrawAccounts()
        const result = res.data
        this.withdrawBankList = [...result]
        if (this.withdrawBankList.length > 0) {
          this.withdrawBankSelected = result[0].no
          this.transmitObject.data.withdrawBanknNo = result[0].no.toString()
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
}
.mode-main {
  padding: 1rem;
  border-bottom: 0.4rem solid rgb(247, 246, 251);
  .mode-group {
    @include flexbox(flex-start, flex-start, wrap);
    .mode-item {
      background-color: #f7f6fb;
      width: 31%;
      height: 6rem;
      margin: 0 0.5rem 0.5rem 0;
      border-radius: 0.5rem;
      border: 1px solid white;
      color: #7f7f7f;
      .mode-icon {
        @include flexbox;
        margin: 1rem auto 0.5rem;
      }
      .mode-name {
        text-align: center;
        font-size: 0.85rem;
        font-weight: 600;
        letter-spacing: -1px;
      }
    }
    .mode-recommend {
      position: absolute;
      margin: -4.9rem 0 0 3.8rem;
    }
    .mode-selected {
      @include flexbox;
      position: absolute;
      margin: -4.65rem 0 0 -0.05rem;
    }
    .selected {
      border: 1px solid #5296fd;
      background-color: white;
      color: #5296fd;
    }
    .mode-item:nth-child(3n) {
      margin: 0 0 0.5rem;
    }
  }
}
.receiveBank-main {
  @include flexbox(flex-start);
  padding: 1rem;
  border-bottom: 0.4rem solid rgb(247, 246, 251);
  .receiveBank-title {
    font-size: 0.9rem;
    font-weight: bold;
  }
  .receiveBank-button {
    width: calc(100% - 6rem);
    margin-left: 1.3rem;
    color: #7f7f7f;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .receiveBank-icon {
    font-weight: bold;
  }
}
.tip-main {
  @include flexbox(flex-start);
  padding: 1rem;
  border-bottom: 0.4rem solid rgb(247, 246, 251);
  font-size: 0.85rem;
  font-weight: 600;
  color: #fa6b88;
}
.depositBank-main {
  margin: 0.5rem 0;
  background-color: white;
  border-bottom: 0.4rem solid rgb(247, 246, 251);
  .depositBank-title {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    .depositBank-tip {
      margin-left: 1rem;
      color: #7f7f7f;
      font-size: 0.8rem;
    }
  }
  .depositBank-item {
    @include flexbox(space-between);
    padding: 0 2rem;
    border-bottom: 1px solid #ecf0f7;
    height: 2.5rem;
    .depositBank-item-name {
      font-size: 0.85rem;
      color: #707070;
    }
    .depositBank-item-icon {
      @include flexbox;
    }
  }
  .depositBank-button {
    @include flexbox;
    padding: 0.7rem 0;
    text-decoration: none;
    .depositBank-button-icon {
      @include flexbox;
      margin-right: 0.5rem;
    }
    .depositBank-button-text {
      color: #5296fd;
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
}
.deposit-main {
  padding: 1rem 1rem 0;
  .deposit-title {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
  }
  .deposit-group {
    @include flexbox(flex-start, flex-start, wrap);
    margin-bottom: 0.5rem;
    .deposit-item {
      @include flexbox;
      background-color: #f7f6fb;
      width: 22.5%;
      padding: 0.7rem 0;
      font-size: 0.9rem;
      font-weight: 600;
      color: #7f7f7f;
      margin: 0 0.5rem 0.5rem 0;
      border-radius: 0.5rem;
      border: 1px solid white;
    }
    .deposit-item:nth-child(4n) {
      margin: 0 0 0.5rem;
    }
    .selected {
      border: 1px solid #5296fd;
      background-color: white;
      color: #5296fd;
    }
  }
  .deposit-funds {
    @include flexbox(flex-start);
    padding: 0.7rem 0.5rem;
    background-color: #f7f6fb;
    border-radius: 0.5rem;
    font-weight: bold;
    .deposit-input {
      border: 0;
      width: calc(100% - 3rem);
      outline: none;
      margin: 0 0.5rem;
      background-color: #f7f6fb;
      font-weight: 600;
    }
    .deposit-button {
      @include flexbox;
    }
  }
  .deposit-button-depositNow {
    @include flexbox;
    background-color: #5296fd;
    border-radius: 0.5rem;
    height: 3rem;
    color: white;
    margin: 1rem 1rem 0;
    font-weight: bold;
  }
  .deposit-tip {
    @include flexbox(flex-start, flex-start);
    margin-top: 0.5rem;
    .deposit-tip-icon {
      @include flexbox;
      margin-right: 0.5rem;
    }
    .deposit-tip-text {
      width: calc(100% - 2rem);
      font-size: 0.75rem;
      font-weight: bold;
      color: #5296fd;
      letter-spacing: -0.5px;
    }
  }
}
.remind-main {
  @include flexbox;
  padding: 2rem 1rem;
  font-size: 0.85rem;
  font-weight: bold;
  color: #434343;
  .remind-customer-service {
    text-decoration: none;
    color: #5296fd;
  }
}
.selector-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  .selector-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    max-height: 80%;
    overflow: auto;
    .selector-operate {
      @include flexbox(flex-start);
      font-weight: bold;
      border-bottom: 0.5rem solid #f7f6fb;
      .selector-button {
        font-size: 0.9rem;
        color: #5296fd;
        padding: 1rem;
      }
      .selector-title {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    .selector-menu {
      @include flexbox(space-between);
      font-weight: bold;
      padding: 0.8rem 1rem;
      border-bottom: 1px solid lightgray;
      .selector-menu-text {
        width: calc(100% - 3.5rem);
        font-weight: bold;
      }
      .selector-menu-selected {
        @include flexbox;
      }
    }
  }
}
</style>
