<template>
  <div class="container">
    <div class="remind-main">
      <div class="remind-title">{{ $t('depositDetail.hints') }}</div>
      <div v-for="item in hintList" :key="item.id" class="remind-item">
        {{ item.content }}
      </div>
    </div>
    <div class="funds-main">
      <div class="funds-content">
        <div id="funds" class="funds-number">
          ${{ formatNumber(parseInt(depositAmount)) }}
        </div>
        <div class="funds-button" @click="copyText('#funds')">
          {{ $t('depositDetail.copy') }}
        </div>
        <div class="funds-prompt">{{ $t('depositDetail.amountTip') }}</div>
      </div>
    </div>
    <div class="info-main">
      <div class="info-title">{{ $t('depositDetail.depositAcconut') }}</div>
      <div class="info-item">
        <div class="info-item-title">
          {{ $t('depositDetail.transferBank') }}
        </div>
        <div id="transferBank" class="info-item-text">
          {{ depositData.bank_name }}
        </div>
        <div class="info-item-button" @click="copyText('#transferBank')">
          {{ $t('depositDetail.copy') }}
        </div>
      </div>
      <div class="info-item">
        <div class="info-item-title">
          {{ $t('depositDetail.bankCode') }}
        </div>
        <div id="bankCode" class="info-item-text">
          {{ depositData.bank_code }}
        </div>
        <div class="info-item-button" @click="copyText('#bankCode')">
          {{ $t('depositDetail.copy') }}
        </div>
      </div>
      <div class="info-item">
        <div class="info-item-title">
          {{ $t('depositDetail.bankAccount') }}
        </div>
        <div id="bankAccount" class="info-item-text">
          {{ depositData.bank_account }}
        </div>
        <div class="info-item-button" @click="copyText('#bankAccount')">
          {{ $t('depositDetail.copy') }}
        </div>
      </div>
      <div class="info-item">
        <div class="info-item-title">
          {{ $t('depositDetail.remittanceAccount') }}
        </div>
        <div class="info-item-text">{{ depositData.name }}</div>
      </div>
      <div class="info-item">
        <div class="info-item-title">
          {{ $t('depositDetail.remark') }}
        </div>
        <div id="remittanceAccount" class="info-item-text pink">
          {{ depositData.note }}
        </div>
        <div class="info-item-button" @click="copyText('#remittanceAccount')">
          {{ $t('depositDetail.copy') }}
        </div>
        <div class="info-item-prompt">{{ $t('depositDetail.remarkTip') }}</div>
      </div>
      <div class="info-prompt">
        <div class="info-prompt-title">{{ $t('depositDetail.reminder') }}</div>
        <div class="info-prompt-text">
          {{ $t('depositDetail.reminderContent1')
          }}<span class="pink">{{ countdownLabel }}</span
          >{{ $t('depositDetail.reminderContent2') }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', -1)
      const title = vm.$t('header.deposit')
      vm.$store.dispatch('header/setHeaderTitle', title)
      const data = [
        { id: 1, title: vm.$t('header.teach'), path: '', buttonStyle: true },
      ]
      vm.$store.dispatch('header/setHeaderText', data)
    })
  },
  data() {
    return {
      hintList: [],
      hintType: {
        ATM: 6,
        bank: 7,
      },
      countdownDefault: true,
      countdown: 0,
      countdownLabel: undefined,
    }
  },
  computed: {
    ...mapState('transaction', ['depositMode', 'depositAmount', 'depositData']),
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderText')
  },
  created() {
    this.setReminderContent()
    this.countdownTimer(900)
  },
  methods: {
    setReminderContent() {
      for (let i = 1; i <= this.hintType[this.depositMode]; i++) {
        const object = {
          id: i,
          content: this.$t(`depositDetail.${this.depositMode}Content${i}`),
        }
        this.hintList.push(object)
      }
    },
    countdownTimer(time) {
      if (this.countdownDefault) {
        this.countdown = time
        this.countdownDefault = false
      }
      if (this.countdown > 0) {
        this.countdown -= 1
        setTimeout(this.countdownTimer, 1000)
      }
      this.timeCountFormat(this.countdown)
    },
    timeCountFormat(timestamp) {
      const m = this.fillzero(Math.floor(timestamp / 60) % 60)
      const s = this.fillzero(Math.floor(timestamp / 1) % 60)

      const result = [m, s].filter((x) => x !== '')
      this.countdownLabel = result.join(':')
    },
    fillzero(number) {
      if (number > 0) {
        if (number > 9) {
          return number
        } else {
          return `0${number}`
        }
      } else {
        return '00'
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
}
.remind-main {
  background-color: #f7f6fb;
  padding: 2rem 1rem;
  font-weight: 600;
  .remind-title {
    color: #5296fd;
    font-size: 0.9rem;
  }
  .remind-item {
    color: #808080;
    font-size: 0.85rem;
    letter-spacing: -1px;
    line-height: 1.3rem;
  }
}
.funds-main {
  padding: 1rem;
  border-bottom: 0.4rem solid #ecf0f7;
  .funds-content {
    background-color: #5296fd;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    padding: 1rem 0;
    .funds-number {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: bold;
      margin-right: 0.5rem;
    }
    .funds-button {
      display: inline-block;
      border: 1px solid white;
      border-radius: 1rem;
      padding: 0.1rem 1rem;
      font-size: 0.85rem;
      vertical-align: text-bottom;
    }
    .funds-prompt {
      font-size: 0.85rem;
      font-weight: bold;
      margin-top: 0.5rem;
    }
  }
}
.info-main {
  padding: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
  .info-title {
    color: #5296fd;
  }
  .info-item {
    @include flexbox(flex-start, center, wrap);
    color: #777777;
    padding: 0.7rem 0;
    border-bottom: 1px solid #ecf0f7;
    .info-item-text {
      width: calc(100% - 8.5rem);
    }
    .info-item-button {
      border: 1px solid #5296fd;
      border-radius: 1rem;
      padding: 0.1rem 1rem;
      font-size: 0.85rem;
      color: #5296fd;
    }
    .info-item-prompt {
      color: #fa6b88;
      margin: 0.2rem 0 0 0.4rem;
    }
  }
  .info-prompt {
    padding: 1rem 0;
    font-size: 0.85rem;
    .info-prompt-title {
      color: #5296fd;
      margin-bottom: 0.3rem;
    }
    .info-prompt-text {
      color: #777777;
    }
  }
  .pink {
    color: #fa6b88;
  }
}
</style>
