<template>
  <div class="container">
    <div class="operate-main">
      <div class="operate-title">{{ $t('wallet.totalAmount') }}</div>
      <div class="operate-funds-group">
        <div v-loading="loading" class="operate-funds">
          $ {{ formatNumber(totalAmount) }}
        </div>
        <div class="operate-icon" @click="refreshTotalAmount()">
          <img-svg
            :src="require('@/assets/images/mb/wallet/refresh.svg')"
          ></img-svg>
        </div>
        <nuxt-link class="operate-button" to="/Wallet/Deposit">{{
          $t('wallet.goDeposit')
        }}</nuxt-link>
      </div>
      <div class="operate-icon-group">
        <nuxt-link
          v-for="item in navbarList"
          :key="item.id"
          class="operate-icon-item"
          :to="item.path"
        >
          <div class="operate-icon">
            <img-svg
              :src="require(`@/assets/images/mb/wallet/${item.src}`)"
            ></img-svg>
          </div>
          <div class="operate-name">{{ item.name }}</div>
        </nuxt-link>
      </div>
      <div class="operate-wallet-group">
        <div class="operate-wallet-title">{{ $t('wallet.walletDetail') }}</div>
        <div class="operate-wallet-prompt" @click="switchWalletDetail()">
          {{ $t('wallet.walletPlaceholder') }}
          <div v-show="walletDatailStatus" class="operate-wallet-icon">
            <img-svg
              :src="require(`@/assets/images/mb/wallet/minus.svg`)"
            ></img-svg>
          </div>
          <div v-show="!walletDatailStatus" class="operate-wallet-icon">
            <img-svg
              :src="require(`@/assets/images/mb/wallet/plus.svg`)"
            ></img-svg>
          </div>
        </div>
      </div>
    </div>
    <template v-if="walletDatailStatus">
      <div class="wallet-main">
        <div class="wallet-row">
          <div class="wallet-row-item">
            <div class="wallet-row-icon">
              <img src="@/assets/images/mb/wallet/wallet.png" />
            </div>
            <div class="wallet-row-name">
              {{ $t('wallet.mainWallet') }}
            </div>
            <div class="wallet-row-funds">{{ formatNumber(userCredits) }}</div>
          </div>
          <div class="wallet-row-item">
            <div class="wallet-row-icon">
              <img src="@/assets/images/mb/wallet/wallet.png" />
            </div>
            <div class="wallet-row-name">
              {{ $t('wallet.lockWallet') }}
            </div>
            <div class="wallet-row-funds">{{ formatNumber(lockCredits) }}</div>
          </div>
        </div>
        <div class="wallet-group">
          <div
            v-for="item in gameProviderRows"
            :key="item.no"
            class="wallet-item"
          >
            <div class="wallet-name">{{ item.name }}</div>
            <div v-loading="item.loading" class="wallet-funds">
              <div v-show="item.maintain" class="wallet-funds-icon">
                <img-svg
                  :src="require('@/assets/images/mb/wallet/maintain.svg')"
                ></img-svg>
              </div>
              <div
                class="wallet-funds-text"
                :class="{ maintain: item.maintain }"
              >
                {{ formatNumber(item.amount) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <div class="deposit-gift-main">
      <div class="deposit-gift-title">{{ $t('wallet.depositGift') }}</div>
      <div class="deposit-gift-group">
        <div v-for="item in giftList" :key="item.id" class="deposit-gift-item">
          <div class="deposit-gift-icon">
            <img-svg
              :src="require(`@/assets/images/mb/wallet/${item.src}`)"
            ></img-svg>
          </div>
          <div class="deposit-gift-name">{{ item.name }}</div>
        </div>
      </div>
      <nuxt-link class="deposit-gift-image" to="/">
        <img src="@/assets/images/mb/wallet/invite.png"
      /></nuxt-link>
    </div>
    <div class="betting-overview-main">
      <div class="betting-overview-header">
        <div class="betting-overview-title">
          {{ $t('wallet.bettingRecord') }}
        </div>
        <nuxt-link
          class="betting-overview-button"
          to="/PersonalCenter/BettingRecord"
          >{{ $t('wallet.more')
          }}<span class="betting-overview-icon">
            <img-svg
              :src="require('@/assets/images/mb/wallet/arrow-right.svg')"
            ></img-svg></span
        ></nuxt-link>
      </div>
      <div
        v-for="item in bettingOverviewList"
        :key="item.title"
        class="betting-overview-item"
      >
        <div class="betting-overview-title">{{ item.title }}</div>
        <div class="betting-overview-row">
          <div class="betting-overview-row-text">
            {{ $t('wallet.bettingAmount') }}
            {{ formatNumber(item.bettingAmount) }}
          </div>
        </div>
        <div class="betting-overview-row">
          <div class="betting-overview-row-text">
            {{ $t('wallet.validBetting') }}
            {{ formatNumber(item.validBetting) }}
          </div>
          <div class="betting-overview-row-text">
            {{ $t('wallet.winLose') }}
            <span :class="{ win: item.winloss > 0 }">{{
              formatNumber(item.winloss)
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getUserCredits } from '@/api/member.js'
import { getLockCredits } from '@/api/transaction.js'
import { getProviderCredits } from '@/api/wallet.js'
import { getBettingOverview } from '@/api/report.js'
import { getGameProvider } from '@/api/game.js'
import { getDateByTimezone, getISODateString } from '@/assets/scripts/time.js'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.wallet')
      vm.$store.dispatch('header/setHeaderTitle', title)
      const data = [
        {
          id: 1,
          title: vm.$t('header.transactionRecord'),
          path: '/PersonalCenter/TransactionRecord',
          buttonStyle: false,
        },
      ]
      vm.$store.dispatch('header/setHeaderText', data)
    })
  },
  data() {
    return {
      loading: true,
      userCredits: 0,
      lockCredits: 0,
      totalAmount: '',
      accumulation: 0,
      walletDatailStatus: false,
      navbarList: [
        {
          id: 1,
          path: '/Wallet/Transfer',
          name: this.$t('wallet.transfer'),
          src: 'transfer.svg',
        },
        {
          id: 2,
          path: '/Wallet/Withdraw',
          name: this.$t('wallet.withdraw'),
          src: 'withdraw.svg',
        },
        {
          id: 3,
          path: '/Wallet/CardManage',
          name: this.$t('wallet.cardManage'),
          src: 'cardManage.svg',
        },
      ],
      giftList: [
        { id: 1, name: this.$t('wallet.growUp'), src: 'growUp.svg' },
        { id: 2, name: this.$t('wallet.signIn'), src: 'signIn.svg' },
        { id: 3, name: this.$t('wallet.mission'), src: 'mission.svg' },
        { id: 4, name: this.$t('wallet.gift'), src: 'gift.svg' },
      ],
      gameProviderList: [],
      bettingOverviewList: [],
    }
  },
  computed: {
    gameProviderRows() {
      if (this.gameProviderList.length > 0) {
        return this.gameProviderList.map((x, index) => {
          const result = {
            no: index,
            id: x.platform_id,
            name: x.platform_name,
            type: x.platform_type,
            amount: '',
            loading: true,
            maintain: x.maintain,
          }
          return result
        })
      } else {
        return []
      }
    },
  },
  created() {
    this.initializate()
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderText')
  },
  methods: {
    async initializate() {
      this.getBettingOverview()
      await this.getGameProvider()
      await this.gameProviderRows.forEach((x) => {
        this.getProviderCredits(x)
      })
      await this.getUserCredits()
      await this.getLockCredits()
      this.sumAmount()
    },
    refreshTotalAmount() {
      this.loading = true
      this.totalAmount = ''
      this.initializate()
    },
    switchWalletDetail() {
      this.walletDatailStatus = !this.walletDatailStatus
    },
    async getUserCredits() {
      try {
        const res = await getUserCredits()
        const result = res.data
        this.userCredits = parseInt(result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getLockCredits() {
      try {
        const res = await getLockCredits()
        const result = res.data
        this.lockCredits = parseInt(result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getBettingOverview() {
      const payload = {
        startTime: getISODateString(
          getDateByTimezone(new Date(), { isStartOfDate: true })
        ),
        endTime: getISODateString(
          getDateByTimezone(new Date(), { isEndOfDate: true })
        ),
      }
      try {
        const res = await getBettingOverview(payload)
        const result = res.data
        const entries = Object.entries(result)
        const array = entries.map((x) => {
          const result = {
            type: x[0],
            title: x[0] !== 'total' ? this.$t(`wallet.${x[0]}`) : '',
            bettingAmount: x[1].bet,
            validBetting: x[1].valid_bet,
            winloss: x[1].profit,
            provider: x[1].providers,
          }
          return result
        })
        const totalIndex = array.findIndex((x) => x.type === 'total')
        array.splice(totalIndex, 1)
        this.bettingOverviewList = array
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getGameProvider() {
      const payload = { device: 'h5' }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameProviderList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getProviderCredits(item) {
      const payload = {
        type: item.type,
        provider: item.id,
      }
      try {
        const res = await getProviderCredits(payload)
        const result = res.data
        this.accumulation += parseInt(result.local)
        this.$set(item, 'amount', parseInt(result.local))
      } catch (err) {
        item.maintain = true
        this.$set(item, 'amount', this.$t('wallet.maintain'))
      } finally {
        this.$set(item, 'loading', false)
        this.walletDatailStatus = !this.walletDatailStatus
        this.walletDatailStatus = !this.walletDatailStatus
      }
    },
    sumAmount() {
      const result = this.userCredits + this.lockCredits + this.accumulation
      this.totalAmount = result
      this.loading = false
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
  background-color: #f7f6fb;
}
.operate-main {
  position: relative;
  box-shadow: $box-shadow;
  border-radius: 0.5rem;
  background-color: white;
  margin: 1rem;
  z-index: 1;
  .operate-title {
    padding: 1rem 1rem 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #777;
  }
  .operate-funds-group {
    @include flexbox(flex-start);
    font-weight: bold;
    padding: 0 1rem;
    .operate-funds {
      font-size: 1.2rem;
      margin-right: 1rem;
      min-width: 2rem;
    }
    .operate-icon {
      @include flexbox;
      @include iconSample(2rem, 2rem, white);
      box-shadow: $box-shadow;
    }
    .operate-button {
      position: absolute;
      color: white;
      border-radius: 1rem;
      font-size: 0.8rem;
      padding: 0.4rem 0.8rem;
      box-shadow: $box-shadow;
      right: 10%;
      text-decoration: none;
      background: linear-gradient(
        to right,
        rgb(149, 215, 254),
        rgb(109, 176, 254)
      );
    }
  }
  .operate-icon-group {
    @include flexbox(space-around);
    padding: 1rem;
    .operate-icon-item {
      text-decoration: none;
      .operate-icon {
        @include flexbox;
        @include iconSample(4rem, 4rem, white);
        box-shadow: $box-shadow;
        margin: 0 0.8rem;
      }
      .operate-name {
        font-weight: bold;
        font-size: 0.9rem;
        color: black;
        text-align: center;
        margin-top: 0.5rem;
      }
    }
  }
  .operate-wallet-group {
    @include flexbox(space-between);
    border-top: 1px solid rgb(247, 246, 251);
    padding: 1rem;
    .operate-wallet-title {
      font-weight: bold;
    }
    .operate-wallet-prompt {
      @include flexbox(flex-end);
      color: #bebebe;
      font-size: 0.9rem;
      letter-spacing: -0.5px;
      .operate-wallet-icon {
        @include flexbox;
        margin-left: 0.5rem;
      }
    }
  }
}
.wallet-main {
  position: relative;
  background-color: rgb(226, 224, 235);
  margin-top: -4.5rem;
  padding: 4.5rem 1rem 1rem;
  .wallet-row {
    @include flexbox(space-between);
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(210, 208, 222);
    .wallet-row-item {
      width: 48%;
      padding: 0.5rem 0;
      text-align: center;
      background-color: white;
      border-radius: 0.5rem;
      .wallet-row-icon {
        display: inline-block;
      }
      .wallet-row-name {
        display: inline-block;
        font-weight: bold;
        font-size: 0.9rem;
        vertical-align: top;
      }
      .wallet-row-funds {
        font-weight: bold;
        color: #5296fd;
      }
    }
  }
  .wallet-group {
    @include flexbox(flex-start, flex-start, wrap);
    padding-top: 1rem;
    .wallet-item {
      background-color: white;
      border-radius: 0.5rem;
      width: 31%;
      text-align: center;
      padding: 0.7rem 0;
      margin: 0 0.5rem 0.5rem 0;
      min-height: 4.2rem;
      .wallet-name {
        font-size: 0.9rem;
        color: #707070;
        margin-bottom: 0.3rem;
      }
      .wallet-funds {
        @include flexbox;
        .wallet-funds-icon {
          margin-right: 0.3rem;
        }
        .wallet-funds-text {
          font-size: 0.9rem;
          color: #5296fd;
        }
        .maintain {
          color: #777;
        }
      }
    }
    .wallet-item:nth-child(3n) {
      margin: 0 0 0.5rem;
    }
  }
}
.deposit-gift-main {
  margin: 1.5rem 1rem;
  .deposit-gift-title {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  .deposit-gift-group {
    @include flexbox(space-around);
    .deposit-gift-icon {
      @include flexbox;
      margin-bottom: 0.3rem;
    }
    .deposit-gift-name {
      text-align: center;
      color: #777;
      font-weight: bold;
      font-size: 0.85rem;
    }
  }
  .deposit-gift-image img {
    margin: 0.5rem auto 1rem;
    display: block;
  }
}
.betting-overview-main {
  margin: 1rem 1rem 2rem;
  .betting-overview-header {
    @include flexbox(space-between);
    margin-bottom: 1rem;
    .betting-overview-title {
      font-weight: bold;
    }
    .betting-overview-button {
      font-weight: bold;
      font-size: 0.85rem;
      text-decoration: none;
      color: #bebebe;
      .betting-overview-icon {
        margin-left: 0.5rem;
      }
    }
  }
  .betting-overview-item {
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 0.7rem;
    padding-bottom: 0.7rem;
    .betting-overview-title {
      font-size: 0.9rem;
      font-weight: 600;
      padding: 0.7rem 1.5rem;
      border-bottom: 1px solid #ecf0f7;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 3px;
        height: 15px;
        background: #5296fd;
        margin: 3px 0px 0 -12px;
      }
    }
    .betting-overview-row {
      @include flexbox(space-between);
      padding: 0.7rem 1.5rem 0;
      .betting-overview-row-text {
        font-size: 0.85rem;
        font-weight: bold;
        color: gray;
        .win {
          color: #fa6b88;
        }
      }
    }
  }
}
</style>
