<template>
  <div class="container">
    <wallet-overview
      :transaction-type="transactionType"
      :game-item="gameItem"
      :upload-status="uploadStatus"
      @openInterface="openInterface"
      @setGameProvider="setGameProvider"
      @setUserCredits="setUserCredits"
      @resetUploadStatus="resetUploadStatus"
    />
    <!-- <div class="autoPay-main">
      <div class="autoPay-title">{{ $t('transfer.autoPay') }}</div>
      <el-switch
        v-model="autoPay"
        active-color="#5296fd"
        inactive-color="#bebebe"
        @change="switchAutoTransfer()"
      >
      </el-switch>
    </div> -->
    <div class="transfer-main">
      <div class="transfer-wallet">
        <div class="transfer-wallet-title" @click="openSelector('one')">
          {{ walletOneSelected.name }}
          <span class="transfer-wallet-icon"
            ><img-svg
              :src="require('@/assets/images/mb/wallet/arrow-right.svg')"
            ></img-svg
          ></span>
        </div>
        <div class="transfer-icon">
          <img-svg
            :src="require('@/assets/images/mb/wallet/arrow.svg')"
          ></img-svg>
        </div>
        <div class="transfer-wallet-title" @click="openSelector('two')">
          {{ walletTwoSelected.name }}
          <span class="transfer-wallet-icon"
            ><img-svg
              :src="require('@/assets/images/mb/wallet/arrow-right.svg')"
            ></img-svg
          ></span>
        </div>
      </div>
      <div class="transfer-tip">{{ $t('transfer.amountTip') }}</div>
      <div class="transfer-funds">
        $
        <input
          v-model="transferAmount"
          type="number"
          class="transfer-input"
          :placeholder="$t('transfer.amountPlaceholder')"
        />
        <div class="transfer-button" @click="fullAmount()">
          {{ $t('transfer.all') }}
        </div>
      </div>
      <div
        v-show="transferAmount > userCredits && transferType === 'in'"
        class="transfer-errorTip"
      >
        {{ $t('transfer.amountErrorTip') }}
      </div>
      <div
        v-show="transferAmount > gameItem.amount && transferType === 'out'"
        class="transfer-errorTip"
      >
        {{ $t('transfer.amountErrorTip') }}
      </div>
      <div class="transfer-button-transferNow" @click="transfer()">
        {{ $t('transfer.transferNow') }}
      </div>
    </div>
    <div class="remind-main">
      <i18n path="transfer.helpTip" tag="div">
        <template v-slot:path>
          <nuxt-link class="remind-customer-service" to="/CustomerService">
            {{ $t('transfer.customerService') }}
          </nuxt-link>
        </template>
      </i18n>
    </div>
    <template v-if="selectorStatus">
      <div class="selector-mask">
        <div class="selector-main">
          <div class="selector-operate">
            <div
              class="selector-button"
              @click="selectorStatus = !selectorStatus"
            >
              {{ $t('transfer.cancel') }}
            </div>
            <div class="selector-title">
              {{ $t('transfer.selectWallet') }}
            </div>
          </div>
          <template v-if="selectorType === 'one'">
            <div
              v-for="item in walletOneList"
              :key="item.no"
              class="selector-menu"
              @click="selectWallet(item)"
            >
              <div class="selector-menu-text">{{ item.name }}</div>
              <div
                v-show="walletOneSelected.id === item.id"
                class="selector-menu-selected"
              >
                <img-svg
                  :src="require('@/assets/images/mb/wallet/checked.svg')"
                ></img-svg>
              </div>
            </div>
          </template>
          <template v-else>
            <div
              v-for="item in walletTwoList"
              :key="item.no"
              class="selector-menu"
              @click="selectWallet(item)"
            >
              <div class="selector-menu-text">{{ item.name }}</div>
              <div
                v-show="walletTwoSelected.id === item.id"
                class="selector-menu-selected"
              >
                <img-svg
                  :src="require('@/assets/images/mb/wallet/checked.svg')"
                ></img-svg>
              </div>
            </div>
          </template>
        </div>
      </div>
    </template>
    <reminder-windows
      v-if="reminderStatus"
      :transmit-object="transmitObject"
      @closeWindows="switchAutoTransfer"
    />
  </div>
</template>

<script>
import { transferInProvider, transferOutProvider } from '@/api/wallet.js'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', -1)
      const title = vm.$t('header.transfer')
      vm.$store.dispatch('header/setHeaderTitle', title)
      const data = [
        {
          id: 1,
          title: vm.$t('header.teach'),
          path: '/HelpCenter',
          buttonStyle: true,
        },
      ]
      vm.$store.dispatch('header/setHeaderText', data)
    })
  },
  data() {
    return {
      transactionType: 'transfer',
      transferType: 'in',
      userCredits: 0,
      transferAmount: '',
      autoPay: false,
      gameItem: {
        type: '',
        provider: '',
        amount: '',
      },
      reminderStatus: false,
      transmitObject: {
        type: '',
        cancel: true,
        data: {
          autoPay: false,
        },
      },
      selectorStatus: false,
      selectorType: 'in',
      walletOneSelected: {},
      walletOneList: [],
      walletTwoSelected: {},
      walletTwoList: [],
      uploadStatus: false,
    }
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderText')
  },
  methods: {
    switchAutoTransfer(data) {
      if (!this.reminderStatus) {
        this.transmitObject.type = this.autoPay ? 'autoOn' : 'autoOff'
        this.transmitObject.data.autoPay = this.autoPay
        this.reminderStatus = true
      } else {
        this.reminderStatus = false
        this.autoPay = data
      }
    },
    transfer() {
      this.transferType === 'in'
        ? this.transferInProvider()
        : this.transferOutProvider()
    },
    async transferInProvider() {
      if (this.transferAmount > this.userCredits || !this.transferAmount) return
      const payload = {
        type: this.gameItem.type,
        provider: this.gameItem.provider,
        amount: parseInt(this.transferAmount),
      }
      try {
        await transferInProvider(payload)
        this.transferAmount = ''
        this.uploadStatus = true
        this.showToast(this.$t('transfer.transferSuccess'))
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async transferOutProvider() {
      if (
        this.transferAmount > this.gameItem.amount ||
        !this.transferAmount ||
        typeof this.gameItem.amount === 'string'
      )
        return
      const payload = {
        type: this.gameItem.type,
        provider: this.gameItem.provider,
        amount: parseInt(this.transferAmount),
      }
      try {
        await transferOutProvider(payload)
        this.transferAmount = ''
        this.uploadStatus = true
        this.showToast(this.$t('transfer.transferSuccess'))
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    openSelector(type) {
      this.selectorType = type
      this.selectorStatus = !this.selectorStatus
    },
    fullAmount() {
      this.transferAmount =
        this.transferType === 'in'
          ? Math.floor(this.userCredits)
          : Math.floor(this.gameItem.amount)
    },
    selectWallet(item) {
      if (this.selectorType === 'one') {
        this.walletOneSelected = item
        const result = this.walletOneList.find((x) => x.no < 0)
        if (result && item.no >= 0) {
          this.walletOneList.shift()
          this.walletTwoList.unshift({
            no: -1,
            id: 'mainWallet',
            name: this.$t('transfer.mainWallet'),
          })
          this.walletTwoSelected = this.walletTwoList[0]
          this.gameItem.type = item.type
          this.gameItem.provider = item.id
          this.gameItem.amount = item.amount
          this.transferType = 'out'
        }
      } else {
        this.walletTwoSelected = item
        this.gameItem.type = item.type
        this.gameItem.provider = item.id
        this.gameItem.amount = item.amount
        const result = this.walletTwoList.find((x) => x.no < 0)
        if (result && item.no >= 0) {
          this.walletOneList.unshift({
            no: -1,
            id: 'mainWallet',
            name: this.$t('transfer.mainWallet'),
          })
          this.walletTwoList.shift()
          this.walletOneSelected = this.walletOneList[0]
          this.transferType = 'in'
        }
      }
      this.selectorStatus = !this.selectorStatus
    },
    openInterface(data) {
      if (this.transferType === 'in') {
        this.walletTwoSelected = data
      } else {
        this.walletOneSelected = data
      }
      this.gameItem.type = data.type
      this.gameItem.provider = data.id
      this.gameItem.amount = data.amount
      this.transferAmount = ''
    },
    setGameProvider(data) {
      const result = [...data]
      result.unshift({
        no: -1,
        id: 'mainWallet',
        name: this.$t('transfer.mainWallet'),
      })
      this.walletOneList = [...result]
      this.walletOneSelected = result[0]
      this.walletTwoList = [...data]
    },
    setUserCredits(data) {
      this.userCredits = data
    },
    resetUploadStatus(data) {
      this.uploadStatus = data
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  background-color: #f7f6fb;
}
.autoPay-main {
  @include flexbox(space-between);
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  background-color: white;
  .autoPay-title {
    font-weight: bold;
    font-size: 0.9rem;
    color: #777;
  }
}
.transfer-main {
  padding: 1.5rem 1rem 0;
  .transfer-wallet {
    @include flexbox(space-around);
    border-bottom: 1px solid rgb(190, 190, 190);
    padding-bottom: 1rem;
    .transfer-wallet-title {
      font-weight: bold;
      .transfer-wallet-icon {
        color: gray;
        margin-left: 0.3rem;
      }
    }
  }
  .transfer-tip {
    color: #777;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0.5rem 1rem;
  }
  .transfer-funds {
    @include flexbox;
    padding: 0.7rem 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    .transfer-input {
      border: 0;
      width: calc(100% - 7rem);
      outline: none;
      margin: 0 0.5rem;
      font-weight: 600;
    }
    .transfer-button {
      font-size: 0.8rem;
      padding: 0.2rem 0.6rem;
      background-color: white;
      border-radius: 1rem;
      border: 1px solid #5296fd;
      color: #5296fd;
    }
  }
  .transfer-errorTip {
    color: rgb(250, 107, 136);
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0.5rem 1rem;
  }
  .transfer-button-transferNow {
    @include flexbox;
    background-color: #5296fd;
    border-radius: 0.5rem;
    height: 3rem;
    color: white;
    margin: 1rem 1rem 0;
    font-weight: bold;
  }
}
.remind-main {
  @include flexbox;
  padding: 2rem 1rem;
  font-size: 0.85rem;
  font-weight: bold;
  color: #434343;
  .remind-customer-service {
    text-decoration: none;
    color: #5296fd;
  }
}
.selector-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  .selector-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    max-height: 80%;
    overflow: auto;
    .selector-operate {
      @include flexbox(flex-start);
      font-weight: bold;
      border-bottom: 0.5rem solid #f7f6fb;
      .selector-button {
        font-size: 0.9rem;
        color: #5296fd;
        padding: 1rem;
      }
      .selector-title {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    .selector-menu {
      @include flexbox(flex-start);
      font-weight: bold;
      padding: 0.8rem 1rem;
      border-bottom: 1px solid lightgray;
      .selector-menu-text {
        width: calc(100% - 1.5rem);
        font-weight: bold;
      }
      .selector-menu-selected {
        @include flexbox;
      }
    }
  }
}
</style>
