<template>
  <div class="container">
    <wallet-overview :game-item="gameItem" @setUserCredits="setUserCredits" />
    <div class="bank-main">
      <div v-show="bankList.length > 0" class="bank-title">
        {{ $t('withdraw.bankAccount') }}
      </div>
      <div class="bank-group">
        <div
          v-for="item in bankList"
          :key="item.no"
          class="bank-item"
          @click="openInterface(item)"
        >
          <div class="bank-item-name">
            {{ item.bank_name }} {{ item.card_no }}
          </div>
          <div v-show="item.no === bankSelected" class="bank-item-icon">
            <img-svg
              :src="require('@/assets/images/mb/wallet/checked.svg')"
            ></img-svg>
          </div>
        </div>
      </div>
      <template v-if="bankList.length < 3">
        <nuxt-link class="bank-button" to="AddBankAccount">
          <div class="bank-button-icon">
            <img-svg
              :src="require('@/assets/images/mb/wallet/add.svg')"
            ></img-svg>
          </div>
          <div class="bank-button-text">
            {{ $t('withdraw.addBankAccount') }}
          </div>
        </nuxt-link>
      </template>
    </div>
    <div class="info-main">
      <template v-if="bankList.length > 0">
        <div class="info-tip">
          {{
            $t('withdraw.bankAccountInfo1', [
              dailyWithdrawCount,
              dailyWithdrawAmount,
            ])
          }}
        </div>
        <div class="info-tip">
          {{ $t('withdraw.bankAccountInfo2', [limit.daily_max]) }}
        </div>
      </template>
      <div v-else class="info-tip">
        {{ $t('withdraw.bankAccountTip') }}
      </div>
    </div>
    <div class="withdraw-main">
      <div class="withdraw-funds">
        $
        <input
          v-model="withdrawAmount"
          type="number"
          class="withdraw-input"
          :placeholder="$t('withdraw.amountPlaceholder')"
          @blur="toInteger()"
        />
        <div
          class="withdraw-button"
          @click="withdrawAmount = Math.floor(userCredits)"
        >
          {{ $t('withdraw.all') }}
        </div>
      </div>
      <div v-show="withdrawAmount > userCredits" class="withdraw-errorTip">
        {{ $t('withdraw.amountErrorTip') }}
      </div>
      <div class="withdraw-button-withdrawNow" @click="withdraw()">
        {{ $t('withdraw.withdrawNow') }}
      </div>
      <div class="withdraw-tip">
        {{ $t('withdraw.recycleTip') }}
      </div>
    </div>
    <div class="remind-main">
      <i18n path="withdraw.helpTip" tag="div">
        <template v-slot:path>
          <nuxt-link class="remind-customer-service" to="/CustomerService">
            {{ $t('withdraw.customerService') }}
          </nuxt-link>
        </template>
      </i18n>
    </div>
    <reminder-windows
      v-if="reminderStatus"
      :transmit-object="transmitObject"
      @closeWindows="closeReminderWindows"
    />
  </div>
</template>

<script>
import {
  getWithdrawAccounts,
  getWithdrawAccountsInfo,
  withdraw,
} from '@/api/transaction.js'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', -1)
      const title = vm.$t('header.withdraw')
      vm.$store.dispatch('header/setHeaderTitle', title)
      const data = [
        {
          id: 1,
          title: vm.$t('header.teach'),
          path: '/HelpCenter',
          buttonStyle: true,
        },
      ]
      vm.$store.dispatch('header/setHeaderText', data)
    })
  },
  data() {
    return {
      userCredits: 0,
      withdrawAmount: '',
      autoPay: false,
      gameItem: {
        type: '',
        provider: '',
      },
      bankSelected: '',
      bankList: [],
      limit: {},
      reminderStatus: false,
      transmitObject: {
        type: 'withdraw',
        cancel: false,
      },
    }
  },
  computed: {
    dailyWithdrawCount() {
      return this.limit.free_times
    },
    dailyWithdrawAmount() {
      return this.limit.daily_max - this.limit.todayDailySum
    },
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderText')
  },
  created() {
    this.getWithdrawAccounts()
  },
  methods: {
    async getWithdrawAccounts() {
      try {
        const res = await getWithdrawAccounts()
        const result = res.data
        this.bankList = result
        if (this.bankList.length > 0) {
          this.bankSelected = this.bankList[0].no
          this.getWithdrawAccountsInfo()
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getWithdrawAccountsInfo() {
      try {
        const res = await getWithdrawAccountsInfo()
        const result = res.data
        this.limit = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async withdraw() {
      if (!this.withdrawAmount || this.withdrawAmount > this.userCredits) return
      const payload = {
        no: parseInt(this.bankSelected),
        amount: parseInt(this.withdrawAmount),
      }
      try {
        await withdraw(payload)
        this.reminderStatus = true
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    toInteger() {
      const result = Math.floor(parseInt(this.withdrawAmount) / 100) * 100
      this.withdrawAmount = result
    },
    openInterface(item) {
      this.bankSelected = item.no
      this.withdrawAmount = ''
    },
    setUserCredits(data) {
      this.userCredits = data
    },
    closeReminderWindows() {
      this.reminderStatus = false
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  background-color: #f7f6fb;
}
.bank-main {
  margin: 0.5rem 0;
  background-color: white;
  .bank-title {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }
  .bank-item {
    @include flexbox(space-between);
    padding: 0 2rem;
    border-bottom: 1px solid #ecf0f7;
    height: 2.5rem;
    .bank-item-name {
      font-size: 0.85rem;
      color: #707070;
    }
    .bank-item-icon {
      @include flexbox;
    }
  }
  .bank-button {
    @include flexbox;
    padding: 0.7rem 0;
    text-decoration: none;
    .bank-button-icon {
      @include flexbox;
      margin-right: 0.5rem;
    }
    .bank-button-text {
      color: #5296fd;
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
}
.info-main {
  margin: 0.5rem 0;
  background-color: white;
  padding: 1rem 1.5rem;
  .info-tip {
    font-size: 0.8rem;
    font-weight: bold;
    color: #707070;
    line-height: 1.2rem;
  }
}
.withdraw-main {
  padding: 1rem 1rem 0;
  .withdraw-funds {
    @include flexbox;
    padding: 0.7rem 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    .withdraw-input {
      border: 0;
      width: calc(100% - 7rem);
      outline: none;
      margin: 0 0.5rem;
      font-weight: 600;
    }
    .withdraw-button {
      font-size: 0.8rem;
      padding: 0.2rem 0.6rem;
      background-color: white;
      border-radius: 1rem;
      border: 1px solid #5296fd;
      color: #5296fd;
    }
  }
  .withdraw-errorTip {
    color: rgb(250, 107, 136);
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0.5rem 1rem;
  }
  .withdraw-button-withdrawNow {
    @include flexbox;
    background-color: #5296fd;
    border-radius: 0.5rem;
    height: 3rem;
    color: white;
    margin: 1rem 1rem 0;
    font-weight: bold;
  }
  .withdraw-tip {
    font-size: 0.75rem;
    font-weight: bold;
    color: #777;
    letter-spacing: -0.5px;
    margin: 0.5rem 1rem 0rem;
  }
}
.remind-main {
  @include flexbox;
  padding: 2rem 1rem;
  font-size: 0.85rem;
  font-weight: bold;
  color: #434343;
  .remind-customer-service {
    text-decoration: none;
    color: #5296fd;
  }
}
</style>
