<template>
  <div class="container">
    <div class="mode-main">
      <div
        v-for="item in modeList"
        :key="item.id"
        class="mode-item"
        @click="changeMessageMode(item)"
      >
        <div
          class="mode-name"
          :class="{ selected: modeSelected.value === item.value }"
        >
          {{ item.name }}
        </div>
        <div class="mode-badge">{{ item.unread }}</div>
      </div>
    </div>
    <div class="message-main">
      <div
        v-for="item in exampleList"
        :key="item.no"
        class="message-group"
        @click="!messageEditMode ? setDetailData(item) : ''"
      >
        <template v-if="!messageEditMode">
          <div class="message-area">
            <div class="message-area-icon">
              <img-svg
                :src="require('@/assets/images/mb/messageCenter/loudly.svg')"
              ></img-svg>
            </div>
            <div v-show="!item.state" class="message-area-badge"></div>
          </div>
          <div class="message-item">
            <div class="message-item-title">{{ item.subject }}</div>
            <div class="message-item-label">重要</div>
            <div class="message-item-time">
              {{ simpleDateFormat(item.publish_time) }}
            </div>
            <div class="message-item-content">
              {{ item.content }}
            </div>
          </div>
        </template>
        <template v-else>
          <label class="message-label" :class="{ selected: item.selected }">
            <input
              v-model="item.selected"
              class="message-input"
              type="checkbox"
            />
            <div class="message-area">
              <div class="message-area-icon">
                <img-svg
                  :src="require('@/assets/images/mb/messageCenter/loudly.svg')"
                ></img-svg>
              </div>
              <div v-show="!item.state" class="message-area-badge"></div>
            </div>
            <div class="message-item">
              <div class="message-item-title">{{ item.subject }}</div>
              <div class="message-item-label">重要</div>
              <div class="message-item-time">
                {{ simpleDateFormat(item.publish_time) }}
              </div>
              <div class="message-item-content">
                {{ item.content }}
              </div>
            </div>
          </label>
        </template>
      </div>
    </div>
    <template v-if="messageOperateMask">
      <div class="selector-mask">
        <div class="selector-main">
          <div class="selector-item" @click="switchEditMode()">
            {{ $t('messageCenter.editMessage') }}
          </div>
          <div class="selector-item" @click="allHasRead()">
            {{ $t('messageCenter.allHasRead') }}
          </div>
          <div class="selector-item" @click="closeMask()">
            {{ $t('messageCenter.cancel') }}
          </div>
        </div>
      </div>
    </template>
    <template v-if="messageEditMode">
      <div class="operate-main">
        <div class="operate-item" @click="allSelected()">
          <div class="operate-icon">
            <img-svg
              :src="require('@/assets/images/mb/messageCenter/checked.svg')"
            ></img-svg>
          </div>
          <div class="operate-text">{{ $t('messageCenter.allSelect') }}</div>
        </div>
        <div class="operate-button" @click="selectOperate('read')">
          <div class="operate-icon">
            <img-svg
              :src="require('@/assets/images/mb/messageCenter/read.svg')"
            ></img-svg>
          </div>
          <div class="operate-text">{{ $t('messageCenter.hasRead') }}</div>
        </div>
        <div class="operate-button" @click="selectOperate('delete')">
          <div class="operate-icon">
            <img-svg
              :src="require('@/assets/images/mb/messageCenter/delete.svg')"
            ></img-svg>
          </div>
          <div class="operate-text">{{ $t('messageCenter.delete') }}</div>
        </div>
      </div>
    </template>
    <reminder-windows
      v-if="reminderStatus"
      :transmit-object="transmitObject"
      @closeWindows="closeReminderWindows"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { getUnreadNumber, getMessageList, readMessage } from '@/api/member.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 1)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.messageCenter')
      vm.$store.dispatch('header/setHeaderTitle', title)
      // const data = [{ id: 1, src: 'dot.svg', path: '', mask: true }]
      // vm.$store.dispatch('header/setHeaderIcon', data)
    })
  },
  data() {
    return {
      modeSelected: {},
      modeList: [
        // {
        //   id: 1,
        //   name: this.$t('messageCenter.notice'),
        //   value: 'notice',
        //   unread: '9',
        // },
        // {
        //   id: 2,
        //   name: this.$t('messageCenter.activity'),
        //   value: 'activity',
        //   unread: '99',
        // },
        {
          id: 3,
          name: this.$t('messageCenter.bulletin'),
          value: 'bulletin',
          unread: '999+',
        },
      ],
      messageList: [],
      exampleList: [
        {
          no: '001',
          publish_time: '2020-10-22T09:21:54+00:00',
          subject: '4點整 西甲焦點賽',
          content: '實力差距，馬略卡主場恐難以招架．狀態平平，巴巴巴巴',
          expired_time: '2020-10-27T09:21:54+00:00',
          state: false,
          read_time: '',
          selected: false,
        },
        {
          no: '002',
          publish_time: '2020-10-22T09:20:54+00:00',
          subject: '4點整 西甲焦點賽',
          content: '實力差距，馬略卡主場恐難以招架．狀態平平，巴巴巴巴',
          expired_time: '2020-10-27T09:21:54+00:00',
          state: true,
          read_time: '2020-10-27T09:21:54+00:00',
          selected: false,
        },
        {
          no: '003',
          publish_time: '2020-10-22T09:19:54+00:00',
          subject: '4點整 西甲焦點賽',
          content: '實力差距，馬略卡主場恐難以招架．狀態平平，巴巴巴巴',
          expired_time: '2020-10-27T09:21:54+00:00',
          state: false,
          read_time: '',
          selected: false,
        },
      ],
      reminderStatus: false,
      transmitObject: {
        type: 'message',
        cancel: true,
        data: [],
      },
    }
  },
  computed: {
    ...mapState('message', ['messageOperateMask', 'messageEditMode']),
  },
  watch: {
    messageEditMode(data) {
      this.exampleList.forEach((x) => (x.selected = false))
    },
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderIcon')
    this.$store.dispatch('header/setHeaderComplete', false)
    this.$store.dispatch('header/setMessageEditMode', false)
  },
  created() {
    this.initialize()
  },
  methods: {
    initialize() {
      this.modeSelected = this.modeList[0]
      // this.getUnreadNumber()
      // this.getMessageList(this.modeList[0])
    },
    changeMessageMode(item) {
      this.modeSelected = item
      this.getMessageList(item)
    },
    async getUnreadNumber() {
      try {
        await getUnreadNumber()
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getMessageList(item) {
      const type = item.value
      try {
        const res = await getMessageList(type)
        const result = res.data
        this.messageList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    switchEditMode() {
      this.$store.dispatch('message/setMessageEditMode', true)
      this.closeMask()
      this.$store.dispatch('header/clearHeaderIcon')
      this.$store.dispatch('header/setHeaderComplete', true)
    },
    async allHasRead() {
      await this.exampleList.forEach((x) => {
        this.readMessage(x)
      })
      this.closeMask()
      this.getMessageList(this.modeSelected)
    },
    async readMessage(item) {
      const payload = {
        id: item.no,
      }
      try {
        await readMessage(payload)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    allSelected() {
      const result = this.exampleList.findIndex((x) => !x.selected)
      if (result >= 0) {
        this.exampleList.forEach((x) => (x.selected = true))
      } else {
        this.exampleList.forEach((x) => (x.selected = false))
      }
    },
    async selectOperate(type) {
      const result = this.exampleList.findIndex((x) => x.selected)
      if (result < 0) {
        this.showToast(this.$t('messageCenter.optionEmpty'))
        return
      }

      await this.exampleList.forEach((x) => {
        if (x.selected) {
          type === 'read' ? this.readMessage(x) : this.saveDeleteMessage(x)
        }
      })

      if (type === 'read') {
        this.getMessageList(this.modeSelected)
        this.exampleList.forEach((x) => (x.selected = false))
        const data = [{ id: 1, src: 'dot.svg', path: '', mask: true }]
        this.$store.dispatch('header/setHeaderIcon', data)
        this.$store.dispatch('header/setHeaderComplete', false)
        this.$store.dispatch('message/setMessageEditMode', false)
      } else {
        this.reminderStatus = true
      }
    },
    saveDeleteMessage(item) {
      this.transmitObject.data.push(item)
    },
    closeReminderWindows() {
      this.transmitObject.data = []
      this.exampleList.forEach((x) => (x.selected = false))
      const data = [{ id: 1, src: 'dot.svg', path: '', mask: true }]
      this.$store.dispatch('header/setHeaderIcon', data)
      this.$store.dispatch('header/setHeaderComplete', false)
      this.$store.dispatch('message/setMessageEditMode', false)
      this.reminderStatus = false
    },
    closeMask() {
      this.$store.dispatch('message/setMessageOperateMask', false)
    },
    async setDetailData(item) {
      await this.$store.dispatch(
        'message/setMessageMode',
        this.modeSelected.value
      )
      await this.$store.dispatch('message/setMessageData', item)
      // await this.readMessage(item)
      this.$router.push({ path: 'MessageCenter/MessageDetail' })
    },
    simpleDateFormat(data) {
      const date = new Date(data)
      const year = date.getFullYear()
      const month = (date.getMonth() + 1).toString().padStart(2, 0)
      const day = date.getDate().toString().padStart(2, 0)

      return [year, month, day].join('-')
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
}
.mode-main {
  @include flexbox(space-around);
  height: $header-height;
  padding: 0 1rem;
  box-shadow: $box-shadow;
  .mode-item {
    @include flexbox;
    margin: 0 1rem;
    outline: none;
    color: #585858;
    .mode-name {
      font-weight: bold;
    }
    .mode-badge {
      @include flexbox;
      background-color: #fa6b88;
      color: white;
      min-width: 1.2rem;
      height: 1.2rem;
      border-radius: 0.6rem;
      font-size: 0.9rem;
      padding: 0 0.2rem;
      margin-top: -1rem;
    }
    .selected {
      color: #5296fd;
    }
  }
}
.message-main {
  margin-bottom: 3rem;
  padding: 0 1rem;
  .message-group {
    @include flexbox(flex-start);
    border-bottom: 1px solid #ecf0f7;
    padding: 1rem 0;
    .message-area {
      margin-right: 0.5rem;
      .message-area-icon {
        @include flexbox;
      }
      .message-area-badge {
        @include iconSample(0.7rem, 0.7rem, #fa6b88);
        position: absolute;
        border: 2px solid white;
        margin: -2rem 0 0 1.3rem;
      }
    }
    .message-item {
      @include flexbox(flex-start, flex-start, wrap);
      font-size: 0.9rem;
      width: calc(100% - 2.5rem);
      .message-item-title {
        font-weight: bold;
        width: calc(100% - 7.5rem);
      }
      .message-item-label {
        font-size: 0.8rem;
        font-weight: bold;
        padding: 0 0.3rem;
        color: #fa6b88;
        border: 1px solid #fa6b88;
        border-radius: 0.3rem;
      }
      .message-item-time {
        margin-left: 0.5rem;
      }
      .message-item-content {
        margin-top: 0.5rem;
        color: #484848;
        font-size: 0.85rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .message-label {
      @include flexbox(flex-start);
      width: 100%;
      &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0.8rem;
        background: url('~assets/images/mb/messageCenter/unchecked.svg') center
          no-repeat;
      }
      .message-input {
        opacity: 0;
      }
      .message-area {
        margin: 0 0.5rem 0 0.7rem;
      }
      .message-item {
        width: calc(100% - 3.5rem);
      }
    }
    .selected {
      &:before {
        background: url('~assets/images/mb/messageCenter/checked.svg') center
          no-repeat;
      }
    }
  }
}
.operate-main {
  @include flexbox(flex-start);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $bottomNav-height;
  background-color: white;
  font-weight: bold;
  z-index: 10;
  box-shadow: 0 -3px 5px lightgrey;
  .operate-item {
    @include flexbox;
    color: #5296fd;
    width: calc(100% - 15rem);
  }
  .operate-button {
    @include flexbox;
    background-color: #5296fd;
    color: white;
    border-radius: 0.5rem;
    padding: 0.7rem 1.5rem;
    margin-left: 0.5rem;
  }
  .operate-icon {
    @include flexbox;
    margin-right: 0.5rem;
  }
}
.selector-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  .selector-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    font-weight: bold;
    .selector-item {
      @include flexbox;
      padding: 0.7rem 0;
      border-bottom: 1px solid #f7f6fb;
      color: #777;
    }
    .selector-item:nth-child(3) {
      border-top: 0.4rem solid #f7f6fb;
      border-bottom: 0;
    }
  }
}
</style>
