<template>
  <div class="container">
    <div class="title-main">
      <div class="title-icon">
        <img-svg
          :src="require('@/assets/images/mb/messageCenter/loudly2.svg')"
        ></img-svg>
      </div>
      <div class="title-item">
        <div class="title-name">{{ example.subject }}</div>
        <div class="title-time">
          {{ simpleDateFormat(example.publish_time) }}
        </div>
      </div>
    </div>
    <div class="content-main">{{ example.content }}</div>
    <template v-if="messageDeleteMask">
      <div class="selector-mask">
        <div class="selector-main">
          <div class="selector-item" @click="openReminderWindows()">
            {{ $t('messageDetail.delete') }}
          </div>
          <div class="selector-item" @click="closeMask()">
            {{ $t('messageDetail.cancel') }}
          </div>
        </div>
      </div>
    </template>
    <reminder-windows
      v-if="reminderStatus"
      :transmit-object="transmitObject"
      @closeWindows="closeReminderWindows"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { getMessageDetail } from '@/api/member.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 1)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      let title = ''
      switch (vm.messageMode) {
        case 'notice': {
          title = vm.$t('header.noticeDetail')
          break
        }
        case 'activity': {
          title = vm.$t('header.activityDetail')
          break
        }
        case 'bulletin': {
          title = vm.$t('header.bulletinDetail')
          break
        }
        default:
          break
      }
      vm.$store.dispatch('header/setHeaderTitle', title)
      // const data = [{ id: 1, src: 'dot.svg', path: '', mask: false }]
      // vm.$store.dispatch('header/setHeaderIcon', data)
    })
  },
  data() {
    return {
      messageDetail: {},
      example: {
        no: '001',
        publish_time: '2020-10-22T09:21:54+00:00',
        subject: '4點整 西甲焦點賽',
        content: '實力差距，馬略卡主場恐難以招架．狀態平平，巴巴巴巴',
        expired_time: '2020-10-27T09:21:54+00:00',
        state: true,
        read_time: '',
      },
      reminderStatus: false,
      transmitObject: {
        type: 'message',
        cancel: true,
        data: [],
      },
    }
  },
  computed: {
    ...mapState('message', ['messageMode', 'messageData', 'messageDeleteMask']),
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderIcon')
  },
  created() {
    // this.getMessageDetail(this.messageData.no)
  },
  methods: {
    async getMessageDetail(value) {
      const id = value
      try {
        const res = await getMessageDetail(id)
        const result = res.data
        this.messageDetail = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    openReminderWindows() {
      this.closeMask()
      this.reminderStatus = true
      this.transmitObject.data.push(this.example)
    },
    closeReminderWindows(data) {
      this.transmitObject.data = []
      this.reminderStatus = false
      if (data !== 'cancel') {
        this.$router.push({ path: '/MessageCenter' })
      }
    },
    closeMask() {
      this.$store.dispatch('message/setMessageDeleteMask', false)
    },
    simpleDateFormat(data) {
      const date = new Date(data)
      const year = date.getFullYear()
      const month = (date.getMonth() + 1).toString().padStart(2, 0)
      const day = date.getDate().toString().padStart(2, 0)

      return [year, month, day].join('-')
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
}
.title-main {
  @include flexbox(flex-start);
  padding: 2rem 1rem;
  border-bottom: 1px solid #ecf0f7;
  .title-icon {
    @include flexbox;
    margin-right: 1rem;
  }
  .title-name {
    color: #5296fd;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .title-time {
    margin-top: 0.3rem;
    font-size: 0.9rem;
    color: #7f7f7f;
  }
}
.content-main {
  padding: 1rem;
  color: #888888;
  font-weight: bold;
}
.selector-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  .selector-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    font-weight: bold;
    .selector-item {
      @include flexbox;
      padding: 0.7rem 0;
      border-top: 0.4rem solid #f7f6fb;
      color: #777;
    }
    .selector-item:nth-child(1) {
      border-top: 0;
      color: rgb(250, 107, 136);
    }
  }
}
</style>
