<template>
  <div class="container">
    <div class="wrapper">
      <member-meun />
      <div class="content-main">
        <div class="filter-group">
          <div class="filter-title">{{ $t('bettingRecord.title') }}</div>
          <div class="filter-tip">{{ $t('bettingRecord.tip') }}</div>
          <div class="filter-main">
            <div class="filter-operate-group">
              <div class="filter-operate-row">
                <template v-if="step === 2">
                  <div class="filter-operate-title">
                    {{ $t('bettingRecord.platform') }}：
                  </div>
                  <div class="filter-operate-select">
                    <el-select v-model="gameProviderSelected">
                      <el-option
                        v-for="item in gameProviderRows"
                        :key="item.no"
                        :label="item.name"
                        :value="item.id"
                      >
                      </el-option>
                    </el-select>
                  </div>
                </template>
              </div>
              <div class="filter-operate-row">
                <div class="filter-operate-title">
                  {{ $t('bettingRecord.date') }}：
                </div>
                <div class="filter-operate-date">
                  <date-picker
                    v-model="dateRange"
                    class="filter-operate-date"
                    range
                    :lang="datepickerLang"
                    :editable="false"
                    :disabled-date="setMaxDate"
                    @change="periodSelected = ''"
                  ></date-picker>
                </div>
                <div class="filter-operate-button-group">
                  <div
                    v-for="item in periodList"
                    :key="item.id"
                    class="filter-operate-button-item"
                    :class="{ selected: periodSelected === item.value }"
                    @click="setDateRange(item)"
                  >
                    {{ item.name }}
                  </div>
                </div>
              </div>
            </div>
            <div class="filter-button-group">
              <div class="filter-button-search" @click="getBettingMethod()">
                {{ $t('bettingRecord.search') }}
              </div>
              <div class="filter-button-reset" @click="resetData()">
                {{ $t('bettingRecord.reset') }}
              </div>
            </div>
          </div>
        </div>
        <template v-if="step === 1">
          <div class="table-group">
            <div class="table-total-group">
              <div class="table-total-icon">
                <img-svg
                  :src="require('@/assets/images/pc/personalCenter/error.svg')"
                ></img-svg>
              </div>
              <div class="table-total-text">
                {{ $t('bettingRecord.bettingAmount') }}
                {{ formatNumber(total.bettingAmount) }}
              </div>
              <div class="table-total-text">
                {{ $t('bettingRecord.validBetting') }}
                {{ formatNumber(total.validBetting) }}
              </div>
              <div class="table-total-text">
                {{ $t('bettingRecord.winLose') }}
                <span :class="{ win: total.winloss > 0 }">{{
                  formatNumber(total.winloss)
                }}</span>
              </div>
            </div>
            <div class="table-overview-group">
              <div
                v-for="item in bettingOverviewList"
                :key="item.type"
                class="table-overview-item"
                :class="{
                  hoverItem: bettingOverviewHover === item.type,
                }"
                @click="selectType(item)"
                @mouseover="hoverEffect(item, true)"
                @mouseleave="hoverEffect(item, false)"
              >
                <div class="table-overview-row">
                  <div
                    class="table-overview-title"
                    :class="{
                      hoverTitle: bettingOverviewHover === item.type,
                    }"
                  >
                    {{ item.title }}
                  </div>
                  <div
                    class="table-overview-icon"
                    :class="{
                      hoverIcon: bettingOverviewHover === item.type,
                    }"
                  >
                    <span>></span>
                  </div>
                </div>
                <div class="table-overview-row">
                  <div class="table-overview-text">
                    {{ $t('bettingRecord.bettingAmount') }}
                    {{ formatNumber(item.bettingAmount) }}
                  </div>
                </div>
                <div class="table-overview-row">
                  <div class="table-overview-text">
                    {{ $t('bettingRecord.validBetting') }}
                    {{ formatNumber(item.validBetting) }}
                  </div>
                  <div class="table-overview-text">
                    {{ $t('bettingRecord.winLose') }}
                    <span :class="{ win: item.winloss > 0 }">{{
                      formatNumber(item.winloss)
                    }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
        <template v-if="step === 2">
          <div class="table-group">
            <div class="table-total-group">
              <div class="table-total-icon">
                <img-svg
                  :src="require('@/assets/images/pc/personalCenter/error.svg')"
                ></img-svg>
              </div>
              <div class="table-total-text">
                {{ $t('bettingRecord.totalQuantity', [quantity]) }}
              </div>
              <div class="table-total-text">
                {{ $t('bettingRecord.bettingAmount') }}
                {{ formatNumber(total.total_bet_amount || 0) }}
              </div>
              <div class="table-total-text">
                {{ $t('bettingRecord.validBetting') }}
                {{ formatNumber(total.total_valid_bet || 0) }}
              </div>
              <div class="table-total-text">
                {{ $t('bettingRecord.winLose') }}
                <span :class="{ win: total.total_result_amount > 0 }">{{
                  formatNumber(total.total_result_amount || 0)
                }}</span>
              </div>
            </div>
            <div class="table-header-group">
              <div class="table-header-item">
                {{ $t('bettingRecord.serialNumber') }}
              </div>
              <div class="table-header-item">
                {{ $t('bettingRecord.date') }}
              </div>
              <div class="table-header-item">
                {{ $t('bettingRecord.platform') }}
              </div>
              <div class="table-header-item">
                {{ $t('bettingRecord.bettingContent') }}
              </div>
              <div class="table-header-item">
                {{ $t('bettingRecord.bettingAmount') }}
              </div>
              <div class="table-header-item">
                {{ $t('bettingRecord.validBetting') }}
              </div>
              <div class="table-header-item">
                {{ $t('bettingRecord.winLose') }}
              </div>
            </div>
            <div
              v-for="(item, index) in bettingRecord.reports"
              :key="item.transaction_id"
              class="table-row-group"
            >
              <div class="table-row-item">
                {{ getSerialNumber(index) }}
              </div>
              <div class="table-row-item">
                {{ simpleDateFormat(item.bet_time) }}
              </div>
              <div class="table-row-item">
                {{ item.platform_id }}
              </div>
              <div class="table-row-item">
                {{ item.game_name || '-' }}
              </div>
              <div class="table-row-item">
                {{ formatNumber(parseInt(item.bet_amount)) }}
              </div>
              <div class="table-row-item">
                {{ formatNumber(parseInt(item.valid_bet)) }}
              </div>
              <div
                class="table-row-item"
                :class="{ win: item.result_amount > 0 }"
              >
                {{ formatNumber(parseInt(item.result_amount)) }}
              </div>
            </div>
            <template v-if="bettingRecord.total">
              <div
                v-if="bettingRecord.reports.length > 0"
                class="table-pagination-group"
              >
                <el-pagination
                  background
                  layout="prev, pager, next"
                  :total="totalPage"
                  :current-page="currentPage"
                  @current-change="handleCurrentChange"
                >
                </el-pagination>
              </div>
            </template>
            <template v-else>
              <div class="table-without-group">
                <div class="table-without-image">
                  <img-svg
                    :src="
                      require('@/assets/images/pc/personalCenter/transactionRecord-none.svg')
                    "
                  ></img-svg>
                </div>
                <div class="table-without-text">
                  {{ $t('bettingRecord.withoutRecord') }}
                </div>
              </div>
            </template>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { getGameProvider } from '@/api/game.js'
import {
  getBettingOverview,
  getBettingRecord,
  getBettingTotal,
} from '@/api/report.js'
import {
  getDateByTimezone,
  getPreviousDateByDays,
  getISODateString,
} from '@/assets/scripts/time.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('route/setCurrentPath', to.path)
    })
  },
  data() {
    return {
      step: 1,
      gameProviderSelected: '',
      gameProviderList: [],
      periodSelected: '',
      periodList: [
        { id: 1, name: this.$t('bettingRecord.today'), value: 'today' },
        {
          id: 2,
          name: this.$t('bettingRecord.yesterday'),
          value: 'yesterday',
        },
        {
          id: 3,
          name: this.$t('bettingRecord.near7Days'),
          value: 'near7Days',
        },
        {
          id: 4,
          name: this.$t('bettingRecord.near30Days'),
          value: 'near30Days',
        },
      ],
      dateRange: '',
      search: {
        provider: '',
        type: '',
        startTime: '',
        endTime: '',
        page: 1,
        pageSize: 10,
        state: '',
      },
      total: {},
      quantity: 0,
      bettingRecord: {},
      bettingOverviewList: [],
      bettingOverviewHover: true,
      currentPage: 1,
      withoutStatus: true,
    }
  },
  computed: {
    datepickerLang() {
      const locale = this.$i18n.locale
      if (locale === 'zh-Hant') {
        return 'zh-tw'
      } else {
        return locale
      }
    },
    totalPage() {
      const result =
        Math.ceil(this.bettingRecord.total / this.bettingRecord.per_page) * 10
      return result
    },
    gameProviderRows() {
      if (this.gameProviderList.length > 0) {
        return this.gameProviderList.map((x, index) => {
          const result = {
            no: index,
            id: x.platform_id,
            name: x.platform_name,
            type: x.platform_type,
          }
          return result
        })
      } else {
        return []
      }
    },
  },
  created() {
    this.initializate()
  },
  methods: {
    initializate() {
      this.periodSelected = this.periodList[0].value
      this.setDateRange(this.periodList[0])
      this.search.startTime = getISODateString(this.dateRange[0])
      this.search.endTime = getISODateString(this.dateRange[1])
      this.getBettingOverview()
    },
    hoverEffect(item, status) {
      this.bettingOverviewHover = status ? item.type : ''
    },
    handleCurrentChange(val) {
      this.currentPage = val
      this.search.page = val
      this.getBettingRecord()
    },
    resetData() {
      this.periodSelected = this.periodList[0].value
      this.setDateRange(this.periodList[0])
    },
    setMaxDate(date) {
      return date > new Date(new Date().setHours(0, 0, 0, 0))
    },
    getSerialNumber(index) {
      const result = (this.currentPage - 1) * 10 + (index + 1)
      return result
    },
    setDateRange(item) {
      this.periodSelected = item.value
      switch (item.value) {
        case 'today': {
          const array = [
            getDateByTimezone(new Date(), { isStartOfDate: true }),
            getDateByTimezone(new Date(), { isEndOfDate: true }),
          ]
          this.dateRange = [...array]
          break
        }
        case 'yesterday': {
          const array = [
            getPreviousDateByDays(1, { isStartOfDate: true }),
            getPreviousDateByDays(1, { isEndOfDate: true }),
          ]
          this.dateRange = [...array]
          break
        }
        case 'near7Days': {
          const array = [
            getPreviousDateByDays(7, { isStartOfDate: true }),
            getDateByTimezone(new Date(), { isEndOfDate: true }),
          ]
          this.dateRange = [...array]
          break
        }
        case 'near30Days': {
          const array = [
            getPreviousDateByDays(30, { isStartOfDate: true }),
            getDateByTimezone(new Date(), { isEndOfDate: true }),
          ]
          this.dateRange = [...array]
          break
        }
        default:
          break
      }
    },
    selectType(item) {
      if (item.provider.length > 0) {
        this.search.provider = item.provider[0].id
        this.search.type = item.type
        this.gameProviderSelected = item.provider[0].id
        this.getGameProvider(item.type)
        this.getBettingRecord()
        this.getBettingTotal()
        this.step = 2
      }
    },
    async getGameProvider(type) {
      const payload = { device: 'pc', gameType: type }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameProviderList = result
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    getBettingMethod() {
      this.search.startTime = getISODateString(this.dateRange[0])
      this.search.endTime = getISODateString(this.dateRange[1])
      switch (this.step) {
        case 1: {
          this.bettingRecord = {}
          this.getBettingOverview()
          break
        }
        case 2: {
          this.search.provider = this.gameProviderSelected
          this.bettingRecord = {}
          this.total = {}
          this.getBettingRecord()
          this.getBettingTotal()
          break
        }
        default:
          break
      }
    },
    async getBettingOverview() {
      const payload = {
        startTime: this.search.startTime,
        endTime: this.search.endTime,
      }
      try {
        const res = await getBettingOverview(payload)
        const result = res.data
        const entries = Object.entries(result)
        const array = entries.map((x) => {
          const result = {
            type: x[0],
            title: x[0] !== 'total' ? this.$t(`wallet.${x[0]}`) : '',
            bettingAmount: x[1].bet,
            validBetting: x[1].valid_bet,
            winloss: x[1].profit,
            provider: x[1].providers,
          }
          return result
        })
        const totalIndex = array.findIndex((x) => x.type === 'total')
        this.total = array[totalIndex]
        array.splice(totalIndex, 1)
        this.bettingOverviewList = array
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getBettingRecord() {
      const payload = this.search
      try {
        const res = await getBettingRecord(payload)
        const result = res.data
        this.bettingRecord = result
        this.quantity = this.bettingRecord.reports.length
        if (this.bettingRecord.reports.length > 0) {
          this.withoutStatus = false
        } else {
          this.withoutStatus = true
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getBettingTotal() {
      const payload = {
        startTime: this.search.startTime,
        endTime: this.search.endTime,
        provider: this.search.provider,
        type: this.search.type,
        state: this.search.state,
      }
      try {
        const res = await getBettingTotal(payload)
        const result = res.data
        this.total = result[0]
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    simpleDateFormat(data, hourStatus = true) {
      const date = new Date(data)
      const year = date.getFullYear()
      const month = (date.getMonth() + 1).toString().padStart(2, 0)
      const day = date.getDate().toString().padStart(2, 0)
      const hour = date.getHours().toString().padStart(2, 0)
      const minute = date.getMinutes().toString().padStart(2, 0)
      const second = date.getSeconds().toString().padStart(2, 0)
      const result = hourStatus
        ? [year, month, day].join('-') + ' ' + [hour, minute, second].join(':')
        : [year, month, day].join('-')
      return result
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  background-color: #eff0f6;
  height: 925px;
  padding-top: 5rem;
  .wrapper {
    @include flexbox(flex-start);
    width: 1260px;
    height: 96.5%;
    margin: 1rem auto;
  }
}
.content-main {
  width: 1050px;
  height: 100%;
  .filter-group {
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .filter-title {
      font-size: 1.2rem;
    }
    .filter-tip {
      margin: 0.5rem 0;
      font-size: 0.9rem;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.497);
    }
    .filter-main {
      @include flexbox(space-between);
      .filter-operate-group {
        min-width: 600px;
        .filter-operate-row {
          @include flexbox(flex-start);
          margin: 1rem 0;
          height: 2rem;
          .filter-operate-title {
            font-size: 0.9rem;
            margin-right: 0.5rem;
          }
          .filter-operate-date {
            width: 15rem;
          }
          .filter-operate-button-group {
            @include flexbox(flex-start);
            margin-left: 1rem;
            .filter-operate-button-item {
              @include flexbox;
              height: 2.1rem;
              padding: 0 1rem;
              border: 1px solid #e5e5e5;
              cursor: pointer;
              color: rgba(0, 0, 0, 0.497);
              font-size: 0.9rem;
              font-weight: 600;
              &:hover {
                color: #5296fd;
              }
            }
            .selected {
              border: 1px solid #5296fd;
              color: #5296fd;
            }
            .filter-operate-button-item:nth-child(1) {
              border-radius: 0.3rem 0 0 0.3rem;
            }
            .filter-operate-button-item:nth-child(4) {
              border-radius: 0 0.3rem 0.3rem 0;
            }
          }
        }
      }
      .filter-button-group {
        @include flexbox(flex-start);
        font-size: 0.9rem;
        font-weight: bold;
        margin: 3rem 1rem 0 0;
        .filter-button-search {
          @include flexbox();
          color: white;
          cursor: pointer;
          background-image: linear-gradient(135deg, #5ce2fc, #4e65ff);
          box-shadow: 5.5px 5.5px 10px rgba(0, 34, 121, 0.15);
          border-radius: 2rem;
          padding: 0.5rem 2rem;
        }
        .filter-button-reset {
          @include flexbox;
          color: #678afc;
          cursor: pointer;
          border: 1px solid #678afc;
          border-radius: 2rem;
          padding: 0.5rem 2rem;
          margin-left: 0.5rem;
          &:hover {
            color: white;
            background-color: #678afc;
          }
        }
      }
    }
  }
  .table-group {
    width: 100%;
    height: 600px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1.5rem;
    .table-header-group {
      @include flexbox(space-between);
      .table-header-item {
        @include flexbox;
        width: 20%;
        font-size: 0.9rem;
        font-weight: bold;
        height: 2.9rem;
        flex: 1;
      }
      .space {
        flex: 2;
      }
    }
    .table-row-group {
      @include flexbox(space-between);
      .table-row-item {
        @include flexbox;
        width: 20%;
        font-size: 0.9rem;
        font-weight: 600;
        height: 2.9rem;
        flex: 1;
        span {
          margin: 0 1rem;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      .space {
        flex: 2;
      }
    }
    .table-pagination-group {
      @include flexbox;
      margin-top: 1rem;
    }
    .table-without-group {
      margin-top: 8rem;
      text-align: center;
      opacity: 0.5;
      .table-without-text {
        font-size: 0.9rem;
      }
    }
    .table-total-group {
      @include flexbox(flex-start);
      padding: 0.5rem 1rem;
      border: 1px solid #9dc3fb;
      border-radius: 0.3rem;
      .table-total-icon {
        @include flexbox;
      }
      .table-total-text {
        margin-left: 0.5rem;
        font-weight: 600;
        font-size: 0.9rem;
        color: #343a40;
      }
    }
    .win {
      color: #fa6b88;
    }
    .table-overview-group {
      @include flexbox(flex-start, flex-start, wrap);
      margin-top: 1rem;
      .table-overview-item {
        padding: 1rem;
        width: 32%;
        margin: 0 1rem 1rem 0;
        border-radius: 0.3rem;
        cursor: pointer;
        .table-overview-row {
          @include flexbox(space-between);
          color: #343a40;
          .table-overview-title {
            font-weight: bold;
            font-size: 1.1rem;
            margin-bottom: 1rem;
          }
          .hoverTitle {
            color: #3470cc;
          }
          .table-overview-icon {
            @include flexbox;
            @include iconSample(1.5rem, 1.5rem, #e5e5e5);
            color: white;
            font-weight: bold;
            margin-bottom: 1rem;
            span {
              margin-top: -0.1rem;
            }
          }
          .hoverIcon {
            background-image: linear-gradient(to bottom, #8ad1fd, #458eff);
          }
          .table-overview-text {
            margin-top: 0.5rem;
            font-weight: 600;
            font-size: 0.9rem;
          }
        }
      }
      .table-overview-item:nth-child(3n) {
        margin: 0 0 1rem 0;
      }
      .hoverItem {
        box-shadow: 8px 8px 30px rgba(0, 32, 115, 0.15),
          0 0 30px rgba(117, 177, 225, 0.3) inset;
      }
    }
  }
}
</style>
