<template>
  <div class="container">
    <div class="wrapper">
      <member-meun />
      <div class="content-main">
        <div class="personal-group">
          <div class="personal-title">
            {{ $t('personalInfo.personalInfo') }}
          </div>
          <div class="personal-content">
            <div class="personal-content-level">
              {{ $t('personalInfo.securityLevel')
              }}<span class="personal-content-color">{{ securityText }}</span>
            </div>
            <div class="personal-content-text">
              {{ $t('personalInfo.securityTip') }}
            </div>
            <div class="content-line"></div>
            <div class="personal-content-group">
              <div
                v-for="item in securityList"
                :key="item.id"
                class="personal-content-item"
              >
                <div
                  class="personal-content-item-icon"
                  :class="{ checked: item.status }"
                >
                  <img-svg
                    :src="
                      require(`@/assets/images/pc/personalCenter/${item.src}`)
                    "
                  ></img-svg>
                  <div
                    v-show="item.status"
                    class="personal-content-item-check"
                  ></div>
                </div>
                <div class="personal-content-item-text">{{ item.name }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="basic-group">
          <div class="basic-title">{{ $t('personalInfo.BasicInfo') }}</div>
          <div class="content-line"></div>
          <div class="basic-row">
            <div class="basic-row-title">
              {{ $t('personalInfo.realName') }}：
            </div>
            <input
              v-if="!userDetailInfo.bank_account_name"
              v-model="updataData.realName"
              type="text"
              class="basic-row-input"
              :placeholder="$t('personalInfo.realNamePrompt')"
            />
            <div v-else class="basic-row-text">
              {{ userDetailInfo.bank_account_name }}
            </div>
          </div>
          <div class="basic-row">
            <div class="basic-row-title">{{ $t('personalInfo.gender') }}：</div>
            <label class="basic-row-label">
              <input
                v-model="updataData.gender"
                type="radio"
                name="gender"
                value="M"
              />{{ $t('personalInfo.male') }}
            </label>
            <label class="basic-row-label">
              <input
                v-model="updataData.gender"
                type="radio"
                name="gender"
                value="F"
              />{{ $t('personalInfo.female') }}
            </label>
          </div>
          <div class="basic-row">
            <div class="basic-row-title">
              {{ $t('personalInfo.birthday') }}：
            </div>
            <date-picker
              v-model="birthday"
              class="basic-row-data"
              :lang="datepickerLang"
              :editable="false"
              :disabled-date="setMaxDate"
              @change="changeFormat()"
            ></date-picker>
          </div>
          <div class="basic-row">
            <div class="basic-row-title">
              LINE ID：
            </div>
            <input
              v-if="!userDetailInfo.line_id"
              v-model="updataData.lineID"
              type="text"
              class="basic-row-input"
              :placeholder="$t('personalInfo.linePlaceholder')"
            />
            <div v-else class="basic-row-text">
              {{ userDetailInfo.line_id }}
            </div>
          </div>
          <div class="basic-row">
            <div class="basic-row-title">
              {{ $t('personalInfo.registerDate') }}：
            </div>
            <div class="basic-row-text">{{ registerDate }}</div>
          </div>
          <div class="content-line"></div>
          <div class="basic-button-row">
            <div class="basic-button-cancel" @click="resetData()">
              {{ $t('personalInfo.cancel') }}
            </div>
            <div class="basic-button-complete" @click="updateUserDetailInfo()">
              {{ $t('personalInfo.complete') }}
            </div>
          </div>
        </div>
        <div class="security-group">
          <div class="security-title">
            {{ $t('personalInfo.accountSecurity') }}
          </div>
          <div class="content-line"></div>
          <div class="security-row">
            <div class="security-row-title">
              {{ $t('personalInfo.phoneNumber') }}：
            </div>
            <template v-if="!userDetailInfo.phone_no">
              <div class="security-row-text">
                {{ $t('personalInfo.unverified') }}
              </div>
              <div
                class="security-row-button"
                @click="openVerificationWindow('phone')"
              >
                {{ $t('personalInfo.verification') }}
              </div>
            </template>
            <template v-else>
              <div class="security-row-text">
                +{{ hideInfo(userDetailInfo.phone_no) }}
              </div>
              <div class="security-row-verified">
                {{ $t('personalInfo.verified') }}
              </div>
            </template>
          </div>
          <div class="security-row">
            <div class="security-row-title">
              {{ $t('personalInfo.email') }}：
            </div>
            <template v-if="!userDetailInfo.email">
              <div class="security-row-text">
                {{ $t('personalInfo.unverified') }}
              </div>
              <div
                class="security-row-button"
                @click="openVerificationWindow('email')"
              >
                {{ $t('personalInfo.verification') }}
              </div>
            </template>
            <template v-else>
              <div class="security-row-text">
                {{ hideInfo(userDetailInfo.email) }}
              </div>
              <div class="security-row-verified">
                {{ $t('personalInfo.verified') }}
              </div>
            </template>
          </div>
          <div class="security-row">
            <div class="security-row-title">
              {{ $t('personalInfo.loginPassword') }}：
            </div>
            <div class="security-row-text">• • • • • • • •</div>
            <div
              class="security-row-button"
              @click="openVerificationWindow('password')"
            >
              {{ $t('personalInfo.modify') }}
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-main">
        <div class="betting-group">
          <div class="betting-header-group">
            <div class="betting-header-title">
              {{ $t('wallet.bettingRecord') }}
            </div>
            <nuxt-link
              class="betting-header-button"
              to="/PersonalCenter/BettingRecord"
              >{{ $t('wallet.more2') }} ></nuxt-link
            >
          </div>
          <div
            v-for="item in bettingOverviewList"
            :key="item.title"
            class="betting-overview-item"
          >
            <div class="betting-overview-title">{{ item.title }}</div>
            <div class="betting-overview-row">
              <div class="betting-overview-row-text">
                {{ $t('wallet.bettingAmount') }}
                {{ formatNumber(item.bettingAmount) }}
              </div>
            </div>
            <div class="betting-overview-row">
              <div class="betting-overview-row-text">
                {{ $t('wallet.validBetting') }}
                {{ formatNumber(item.validBetting) }}
              </div>
              <div class="betting-overview-row-text">
                {{ $t('wallet.winLose') }}
                <span :class="{ win: item.winloss > 0 }">{{
                  formatNumber(item.winloss)
                }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bankcard-group">
          <div class="bankcard-header-group">
            <div class="bankcard-header-title">
              {{ $t('wallet.bankCard') }}
            </div>
            <nuxt-link class="bankcard-header-button" to="/wallet"
              >{{ $t('wallet.manage') }} ></nuxt-link
            >
          </div>
          <div
            v-for="(item, index) in bankcardList"
            :key="item.bank_no"
            class="bankcard-item"
          >
            <div class="bankcard-item-content">
              <div class="bankcard-item-name">
                {{ item.bank_name }}
              </div>
              <div class="bankcard-item-number">
                {{ (item.card_no) }}
              </div>
            </div>
            <img
              class="bankcard-item-image"
              :src="
                require(`@/assets/images/pc/personalCenter/card-bg${
                  index + 1
                }.png`)
              "
            />
          </div>
        </div>
      </div>
    </div>
    <verification-windows
      v-if="verificationStatus"
      :verification-type="verificationType"
      @closeWindows="closeVerificationWindows"
    />
    <reminder-windows
      v-if="reminderStatus"
      :transmit-object="transmitObject"
      @closeWindows="closeReminderWindows"
    />
  </div>
</template>

<script>
import { getUserDetailInfo, updateUserDetailInfo } from '@/api/member.js'
import { getBettingOverview } from '@/api/report.js'
import { getWithdrawAccounts } from '@/api/transaction.js'
import { getDateByTimezone, getISODateString } from '@/assets/scripts/time.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('route/setCurrentPath', to.path)
    })
  },
  data() {
    return {
      userDetailInfo: {},
      securityLevel: 0,
      securityList: [
        {
          id: 1,
          src: 'user.svg',
          name: this.$t('personalInfo.fillInBasicInfo'),
          status: false,
        },
        {
          id: 2,
          src: 'mobile.svg',
          name: this.$t('personalInfo.bindphoneNumber'),
          status: false,
        },
        {
          id: 3,
          src: 'mail.svg',
          name: this.$t('personalInfo.bindEmail'),
          status: false,
        },
        {
          id: 4,
          src: 'creditCard.svg',
          name: this.$t('personalInfo.addBankCard'),
          status: false,
        },
      ],
      updataData: {
        realName: '',
        gender: '',
        birthday: '',
        lineID: '',
        email: '',
        phoneNumber: '',
        countryCode: '',
      },
      registerDate: '',
      birthday: '',
      verificationStatus: false,
      verificationType: '',
      reminderStatus: false,
      transmitObject: {},
      bettingOverviewList: [],
      bankcardList: [],
    }
  },
  computed: {
    datepickerLang() {
      const locale = this.$i18n.locale
      if (locale === 'zh-Hant') {
        return 'zh-tw'
      } else {
        return locale
      }
    },
    securityText() {
      let text = ''
      if (this.securityLevel <= 0) {
        text = this.$t('personalInfo.low')
      } else if (this.securityLevel > 0 && this.securityLevel < 4) {
        text = this.$t('personalInfo.medium')
      } else {
        text = this.$t('personalInfo.high')
      }
      return text
    },
  },
  created() {
    this.initializate()
  },
  methods: {
    async initializate() {
      await this.getUserDetailInfo()
      await this.getBettingOverview()
      await this.getWithdrawAccounts()
      this.checkSecurityLevel()
    },
    setMaxDate(date) {
      return date > new Date(new Date().setHours(0, 0, 0, 0))
    },
    checkSecurityLevel() {
      if (
        this.userDetailInfo.bank_account_name &&
        this.userDetailInfo.gender &&
        this.userDetailInfo.birthday &&
        this.userDetailInfo.line_id
      ) {
        this.securityList[0].status = true
        this.securityLevel += 1
      }
      if (
        this.userDetailInfo.phone_no &&
        this.userDetailInfo.phone_auth === 'Y'
      ) {
        this.securityList[1].status = true
        this.securityLevel += 1
      }
      if (this.userDetailInfo.email && this.userDetailInfo.email_auth === 'Y') {
        this.securityList[2].status = true
        this.securityLevel += 1
      }
      if (this.bankcardList.length > 0) {
        this.securityList[3].status = true
        this.securityLevel += 1
      }
    },
    openVerificationWindow(type) {
      this.verificationStatus = true
      this.verificationType = type
    },
    closeVerificationWindows(type) {
      this.verificationStatus = false
      if (type === 'updateInfo') {
        const result = {
          type: 'updateInfo',
          icon: {
            src: 'personalCenter/check.svg',
            text: this.$t('personalInfo.bindSuccess'),
          },
          content:
            this.verificationType === 'phone'
              ? this.$t('personalInfo.phoneBindSuccess')
              : this.$t('personalInfo.emailBindSuccess'),
        }
        this.transmitObject = result
        this.reminderStatus = true
      }
      if (type === 'changePassword') {
        const result = {
          type: 'changePassword',
          icon: {
            src: 'personalCenter/check.svg',
            text: this.$t('changePassword.sendSuccess'),
          },
          content: this.$t('changePassword.sendSuccess2'),
        }
        this.transmitObject = result
        this.reminderStatus = true
      }
    },
    closeReminderWindows(data) {
      this.reminderStatus = false
      if (data) {
        this.getUserDetailInfo()
      }
    },
    changeFormat() {
      if (!this.birthday) {
        this.updataData.birthday = ''
        return
      }
      this.updataData.birthday = this.simpleDateFormat(this.birthday, false)
    },
    resetData() {
      this.updataData.realName = ''
      this.updataData.gender = ''
      this.updataData.birthday = ''
      this.updataData.lineID = ''
      this.birthday = ''
    },
    async getUserDetailInfo() {
      try {
        const res = await getUserDetailInfo()
        const result = res.data
        this.userDetailInfo = result
        this.updataData.gender = result.gender
        this.birthday = result.birthday ? new Date(result.birthday) : ''
        this.registerDate = this.simpleDateFormat(result.add_time)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getBettingOverview() {
      const payload = {
        startTime: getISODateString(
          getDateByTimezone(new Date(), { isStartOfDate: true })
        ),
        endTime: getISODateString(
          getDateByTimezone(new Date(), { isEndOfDate: true })
        ),
      }
      try {
        const res = await getBettingOverview(payload)
        const result = res.data
        const entries = Object.entries(result)
        const array = entries.map((x) => {
          const result = {
            type: x[0],
            title: x[0] !== 'total' ? this.$t(`wallet.${x[0]}`) : '',
            bettingAmount: x[1].bet,
            validBetting: x[1].valid_bet,
            winloss: x[1].profit,
            provider: x[1].providers,
          }
          return result
        })
        const totalIndex = array.findIndex((x) => x.type === 'total')
        array.splice(totalIndex, 1)
        this.bettingOverviewList = array
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getWithdrawAccounts() {
      try {
        const res = await getWithdrawAccounts()
        const result = res.data
        this.bankcardList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async updateUserDetailInfo() {
      const payload = this.updataData
      try {
        await updateUserDetailInfo(payload)
        this.getUserDetailInfo()
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    hideInfo(data) {
      if (!data) return
      const length = data.length
      const star = '****'
      return data.slice(0, 4) + star + data.slice(8, length)
    },
    simpleDateFormat(data, hourStatus = true) {
      const date = new Date(data)
      const year = date.getFullYear()
      const month = (date.getMonth() + 1).toString().padStart(2, 0)
      const day = date.getDate().toString().padStart(2, 0)
      const hour = date.getHours().toString().padStart(2, 0)
      const minute = date.getMinutes().toString().padStart(2, 0)
      const second = date.getSeconds().toString().padStart(2, 0)
      const result = hourStatus
        ? [year, month, day].join('-') + ' ' + [hour, minute, second].join(':')
        : [year, month, day].join('-')
      return result
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  background-color: #eff0f6;
  height: 1045px;
  padding-top: 5rem;
  .wrapper {
    @include flexbox(flex-start);
    width: 1260px;
    height: 96.5%;
    margin: 1rem auto;
  }
}
.content-main {
  width: 800px;
  height: 100%;
  .personal-group {
    width: 100%;
    height: 255px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .personal-title {
      font-size: 1.2rem;
    }
    .personal-content {
      border: 1px solid #e5e5e5;
      padding: 1rem;
      margin-top: 1rem;
      .personal-content-level {
        font-weight: bold;
        color: #343a40;
        .personal-content-color {
          color: #dc3545;
        }
      }
      .personal-content-text {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.5);
        font-weight: bold;
      }
      .personal-content-group {
        @include flexbox(flex-start);
        .personal-content-item {
          @include flexbox;
          margin-right: 2rem;
          .personal-content-item-icon {
            @include flexbox;
            @include iconSample(
              2.5rem,
              2.5rem,
              linear-gradient(to bottom, #8ad1fd, #458eff)
            );
            margin-right: 1rem;
            opacity: 0.3;
            .personal-content-item-check {
              position: absolute;
              margin: 1.5rem 0 0 2rem;
              width: 0.75rem;
              height: 0.75rem;
              border: 1px solid #ffffff;
              border-radius: 50%;
              background: no-repeat 50% / 50% 50%;
              background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
              background-color: #41bac0;
            }
          }
          .checked {
            opacity: 1;
          }
          .personal-content-item-text {
            font-size: 0.9rem;
            font-weight: bold;
            color: #343a40;
          }
        }
      }
    }
  }
  .basic-group {
    width: 100%;
    height: 415px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .basic-title {
      font-size: 1.2rem;
    }
    .basic-row {
      @include flexbox(flex-start);
      margin: 1.2rem 0;
      min-height: 35px;
      .basic-row-title {
        color: #343a40;
        font-size: 0.9rem;
        font-weight: 600;
        width: 6rem;
      }
      .basic-row-input {
        outline: none;
        border: 1px solid #e5e5e5;
        border-radius: 0.3rem;
        padding: 0.5rem;
        width: 350px;
        &:focus {
          border: 1px solid #5296fd;
        }
      }
      .basic-row-data {
        width: 350px;
      }
      .basic-row-label {
        @include flexbox;
        margin-right: 1rem;
        font-size: 0.9rem;
        font-weight: bold;
        color: #343a40;
        input {
          margin-right: 0.5rem;
          width: 1rem;
          height: 1rem;
        }
      }
      .basic-row-text {
        font-size: 0.9rem;
      }
    }
    .basic-button-row {
      @include flexbox(flex-end);
      .basic-button-cancel {
        padding: 0.5rem 2rem;
        border-radius: 2rem;
        background-color: #ffffff;
        border: 1px solid rgba(103, 138, 252, 0.5);
        color: #678afc;
        margin-right: 0.5rem;
        font-weight: bold;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
          color: white;
          background-color: #678afc;
        }
      }
      .basic-button-complete {
        padding: 0.5rem 2rem;
        border-radius: 2rem;
        background-color: #ffffff;
        background: linear-gradient(135deg, #5ce2fc, #4e65ff);
        color: white;
        margin-right: 0.5rem;
        font-weight: bold;
        font-size: 0.9rem;
        cursor: pointer;
      }
    }
  }
  .security-group {
    width: 100%;
    height: 230px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .security-title {
      font-size: 1.2rem;
    }
    .security-row {
      @include flexbox(flex-start);
      margin: 0.5rem 0;
      min-height: 40px;
      .security-row-title {
        color: #343a40;
        font-size: 0.9rem;
        font-weight: 600;
        width: 6rem;
      }
      .security-row-text {
        width: 545px;
        font-size: 0.9rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.497);
      }
      .security-row-verified {
        margin-left: 1.5rem;
        font-size: 0.9rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.497);
      }
      .security-row-button {
        padding: 0.5rem 2rem;
        border-radius: 2rem;
        background-color: #ffffff;
        border: 1px solid rgba(103, 138, 252, 0.5);
        color: #678afc;
        margin-right: 0.5rem;
        font-weight: bold;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
          color: white;
          background-color: #678afc;
        }
      }
    }
  }
}
.sidebar-main {
  width: 230px;
  height: 100%;
  margin-left: 1rem;
  .betting-group {
    width: 100%;
    height: 470px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .betting-header-group {
      @include flexbox(space-between);
      .betting-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .betting-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
    .betting-overview-item {
      padding: 0.5rem 0;
      border-bottom: 1px solid #ecf0f7;
      .betting-overview-title {
        font-size: 0.8rem;
        font-weight: 600;
        color: #343a40;
      }
      .betting-overview-row {
        @include flexbox(space-between);
        .betting-overview-row-text {
          font-size: 0.7rem;
          color: #343a40;
          margin-top: 0.1rem;
          .win {
            color: #dc3545;
          }
        }
      }
    }
  }
  .bankcard-group {
    width: 100%;
    height: 445px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .bankcard-header-group {
      @include flexbox(space-between);
      .bankcard-header-title {
        font-weight: bold;
        color: #343a40;
      }
      .bankcard-header-button {
        font-size: 0.85rem;
        text-decoration: none;
        color: #5296fd;
      }
    }
    .bankcard-item {
      width: 90%;
      margin: 0.6rem auto;
      .bankcard-item-content {
        position: absolute;
        padding: 0.7rem;
        .bankcard-item-name {
          font-weight: bold;
          font-size: 0.8rem;
        }
        .bankcard-item-number {
          margin-top: 0.5rem;
          font-weight: 500;
          font-size: 0.9rem;
        }
      }
      .bankcard-item-image {
        width: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
      }
    }
  }
}
.content-line {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}
</style>
