<template>
  <div class="container">
    <div class="wrapper">
      <member-meun />
      <div class="content-main">
        <div class="filter-group">
          <div class="filter-title">{{ $t('transactionRecord.title') }}</div>
          <div class="filter-tip">{{ $t('transactionRecord.tip') }}</div>
          <div class="filter-main">
            <div class="filter-operate-group">
              <div class="filter-operate-row">
                <div class="filter-operate-title">
                  {{ $t('transactionRecord.type') }}：
                </div>
                <div class="filter-operate-select">
                  <el-select v-model="transactionSelected">
                    <el-option
                      v-for="item in transactionList"
                      :key="item.id"
                      :label="item.name"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                </div>
              </div>
              <div class="filter-operate-row">
                <div class="filter-operate-title">
                  {{ $t('transactionRecord.date') }}：
                </div>
                <div class="filter-operate-date">
                  <date-picker
                    v-model="dateRange"
                    class="filter-operate-date"
                    range
                    :lang="datepickerLang"
                    :editable="false"
                    :disabled-date="setMaxDate"
                    @change="periodSelected = ''"
                  ></date-picker>
                </div>
                <div class="filter-operate-button-group">
                  <div
                    v-for="item in periodList"
                    :key="item.id"
                    class="filter-operate-button-item"
                    :class="{ selected: periodSelected === item.value }"
                    @click="setDateRange(item)"
                  >
                    {{ item.name }}
                  </div>
                </div>
              </div>
            </div>
            <div class="filter-button-group">
              <div class="filter-button-search" @click="getTransactionRecord()">
                {{ $t('transactionRecord.search') }}
              </div>
              <div class="filter-button-reset" @click="resetData()">
                {{ $t('transactionRecord.reset') }}
              </div>
            </div>
          </div>
        </div>
        <div class="table-group">
          <div class="table-header-group">
            <div class="table-header-item">
              {{ $t('transactionRecord.serialNumber') }}
            </div>
            <div class="table-header-item space">
              {{ $t('transactionRecord.date') }}
            </div>
            <div
              v-if="transactionType === 'transfer'"
              class="table-header-item space"
            >
              {{ $t('transactionRecord.transactionType') }}
            </div>
            <div class="table-header-item space">
              {{ $t('transactionRecord.orderNumber') }}
            </div>
            <div class="table-header-item">
              {{ $t('transactionRecord.amount') }}
            </div>
            <div class="table-header-item">
              {{ $t('transactionRecord.status') }}
            </div>
          </div>
          <div
            v-for="(item, index) in transactionRecord.reports"
            :key="item.transaction_id"
            class="table-row-group"
          >
            <div class="table-row-item">
              {{ getSerialNumber(index) }}
            </div>
            <div class="table-row-item space">
              {{ simpleDateFormat(item.log_time) }}
            </div>
            <div
              v-if="transactionType === 'transfer'"
              class="table-row-item space"
            >
              {{ item.from_account }}<span>→</span>{{ item.to_account }}
            </div>
            <div class="table-row-item space">
              {{ item.transaction_id }}
            </div>
            <div class="table-row-item">
              {{ formatNumber(parseInt(item.amount)) }}
            </div>
            <div class="table-row-item">
              {{ getStatusText(item.state) }}
            </div>
          </div>
          <template v-if="transactionRecord.total">
            <div
              v-if="transactionRecord.reports.length > 0"
              class="table-pagination-group"
            >
              <el-pagination
                background
                layout="prev, pager, next"
                :total="totalPage"
                :current-page="currentPage"
                @current-change="handleCurrentChange"
              >
              </el-pagination>
            </div>
          </template>
          <template v-else>
            <div class="table-without-group">
              <div class="table-without-image">
                <img-svg
                  :src="
                    require('@/assets/images/pc/personalCenter/transactionRecord-none.svg')
                  "
                ></img-svg>
              </div>
              <div class="table-without-text">
                {{ $t('bettingRecord.withoutRecord') }}
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  getDepositRecord,
  getWithdrawRecord,
  getTransferRecord,
} from '@/api/report.js'
import {
  getDateByTimezone,
  getPreviousDateByDays,
  getISODateString,
} from '@/assets/scripts/time.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('route/setCurrentPath', to.path)
    })
  },
  data() {
    return {
      transactionSelected: '',
      transactionList: [
        { id: 1, name: this.$t('transactionRecord.deposit'), value: 'deposit' },
        {
          id: 2,
          name: this.$t('transactionRecord.transfer'),
          value: 'transfer',
        },
        {
          id: 3,
          name: this.$t('transactionRecord.withdraw'),
          value: 'withdraw',
        },
      ],
      periodSelected: '',
      periodList: [
        { id: 1, name: this.$t('transactionRecord.today'), value: 'today' },
        {
          id: 2,
          name: this.$t('transactionRecord.yesterday'),
          value: 'yesterday',
        },
        {
          id: 3,
          name: this.$t('transactionRecord.near7Days'),
          value: 'near7Days',
        },
        {
          id: 4,
          name: this.$t('transactionRecord.near30Days'),
          value: 'near30Days',
        },
      ],
      dateRange: '',
      search: {
        startTime: '',
        endTime: '',
        page: 1,
        pageSize: 10,
      },
      transactionType: '',
      transactionRecord: {},
      currentPage: 1,
    }
  },
  computed: {
    datepickerLang() {
      const locale = this.$i18n.locale
      if (locale === 'zh-Hant') {
        return 'zh-tw'
      } else {
        return locale
      }
    },
    totalPage() {
      const result =
        Math.ceil(
          this.transactionRecord.total / this.transactionRecord.per_page
        ) * 10
      return result
    },
  },
  created() {
    this.initializate()
  },
  methods: {
    initializate() {
      this.transactionSelected = this.transactionList[0].value
      this.periodSelected = this.periodList[0].value
      this.setDateRange(this.periodList[0])
      this.getTransactionRecord(this.transactionList[0].value)
    },
    handleCurrentChange(val) {
      this.currentPage = val
      this.search.page = val
      this.getTransactionRecord()
    },
    resetData() {
      this.transactionSelected = this.transactionList[0].value
      this.periodSelected = this.periodList[0].value
      this.setDateRange(this.periodList[0])
    },
    setMaxDate(date) {
      return date > new Date(new Date().setHours(0, 0, 0, 0))
    },
    getSerialNumber(index) {
      const result = (this.currentPage - 1) * 10 + (index + 1)
      return result
    },
    getStatusText(status) {
      const statusMap = new Map([
        ['1', this.$t('transactionRecord.success')],
        ['2', this.$t('transactionRecord.refuse')],
        ['4', this.$t('transactionRecord.cancel')],
      ])
      const result = statusMap.get(status)

      return result
    },
    setDateRange(item) {
      this.periodSelected = item.value
      switch (item.value) {
        case 'today': {
          const array = [
            getDateByTimezone(new Date(), { isStartOfDate: true }),
            getDateByTimezone(new Date(), { isEndOfDate: true }),
          ]
          this.dateRange = [...array]
          break
        }
        case 'yesterday': {
          const array = [
            getPreviousDateByDays(1, { isStartOfDate: true }),
            getPreviousDateByDays(1, { isEndOfDate: true }),
          ]
          this.dateRange = [...array]
          break
        }
        case 'near7Days': {
          const array = [
            getPreviousDateByDays(7, { isStartOfDate: true }),
            getDateByTimezone(new Date(), { isEndOfDate: true }),
          ]
          this.dateRange = [...array]
          break
        }
        case 'near30Days': {
          const array = [
            getPreviousDateByDays(30, { isStartOfDate: true }),
            getDateByTimezone(new Date(), { isEndOfDate: true }),
          ]
          this.dateRange = [...array]
          break
        }
        default:
          break
      }
    },
    async getTransactionRecord() {
      const type = this.transactionSelected
      this.search.startTime = getISODateString(this.dateRange[0])
      this.search.endTime = getISODateString(this.dateRange[1])
      this.transactionType = this.transactionSelected
      switch (type) {
        case 'deposit': {
          this.transactionRecord = {}
          await this.getDepositRecord()
          break
        }
        case 'transfer': {
          this.transactionRecord = {}
          await this.getTransferRecord()
          break
        }
        case 'withdraw': {
          this.transactionRecord = {}
          await this.getWithdrawRecord()
          break
        }
        default:
          break
      }
    },
    async getDepositRecord() {
      const payload = this.search
      try {
        const res = await getDepositRecord(payload)
        const result = res.data
        this.transactionRecord = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getWithdrawRecord() {
      const payload = this.search
      try {
        const res = await getWithdrawRecord(payload)
        const result = res.data
        this.transactionRecord = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getTransferRecord() {
      const payload = this.search
      try {
        const res = await getTransferRecord(payload)
        const result = res.data
        this.transactionRecord = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    simpleDateFormat(data, hourStatus = true) {
      const date = new Date(data)
      const year = date.getFullYear()
      const month = (date.getMonth() + 1).toString().padStart(2, 0)
      const day = date.getDate().toString().padStart(2, 0)
      const hour = date.getHours().toString().padStart(2, 0)
      const minute = date.getMinutes().toString().padStart(2, 0)
      const second = date.getSeconds().toString().padStart(2, 0)
      const result = hourStatus
        ? [year, month, day].join('-') + ' ' + [hour, minute, second].join(':')
        : [year, month, day].join('-')
      return result
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  background-color: #eff0f6;
  height: 925px;
  padding-top: 5rem;
  .wrapper {
    @include flexbox(flex-start);
    width: 1260px;
    height: 96.5%;
    margin: 1rem auto;
  }
}
.content-main {
  width: 1050px;
  height: 100%;
  .filter-group {
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    .filter-title {
      font-size: 1.2rem;
    }
    .filter-tip {
      margin: 0.5rem 0;
      font-size: 0.9rem;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.497);
    }
    .filter-main {
      @include flexbox(space-between);
      .filter-operate-group {
        min-width: 600px;
        .filter-operate-row {
          @include flexbox(flex-start);
          margin: 1rem 0;
          .filter-operate-title {
            font-size: 0.9rem;
            margin-right: 0.5rem;
          }
          .filter-operate-date {
            width: 15rem;
          }
          .filter-operate-button-group {
            @include flexbox(flex-start);
            margin-left: 1rem;
            .filter-operate-button-item {
              @include flexbox;
              height: 2.1rem;
              padding: 0 1rem;
              border: 1px solid #e5e5e5;
              cursor: pointer;
              color: rgba(0, 0, 0, 0.497);
              font-size: 0.9rem;
              font-weight: 600;
              &:hover {
                color: #5296fd;
              }
            }
            .selected {
              border: 1px solid #5296fd;
              color: #5296fd;
            }
            .filter-operate-button-item:nth-child(1) {
              border-radius: 0.3rem 0 0 0.3rem;
            }
            .filter-operate-button-item:nth-child(4) {
              border-radius: 0 0.3rem 0.3rem 0;
            }
          }
        }
      }
      .filter-button-group {
        @include flexbox(flex-start);
        font-size: 0.9rem;
        font-weight: bold;
        margin: 3rem 1rem 0 0;
        .filter-button-search {
          @include flexbox();
          color: white;
          cursor: pointer;
          background-image: linear-gradient(135deg, #5ce2fc, #4e65ff);
          box-shadow: 5.5px 5.5px 10px rgba(0, 34, 121, 0.15);
          border-radius: 2rem;
          padding: 0.5rem 2rem;
        }
        .filter-button-reset {
          @include flexbox;
          color: #678afc;
          cursor: pointer;
          border: 1px solid #678afc;
          border-radius: 2rem;
          padding: 0.5rem 2rem;
          margin-left: 0.5rem;
          &:hover {
            color: white;
            background-color: #678afc;
          }
        }
      }
    }
  }
  .table-group {
    width: 100%;
    height: 600px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.1);
    margin-bottom: 1rem;
    padding: 1.5rem;
    .table-header-group {
      @include flexbox(space-between);
      .table-header-item {
        @include flexbox;
        width: 20%;
        font-size: 0.9rem;
        font-weight: bold;
        height: 2.9rem;
        flex: 1;
      }
      .space {
        flex: 2;
      }
    }
    .table-row-group {
      @include flexbox(space-between);
      .table-row-item {
        @include flexbox;
        width: 20%;
        font-size: 0.9rem;
        font-weight: 600;
        height: 2.9rem;
        flex: 1;
        span {
          margin: 0 1rem;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      .space {
        flex: 2;
      }
    }
    .table-pagination-group {
      @include flexbox;
      margin-top: 1rem;
    }
    .table-without-group {
      margin-top: 8rem;
      text-align: center;
      opacity: 0.5;
      .table-without-text {
        font-size: 0.9rem;
      }
    }
  }
}
</style>
