<template>
  <div class="container">
    <div class="provider">
      <VueSlickCarousel
        v-if="gameProviderList.length > 0"
        v-bind="slickOptions"
      >
        <div
          v-for="item in gameProviderList"
          :key="item.platform_id"
          class="provider-item"
          :class="{ selected: selectGameProvider.id === item.platform_id }"
          @click="changeGameProvider(item.platform_id)"
        >
          {{ item.platform_name }}
        </div>
      </VueSlickCarousel>
    </div>
    <template v-if="gameList.length > 0">
      <div class="filter">
        <div class="filter-content">
          <div class="filter-text">
            {{ $t('eGame.numberOfGames', [gameList.length]) }}
          </div>
          <div class="filter-menu" @click="sortStatus = !sortStatus">
            {{ sortOrder }}
            <span class="filter-icon">
              <img-svg
                :src="require('@/assets/images/mb/eGame/arrow-down.svg')"
              ></img-svg>
            </span>
          </div>
        </div>
        <template v-if="sortStatus">
          <div class="filter-option-group">
            <div
              v-for="item in sortMethods"
              :key="item.key"
              class="filter-option-item"
              :class="{ selected: sortOrder === item.name }"
              @click="setSort(item.key)"
            >
              {{ item.name }}
            </div>
          </div>
        </template>
      </div>
    </template>
    <template v-if="gameList.length > 0">
      <div class="game">
        <div v-for="item in gameList" :key="item.no" class="game-item">
          <div class="game-item-image" @click="enterGame(item)">
            <img :src="item.icon" />
          </div>
          <div class="game-item-name">{{ item.game_name }}</div>
          <div
            v-if="isLogin"
            class="game-item-favourite"
            :class="{ favourite: item.favor }"
            @click="changeFavorite(item)"
          >
            <img-svg
              :src="require('@/assets/images/mb/eGame/heart.svg')"
            ></img-svg>
          </div>
        </div>
      </div>
    </template>
    <div v-show="gameList.length === 0" class="withoutGame">
      <div class="withoutGame-icon">
        <img src="@/assets/images/mb/eGame/none.png" />
      </div>
      <div class="withoutGame-text">{{ $t('eGame.withoutGame') }}</div>
    </div>
    <template v-if="demoGameStatus">
      <div class="window-mask">
        <div class="window-main">
          <div class="window-content">
            <div class="window-content-button" @click="setGameData()">
              {{ $t('eGame.enterGame') }}
            </div>
            <div class="window-content-button gray" @click="openGame()">
              {{ $t('eGame.demoGame') }}
            </div>
          </div>
          <div class="window-button" @click="demoGameStatus = !demoGameStatus">
            <img-svg
              :src="require('@/assets/images/mb/index/cancel.svg')"
            ></img-svg>
          </div>
        </div>
      </div>
    </template>
    <transfer-windows
      v-if="transferStatus"
      :game-item="gameItem"
      @closeWindows="closeTransferWindows"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import {
  getGameProvider,
  getGameList,
  getFavoriteList,
  addFavorite,
  removeFavorite,
  openGame,
} from '@/api/game.js'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 1)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.eGame')
      vm.$store.dispatch('header/setHeaderTitle', title)
      const data = [{ id: 1, src: 'search.svg', path: 'EGame/Search' }]
      vm.$store.dispatch('header/setHeaderIcon', data)
    })
  },
  data() {
    return {
      slickOptions: {
        slidesToShow: 4,
        swipeToSlide: true,
        arrows: false,
        infinite: false,
        initialSlide: 0,
      },
      gameProviderList: [],
      gameList: [],
      originalGameList: [],
      gameItem: {
        type: '',
        provider: '',
        id: '',
        name: '',
      },
      sortMethods: [
        {
          key: 'popular',
          name: this.$t('eGame.popular'),
        },
        {
          key: 'newest',
          name: this.$t('eGame.newest'),
        },
      ],
      sortOrder: '',
      sortStatus: false,
      demoGameStatus: false,
      transferStatus: false,
    }
  },
  computed: {
    ...mapState('game', ['selectGameProvider', 'selectGame']),
    ...mapState('login', ['isLogin']),
  },
  created() {
    this.getGameProvider('egame')
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderIcon')
    this.$store.dispatch('game/clearSelectGameProvider')
  },
  methods: {
    async getGameProvider(type) {
      const payload = { device: 'h5', gameType: type }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        const array = result.filter((x) => !x.maintain)
        this.gameProviderList = [...array]
        this.gameItem.type = type
        await this.isDefault()
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async isDefault() {
      if (!this.selectGameProvider.id) {
        const provider = location.search.split('=')[
          location.search.split('=').length - 1
        ]
        if (location.search) {
          const result = {
            id: provider,
            number: this.gameProviderList.findIndex(
              (x) => x.platform_id === provider
            ),
          }
          this.slickOptions.initialSlide = result.number
          await this.getGameList(result.id)
          if (this.selectGame.type) {
            this.transferStatus = true
            this.gameItem.id = this.selectGame.id
            this.$store.dispatch('game/clearSelectGame')
          }
        } else {
          const result = {
            id: this.gameProviderList[0].platform_id,
            number: 0,
          }
          this.getGameList(result.id)
        }
      } else {
        this.slickOptions.initialSlide = this.selectGameProvider.number
        this.getGameList(this.selectGameProvider.id)
      }
    },
    async getGameList(provider) {
      const payload = {
        id: provider,
        number: 0,
      }
      this.$store.dispatch('game/setSelectGameProvider', payload)
      try {
        const res = await getGameList(payload.id)
        const result = res.data
        this.gameList = result
        this.gameList.forEach((x) => (x.favor = false))
        this.gameItem.provider = provider
        this.gameProviderList.forEach((x) => {
          if (x.platform_id === provider) {
            this.gameItem.name = x.platform_name
          }
        })
        if (this.isLogin) {
          if (this.sortMethods.findIndex((x) => x.key === 'favourite') < 0) {
            this.sortMethods.unshift({
              key: 'favourite',
              name: this.$t('eGame.myFavourite'),
            })
          }
          await this.getFavoriteList('egame')
        }
        this.originalGameList = [...this.gameList]
        this.setSort(this.sortMethods[0].key)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getFavoriteList(type) {
      const gameType = type
      try {
        const res = await getFavoriteList(gameType)
        const result = res.data
        for (let i = 0; i < this.gameList.length; i++) {
          for (let j = 0; j < result.length; j++) {
            if (
              this.gameList[i].game_id === result[j].game_id &&
              this.gameItem.provider === result[j].platform
            ) {
              this.gameList[i].favor = true
            }
          }
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    setSort(type) {
      switch (type) {
        case 'favourite': {
          this.sortOrder = this.$t('eGame.myFavourite')
          const result = [...this.originalGameList]
            .filter((x) => x.favor === true)
            .concat([...this.originalGameList].filter((x) => x.favor === false))
          this.gameList = result
          break
        }
        case 'popular': {
          this.sortOrder = this.$t('eGame.popular')
          const filterArray = [...this.originalGameList].filter((x) => {
            if (x.e_sort) {
              if (x.e_sort.sort_type === 2) {
                return x.e_sort
              }
            }
          })
          const unfilteredArray = [...this.originalGameList].filter((x) => {
            if (x.e_sort) {
              if (x.e_sort.sort_type === 1) {
                return x.e_sort
              }
            } else {
              return x
            }
          })
          const result = filterArray.concat(unfilteredArray)
          this.gameList = result
          break
        }
        case 'newest': {
          this.sortOrder = this.$t('eGame.newest')
          const filterArray = [...this.originalGameList].filter((x) => {
            if (x.e_sort) {
              if (x.e_sort.sort_type === 1) {
                return x.e_sort
              }
            }
          })
          const unfilteredArray = [...this.originalGameList].filter((x) => {
            if (x.e_sort) {
              if (x.e_sort.sort_type === 2) {
                return x.e_sort
              }
            } else {
              return x
            }
          })
          const result = filterArray.concat(unfilteredArray)
          this.gameList = result
          break
        }
        default:
          break
      }
      this.sortStatus = false
    },
    async changeGameProvider(gameProvider) {
      this.$router.replace({
        name: 'EGame',
        query: { provider: gameProvider },
      })
      await this.getGameList(gameProvider)
    },
    changeFavorite(item) {
      const result = item.favor
      !result ? this.addFavorite(item) : this.removeFavorite(item)
    },
    async addFavorite(item) {
      const payload = {
        provider: this.gameItem.provider,
        gameType: this.gameItem.type,
        gameNumber: item.no,
      }
      try {
        await addFavorite(payload)
        item.favor = true
        this.showToast(this.$t('eGame.addFavourite', [item.game_name]))
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async removeFavorite(item) {
      const payload = {
        provider: this.gameItem.provider,
        gameType: this.gameItem.type,
        gameNumber: item.no,
      }
      try {
        await removeFavorite(payload)
        item.favor = false
        this.showToast(this.$t('eGame.reoveFavourite', [item.game_name]))
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    enterGame(item) {
      this.gameItem.id = item.game_id
      if (this.isLogin) {
        this.transferStatus = true
      } else {
        item.trial ? (this.demoGameStatus = true) : this.setGameData()
      }
    },
    async openGame() {
      const gameProvider = this.gameItem.provider
      const gameId = this.gameItem.type === 'egame' ? this.gameItem.id : ''
      const gameType = this.gameItem.type
      const demo = 'Y'
      try {
        const res = await openGame(gameProvider, gameType, gameId, demo)
        const result = res.data
        window.open(result)
        this.demoGameStatus = false
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    setGameData() {
      this.$store.dispatch('game/setSelectGame', this.gameItem)
      this.$router.push({ name: 'Login' })
    },
    closeTransferWindows() {
      this.transferStatus = false
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
}
.provider {
  height: 3rem;
  line-height: 3rem;
  box-shadow: $box-shadow;
  .provider-item {
    font-weight: 500;
    text-align: center;
    font-size: 0.9rem;
    outline: none;
  }
  .selected {
    color: #5296fd;
  }
}
.filter {
  padding: 1rem 0.5rem;
  font-size: 0.8rem;
  .filter-content {
    @include flexbox(space-between);
    height: 100%;
    padding: 0 1rem;
    .filter-text {
      color: #888;
      font-weight: 400;
    }
    .filter-menu {
      @include flexbox(space-between);
      background-color: #f7f6fb;
      height: 2rem;
      width: 10rem;
      border-radius: 1rem;
      padding: 0 1rem;
      font-weight: bold;
      .filter-icon {
        @include flexbox;
      }
    }
  }
  .filter-option-group {
    @include flexbox(flex-start, center, wrap);
    position: absolute;
    top: 9.5rem;
    width: 100%;
    background-color: white;
    border-top: 1px solid #f7f6fb;
    z-index: 1;
    padding: 0 1rem 0.5rem;
    .filter-option-item {
      @include flexbox;
      height: 3rem;
      width: 31%;
      background-color: #f7f6fb;
      border-radius: 0.5rem;
      margin: 0.5rem 0.2rem 0;
      letter-spacing: -1px;
      font-weight: bold;
    }
    .selected {
      color: white;
      background-color: skyblue;
    }
  }
}
.game {
  @include flexbox(flex-start, flex-start, wrap);
  padding: 0 1rem;
  .game-item {
    @include flexbox(space-between, flex-start, wrap);
    width: 43vw;
    margin: 0 1vw 2vh;
    .game-item-image {
      @include flexbox;
      width: 100%;
      height: 32vw;
      background-color: #0e1417;
      border-radius: 10px;
      img {
        height: 100%;
      }
    }
    .game-item-name {
      width: 85%;
      margin-top: 0.5rem;
      font-size: 0.9rem;
      font-weight: bold;
      letter-spacing: -0.5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .game-item-favourite {
      @include flexbox;
      margin: 0.5rem 0.5rem 0 0;
    }
  }
}
.withoutGame {
  margin-top: 50%;
  .withoutGame-icon {
    @include flexbox;
  }
  .withoutGame-text {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 576px) {
  .game {
    .game-item {
      width: 29.5vw;
      .game-item-image {
        height: 20.5vw;
      }
    }
  }
}

.window-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  @include flexbox;
  .window-main {
    position: absolute;
    width: 70%;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem 1rem;
    .window-button {
      position: absolute;
      margin-top: 2.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .window-content {
      text-align: center;
      .window-content-button {
        border-radius: 0.5rem;
        background-color: #5296fd;
        color: white;
        padding: 0.6rem 0;
        margin-top: 0.5rem;
      }
      .gray {
        background-color: #495871;
      }
    }
  }
}
</style>
