<template>
  <div class="container">
    <div class="searchBar">
      <div class="searchBar-input-group">
        <div class="searchBar-input-icon" @click="search()">
          <img-svg
            :src="require('@/assets/images/mb/eGame/search.svg')"
          ></img-svg>
        </div>
        <input
          v-model="keyword"
          type="text"
          class="searchBar-input"
          :placeholder="$t('eGame.enterkeyword')"
          @keyup.enter="search()"
        />
      </div>
      <nuxt-link
        class="searchBar-back"
        :to="{
          name: 'EGame',
        }"
        >{{ $t('eGame.cancel') }}</nuxt-link
      >
    </div>
    <template v-if="!searchStatus">
      <div class="popularKeyword">
        <div class="popularKeyword-title">
          <div class="popularKeyword-icon">
            <img-svg
              :src="require('@/assets/images/mb/eGame/search.svg')"
            ></img-svg>
          </div>
          <div class="popularKeyword-text">
            {{ $t('eGame.popularKeyword') }}
          </div>
        </div>
        <div class="popularKeyword-group">
          <div
            v-for="item in keywordList"
            :key="item.id"
            class="popularKeyword-item"
            @click="search(item.name)"
          >
            {{ item.name }}
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="game">
        <div class="game-text">
          {{ $t('eGame.searchResult', [gameList.length, originalKeyword]) }}
        </div>
        <div class="game-list">
          <div v-for="item in gameList" :key="item.game_id" class="game-item">
            <div class="game-item-image" @click="enterGame(item)">
              <img :src="item.icon" />
            </div>
            <div class="game-item-name">{{ item.game_name }}</div>
            <div
              v-if="isLogin"
              class="game-item-favourite"
              :class="{ favourite: item.favor }"
              @click="changeFavorite(item)"
            >
              <img-svg
                :src="require('@/assets/images/mb/eGame/heart.svg')"
              ></img-svg>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-if="demoGameStatus">
      <div class="window-mask">
        <div class="window-main">
          <div class="window-content">
            <div class="window-content-button" @click="setGameData()">
              {{ $t('eGame.enterGame') }}
            </div>
            <div class="window-content-button gray" @click="openGame()">
              {{ $t('eGame.demoGame') }}
            </div>
          </div>
          <div class="window-button" @click="demoGameStatus = !demoGameStatus">
            <img-svg
              :src="require('@/assets/images/mb/index/cancel.svg')"
            ></img-svg>
          </div>
        </div>
      </div>
    </template>
    <transfer-windows
      v-if="transferStatus"
      :game-item="gameItem"
      @closeWindows="closeTransferWindows"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import {
  getGameProvider,
  getGameList,
  getFavoriteList,
  addFavorite,
  removeFavorite,
  openGame,
} from '@/api/game.js'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', -1)
      vm.$store.dispatch('header/setNavbarStatus', 0)
    })
  },
  data() {
    return {
      keyword: '',
      originalKeyword: '',
      searchStatus: false,
      gameItem: {
        type: '',
        provider: '',
        id: '',
        name: '',
      },
      //   keywordList: [],
      keywordList: [
        { id: 1, name: '搖錢樹' },
        { id: 2, name: '銀河瘋爆' },
        { id: 3, name: '麻將' },
        { id: 4, name: '運財童子' },
        { id: 5, name: '一路發' },
        { id: 6, name: '跑跑' },
      ],
      gameProviderList: [],
      gameList: [],
      originalGameList: [],
      transferStatus: false,
      demoGameStatus: false,
    }
  },
  computed: {
    ...mapState('login', ['isLogin']),
  },
  created() {
    this.getGameProvider('egame')
    this.getGameList()
  },
  methods: {
    search(keyword) {
      if (!this.keyword && !keyword) return
      const searchKeyword = this.keyword ? this.keyword : keyword
      this.searchStatus = true
      this.originalKeyword = searchKeyword
      const array = [...this.originalGameList]
      const result = []
      array.forEach((x) => {
        if (x.game_name.includes(searchKeyword) === true) {
          result.push(x)
        }
      })
      this.gameList = result
    },
    async getGameProvider(type) {
      const payload = { device: 'h5', gameType: type }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        const array = result.filter((x) => !x.maintain)
        this.gameProviderList = [...array]
        this.gameItem.type = type
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getGameList() {
      try {
        const res = await getGameList()
        const result = res.data
        this.gameList = result
        this.gameList.forEach((x) => (x.favor = false))
        if (this.isLogin) {
          await this.getFavoriteList('egame')
        }
        this.originalGameList = [...this.gameList]
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getFavoriteList(type) {
      const gameType = type
      try {
        const res = await getFavoriteList(gameType)
        const result = res.data
        for (let i = 0; i < this.gameList.length; i++) {
          for (let j = 0; j < result.length; j++) {
            if (this.gameList[i].game_id === result[j].game_id) {
              this.gameList[i].favor = true
            }
          }
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    changeFavorite(item) {
      this.gameItem.provider = item.platform_id
      const result = item.favor
      !result ? this.addFavorite(item) : this.removeFavorite(item)
    },
    async addFavorite(item) {
      const payload = {
        provider: this.gameItem.provider,
        gameType: this.gameItem.type,
        gameNumber: item.no,
      }
      try {
        await addFavorite(payload)
        item.favor = true
        this.showToast(this.$t('eGame.addFavourite', [item.game_name]))
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async removeFavorite(item) {
      const payload = {
        provider: this.gameItem.provider,
        gameType: this.gameItem.type,
        gameNumber: item.no,
      }
      try {
        await removeFavorite(payload)
        item.favor = false
        this.showToast(this.$t('eGame.reoveFavourite', [item.game_name]))
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    enterGame(item) {
      this.gameItem.provider = item.platform_id
      this.gameItem.id = item.game_id
      this.gameProviderList.forEach((x) => {
        if (x.platform_id === item.platform_id) {
          this.gameItem.name = x.platform_name
        }
      })
      if (this.isLogin) {
        this.transferStatus = true
      } else {
        item.trial ? (this.demoGameStatus = true) : this.setGameData()
      }
    },
    async openGame() {
      const gameProvider = this.gameItem.provider
      const gameId = this.gameItem.type === 'egame' ? this.gameItem.id : ''
      const gameType = this.gameItem.type
      const demo = 'Y'
      try {
        const res = await openGame(gameProvider, gameType, gameId, demo)
        const result = res.data
        window.open(result)
        this.demoGameStatus = false
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    setGameData() {
      this.$store.dispatch('game/setSelectGame', this.gameItem)
      this.$router.push({ name: 'Login' })
    },
    closeTransferWindows() {
      this.transferStatus = false
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: $bottomNav-height;
}
.searchBar {
  @include flexbox(space-between);
  padding: 0 1rem;
  background: linear-gradient(0.25turn, #5494fe, #5acffc, #53bbfe);
  height: $header-height;
  .searchBar-input-group {
    @include flexbox(flex-start);
    background-color: white;
    width: 75%;
    height: 2rem;
    border-radius: 1rem;
    .searchBar-input-icon {
      @include flexbox;
      margin: 0.5rem;
    }
    .searchBar-input {
      border: 0;
      height: 2rem;
      width: 80%;
      outline: none;
      font-size: 0.9rem;
    }
  }
  .searchBar-back {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}
.popularKeyword {
  padding: 0 1rem;
  .popularKeyword-title {
    @include flexbox(flex-start);
    margin: 1.5rem 0;
    font-weight: bold;
    color: #888888;
    .popularKeyword-icon {
      @include flexbox;
      margin-right: 0.5rem;
    }
  }
  .popularKeyword-group {
    @include flexbox(flex-start, center, wrap);
    .popularKeyword-item {
      padding: 0.3rem 0.7rem;
      border: 1px solid DodgerBlue;
      color: DodgerBlue;
      border-radius: 1.5rem;
      margin: 0 0.5rem 1rem 0;
      font-size: 0.85rem;
      font-weight: bold;
    }
  }
}
.game {
  padding: 0 1rem;
  .game-text {
    margin: 1.5rem 0;
    color: #888888;
    font-weight: 600;
  }
  .game-list {
    @include flexbox(flex-start, flex-start, wrap);
    .game-item {
      @include flexbox(space-between, flex-start, wrap);
      width: 43vw;
      margin: 0 1vw 2vh;
      .game-item-image {
        @include flexbox;
        width: 100%;
        height: 32vw;
        background-color: #0e1417;
        border-radius: 10px;
        img {
          height: 100%;
        }
      }
      .game-item-name {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        font-weight: bold;
        letter-spacing: -0.5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .game-item-favourite {
        @include flexbox;
        margin: 0.5rem 0.5rem 0 0;
      }
    }
  }
}
@media (min-width: 576px) {
  .game {
    .game-item {
      width: 29.5vw;
      .game-item-image {
        height: 20.5vw;
      }
    }
  }
}

.window-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  @include flexbox;
  .window-main {
    position: absolute;
    width: 70%;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem 1rem;
    .window-button {
      position: absolute;
      margin-top: 2.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .window-content {
      text-align: center;
      .window-content-button {
        border-radius: 0.5rem;
        background-color: #5296fd;
        color: white;
        padding: 0.6rem 0;
        margin-top: 0.5rem;
      }
      .gray {
        background-color: #495871;
      }
    }
  }
}
</style>
