<template>
  <div class="container">
    <div class="title-main">
      <div class="title-text">如何存款？</div>
    </div>
    <div class="content-main">
      <div class="content-text">
        首先您需要加入會員，在您註冊完成後，須<span class="red"
          >先完成新增銀行卡後，再點擊存款</span
        >，進入後即可找到適合您的存款方式。
      </div>
      <div class="content-text">
        目前開放存款方式： 1.網路銀行ATM轉帳。 2.免卡存款。
      </div>
      <div class="content-text">
        作為我們尊貴的客戶，我們會一直努力讓銀行免收取任何費用，讓您不會被我們收取任何在存款時或從您的帳戶中提款時的費用。
      </div>
    </div>
  </div>
</template>

<script>
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.helpCenter')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {}
  },
  computed: {},
  created() {},
  methods: {},
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
}
.title-main {
  padding: 1rem;
  .title-text {
    padding: 1rem 0.5rem;
    color: #5296fd;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid #ecf0f7;
  }
}
.content-main {
  padding: 0.5rem 1.5rem;
  color: #808080;
  font-weight: bold;
  line-height: 1.5rem;
  .content-text {
    margin-bottom: 1rem;
    .red {
      color: #fa6b88;
    }
  }
}
</style>
