<template>
  <div class="container">
    <div class="menu-main">
      <VueSlickCarousel v-if="menuList.length > 0" v-bind="slickMenuOptions">
        <div
          v-for="item in menuList"
          :key="item.id"
          class="menu-item"
          :class="{ selected: menuSelected === item.value }"
          @click="selectMenu(item)"
        >
          {{ item.name }}
        </div>
      </VueSlickCarousel>
    </div>
    <div class="type-main">
      <VueSlickCarousel v-if="typeList.length > 0" v-bind="slickTypeOptions">
        <div
          v-for="item in typeList"
          :key="item.id"
          class="type-item"
          :class="{ selected: typeSelected === item.value }"
          @click="selectType(item)"
        >
          {{ item.name }}
        </div>
      </VueSlickCarousel>
    </div>
    <div class="term-main">
      <div
        v-for="item in termList"
        :key="item.id"
        class="term-item"
        @click="setDetailData(item)"
      >
        <div class="term-item-text">{{ item.content }}</div>
        <div class="term-item-icon">
          <img-svg
            :src="require('@/assets/images/mb/helpCenter/arrow-right.svg')"
          ></img-svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.helpCenter')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      slickMenuOptions: {
        slidesToShow: 4,
        swipeToSlide: true,
        arrows: false,
        infinite: false,
        initialSlide: 0,
      },
      slickTypeOptions: {
        slidesToShow: 4,
        swipeToSlide: true,
        arrows: false,
        infinite: false,
        initialSlide: 0,
      },
      menuSelected: '',
      menuList: [
        {
          id: 1,
          name: this.$t('helpCenter.depositTeach'),
          value: 'depositTeach',
        },
        {
          id: 2,
          name: this.$t('helpCenter.withdrawTeach'),
          value: 'withdrawTeach',
        },
        {
          id: 3,
          name: this.$t('helpCenter.gameIntroduction'),
          value: 'gameIntroduction',
        },
        {
          id: 4,
          name: this.$t('helpCenter.technicalSupport'),
          value: 'technicalSupport',
        },
      ],
      typeSelected: '',
      typeList: [
        {
          id: 1,
          name: '開戶',
          value: 1,
        },
        {
          id: 2,
          name: '存款',
          value: 2,
        },
        {
          id: 3,
          name: '提領',
          value: 3,
        },
        {
          id: 4,
          name: '轉帳',
          value: 4,
        },
        {
          id: 5,
          name: '優惠規則',
          value: 5,
        },
        {
          id: 6,
          name: '推薦瀏覽器',
          value: 6,
        },
      ],
      termList: [
        {
          id: 1,
          content: '如何存款？',
          value: 1,
        },
        {
          id: 2,
          content: '可以綁定多張銀行卡嗎？',
          value: 2,
        },
        {
          id: 3,
          content: '取款要求(例：流水)？',
          value: 3,
        },
        {
          id: 4,
          content: '取款到帳時間？',
          value: 4,
        },
        {
          id: 5,
          content: '取款支持的銀行？',
          value: 5,
        },
        {
          id: 6,
          content: '投注後進行派彩需要多久？',
          value: 6,
        },
      ],
    }
  },
  computed: {},
  created() {
    this.menuSelected = this.menuList[0].value
    this.typeSelected = this.typeList[0].value
  },
  methods: {
    selectMenu(item) {
      this.menuSelected = item.value
    },
    selectType(item) {
      this.typeSelected = item.value
    },
    async setDetailData(item) {
      await this.$store.dispatch(
        'report/setTransactionType',
        this.transactionType
      )
      await this.$store.dispatch('report/setTransactionId', item.transaction_id)
      this.$router.push({ path: 'HelpCenter/HelpDetail' })
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
}
.menu-main {
  padding: 1rem;
  box-shadow: $box-shadow;
  .menu-item {
    text-align: center;
    outline: none;
    color: #777777;
    font-weight: 600;
  }
  .selected {
    color: #5296fd;
  }
}
.type-main {
  padding: 0.7rem 1rem 0;
  border-bottom: 0.1rem solid #f7f6fb;
  .type-item {
    text-align: center;
    outline: none;
    color: #777777;
    font-weight: 600;
    padding-bottom: 0.7rem;
    font-size: 0.9rem;
  }
  .selected {
    border-bottom: 0.2rem solid #5296fd;
  }
}
.term-item {
  padding: 1rem;
  @include flexbox(space-between);
  border-bottom: 1px solid #ecf0f7;
  font-weight: bold;
  color: #777777;
}
</style>
