<template>
  <div>
    <client-only>
      <index-header v-if="headerStatus === 0" />
      <page-header v-else-if="headerStatus === 1" />
      <member-header v-else-if="headerStatus === 2" />
      <Nuxt />
      <bottom-nav v-if="navbarStatus === 0" />
    </client-only>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { checkLoginStatus } from '@/api/member.js'

export default {
  data() {
    return {}
  },
  computed: {
    ...mapState('header', ['headerStatus', 'navbarStatus']),
  },
  created() {
    this.checkLoginStatus()
  },
  methods: {
    async checkLoginStatus() {
      try {
        const res = await checkLoginStatus()
        const result = res.data
        await this.$store.dispatch('login/setLoginStatus', true)
        await this.$store.dispatch('login/setMemberInfo', result)
      } catch (err) {
        await this.$store.dispatch('login/removeLoginStatus')
        await this.$store.dispatch('login/removetMemberInfo')
      } finally {
        setTimeout(this.checkLoginStatus, 10000)
      }
    },
  },
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, noto Sans TC, 微軟正黑體;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  -webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
</style>
