@import 'svg.scss';
@import 'element-ui.scss';

@mixin flexbox($justify: center, $align: center, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin iconSample($height: 2rem, $width: 2rem, $color: gray) {
  height: $height;
  width: $width;
  border-radius: $height/2;
  background: $color;
}

$header-height: 5rem;
$footer-height: 29rem;
$box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
$indent-length: 1rem;
$vs-border-radius: 2rem;
