.el-input__inner {
  width: 5rem;
  height: 3rem;
  border: 1px solid #e5e5e5;
  border-radius: 1.5rem;
}

.form-item {
  .el-input__inner {
    width: 5rem;
    height: 2.1rem;
    border: 1px solid #e5e5e5;
    border-radius: 0.3rem;
  }
  .el-input__icon {
    line-height: 18px;
  }
}

.form-item-select,
.receive-account-select {
  .el-input__inner {
    width: 20rem;
    height: 2.1rem;
    border: 1px solid #e5e5e5;
    border-radius: 0.3rem;
  }
  .el-input__icon {
    line-height: 18px;
  }
}
.operate-select-item,
.filter-operate-select {
  .el-input__inner {
    width: 15rem;
    height: 2.1rem;
    border: 1px solid #e5e5e5;
    border-radius: 0.3rem;
  }
  .el-input__icon {
    line-height: 18px;
  }
}
.el-select-dropdown__item.selected {
  color: black;
  font-weight: normal;
}

.el-loading-mask {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
}

.el-loading-spinner {
  margin-top: -0.5rem;
  margin-left: 1rem;
  text-align: left;
  .circular {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  border-radius: 1rem;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #4a7be2;
}
