.swiper-pagination {
  top: 29vw;
}

.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 1rem !important;
    background-color: #a6a6a6;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #007aff;
  }
}

.marquee-text {
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    display: block;
    width: 25px;
    background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  }
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    display: block;
    width: 25px;
    right: 7rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
}
.section-title-group {
  &::before {
    content: '';
    position: absolute;
    bottom: -25px;
    display: block;
    width: 37.5px;
    height: 70px;
    border-color: #dfe8ff;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    left: calc(50% - 235px);
    border-left-width: 20px;
    border-right-width: 10px;
    transform: skew(52.75deg, 0deg);
    transform-origin: bottom right;
    z-index: 1;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -25px;
    display: block;
    width: 37.5px;
    height: 70px;
    border-color: #dfe8ff;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    right: calc(50% - 235px);
    border-left-width: 10px;
    border-right-width: 20px;
    transform: skew(-52.75deg, 0deg);
    transform-origin: bottom left;
    z-index: 1;
  }
}
.section-game-group {
  &::before {
    content: '';
    position: absolute;
    width: 640px;
    left: calc(50% - 320px);
    border-top-width: 35px;
    border-top-style: solid;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top-color: rgba(132, 167, 255, 0.55);
    filter: blur(15px);
    margin-top: 1.5rem;
  }
  &::after {
    content: '';
    position: absolute;
    width: 640px;
    left: calc(50% - 320px);
    margin-top: -48.3rem;
    border-top-width: 60px;
    border-top-style: solid;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top-color: white;
  }
}
.section-service-group {
  &::before {
    content: '';
    position: absolute;
    width: 640px;
    left: calc(50% - 320px);
    border-top-width: 35px;
    border-top-style: solid;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top-color: rgba(132, 167, 255, 0.55);
    filter: blur(15px);
    margin-top: 1.5rem;
  }
  &::after {
    content: '';
    position: absolute;
    width: 640px;
    left: calc(50% - 320px);
    border-top-width: 60px;
    border-top-style: solid;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top-color: white;
  }
}
.section-official-group {
  &::before {
    content: '';
    position: absolute;
    width: 640px;
    left: calc(50% - 320px);
    border-top-width: 35px;
    border-top-style: solid;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top-color: rgba(132, 167, 255, 0.55);
    filter: blur(15px);
    margin-top: 1.5rem;
  }
  &::after {
    content: '';
    position: absolute;
    width: 640px;
    left: calc(50% - 320px);
    margin-top: -21.9rem;
    border-top-width: 60px;
    border-top-style: solid;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top-color: white;
  }
}
.section-game-menu-group {
  .sport {
    background-color: rgb(0, 81, 209);
  }
  .live {
    background-color: rgb(193, 136, 71);
  }
  .lotto {
    background-color: rgb(162, 216, 52);
  }
  .egame {
    background-color: rgb(255, 165, 24);
  }
  .poker {
    background-color: rgb(240, 45, 85);
  }
  .esport {
    background-color: rgb(84, 42, 129);
  }
}

.section-game-area-right {
  .sport {
    color: #012e49;
  }
  .live {
    color: #473620;
  }
  .lotto {
    color: #2b8b00;
  }
  .egame {
    color: #362100;
  }
  .poker {
    color: #ce001b;
  }
  .esport {
    color: #1842a5;
  }
  .sport-en {
    background-image: linear-gradient(to bottom, #90c1ff, #508aff);
  }
  .live-en {
    background-image: linear-gradient(to bottom, #9b7232, #d2993e);
  }
  .lotto-en {
    background-image: linear-gradient(to bottom, #97b800, #e3d800);
  }
  .egame-en {
    background-image: linear-gradient(to bottom, #7a3900, #ff9c00);
  }
  .poker-en {
    background-image: linear-gradient(to bottom, #e90050, #ff007d);
  }
  .esport-en {
    background-image: linear-gradient(to bottom, #4052c6, #6360e3);
  }
}
.section-game-area-button-item {
  .sport {
    border: 1px solid #0048ce;
    &:hover {
      background-image: linear-gradient(to bottom, #6f8cfe, #0048ce) !important;
    }
  }
  .live {
    border: 1px solid #533611;
    &:hover {
      background-image: linear-gradient(to bottom, #c7b560, #533611) !important;
    }
  }
  .lotto {
    border: 1px solid #056a03;
    &:hover {
      background-image: linear-gradient(to bottom, #70c815, #056a03) !important;
    }
  }
  .egame {
    border: 1px solid #c07c12;
    &:hover {
      background-image: linear-gradient(to bottom, #fda418, #c07c12) !important;
    }
  }
  .poker {
    border: 1px solid #d9263c;
    &:hover {
      background-image: linear-gradient(to bottom, #ffb6c3, #d9263c) !important;
    }
  }
  .esport {
    border: 1px solid #4648ef;
    &:hover {
      background-image: linear-gradient(to bottom, #bdb0fd, #4648ef) !important;
    }
  }
}
