.header-logo svg {
  width: 9rem;
}
.header-member-icon,
.wallet-button-item,
.banner-number-symbol {
  svg {
    width: 0.7rem;
  }
}
.header-member-item-icon,
.form-input-icon,
.form-errorTip-icon,
.payment-row-link,
.operate-input-button,
.operate-tip,
.remind-header-link,
.operate-input-icon,
.table-total-icon,
.game-search-button {
  svg {
    width: 1rem;
  }
}
.personal-content-item-icon {
  svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}
.form-input-icon,
.operate-select-row,
.header-transaction-icon {
  svg {
    width: 1.2rem;
  }
}
.form-title {
  svg {
    height: 1rem;
  }
}
.link-icon {
  svg {
    height: 1.2rem;
  }
}
.section-game-menu-icon,
.wallet-operate-icon,
.personal-photo-hover,
.photo-image-add {
  svg {
    width: 1.5rem;
  }
}
.transaction-icon {
  svg {
    width: 1.8rem;
  }
}
.sideMenu-item,
.sideMenu-button,
.game-border-icon-item {
  svg {
    width: 2rem;
  }
}
.header-lang-icon,
.sideMenu-item,
.sideMenu-button,
.reminder-header-button,
.verification-header-button,
.photo-header-button,
.personal-content-item-icon,
.wallet-operate-icon {
  svg path {
    fill: white;
  }
}
.header-member-item-icon,
.form-group .hover,
.remind-header-row .hover {
  svg path {
    fill: #678afc;
  }
}
.form-title,
.remind-header-title {
  svg path {
    fill: #343a40;
  }
}
.operate-input-button {
  svg path {
    fill: rgba(0, 0, 0, 0.25);
  }
}

.banner-number-symbol {
  svg path {
    fill: #ff9312;
  }
}
