<template>
  <div class="container">
    <swiper ref="swiper" :options="swiperOption">
      <swiper-slide class="content-item">
        <div class="content-item-title">
          <img src="@/assets/images/mb/cooperation/title.png" />
        </div>
        <div class="content-item-text">{{ $t('cooperation.text1_1') }}</div>
        <div class="content-item-image">
          <img src="@/assets/images/mb/cooperation/image1.png" />
        </div>
        <div class="content-item-text-bold">
          {{ $t('cooperation.text1_2') }}
        </div>
        <div class="content-item-text-bold">
          {{ $t('cooperation.text1_3') }}
        </div>
        <div class="content-item-line-group">
          <div class="content-item-line-icon">
            <img-svg
              :src="require('@/assets/images/mb/cooperation/line.svg')"
            ></img-svg>
          </div>
          <div class="content-item-line-row">
            <div class="content-item-line-text">
              {{ $t('cooperation.onlineService') }}
            </div>
            <div class="content-item-line-id">
              LINE ID:<span id="lineID"> VWIN</span>
            </div>
          </div>
          <div class="content-item-line-button" @click="copyText('#lineID')">
            {{ $t('cooperation.copy') }}
          </div>
        </div>
        <div class="content-item-button">
          {{ $t('cooperation.agencySystem') }}
        </div>
      </swiper-slide>
      <swiper-slide class="content-item">
        <div class="content-item-text-bg">{{ $t('cooperation.text2_1') }}</div>
        <div class="content-item-text-bg">{{ $t('cooperation.text2_2') }}</div>
        <div class="content-chart-group">
          <div v-for="i in 4" :key="i" class="content-chart-item">
            <div class="content-chart-image">
              <img
                :src="require(`@/assets/images/mb/cooperation/chart${i}.png`)"
              />
            </div>
            <div class="content-chart-title">
              {{ $t(`cooperation.title2_${i}`) }}
            </div>
            <div class="content-chart-text">
              {{ $t(`cooperation.content2_${i}`) }}
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="content-item">
        <div class="content-item-text-bg">{{ $t('cooperation.text3_1') }}</div>
        <div class="content-item-text-bg">{{ $t('cooperation.text3_2') }}</div>
        <div class="content-item-text">{{ $t('cooperation.text3_3') }}</div>
        <div class="content-item-image">
          <img src="@/assets/images/mb/cooperation/image2.png" />
        </div>
        <div class="content-table-group">
          <div v-for="i in 4" :key="i" class="content-table-item">
            <div class="content-table-image">
              <img-svg
                :src="require(`@/assets/images/mb/cooperation/icon${i}.svg`)"
              ></img-svg>
            </div>
            <div class="content-table-row">
              <div class="content-table-title">
                {{ $t(`cooperation.title3_${i}`) }}
              </div>
              <div class="content-table-text">
                {{ $t(`cooperation.content3_${i}`) }}
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="content-item">
        <div class="content-character-group">
          <div v-for="i in 3" :key="i" class="content-character-item">
            <div class="content-character-image">
              <img
                :src="require(`@/assets/images/mb/cooperation/avatar${i}.png`)"
              />
            </div>
            <div class="content-character-name">
              {{ $t(`cooperation.title4_${i}`) }}
            </div>
            <div class="content-character-text">
              {{ $t(`cooperation.content4_${i}`) }}
            </div>
          </div>
        </div></swiper-slide
      >
      <swiper-slide class="content-item">
        <div class="content-item-text-bg">{{ $t('cooperation.text5_1') }}</div>
        <div class="content-item-text-bg">{{ $t('cooperation.text5_2') }}</div>
        <div class="content-item-image">
          <img src="@/assets/images/mb/cooperation/image3.png" />
        </div>
        <div class="content-item-button join">
          {{ $t('cooperation.joinNow') }}
        </div>
        <div class="content-item-image">
          <img src="@/assets/images/mb/cooperation/image4.png" />
        </div>
      </swiper-slide>
      <div slot="pagination" class="swiper-pagination"></div>
    </swiper>
  </div>
</template>

<script>
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', -1)
      const title = vm.$t('header.cooperation')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      swiperOption: {
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 719px;
  padding-top: $header-height;
  background: url('~assets/images/mb/cooperation/bg.jpg') center no-repeat;
  background-size: 100% 100%;
  background-position: 0 $header-height;
}
.content-item {
  min-height: 650px;
  padding: 1rem 1.5rem;
  .content-item-title {
    @include flexbox;
    margin-top: 1rem;
  }
  .content-item-text {
    text-align: center;
    font-weight: 600;
    color: #707070;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  .content-item-image {
    @include flexbox;
    margin: 1rem 0 1.5rem;
  }
  .content-item-text-bold {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: rgb(55, 53, 67);
  }
  .content-item-line-group {
    @include flexbox(flex-start);
    margin-top: 1.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .content-item-line-row {
    margin-left: 2rem;
    .content-item-line-text {
      color: #707070;
      font-weight: bold;
      font-size: 1.1rem;
    }
    .content-item-line-id {
      color: rgb(89, 171, 254);
      font-weight: 500;
    }
  }
  .content-item-line-button {
    @include flexbox;
    color: rgb(82, 150, 253);
    border: 1px solid rgb(82, 150, 253);
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    margin-left: 2rem;
  }
  .content-item-button {
    @include flexbox;
    margin-top: 1rem;
    background: #5296fd;
    border-radius: 0.3rem;
    color: white;
    padding: 0.7rem 0;
    font-weight: bold;
    opacity: 0.5;
  }
  .content-item-text-bg {
    text-align: center;
    font-size: 1.7rem;
  }
  .content-chart-group {
    @include flexbox(space-between, center, wrap);
    margin-top: 1rem;
    .content-chart-item {
      width: 48.5%;
      background-color: white;
      border-radius: 0.5rem;
      min-height: 16rem;
      margin-bottom: 0.5rem;
      .content-chart-image {
        @include flexbox;
        width: 100%;
        height: 6.5rem;
      }
      .content-chart-title {
        font-weight: bold;
        font-size: 0.9rem;
        text-align: center;
        padding: 0 0.5rem;
      }
      .content-chart-text {
        margin-top: 0.5rem;
        font-weight: 500;
        color: #707070;
        font-size: 0.85rem;
        text-align: center;
        padding: 0 0.5rem;
      }
    }
  }
  .content-table-group {
    @include flexbox(space-between, center, wrap);
    .content-table-item {
      @include flexbox(flex-start);
      width: 50%;
      min-height: 5rem;
      margin-bottom: 0.5rem;
    }
    .content-table-title {
      letter-spacing: -1px;
      font-weight: bold;
      font-size: 0.75rem;
      padding: 0 0.5rem;
    }
    .content-table-text {
      margin-top: 0.3rem;
      font-weight: 500;
      color: #707070;
      font-size: 0.7rem;
      padding: 0 0.5rem;
    }
  }
  .content-character-item {
    margin: 1.5rem 0;
    .content-character-image {
      @include flexbox;
    }
    .content-character-name {
      text-align: center;
      color: #363636;
      margin: 0.5rem 0;
      font-weight: 600;
    }
    .content-character-text {
      text-align: center;
      color: #707070;
      font-weight: 600;
      font-size: 0.8rem;
    }
  }
  .join {
    margin-top: -2.5rem;
  }
}
</style>
