<template>
  <div class="container">
    <div class="welcome-main">
      <div class="welcome-photo">
        <img src="@/assets/images/mb/customerService/photo.png" />
      </div>
      <div class="welcome-member">
        <div class="welcome-user">
          Hi, {{ memberInfo.account || $t('customerService.user') }}
        </div>
        <div class="welcome-prompt">
          {{ $t('customerService.welcome') }}
        </div>
      </div>
    </div>
    <div class="online-main">
      <div class="online-icon">
        <img-svg
          :src="require('@/assets/images/mb/customerService/online.svg')"
        ></img-svg>
      </div>
      <div class="online-text">
        <div class="online-title">
          {{ $t('customerService.onlineService') }}
        </div>
        <div class="online-enTitle">Human Customer Support</div>
        <div class="online-prompt">{{ $t('customerService.prompt') }}</div>
      </div>
      <div class="online-button">
        <img-svg
          :src="require('@/assets/images/mb/customerService/arrow-right.svg')"
        ></img-svg>
      </div>
    </div>
    <div class="online-main line">
      <div class="online-icon">
        <img-svg
          :src="require('@/assets/images/mb/customerService/line.svg')"
        ></img-svg>
      </div>
      <div class="online-text">
        <div class="online-title">
          {{ $t('customerService.line') }}
        </div>
        <div class="online-prompt">@superrichbet</div>
      </div>
      <div class="online-button">
        <img-svg
          :src="require('@/assets/images/mb/customerService/arrow-right.svg')"
        ></img-svg>
      </div>
    </div>
    <div class="online-main zalo">
      <div class="online-icon">
        <img-svg
          :src="require('@/assets/images/mb/customerService/zalo.svg')"
        ></img-svg>
      </div>
      <div class="online-text">
        <div class="online-title">
          {{ $t('customerService.zalo') }}
        </div>
        <div class="online-prompt">@zalo123</div>
      </div>
      <div class="online-button">
        <img-svg
          :src="require('@/assets/images/mb/customerService/arrow-right.svg')"
        ></img-svg>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 1)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.customerService')
      vm.$store.dispatch('header/setHeaderTitle', title)
      // const data = [
      //   {
      //     id: 1,
      //     title: vm.$t('header.feedback'),
      //     path: '',
      //     buttonStyle: false,
      //   },
      // ]
      // vm.$store.dispatch('header/setHeaderText', data)
    })
  },
  data() {
    return {}
  },
  computed: {
    ...mapState('login', ['memberInfo']),
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderText')
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
}
.welcome-main {
  @include flexbox(flex-start);
  padding: 1rem;
  .welcome-photo {
    margin-right: 1rem;
  }
  .welcome-user {
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    color: black;
  }
  .welcome-prompt {
    font-size: 0.85rem;
    color: gray;
  }
}
.online-main {
  @include flexbox(flex-start);
  margin: 1rem;
  padding: 0.7rem 1rem;
  background: linear-gradient(to right, rgb(81, 133, 254), rgb(114, 188, 255));
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  min-height: 6rem;
  .online-icon {
    width: 3rem;
    @include flexbox;
  }
  .online-text {
    margin-left: 1rem;
    line-height: 1.5rem;
    width: calc(100% - 4rem);
    .online-title {
      font-size: 1.2rem;
    }
    .online-enTitle {
      font-size: 0.9rem;
      opacity: 0.4;
    }
    .online-prompt {
      font-size: 0.9rem;
    }
  }
}
.line {
  background: linear-gradient(to right, rgb(0, 185, 0), rgb(0, 185, 0));
}
.zalo {
  background: linear-gradient(to right, rgb(1, 128, 199), rgb(1, 128, 199));
}
</style>
