<template>
  <div class="container">
    <div class="validate-main">
      <div
        class="validate-item"
        :class="{ selected: validateMethod === 'phone' }"
        @click="changeValidateMethod('phone')"
      >
        {{ $t('forgetPassword.phoneVerification') }}
      </div>
      <div
        class="validate-item"
        :class="{ selected: validateMethod === 'email' }"
        @click="changeValidateMethod('email')"
      >
        {{ $t('forgetPassword.emailVerification') }}
      </div>
    </div>

    <div class="step-main">
      <template v-if="step === 1">
        <div class="step-group">
          <div class="step-item">
            <div class="step-title">
              <span :key="validateMethod" class="step-icon">
                <img-svg
                  :src="require('@/assets/images/mb/login/person2.svg')"
                ></img-svg></span
              >{{ $t('forgetPassword.account') }}
            </div>
            <ValidationProvider
              ref="userAccount"
              :rules="{
                required: true,
                regex: regex.userAccount,
              }"
            >
              <input
                v-model="userAccount"
                type="text"
                class="step-input"
                :placeholder="$t('forgetPassword.accountPlaceholder')"
              />
            </ValidationProvider>
            <template v-if="!validate.account.status">
              <div class="step-errorTip-group">
                <div class="step-errorTip-text">
                  {{
                    $t('forgetPassword.accountErrorTip', [
                      validate.account.min,
                      validate.account.max,
                    ])
                  }}
                </div>
              </div>
            </template>
          </div>
          <template v-if="validateMethod === 'phone'">
            <div class="step-item">
              <div class="step-title">
                <span :key="validateMethod" class="step-icon">
                  <img-svg
                    :src="require('@/assets/images/mb/login/mobile.svg')"
                  ></img-svg></span
                >{{ $t('forgetPassword.phoneNumber') }}
              </div>
              <div class="step-phone">
                <select v-model="countryCode" class="step-select">
                  <option
                    v-for="item in countryCodeList"
                    :key="item.iso"
                    :value="item.country_code"
                    >+{{ item.country_code }}</option
                  >
                </select>
                <ValidationProvider
                  ref="phoneNumber"
                  :rules="{
                    required: true,
                    regex: regex.phoneNumber,
                  }"
                >
                  <input
                    v-model="phoneNumber"
                    type="text"
                    class="step-input"
                    :placeholder="$t('forgetPassword.phoneNumberPlaceholder')"
                  />
                </ValidationProvider>
              </div>

              <template v-if="!validate.phoneNumber.status">
                <div class="step-errorTip-group">
                  <div class="step-errorTip-text">
                    {{
                      $t('forgetPassword.phoneNumberErrorTip', [
                        validate.phoneNumber.min,
                        validate.phoneNumber.max,
                      ])
                    }}
                  </div>
                </div>
              </template>
            </div>
          </template>
          <template v-else>
            <div class="step-item">
              <div class="step-title">
                <span :key="validateMethod" class="step-icon"
                  ><img-svg
                    :src="require('@/assets/images/mb/login/email.svg')"
                  ></img-svg></span
                >{{ $t('forgetPassword.email') }}
              </div>
              <ValidationProvider
                ref="email"
                :rules="{
                  required: true,
                  regex: regex.email,
                }"
              >
                <input
                  v-model="email"
                  type="text"
                  class="step-input"
                  :placeholder="$t('forgetPassword.emailPlaceholder')"
                />
              </ValidationProvider>
              <template v-if="!validate.email.status">
                <div v class="step-errorTip-group">
                  <div class="step-errorTip-text">
                    {{
                      $t('forgetPassword.emailErrorTip', [
                        validate.email.min,
                        validate.email.max,
                      ])
                    }}
                  </div>
                </div>
              </template>
            </div>
          </template>
          <div class="step-button" @click="nextStep('forgetPassword')">
            {{ $t('forgetPassword.nextStep') }}
          </div>
        </div>
      </template>

      <template v-if="step === 2">
        <div class="step-group">
          <template v-if="validateMethod === 'phone'">
            <div class="step-item">
              <div class="step-title">
                <span :key="step" class="step-icon">
                  <img-svg
                    :src="require('@/assets/images/mb/login/mobile.svg')"
                  ></img-svg></span
                >{{ $t('forgetPassword.phoneNumber') }}
              </div>
              <div class="step-input">{{ phoneNumber }}</div>
            </div>
            <div class="step-item">
              <div class="step-title">
                <span :key="step" class="step-icon"
                  ><img-svg
                    :src="
                      require('@/assets/images/mb/login/verification-phone.svg')
                    "
                  ></img-svg></span
                >{{ $t('forgetPassword.verificationPhone') }}
              </div>
              <ValidationProvider
                ref="verificationPhone"
                :rules="{
                  required: true,
                }"
              >
                <input
                  v-model="verificationPhone"
                  type="text"
                  class="step-verification"
                  :placeholder="
                    $t('forgetPassword.verificationPhonePlaceholder')
                  "
                />
              </ValidationProvider>
              <div
                v-if="!countdownStatus"
                class="step-verification-button"
                @click="getVerificationPhone()"
              >
                {{ $t('forgetPassword.getVerificationPhone') }}
              </div>
              <div v-else class="step-verification-button disable">
                {{ countdown }} S
              </div>
              <template v-if="!validate.verificationPhone">
                <div class="step-errorTip-group">
                  <div class="step-errorTip-text">
                    {{ $t('forgetPassword.verificationPhoneErrorTip') }}
                  </div>
                </div>
              </template>
            </div>
          </template>
          <template v-else>
            <div class="step-item">
              <div class="step-title">
                <span :key="step" class="step-icon"
                  ><img-svg
                    :src="require('@/assets/images/mb/login/email.svg')"
                  ></img-svg></span
                >{{ $t('forgetPassword.email') }}
              </div>
              <div class="step-input">{{ email }}</div>
            </div>
            <div class="step-item">
              <div class="step-title">
                <span :key="step" class="step-icon"
                  ><img-svg
                    :src="
                      require('@/assets/images/mb/login/verification-email.svg')
                    "
                  ></img-svg></span
                >{{ $t('forgetPassword.verificationEmail') }}
              </div>
              <ValidationProvider
                ref="verificationEmail"
                :rules="{
                  required: true,
                }"
              >
                <input
                  v-model="verificationEmail"
                  type="text"
                  class="step-verification"
                  :placeholder="
                    $t('forgetPassword.verificationEmailPlaceholder')
                  "
                />
              </ValidationProvider>
              <div
                v-if="!countdownStatus"
                class="step-verification-button"
                @click="getVerificationEmail()"
              >
                {{ $t('forgetPassword.getVerificationEmail') }}
              </div>
              <div v-else class="step-verification-button disable">
                {{ countdown }} S
              </div>
              <template v-if="!validate.verificationEmail">
                <div class="step-errorTip-group">
                  <div class="step-errorTip-text">
                    {{ $t('forgetPassword.verificationEmailErrorTip') }}
                  </div>
                </div>
              </template>
            </div>
          </template>

          <div class="step-button" @click="nextStep('verifyIdentity')">
            {{ $t('forgetPassword.nextStep') }}
          </div>
        </div>
      </template>

      <template v-if="step === 3">
        <div class="step-group">
          <div class="step-item">
            <div class="step-title">
              <span :key="step" class="step-icon">
                <img-svg
                  :src="require('@/assets/images/mb/login/lock2.svg')"
                ></img-svg></span
              >{{ $t('forgetPassword.password') }}
            </div>
            <ValidationProvider
              ref="userPassword"
              :rules="{
                required: true,
                regex: regex.userPassword,
              }"
            >
              <input
                v-model="userPassword"
                :type="!privacyPassword ? 'password' : 'text'"
                class="step-input"
                :placeholder="
                  $t('forgetPassword.password', [
                    validate.password.min,
                    validate.password.max,
                  ])
                "
              />
            </ValidationProvider>
            <div
              class="step-privacy"
              @click="privacyPassword = !privacyPassword"
            >
              <img
                v-show="privacyPassword"
                src="@/assets/images/mb/login/openEye.svg"
              />
              <img
                v-show="!privacyPassword"
                src="@/assets/images/mb/login/closeEye.svg"
              />
            </div>
            <template v-if="!validate.password.status">
              <div class="step-errorTip-group">
                <div class="step-errorTip-text">
                  {{
                    $t('forgetPassword.passwordErrorTip', [
                      validate.password.min,
                      validate.password.max,
                    ])
                  }}
                </div>
              </div>
            </template>
          </div>
          <div class="step-item">
            <div class="step-title">
              <span :key="step" class="step-icon"
                ><img-svg
                  :src="require('@/assets/images/mb/login/lock2.svg')"
                ></img-svg></span
              >{{ $t('forgetPassword.confirmPassword') }}
            </div>
            <ValidationProvider
              ref="confirmPassword"
              :rules="{
                required: true,
                is: userPassword,
              }"
            >
              <input
                v-model="confirmPassword"
                :type="!privacyConfirmPassword ? 'password' : 'text'"
                class="step-input"
                :placeholder="$t('forgetPassword.confirmPasswordPlaceholder')"
              />
            </ValidationProvider>
            <div
              class="step-privacy"
              @click="privacyConfirmPassword = !privacyConfirmPassword"
            >
              <img
                v-show="privacyConfirmPassword"
                src="@/assets/images/mb/login/openEye.svg"
              />
              <img
                v-show="!privacyConfirmPassword"
                src="@/assets/images/mb/login/closeEye.svg"
              />
            </div>
            <template v-if="!validate.confirmPassword">
              <div class="step-errorTip-group">
                <div class="step-errorTip-text">
                  {{ $t('forgetPassword.confirmPasswordErrorTip') }}
                </div>
              </div>
            </template>
          </div>
          <div class="step-button" @click="nextStep('setPassword')">
            {{ $t('forgetPassword.complete') }}
          </div>
          <div class="step-text">
            {{ $t('forgetPassword.remind') }}
          </div>
        </div>
      </template>
      <template v-if="modifyStatus">
        <div class="window-mask">
          <div class="window-main">
            <div class="window-image">
              <img-svg
                :src="require('@/assets/images/mb/login/check.svg')"
              ></img-svg>
            </div>
            <div class="window-text">
              {{ $t('forgetPassword.modifySuccess') }}
            </div>
            <nuxt-link class="window-button" to="Login">
              {{ $t('forgetPassword.useNewPassword') }}
            </nuxt-link>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import {
  checkPhoneNumber,
  getVerificationPhone,
  checkEmail,
  getVerificationEmail,
  checkVerification,
  resetPassword,
  getCountryCode,
} from '@/api/user.js'
import regex from '@/assets/scripts/regex'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', -1)
      const title = vm.$t('header.forgetPassword')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      validateMethod: 'phone',
      step: 1,
      userAccount: '',
      phoneNumber: '',
      email: '',
      verificationEmail: '',
      verificationPhone: '',
      userPassword: '',
      confirmPassword: '',
      privacyPassword: false,
      privacyConfirmPassword: false,
      modifyStatus: false,
      countryCode: '',
      countryCodeList: [],
      validate: {
        account: {
          status: true,
          min: 5,
          max: 16,
        },
        phoneNumber: {
          status: true,
          min: 5,
          max: 16,
        },
        email: {
          status: true,
          min: 5,
          max: 16,
        },
        password: {
          status: true,
          min: 5,
          max: 16,
        },
        confirmPassword: true,
        verificationEmail: true,
        verificationPhone: true,
      },
      regex: {
        userAccount: regex.userAccount,
        phoneNumber: regex.phoneNumber,
        email: regex.email,
        userPassword: regex.userPassword,
      },
    }
  },
  created() {
    this.getCountryCode()
  },
  methods: {
    changeValidateMethod(method) {
      this.validateMethod = method
      this.resetData()
    },
    resetData() {
      this.step = 1
      this.userAccount = ''
      this.phoneNumber = ''
      this.email = ''
      this.verificationEmail = ''
      this.verificationPhone = ''
      this.userPassword = ''
      this.confirmPassword = ''
      const title = this.$t('header.forgetPassword')
      this.$store.dispatch('header/setHeaderTitle', title)
      this.validate.account.status = true
      this.validate.phoneNumber.status = true
      this.validate.email.status = true
      this.validate.password.status = true
      this.validate.confirmPassword = true
      this.validate.verificationEmail = true
      this.validate.verificationPhone = true
    },
    async nextStep(stepName) {
      switch (stepName) {
        case 'forgetPassword': {
          const validResult = await this.validateForm(
            stepName + '-' + this.validateMethod
          )
          if (validResult !== true) return
          this.validateMethod === 'phone'
            ? await this.checkPhoneNumber()
            : await this.checkEmail()

          break
        }
        case 'verifyIdentity': {
          const validResult = await this.validateForm(
            stepName + '-' + this.validateMethod
          )
          if (validResult !== true) return
          await this.checkVerification()
          break
        }
        case 'setPassword': {
          const validResult = await this.validateForm(stepName)
          if (validResult !== true) return
          this.resetPassword()
          break
        }
        default:
          break
      }
    },
    async validateForm(stepName) {
      switch (stepName) {
        case 'forgetPassword-phone': {
          const result = await Promise.all([
            this.$refs.userAccount.validate(),
            this.$refs.phoneNumber.validate(),
          ])
          this.validate.account.status = result[0].valid
          this.validate.phoneNumber.status = result[1].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'forgetPassword-email': {
          const result = await Promise.all([
            this.$refs.userAccount.validate(),
            this.$refs.email.validate(),
          ])
          this.validate.account.status = result[0].valid
          this.validate.email.status = result[1].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'verifyIdentity-phone': {
          const result = await Promise.all([
            this.$refs.verificationPhone.validate(),
          ])

          this.validate.verificationPhone = result[0].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'verifyIdentity-email': {
          const result = await Promise.all([
            this.$refs.verificationEmail.validate(),
          ])

          this.validate.verificationEmail = result[0].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        case 'setPassword': {
          const result = await Promise.all([
            this.$refs.userPassword.validate(),
            this.$refs.confirmPassword.validate(),
          ])
          this.validate.password.status = result[0].valid
          this.validate.confirmPassword = result[1].valid
          const isAllValid = result.every((x) => x.valid === true)
          return isAllValid
        }
        default:
          break
      }
    },
    async getCountryCode() {
      try {
        const res = await getCountryCode()
        const result = res.data
        this.countryCodeList = result
        this.countryCode = result[0].country_code
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async checkPhoneNumber() {
      const payload = {
        userAccount: this.userAccount,
        phoneNumber: this.phoneNumber,
        countryCode: this.countryCode,
      }
      try {
        await checkPhoneNumber(payload)
        this.showToast(this.$t('forgetPassword.verificationSuccess'))
        const title = this.$t('header.verifyIdentity')
        this.$store.dispatch('header/setHeaderTitle', title)
        this.step = 2
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async getVerificationPhone() {
      const payload = {
        userAccount: this.userAccount,
        phoneNumber: this.phoneNumber,
      }
      try {
        await getVerificationPhone(payload)
        this.showToast(this.$t('forgetPassword.sendSuccess'))
        this.countdownTimer(60)
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },

    async checkEmail() {
      const payload = {
        userAccount: this.userAccount,
        email: this.email,
      }
      try {
        await checkEmail(payload)
        this.showToast(this.$t('forgetPassword.verificationSuccess'))
        const title = this.$t('header.verifyIdentity')
        this.$store.dispatch('header/setHeaderTitle', title)
        this.step = 2
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async getVerificationEmail() {
      const payload = {
        userAccount: this.userAccount,
        email: this.email,
      }
      try {
        await getVerificationEmail(payload)
        this.showToast(this.$t('forgetPassword.sendSuccess'))
        this.countdownTimer(60)
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async checkVerification() {
      const payload = {
        code:
          this.validateMethod === 'phone'
            ? this.verificationPhone
            : this.verificationEmail,
      }
      try {
        await checkVerification(payload)
        const title = this.$t('header.setPassword')
        this.$store.dispatch('header/setHeaderTitle', title)
        this.step = 3
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
    async resetPassword() {
      const payload = {
        userPassword: this.userPassword,
      }
      try {
        await resetPassword(payload)
        this.modifyStatus = true
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
}
.validate-main {
  @include flexbox;
  height: $header-height;
  padding: 0 1rem;
  border-bottom: 0.3rem solid #f7f6fb;
  font-size: 0.95rem;
  font-weight: bold;
  .validate-item {
    margin: 0 1rem;
    outline: none;
    color: #bebebe;
  }
  .selected {
    color: #5296fd;
  }
}

.step-group {
  padding: 0 0.5rem;
  .step-item {
    width: 100%;
    min-height: 7rem;
    border-bottom: 1px solid #f7f6fb;
    .step-title {
      @include flexbox(flex-start);
      padding: 1.5rem 1rem 1rem;
      font-size: 0.9rem;
      font-weight: bold;
      .step-icon {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
    .step-phone {
      @include flexbox(flex-start);
      .step-select {
        margin-left: 2.5rem;
        height: 1.5rem;
        outline: none;
        border: 0;
        font-size: 0.9rem;
        color: #333;
      }
      span {
        width: 100%;
        .step-input {
          border: 0;
          padding-left: 0.5rem;
          outline: none;
          font-size: 0.9rem;
        }
      }
    }
    .step-input {
      border: 0;
      width: calc(100% - 3.5rem);
      padding-left: 2.5rem;
      outline: none;
      font-size: 0.9rem;
    }
    .step-privacy {
      width: 1.5rem;
      float: right;
      margin-right: 1rem;
    }
    .step-verification {
      float: left;
      border: 0;
      padding-left: 2.5rem;
      width: calc(100% - 8rem);
      outline: none;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
    .step-verification-button {
      float: right;
      background-color: #5296fd;
      border-radius: 0.5rem;
      width: 6rem;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      margin: -7px 1rem 0 0;
      font-size: 0.9rem;
      color: white;
    }
    .disable {
      background-color: rgb(190, 190, 190);
    }
    .step-errorTip-group {
      @include flexbox(flex-start);
      width: 80%;
      height: 1rem;
      margin: 1rem auto 1rem;
      color: gray;
      .step-errorTip-text {
        font-size: 0.9rem;
        font-weight: 500;
        color: #fa6b88;
      }
    }
  }
  .step-button {
    @include flexbox;
    margin: 1.5rem auto;
    width: 90%;
    height: 3rem;
    background-color: #5296fd;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
  }
  .step-text {
    text-align: center;
    color: #777777;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: -1px;
  }
}
.window-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  @include flexbox;
  .window-main {
    position: absolute;
    width: 70%;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem 1rem;
    font-weight: bold;
    .window-image {
      @include flexbox;
    }
    .window-text {
      text-align: center;
      margin: 1rem 0;
    }
    .window-button {
      @include flexbox;
      border-radius: 0.5rem;
      color: white;
      background-color: #5296fd;
      padding: 0.7rem 0;
      text-decoration: none;
    }
  }
}
</style>
