<template>
  <div class="container">
    <div class="carousel">
      <swiper ref="swiper" :options="swiperBanner">
        <swiper-slide v-for="item in bannerList" :key="item.id">
          <img
            class="bannerImage"
            :src="require(`@/assets/images/mb/index/${item.src}`)"
          />
        </swiper-slide>
        <div slot="pagination" class="swiper-pagination"></div>
      </swiper>
    </div>

    <div class="marquee">
      <div class="marquee-icon">
        <img-svg
          :src="require('@/assets/images/mb/index/loudly.svg')"
        ></img-svg>
      </div>
      <div class="marquee-text">
        <marquee-text :duration="50">
          <span
            v-for="(item, index) in marqueeList"
            :key="item.id"
            @click="openBulletinWindows(item, index)"
            >{{ item.content }}</span
          >
        </marquee-text>
      </div>
      <nuxt-link class="marquee-button" to="/messageCenter">{{
        $t('index.more')
      }}</nuxt-link>
    </div>

    <div class="navbar">
      <template v-if="!isLogin">
        <div class="navbar-member">
          <div class="navbar-member-text">{{ $t('index.welcome') }}</div>
          <nuxt-link class="navbar-member-button" to="Login"
            ><div class="navbar-member-icon">
              <img src="@/assets/images/mb/index/person.svg" />
            </div>
            {{ $t('index.login') }}</nuxt-link
          >
        </div>
      </template>
      <template v-else>
        <div class="navbar-member">
          <div class="navbar-member-user">{{ memberInfo.account }}</div>
          <div class="navbar-member-vip">VIP {{ userVIPData }}</div>
          <div class="navbar-member-funds">
            $ {{ formatNumber(userCredits) }}
            <el-popover
              placement="bottom"
              trigger="hover"
              :content="$t('index.wallet')"
            >
              <div slot="reference" class="navbar-member-fundsIcon">
                <img-svg
                  :src="require('@/assets/images/mb/index/questionMark.svg')"
                ></img-svg>
              </div>
            </el-popover>
          </div>
        </div>
      </template>
      <div class="navbar-group">
        <nuxt-link
          v-for="item in navbarList"
          :key="item.id"
          class="navbar-item"
          :to="item.path"
        >
          <div class="navbar-item-icon">
            <img :src="require(`@/assets/images/mb/index/${item.src}`)" />
          </div>
          <div class="navbar-item-name">{{ item.name }}</div>
        </nuxt-link>
      </div>
    </div>

    <div class="gameList">
      <div class="gameList-menu-group">
        <div
          v-for="item in gameTypeList"
          :key="item.id"
          class="gameList-menu-item"
          :class="multipleGameCSS(item)"
          @click="getGameProvider(item)"
        >
          <div class="gameList-menu-item-icon">
            <img-svg
              :src="require(`@/assets/images/mb/index/${item.src}`)"
            ></img-svg>
          </div>
          {{ item.name }}
        </div>
      </div>
      <div class="gameList-main-group">
        <div
          v-for="(item, index) in gameProviderList"
          :key="item.platform_id"
          class="gameList-main-item"
          @click="checkIsEGame(item, index)"
        >
          <img :src="item.light_icon" />
          <div
            v-if="item.maintain"
            class="gameList-main-maintain"
            :class="{ fill: item.platform_type === 'lotto' }"
          >
            {{ $t('index.maintain') }}
          </div>
        </div>
        <div
          v-if="gameTypeSelected === 'esport' || gameTypeSelected === 'poker'"
          class="gameList-main-item"
        >
          <img
            :src="
              require(`@/assets/images/mb/index/${gameTypeSelected}Coming.png`)
            "
          />
        </div>
      </div>
    </div>
    <template v-if="bulletinStatus">
      <div class="window-mask">
        <div class="window-main">
          <swiper ref="swiper" :options="swiperOption">
            <swiper-slide v-for="item in marqueeList" :key="item.id">
              <div class="window-title">{{ item.title }}</div>
              <div class="window-text">{{ item.content }}</div>
            </swiper-slide>
          </swiper>
          <div class="window-operate">
            <nuxt-link class="window-operate-link" to="/messageCenter">{{
              $t('index.allBulletin')
            }}</nuxt-link>
            <div class="window-operate-button">
              <div class="window-operate-prev" @click="changePage('prev')">
                <img-svg
                  :src="require('@/assets/images/mb/index/arrow-left.svg')"
                ></img-svg>
              </div>
              <div class="window-operate-next" @click="changePage('next')">
                <img-svg
                  :src="require('@/assets/images/mb/index/arrow-right.svg')"
                ></img-svg>
              </div>
            </div>
          </div>
          <div class="window-button" @click="bulletinStatus = !bulletinStatus">
            <img-svg
              :src="require('@/assets/images/mb/index/cancel.svg')"
            ></img-svg>
          </div>
        </div>
      </div>
    </template>
    <template v-if="demoGameStatus">
      <div class="window-mask">
        <div class="window-main">
          <div class="window-content">
            <div class="window-content-button" @click="setGameData()">
              {{ $t('eGame.enterGame') }}
            </div>
            <div class="window-content-button gray" @click="openGame()">
              {{ $t('eGame.demoGame') }}
            </div>
          </div>
          <div class="window-button" @click="demoGameStatus = !demoGameStatus">
            <img-svg
              :src="require('@/assets/images/mb/index/cancel.svg')"
            ></img-svg>
          </div>
        </div>
      </div>
    </template>
    <transfer-windows
      v-if="transferStatus"
      :game-item="gameItem"
      @closeWindows="closeTransferWindows"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { getUserCredits } from '@/api/member.js'
import { getGameProvider, openGame } from '@/api/game.js'
import { getVIPInfo } from '@/api/vip.js'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 0)
      vm.$store.dispatch('header/setNavbarStatus', 0)
    })
  },
  data() {
    return {
      swiperBanner: {
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
      bannerList: [
        { id: 1, src: 'banner01.jpg' },
        { id: 2, src: 'banner01.jpg' },
      ],
      bulletinStatus: false,
      marqueeList: [
        {
          id: 1,
          title: '玩賺週末 紅包來襲',
          content:
            '請會員注意自身資安安全，VWIN絕對不會以任何形式索取會員帳號密碼，與個人資料，(包含FB、Line、簡訊)',
        },
        {
          id: 2,
          title: '玩賺週末 紅包來襲2',
          content:
            '請會員注意自身資安安全，VWIN絕對不會以任何形式索取會員帳號密碼，與個人資料，(包含FB、Line、簡訊)',
        },
      ],
      navbarList: [
        {
          id: 1,
          path: 'Wallet/Deposit',
          name: this.$t('index.deposit'),
          src: 'deposit.svg',
        },
        {
          id: 2,
          path: 'Wallet/Withdraw',
          name: this.$t('index.withdraw'),
          src: 'withdraw.svg',
        },
        {
          id: 3,
          path: 'Wallet/Transfer',
          name: this.$t('index.transfer'),
          src: 'transfer.svg',
        },
        {
          id: 4,
          path: 'PersonalCenter/VIPPrivilege',
          name: 'VIP',
          src: 'vip.svg',
        },
      ],
      swiperOption: {
        initialSlide: 1,
      },
      gameTypeSelected: '',
      gameTypeList: [
        {
          id: 1,
          type: 'sport',
          name: this.$t('index.sport'),
          src: 'sport.svg',
        },
        { id: 2, type: 'live', name: this.$t('index.live'), src: 'live.svg' },
        {
          id: 3,
          type: 'lotto',
          name: this.$t('index.lotto'),
          src: 'lotto.svg',
        },
        {
          id: 4,
          type: 'egame',
          name: this.$t('index.egame'),
          src: 'egame.svg',
        },
        {
          id: 5,
          type: 'poker',
          name: this.$t('index.poker'),
          src: 'poker.svg',
        },
        {
          id: 6,
          type: 'esport',
          name: this.$t('index.esport'),
          src: 'esport.svg',
        },
      ],

      userAccount: '',
      userVIPData: {},
      userCredits: 0,
      gameProviderList: [],
      gameProviderStyle: '',
      demoGameStatus: false,
      gameProvider: {
        data: '',
        index: '',
      },
      transferStatus: false,
      gameItem: {
        type: '',
        provider: '',
        name: '',
      },
    }
  },
  computed: {
    ...mapState('login', ['isLogin', 'memberInfo']),
    ...mapState('game', ['selectGame']),
  },
  created() {
    this.initialize()
  },
  methods: {
    async initialize() {
      if (this.isLogin) {
        this.getVIPInfo()
        this.getUserCredits()
      }
      if (this.selectGame.type) {
        const [result] = this.gameTypeList.filter(
          (x) => x.type === this.selectGame.type
        )
        await this.getGameProvider(result)
        this.gameItem = this.selectGame
        this.transferStatus = true
        this.$store.dispatch('game/clearSelectGame')
      } else {
        this.getGameProvider(this.gameTypeList[0])
      }
    },
    async getVIPInfo() {
      try {
        const res = await getVIPInfo()
        const result = res.data
        this.userVIPData = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getUserCredits() {
      try {
        const res = await getUserCredits()
        const result = res.data
        this.userCredits = parseInt(result)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getGameProvider(item) {
      this.gameTypeSelected = item.type
      const payload = { device: 'h5', gameType: item.type }
      try {
        const res = await getGameProvider(payload)
        const result = res.data
        this.gameProviderList = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    checkIsEGame(item, index) {
      if (item.maintain) return
      if (item.platform_type === 'egame') {
        const result = {
          id: item.platform_id,
          number: index,
        }
        this.$store.dispatch('game/setSelectGameProvider', result)
        this.$router.push({
          name: 'EGame',
          query: { provider: item.platform_id },
        })
      } else {
        this.enterGame(item)
      }
    },
    enterGame(item) {
      this.gameItem.type = item.platform_type
      this.gameItem.provider = item.platform_id
      this.gameProviderList.forEach((x) => {
        if (x.platform_id === item.platform_id) {
          this.gameItem.name = x.platform_name
        }
      })
      if (this.isLogin) {
        this.transferStatus = true
      } else {
        item.trial ? (this.demoGameStatus = true) : this.setGameData()
      }
    },
    setGameData() {
      this.$store.dispatch('game/setSelectGame', this.gameItem)
      this.$router.push({ name: 'Login' })
    },
    openBulletinWindows(item, index) {
      this.bulletinStatus = !this.bulletinStatus
      this.swiperOption.initialSlide = index
    },
    closeTransferWindows() {
      this.transferStatus = false
    },
    async openGame() {
      const gameProvider = this.gameItem.provider
      const gameId = this.gameItem.type === 'egame' ? this.gameItem.id : ''
      const gameType = this.gameItem.type
      const demo = 'Y'
      try {
        const res = await openGame(gameProvider, gameType, gameId, demo)
        const result = res.data
        window.open(result)
        this.demoGameStatus = false
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    multipleGameCSS(item) {
      const result = this.gameTypeSelected
      return {
        'selected-1': result === 'sport' && result === item.type,
        'selected-2': result === 'live' && result === item.type,
        'selected-3': result === 'lotto' && result === item.type,
        'selected-4': result === 'egame' && result === item.type,
        'selected-5': result === 'poker' && result === item.type,
        'selected-6': result === 'esport' && result === item.type,
      }
    },
    changePage(type) {
      type === 'prev'
        ? this.$refs.swiper.$swiper.slidePrev()
        : this.$refs.swiper.$swiper.slideNext()
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
  min-height: 100vh;
}
.bannerImage {
  width: 100%;
  height: 100%;
}

.marquee {
  @include flexbox(space-between);
  height: 2rem;
  padding: 0 1rem;
  box-shadow: $box-shadow;
  .marquee-icon {
    @include flexbox;
  }
  .marquee-text {
    width: calc(100% - 6.5rem);
    span {
      margin: 0 1rem;
      font-weight: bold;
      font-size: 0.9rem;
    }
  }
  .marquee-button {
    @include flexbox;
    text-decoration: none;
    color: white;
    width: 4rem;
    height: 1.5rem;
    border-radius: 1.5rem 0.5rem 0.5rem 1.5rem;
    background-color: #5296fd;
    font-weight: bold;
    font-size: 0.8rem;
  }
}
.navbar {
  @include flexbox(space-between);
  height: 4.5rem;
  padding: 1rem 1rem 0;
  .navbar-member {
    width: 40%;
    height: 100%;
    .navbar-member-text {
      font-weight: bold;
      font-size: 0.9rem;
      text-align: center;
      margin-bottom: 0.5rem;
    }
    .navbar-member-button {
      @include flexbox;
      background-color: #f1f1f1;
      font-size: 0.9rem;
      font-weight: bold;
      width: 7rem;
      border-radius: 2rem;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      line-height: 2rem;
      color: #5296fd;
      .navbar-member-icon {
        @include flexbox;
        margin-right: 0.3rem;
      }
    }
    .navbar-member-user {
      display: inline-block;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }
    .navbar-member-vip {
      display: inline-block;
      font-size: 0.9rem;
      padding: 0.1rem 1rem;
      color: white;
      border-radius: 0.4rem;
      letter-spacing: -1px;
      background: url('~assets/images/mb/index/vipLabel.svg') center no-repeat;
    }
    .navbar-member-funds {
      @include flexbox(space-around);
      background-color: #f1f1f1;
      font-size: 0.9rem;
      width: 100%;
      height: 2rem;
      border-radius: 2rem;
      margin: 0 auto;
      line-height: 2rem;
      color: #5296fd;
    }
    .navbar-member-fundsIcon {
      @include flexbox;
      margin-left: 0.3rem;
    }
  }
  .navbar-group {
    @include flexbox(space-between);
    width: 50%;
    height: 100%;
    .navbar-item {
      width: 2rem;
      text-decoration: none;
      text-align: center;
      .navbar-item-icon {
        @include flexbox;
        height: 2rem;
        width: 2rem;
      }
      .navbar-item-name {
        margin-top: 0.2rem;
        color: #5296fd;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
  }
}

.gameList {
  @include flexbox(space-between, flex-start);
  padding: 1rem 1rem 0;
  .gameList-menu-group {
    width: 17.5%;
    .gameList-menu-item {
      @include flexbox;
      border-radius: 0.5rem;
      height: 2.73rem;
      background: url('~assets/images/mb/index/sidemenu-bg.png') center
        no-repeat;
      background-size: cover;
      margin-top: 0.3rem;
      color: #979797;
      font-size: 0.85rem;
      font-weight: bold;
      .gameList-menu-item-icon {
        @include flexbox;
        margin-right: 0.2rem;
      }
    }
    .gameList-menu-item:nth-child(1) {
      margin-top: 0;
    }
    .selected-1 {
      color: white;
      background: linear-gradient(to bottom right, #1160db, #052f70);
    }
    .selected-2 {
      color: white;
      background: linear-gradient(to bottom right, #ad6b2e, #793f09);
    }
    .selected-3 {
      color: white;
      background: linear-gradient(to bottom right, #97ba23, #546b08);
    }
    .selected-4 {
      color: white;
      background: linear-gradient(to bottom right, #f0890b, #cc6302);
    }
    .selected-5 {
      color: white;
      background: linear-gradient(to bottom right, #db2639, #9e0818);
    }
    .selected-6 {
      color: white;
      background: linear-gradient(to bottom right, #4c3a9d, #1f1353);
    }
  }
  .gameList-main-group {
    width: 80%;
    height: 43.2vh;
    overflow: auto;
    .gameList-main-item {
      border-radius: 0.5rem;
      width: 100%;
      margin-top: 0.3rem;
      img {
        width: 100%;
      }
      .gameList-main-maintain {
        @include flexbox;
        height: 6.6rem;
        margin: -6.8rem auto 0;
        position: relative;
        background: rgba(24, 63, 155, 0.4);
        color: white;
        border-radius: 0.3rem;
        font-weight: bold;
      }
      .fill {
        height: 17.9rem;
        margin-top: -18.1rem;
      }
    }
    .gameList-main-item:nth-child(1) {
      margin-top: 0;
    }
  }
}
@media (min-height: 720px) {
  .gameList .gameList-main-group {
    height: 49vh;
  }
}
@media (min-height: 812px) {
  .gameList .gameList-main-group {
    height: 54vh;
  }
}
@media (min-height: 1024px) {
  .gameList .gameList-main-group {
    height: 50vh;
  }
}

.window-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  @include flexbox;
  .window-main {
    position: absolute;
    width: 70%;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem 1rem;
    .window-title {
      color: #5296fd;
      border-bottom: 2px solid rgb(82, 150, 253);
      padding: 0.5rem 0;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .window-text {
      padding: 0.5rem 0;
      font-size: 0.9rem;
      font-weight: 600;
      line-height: 1.4rem;
      min-height: 200px;
    }
    .window-operate {
      @include flexbox(space-between);
      border-top: 1px solid #f7f6fb;
      .window-operate-link {
        margin-top: 0.5rem;
        text-decoration: none;
        color: #5296fd;
        font-weight: bold;
      }
      .window-operate-button {
        @include flexbox;
        margin-top: 0.5rem;
        height: 1.2rem;
        padding-top: 0.3rem;
      }
    }
    .window-button {
      position: absolute;
      margin-top: 2.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .window-content {
      text-align: center;
      .window-content-title {
        color: #5296fd;
        font-size: 1.1rem;
        font-weight: bold;
      }
      .window-content-text {
        margin: 0.5rem 0;
        font-size: 0.9rem;
        font-weight: bold;
      }
      .window-content-button {
        border-radius: 0.5rem;
        background-color: #5296fd;
        color: white;
        padding: 0.6rem 0;
        margin-top: 0.5rem;
      }
      .gray {
        background-color: #495871;
      }
    }
  }
}
</style>
