<template>
  <div class="container">
    <div class="previous-icon" @click="backPrevious()">
      <img-svg :src="require('@/assets/images/mb/login/back.svg')"></img-svg>
    </div>
    <div class="logo">
      <img-svg :src="require('@/assets/images/mb/header/logo.svg')"></img-svg>
    </div>
    <div class="form">
      <div class="form-title">{{ $t('register.title') }}</div>
      <div class="form-input-group">
        <div class="form-input-icon">
          <img-svg
            :src="require('@/assets/images/mb/login/person.svg')"
          ></img-svg>
        </div>
        <ValidationProvider
          ref="userAccount"
          :rules="{
            required: true,
            regex: regex.userAccount,
          }"
        >
          <input
            v-model="userAccount"
            type="text"
            class="form-input"
            :placeholder="$t('register.accountPlaceholder')"
            @keyup="validateForm()"
          />
        </ValidationProvider>
        <div class="form-input-cancel" @click="userAccount = ''">
          <img-svg
            :src="require('@/assets/images/mb/login/cancel.svg')"
          ></img-svg>
        </div>
      </div>
      <template v-if="!validate.account.status">
        <div class="form-errorTip-group">
          <div class="form-errorTip-icon">
            <img-svg
              :src="require('@/assets/images/mb/login/tip.svg')"
            ></img-svg>
          </div>
          <div class="form-errorTip-text">
            {{
              $t('register.accountErrorTip', [
                validate.account.min,
                validate.account.max,
              ])
            }}
          </div>
        </div>
      </template>

      <div class="form-input-group">
        <div class="form-input-icon">
          <img-svg
            :src="require('@/assets/images/mb/login/lock.svg')"
          ></img-svg>
        </div>
        <ValidationProvider
          ref="userPassword"
          :rules="{
            required: true,
            regex: regex.userPassword,
          }"
        >
          <input
            v-model="userPassword"
            :type="!privacyPassword ? 'password' : 'text'"
            class="form-input"
            :placeholder="$t('register.passwordPlaceholder')"
            @keyup="validateForm()"
          />
        </ValidationProvider>
        <div
          class="form-input-privacy"
          @click="privacyPassword = !privacyPassword"
        >
          <img
            v-show="privacyPassword"
            src="@/assets/images/mb/login/openEye.svg"
          />
          <img
            v-show="!privacyPassword"
            src="@/assets/images/mb/login/closeEye.svg"
          />
        </div>
      </div>
      <template v-if="!validate.password.status">
        <div class="form-errorTip-group">
          <div class="form-errorTip-icon">
            <img-svg
              :src="require('@/assets/images/mb/login/tip.svg')"
            ></img-svg>
          </div>
          <div class="form-errorTip-text">
            {{
              $t('register.passwordErrorTip', [
                validate.password.min,
                validate.password.max,
              ])
            }}
          </div>
        </div>
      </template>

      <div class="form-input-group">
        <div class="form-input-icon">
          <img-svg
            :src="require('@/assets/images/mb/login/lock.svg')"
          ></img-svg>
        </div>
        <ValidationProvider
          ref="confirmPassword"
          :rules="{
            required: true,
            is: userPassword,
          }"
        >
          <input
            v-model="confirmPassword"
            :type="!privacyConfirmPassword ? 'password' : 'text'"
            class="form-input"
            :placeholder="$t('register.confirmPasswordPlaceholder')"
            @keyup="validateForm()"
          />
        </ValidationProvider>
        <div
          class="form-input-privacy"
          @click="privacyConfirmPassword = !privacyConfirmPassword"
        >
          <img
            v-show="privacyConfirmPassword"
            src="@/assets/images/mb/login/openEye.svg"
          />
          <img
            v-show="!privacyConfirmPassword"
            src="@/assets/images/mb/login/closeEye.svg"
          />
        </div>
      </div>
      <template v-if="!validate.confirmPassword">
        <div class="form-errorTip-group">
          <div class="form-errorTip-icon">
            <img-svg
              :src="require('@/assets/images/mb/login/tip.svg')"
            ></img-svg>
          </div>
          <div class="form-errorTip-text">
            {{ $t('register.confirmPasswordErrorTip') }}
          </div>
        </div>
      </template>

      <div class="form-operate">
        <div class="form-agree-terms">
          <input id="agreeTerms" v-model="agreeStatus" type="checkbox" />
          <label class="form-agree-terms-label" for="agreeTerms">
            <i18n path="register.agreeTerms" tag="div">
              <template v-slot:terms>
                <nuxt-link class="form-agree-terms-link" to="/">
                  {{ $t('register.terms') }}
                </nuxt-link>
              </template>
              <template v-slot:policy>
                <nuxt-link class="form-agree-terms-link" to="/">
                  {{ $t('register.policy') }}
                </nuxt-link>
              </template>
            </i18n>
          </label>
        </div>
      </div>
      <template v-if="!validate.agreeTerms">
        <div class="form-errorTip-group">
          <div class="form-errorTip-icon">
            <img-svg
              :src="require('@/assets/images/mb/login/tip.svg')"
            ></img-svg>
          </div>
          <div class="form-errorTip-text">
            {{ $t('register.agreeTermsErrorTip') }}
          </div>
        </div>
      </template>
      <div class="form-button-group">
        <div
          class="form-button-register"
          :class="{ opacity: !isAllValid }"
          @click="register()"
        >
          {{ $t('register.register') }}
        </div>
        <div class="form-button-link">
          <nuxt-link class="form-button-login" to="Login">{{
            $t('register.login')
          }}</nuxt-link>
          <nuxt-link class="form-button-login" to="/">{{
            $t('register.index')
          }}</nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { userRegister } from '@/api/user.js'
import regex from '@/assets/scripts/regex'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', -1)
      vm.$store.dispatch('header/setNavbarStatus', -1)
    })
  },
  data() {
    return {
      userAccount: '',
      userPassword: '',
      confirmPassword: '',
      agreeStatus: false,
      privacyPassword: false,
      privacyConfirmPassword: false,
      isAllValid: false,
      validate: {
        account: {
          status: true,
          min: 5,
          max: 16,
        },
        password: {
          status: true,
          min: 5,
          max: 16,
        },
        confirmPassword: true,
        agreeTerms: true,
      },
      regex: {
        userAccount: regex.userAccount,
        userPassword: regex.userPassword,
      },
    }
  },
  methods: {
    backPrevious() {
      this.$router.go(-1)
    },
    async validateForm() {
      const result = await Promise.all([
        this.$refs.userAccount.validate(),
        this.$refs.userPassword.validate(),
        this.$refs.confirmPassword.validate(),
      ])
      this.validate.account.status = result[0].valid
      this.validate.password.status = result[1].valid
      this.validate.confirmPassword = result[2].valid
      this.isAllValid = result.every((x) => x.valid === true)
    },
    async register() {
      if (this.isAllValid !== true) return

      if (this.agreeStatus !== true) {
        this.validate.agreeTerms = false
        return
      } else {
        this.validate.agreeTerms = true
      }

      try {
        const payload = {
          userAccount: this.userAccount,
          userPassword: this.userPassword,
          introducerNumber: '',
        }

        await userRegister(payload)
        this.$router.push({ name: 'Login' })
      } catch (err) {
        this.showErrorToast(err.message)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  background-image: url('~assets/images/mb/login/bg.jpg');
  background-position: 70% 0%;
  background-repeat: no-repeat;
  background-color: black;
  padding-bottom: 1rem;
  background-size: cover;
}
.previous-icon {
  @include iconSample(2rem, 2rem, #34353a);
  @include flexbox;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}
.logo {
  color: white;
  text-align: center;
  padding-top: 4rem;
  font-size: 2.5rem;
}
.form {
  width: 100%;
  .form-title {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2rem 0 1rem;
  }
  .form-input-group {
    @include flexbox(flex-start);
    margin: 0 auto 1rem;
    background-color: white;
    width: 75%;
    height: 3rem;
    border-radius: 0.5rem;
    .form-input-icon {
      @include flexbox;
      margin: 0 0.5rem 0 1rem;
    }
    span {
      width: calc(100% - 5rem);
    }
    .form-input {
      border: 0;
      height: 2rem;
      width: 100%;
      font-size: 0.9rem;
      outline: none;
    }
    .form-input-cancel {
      @include flexbox;
      margin-left: 0.5rem;
    }
    .form-input-privacy img {
      @include flexbox;
      width: 1.5rem;
      margin-left: 0.5rem;
    }
  }
  .form-errorTip-group {
    @include flexbox(flex-start);
    width: 67%;
    height: 1rem;
    margin: 0 auto 1rem;
    color: white;
    .form-errorTip-icon {
      @include flexbox;
      margin-right: 0.5rem;
    }
    .form-errorTip-text {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
  .form-operate {
    @include flexbox(space-between);
    width: 80%;
    margin: 0 auto 1rem;
    height: 2rem;
    padding: 0 1rem;
    color: white;
    .form-agree-terms {
      font-weight: bold;
      font-size: 0.85rem;
      input[type='checkbox'] {
        display: none;
        &:checked {
          & + label {
            &::before {
              background: url('~assets/images/mb/login/checked.svg') center
                no-repeat;
            }
          }
        }
        & + label {
          position: relative;
          padding-left: 30px;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: url('~assets/images/mb/login/uncheck.svg') center
              no-repeat;
          }
        }
      }
      .form-agree-terms-label {
        @include flexbox(flex-start);
      }
      .form-agree-terms-link {
        color: PaleVioletRed;
      }
    }
  }
  .form-button-group {
    width: 75%;
    margin: 0 auto 1rem;
    color: white;
    font-weight: bold;
    .form-button-register {
      @include flexbox;
      background-color: #5296fd;
      border-radius: 0.5rem;
      height: 3rem;
    }
    .form-button-link {
      @include flexbox(space-between);
      .form-button-login {
        @include flexbox;
        text-decoration: none;
        color: white;
        margin-top: 1rem;
      }
    }

    .opacity {
      opacity: 0.5;
    }
  }
}
</style>
