<template>
  <div class="container">
    <template v-if="betStep === 1">
      <div class="filter-main">
        <div class="filter-group">
          <div class="filter-item" @click="openFilter('date')">
            <div class="filter-item-text">{{ filterOption.date }}</div>
            <div v-show="!filterStatus" class="filter-item-icon">
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-down.svg')
                "
              ></img-svg>
            </div>
            <div v-show="filterStatus" class="filter-item-icon">
              <img-svg
                :src="require('@/assets/images/mb/personalCenter/arrow-up.svg')"
              ></img-svg>
            </div>
          </div>
        </div>
      </div>
      <div class="total-main">
        <div class="total-row">
          <div class="total-item">
            {{ $t('bettingRecord.bettingAmount') }}
            {{ formatNumber(total.bettingAmount) }}
          </div>
        </div>
        <div class="total-row">
          <div class="total-item">
            {{ $t('bettingRecord.validBetting') }}
            {{ formatNumber(total.validBetting) }}
          </div>
          <div class="total-item">
            {{ $t('bettingRecord.winLose') }}
            <span :class="{ win: total.winLose > 0 }">{{
              formatNumber(total.winloss)
            }}</span>
          </div>
        </div>
      </div>
      <div class="table-main">
        <div
          v-for="item in bettingOverviewList"
          :key="item.type"
          class="table-item"
        >
          <div class="table-title">{{ item.title }}</div>
          <div class="table-detail">
            <div class="table-detail-row">
              <div class="table-detail-item">
                {{ $t('wallet.bettingAmount') }}
                {{ formatNumber(item.bettingAmount) }}
              </div>
            </div>
            <div class="table-detail-row">
              <div class="table-detail-item">
                {{ $t('wallet.validBetting') }}
                {{ formatNumber(item.validBetting) }}
              </div>
              <div class="table-detail-item">
                {{ $t('wallet.winLose') }}
                <span :class="{ win: item.winloss > 0 }">{{
                  formatNumber(item.winloss)
                }}</span>
              </div>
            </div>
          </div>
          <div
            v-for="x in item.provider"
            :key="x.id"
            class="table-provider"
            @click="serach(x, item.type)"
          >
            <div class="table-provider-name">
              {{ x.name }}
            </div>
            <div class="table-provider-button">
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-right.svg')
                "
              ></img-svg>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-if="betStep === 2">
      <div class="filter-main">
        <div class="filter-group">
          <div
            v-for="item in filterList"
            :key="item.id"
            class="filter-item"
            @click="openFilter(item.value)"
          >
            <div class="filter-item-text">{{ filterOption[item.value] }}</div>
            <div
              v-show="filterType !== item.value || !filterStatus"
              class="filter-item-icon"
            >
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-down.svg')
                "
              ></img-svg>
            </div>
            <div
              v-show="filterType === item.value && filterStatus"
              class="filter-item-icon"
            >
              <img-svg
                :src="require('@/assets/images/mb/personalCenter/arrow-up.svg')"
              ></img-svg>
            </div>
          </div>
        </div>
      </div>
      <div class="total-main">
        <div class="total-row">
          <div class="total-item">
            {{ $t('bettingRecord.bettingAmount') }}
            {{ formatNumber(total.total_bet_amount) }}
          </div>
          <div class="total-item">
            {{ $t('bettingRecord.quantity') }}
            {{ quantity }}
          </div>
        </div>
        <div class="total-row">
          <div class="total-item">
            {{ $t('bettingRecord.validBetting') }}
            {{ formatNumber(total.total_valid_bet) }}
          </div>
          <div class="total-item">
            {{ $t('bettingRecord.winLose') }}
            <span :class="{ win: total.total_result_amount > 0 }">{{
              formatNumber(total.total_result_amount)
            }}</span>
          </div>
        </div>
      </div>
      <div class="table-main">
        <div class="table-group">
          <div
            v-for="item in bettingRecord.reports"
            :key="item.game_round_id"
            class="table-item"
          >
            <div class="table-title">
              {{ filterOption.provider }}
            </div>
            <div class="table-detail">
              <div v-if="item.game_name" class="table-detail-name">
                {{ item.game_name }}
              </div>
              <div class="table-detail-row">
                <div class="table-detail-item">
                  {{ $t('bettingRecord.bettingAmount') }}
                  <span class="table-detail-number">{{
                    formatNumber(item.bet_amount)
                  }}</span>
                </div>
              </div>
              <div class="table-detail-row">
                <div class="table-detail-item">
                  {{ $t('bettingRecord.validBetting') }}
                  <span class="table-detail-number">{{
                    formatNumber(item.valid_bet)
                  }}</span>
                </div>
                <div class="table-detail-item">
                  {{ $t('bettingRecord.winOrLose') }}
                  <span
                    class="table-detail-number"
                    :class="{ win: item.result_amount > 0 }"
                    >{{ formatNumber(item.result_amount) }}</span
                  >
                </div>
              </div>
            </div>
            <div class="table-time">
              {{ $t('bettingRecord.bettingTime')
              }}{{ simpleDateFormat(item.bet_time) }}
            </div>
          </div>
        </div>
      </div>

      <div v-if="withoutStatus" class="withoutRecord">
        <div class="withoutRecord-icon">
          <img
            src="@/assets/images/mb/personalCenter/transactionRecord-none.png"
          />
        </div>
        <div class="withoutRecord-text">
          {{ $t('bettingRecord.withoutRecord') }}
        </div>
      </div>
    </template>

    <filter-bar
      v-if="filterStatus"
      :filter-type="filterType"
      :filter-option="filterOption"
      :game-type="gameType"
      :period-list="periodList"
      :settlement-list="settlementList"
      @setOptionData="setOptionData"
      @setDate="setDate"
    />
  </div>
</template>
<script>
import { mapState } from 'vuex'
import {
  getBettingOverview,
  getBettingRecord,
  getBettingTotal,
} from '@/api/report.js'
import {
  getDateByTimezone,
  getPreviousDateByDays,
  getISODateString,
} from '@/assets/scripts/time.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', -1)
      const title = vm.$t('header.bettingRecord')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      filterType: '',
      filterStatus: false,
      filterOption: {
        provider: '',
        date: '',
        settlement: '',
      },
      filterList: [
        { id: 1, value: 'provider' },
        { id: 2, value: 'date' },
      ],
      gameType: '',
      periodList: [
        { id: 1, name: this.$t('bettingRecord.today'), value: 'today' },
        { id: 2, name: this.$t('bettingRecord.yesterday'), value: 'yesterday' },
        { id: 3, name: this.$t('bettingRecord.near7Days'), value: 'near7Days' },
        {
          id: 4,
          name: this.$t('bettingRecord.near30Days'),
          value: 'near30Days',
        },
        {
          id: 5,
          name: this.$t('bettingRecord.selectPeriod'),
          value: 'selectPeriod',
        },
      ],
      settlementList: [
        { id: 1, name: this.$t('bettingRecord.settled'), value: 1 },
        { id: 2, name: this.$t('bettingRecord.unsettlement'), value: 2 },
      ],
      total: {},
      quantity: 0,
      bettingRecord: {},
      bettingOverviewList: [],
      search: {
        provider: '',
        type: '',
        startTime: '',
        endTime: '',
        page: 1,
        pageSize: 1000,
        state: '',
      },
      withoutStatus: true,
    }
  },
  computed: {
    ...mapState('report', ['betStep']),
  },
  created() {
    this.initialize()
  },
  beforeDestroy() {
    this.$store.dispatch('report/clearBetStep')
  },
  methods: {
    initialize() {
      this.filterOption.date = this.periodList[0].name
      this.filterOption.settlement = this.settlementList[0].name
      this.search.startTime = this.getDate(this.periodList[0].value, 'start')
      this.search.endTime = this.getDate(this.periodList[0].value, 'end')
      this.getBettingOverview()
    },
    openFilter(type) {
      if (this.filterType === type && this.filterStatus === true) {
        this.filterStatus = false
        return
      }
      this.filterStatus = true
      this.filterType = type
    },
    setOptionData(data) {
      this.filterStatus = false
      this.filterOption[this.filterType] = data.name
      switch (this.filterType) {
        case 'provider': {
          this.search.provider = data.id
          this.search.type = data.type
          this.gameType = data.type
          const result = this.filterList.find((x) => x.id === 3)
          if (result) {
            if (
              data.type === 'live' ||
              data.type === 'egame' ||
              data.type === 'poker'
            ) {
              this.filterList.pop()
            }
          }
          if (!result) {
            if (
              data.type === 'sport' ||
              data.type === 'lotto' ||
              data.type === 'esport'
            )
              this.filterList.push({ id: 3, value: 'settlement' })
          }
          this.getBettingRecord()
          this.getBettingTotal()
          break
        }
        case 'date': {
          this.search.startTime = this.getDate(data.value, 'start')
          this.search.endTime = this.getDate(data.value, 'end')
          if (this.betStep === 1) {
            this.getBettingOverview()
          } else {
            this.getBettingRecord()
            this.getBettingTotal()
          }
          break
        }
        case 'settlement': {
          this.search.state = data.value
          this.getBettingRecord()
          this.getBettingTotal()
          break
        }
        default:
          break
      }
    },
    setDate(data) {
      this.filterStatus = false
      if (data.operate === 'confirm') {
        this.filterOption[this.filterType] = data.startTime + ' ' + data.endTime
        this.search.startTime = getISODateString(
          getDateByTimezone(new Date(data.startTime), {
            isStartOfDate: true,
          })
        )
        this.search.endTime = getISODateString(
          getDateByTimezone(new Date(data.endTime), {
            isEndOfDate: true,
          })
        )
        if (this.betStep === 1) {
          this.getBettingOverview()
        } else {
          this.getBettingRecord()
          this.getBettingTotal()
        }
      }
    },
    getDate(key, type) {
      switch (key) {
        case 'today': {
          return type === 'start'
            ? getISODateString(
                getDateByTimezone(new Date(), { isStartOfDate: true })
              )
            : getISODateString(
                getDateByTimezone(new Date(), { isEndOfDate: true })
              )
        }
        case 'yesterday': {
          return type === 'start'
            ? getISODateString(
                getPreviousDateByDays(1, { isStartOfDate: true })
              )
            : getISODateString(getPreviousDateByDays(1, { isEndOfDate: true }))
        }
        case 'near7Days': {
          return type === 'start'
            ? getISODateString(
                getPreviousDateByDays(7, { isStartOfDate: true })
              )
            : getISODateString(
                getDateByTimezone(new Date(), { isEndOfDate: true })
              )
        }
        case 'near30Days': {
          return type === 'start'
            ? getISODateString(
                getPreviousDateByDays(30, { isStartOfDate: true })
              )
            : getISODateString(
                getDateByTimezone(new Date(), { isEndOfDate: true })
              )
        }
        default:
          break
      }
    },
    serach(item, type) {
      this.search.provider = item.id
      this.search.type = type
      this.getBettingRecord()
      this.getBettingTotal()
      this.gameType = type
      this.filterOption.provider = item.name
      if (type === 'sport' || type === 'lotto' || type === 'esport') {
        this.filterList.push({ id: 3, value: 'settlement' })
      }
      this.$store.dispatch('report/setBetStep', 2)
    },
    async getBettingOverview() {
      const payload = {
        startTime: this.search.startTime,
        endTime: this.search.endTime,
      }
      try {
        const res = await getBettingOverview(payload)
        const result = res.data
        const entries = Object.entries(result)
        const array = entries.map((x) => {
          const result = {
            type: x[0],
            title: x[0] !== 'total' ? this.$t(`wallet.${x[0]}`) : '',
            bettingAmount: x[1].bet,
            validBetting: x[1].valid_bet,
            winloss: x[1].profit,
            provider: x[1].providers,
          }
          return result
        })
        const totalIndex = array.findIndex((x) => x.type === 'total')
        this.total = array[totalIndex]
        array.splice(totalIndex, 1)
        this.bettingOverviewList = array
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getBettingRecord() {
      const payload = this.search
      try {
        const res = await getBettingRecord(payload)
        const result = res.data
        this.bettingRecord = result
        this.quantity = this.bettingRecord.reports.length
        if (this.bettingRecord.reports.length > 0) {
          this.withoutStatus = false
        } else {
          this.withoutStatus = true
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getBettingTotal() {
      const payload = {
        startTime: this.search.startTime,
        endTime: this.search.endTime,
        provider: this.search.provider,
        type: this.search.type,
        state: this.search.state,
      }
      try {
        const res = await getBettingTotal(payload)
        const result = res.data
        this.total = result[0]
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    simpleDateFormat(data) {
      const date = new Date(data)
      const year = date.getFullYear()
      const month = (date.getMonth() + 1).toString().padStart(2, 0)
      const day = date.getDate().toString().padStart(2, 0)
      const hour = date.getHours().toString().padStart(2, 0)
      const minute = date.getMinutes().toString().padStart(2, 0)

      return [year, month, day].join('-') + ' ' + [hour, minute].join(':')
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  background-color: #f7f6fb;
}
.filter-main {
  @include flexbox(space-between);
  position: fixed;
  background-color: white;
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  border-bottom: 1px solid #ecf0f7;
  .filter-group {
    @include flexbox(flex-start);
    width: 100%;
    .filter-item {
      @include flexbox(space-between);
      color: #585858;
      font-size: 0.85rem;
      font-weight: 600;
      background-color: #f7f6fb;
      min-height: 2.3rem;
      width: 33%;
      border-radius: 1rem;
      padding: 0 0.7rem;
      margin-right: 0.5rem;
      .filter-item-text {
        width: 85%;
      }
      .filter-item-icon {
        @include flexbox;
      }
    }
  }
}
.total-main {
  padding: 4.5rem 1rem 0.5rem;
  color: #707070;
  font-size: 0.85rem;
  font-weight: bold;
  .total-row {
    @include flexbox(space-between);
    .total-item {
      margin-bottom: 0.5rem;
    }
  }
}
.table-main {
  padding: 0 1rem 2em;
  .table-item {
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
    .table-title {
      font-size: 0.9rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #ecf0f7;
    }
    .table-detail {
      padding: 0.5rem 1.5rem 1rem;
      border-bottom: 1px solid #ecf0f7;
      .table-detail-name {
        font-weight: 600;
        width: 100%;
        padding-top: 0.5rem;
      }
      .table-detail-name::before {
        content: '';
        display: block;
        position: absolute;
        width: 3px;
        height: 15px;
        background: #5296fd;
        margin: 4px 0px 0 -10px;
      }
      .table-detail-row {
        @include flexbox(space-between);
        .table-detail-item {
          margin-top: 0.5rem;
          color: #707070;
          font-size: 0.85rem;
          font-weight: bold;
          .table-detail-number {
            font-size: 0.9rem;
          }
        }
      }
    }
    .table-provider {
      @include flexbox(space-between);
      padding: 0.5rem 1rem;
      color: #707070;
      font-size: 0.85rem;
      font-weight: bold;
    }
    .table-time {
      color: #707070;
      font-size: 0.85rem;
      font-weight: bold;
      padding: 0.5rem;
    }
  }
}
.withoutRecord {
  margin-top: 25%;
  .withoutRecord-icon {
    @include flexbox;
  }
  .withoutRecord-text {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.85rem;
    font-weight: bold;
    color: #707070;
  }
}
.win {
  color: #fa6b88;
}
</style>
