<template>
  <div class="container">
    <div class="upperHalf">
      <template v-if="isLogin">
        <nuxt-link class="upperHalf-top" to="/PersonalCenter/PersonalInfo">
          <div class="upperHalf-top-photo">
            <img src="@/assets/images/mb/personalCenter/photo.png" />
          </div>
          <div class="upperHalf-top-member">
            <div class="upperHalf-top-user">Hi,{{ memberInfo.account }}</div>
            <div class="upperHalf-top-vip">VIP {{ userVIPData }}</div>
            <div class="upperHalf-top-prompt">
              {{ $t('personalCenter.joinDays', [joinDays]) }}
            </div>
          </div>
          <div class="upperHalf-top-button">
            <img-svg
              :src="
                require('@/assets/images/mb/personalCenter/arrow-right.svg')
              "
            ></img-svg>
          </div>
        </nuxt-link>
      </template>
      <template v-else>
        <div class="upperHalf-top">
          <div class="upperHalf-top-photo">
            <img src="@/assets/images/mb/personalCenter/unlogin.png" />
          </div>
          <div class="upperHalf-top-member">
            <i18n
              class="upperHalf-top-member-link"
              path="personalCenter.clickOn"
              tag="div"
            >
              <template v-slot:login>
                <nuxt-link to="Login">
                  {{ $t('personalCenter.login') }}
                </nuxt-link>
              </template>
              <template v-slot:register>
                <nuxt-link to="Register">
                  {{ $t('personalCenter.register') }}
                </nuxt-link>
              </template>
            </i18n>
          </div>
        </div>
      </template>
      <div class="upperHalf-middle">
        <nuxt-link
          v-for="item in topNavbarList"
          :key="item.id"
          class="upperHalf-middle-item"
          :to="item.path"
        >
          <div class="upperHalf-middle-icon">
            <img-svg
              :src="require(`@/assets/images/mb/personalCenter/${item.src}`)"
            ></img-svg>
          </div>
          <div class="upperHalf-middle-name">
            <div class="upperHalf-middle-text">
              {{ item.name }}
            </div>
            <div class="upperHalf-middle-enText">
              {{ item.enName }}
            </div>
          </div>
        </nuxt-link>
      </div>
      <div class="upperHalf-bottom">
        <nuxt-link
          v-for="item in middleNavbarList"
          :key="item.id"
          class="upperHalf-bottom-item"
          :to="item.path"
        >
          <div class="upperHalf-bottom-icon">
            <img-svg
              :src="require(`@/assets/images/mb/personalCenter/${item.src}`)"
            ></img-svg>
          </div>
          <div class="upperHalf-bottom-name">
            {{ item.name }}
          </div>
        </nuxt-link>
      </div>
    </div>
    <div class="lowerHalf">
      <nuxt-link
        v-for="item in bottomNavbarList"
        :key="item.id"
        class="lowerHalf-item"
        :to="item.path"
      >
        <div class="lowerHalf-item-icon">
          <img-svg
            :src="require(`@/assets/images/mb/personalCenter/${item.src}`)"
          ></img-svg>
        </div>
        <div class="lowerHalf-item-name">
          {{ item.name }}
        </div>
        <div class="lowerHalf-item-prompt">
          {{ item.prompt }}
        </div>
        <div class="lowerHalf-item-button">
          <img-svg
            :src="require('@/assets/images/mb/personalCenter/arrow-right.svg')"
          ></img-svg>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { getVIPInfo } from '@/api/vip.js'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.personalCenter')
      vm.$store.dispatch('header/setHeaderTitle', title)
      const data = [
        { id: 1, src: 'setting.svg', path: 'Setting' },
        { id: 2, src: 'messageCenter.svg', path: 'MessageCenter' },
      ]
      vm.$store.dispatch('header/setHeaderIcon', data)
    })
  },
  data() {
    return {
      userVIPData: {},
      topNavbarList: [
        {
          id: 1,
          path: '/PersonalCenter/VIPPrivilege',
          name: this.$t('personalCenter.VIPPrivilege'),
          src: 'VIPPrivilege.svg',
          enName: 'VIP PRIVILEGE',
        },
        {
          id: 2,
          path: '',
          name: this.$t('personalCenter.shopmall'),
          src: 'shopmall.svg',
          enName: 'SHOPMALL',
        },
      ],
      middleNavbarList: [
        {
          id: 1,
          path: '/Wallet',
          name: this.$t('personalCenter.wallet'),
          src: 'wallet.svg',
        },
        {
          id: 2,
          path: '/PersonalCenter/BettingRecord',
          name: this.$t('personalCenter.bettingRecord'),
          src: 'bettingRecord.svg',
        },
        {
          id: 3,
          path: '/PersonalCenter/TransactionRecord',
          name: this.$t('personalCenter.transactionRecord'),
          src: 'transactionRecord.svg',
        },
        {
          id: 4,
          path: '/Wallet/CardManage',
          name: this.$t('personalCenter.cardManage'),
          src: 'cardManage.svg',
        },
      ],
      bottomNavbarList: [
        // {
        //   id: 1,
        //   path: '/PersonalCenter/RewardRecord',
        //   name: this.$t('personalCenter.rewardRecord'),
        //   prompt: this.$t('personalCenter.rewardRecordPrompt'),
        //   src: 'rewardRecord.svg',
        // },
        {
          id: 2,
          path: '/HelpCenter',
          name: this.$t('personalCenter.helpCenter'),
          prompt: this.$t('personalCenter.helpCenterPrompt'),
          src: 'helpCenter.svg',
        },
        {
          id: 3,
          path: '/Activity',
          name: this.$t('personalCenter.inviteFriends'),
          prompt: this.$t('personalCenter.inviteFriendsPrompt'),
          src: 'inviteFriends.svg',
        },
        {
          id: 4,
          path: '',
          name: this.$t('personalCenter.aboutUs'),
          prompt: '',
          src: 'aboutUs.svg',
        },
        {
          id: 5,
          path: '/Cooperation',
          name: this.$t('personalCenter.cooperation'),
          prompt: '',
          src: 'cooperation.svg',
        },
      ],
    }
  },
  computed: {
    ...mapState('login', ['isLogin', 'memberInfo']),
    joinDays() {
      return this.computeOfDays(this.memberInfo.add_time) || 0
    },
  },
  created() {
    if (this.isLogin) {
      this.getVIPInfo()
    }
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderIcon')
  },
  methods: {
    async getVIPInfo() {
      try {
        const res = await getVIPInfo()
        const result = res.data
        this.userVIPData = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    computeOfDays(time) {
      const result =
        parseInt((new Date().getTime() - Date.parse(time)) / 86400000) + 1
      return result
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
}
.upperHalf {
  height: 18rem;
  background-color: #f7f6fb;
  border-radius: 0 0 2rem 2rem;
  padding: 1.5rem 1rem;
  .upperHalf-top {
    @include flexbox(flex-start);
    text-decoration: none;
    .upperHalf-top-photo {
      margin-right: 1rem;
    }
    .upperHalf-top-member {
      width: calc(100% - 6rem);
      .upperHalf-top-member-link {
        font-size: 1.2rem;
        a {
          text-decoration: none;
          color: black;
        }
      }
      .upperHalf-top-user {
        font-weight: bold;
        font-size: 1.3rem;
        display: inline-block;
        color: black;
      }
      .upperHalf-top-vip {
        display: inline-block;
        background: url('~assets/images/mb/personalCenter/vipLabel.svg') center
          no-repeat;
        color: white;
        font-weight: bold;
        border-radius: 0.3rem;
        font-size: 0.9rem;
        margin-left: 0.5rem;
        text-align: center;
        padding: 0.1rem 0.7rem;
        vertical-align: text-bottom;
      }
      .upperHalf-top-prompt {
        font-size: 0.9rem;
        color: gray;
      }
    }
  }
  .upperHalf-middle {
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 9px 1px;
    margin-top: 1rem;
    @include flexbox;
    .upperHalf-middle-item {
      @include flexbox;
      padding: 1rem 0.5rem;
      width: 50%;
      text-decoration: none;
      color: black;
      .upperHalf-middle-icon {
        @include flexbox;
        margin-right: 0.5rem;
      }
      .upperHalf-middle-text {
        font-weight: bold;
      }
      .upperHalf-middle-enText {
        font-size: 0.8rem;
        color: gray;
      }
    }
  }
  .upperHalf-bottom {
    @include flexbox;
    .upperHalf-bottom-item {
      width: 20%;
      margin: 1rem 0.5rem;
      text-decoration: none;
      color: black;
      .upperHalf-bottom-icon {
        @include flexbox;
        margin-bottom: 0.5rem;
      }
      .upperHalf-bottom-name {
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
.lowerHalf {
  padding: 1rem 1rem;
  .lowerHalf-item {
    @include flexbox(flex-start);
    width: 100%;
    height: 3rem;
    text-decoration: none;
    border-bottom: 1px solid rgb(247, 246, 251);
    .lowerHalf-item-icon {
      margin-right: 1rem;
    }
    .lowerHalf-item-name {
      width: 30%;
      font-weight: bold;
      color: #777777;
    }
    .lowerHalf-item-prompt {
      width: 60%;
      height: 1rem;
      text-align: right;
      font-size: 0.8rem;
      color: rgb(190, 190, 190);
    }
    .lowerHalf-item-button {
      @include flexbox;
      width: 1.5rem;
      float: right;
    }
  }
}
</style>
