<template>
  <div class="container">
    <template v-if="category === 'realName'">
      <div class="validate">
        <div class="validate-item">
          <div class="validate-item-title">
            {{ $t('personalInfo.realName') }}
          </div>
          <input
            v-model="realName"
            type="text"
            class="validate-item-input"
            :placeholder="$t('personalInfo.realNamePlaceholder')"
            @blur="setUpdateData()"
          />
        </div>
      </div>
    </template>
    <template v-if="category === 'phoneNumber'">
      <div class="validate">
        <div class="validate-item">
          <div class="validate-item-title">
            {{ $t('personalInfo.phoneNumber') }}
          </div>
          <div class="validate-item-phone">
            <select v-model="countryCode" class="validate-item-select">
              <option
                v-for="item in countryCodeList"
                :key="item.iso"
                :value="item.country_code"
                >+{{ item.country_code }}</option
              >
            </select>
            <input
              v-model="phoneNumber"
              type="text"
              class="validate-item-input"
              :placeholder="$t('personalInfo.phoneNumberPlaceholder')"
              @blur="setUpdateData()"
            />
          </div>
        </div>
        <div class="validate-item">
          <div class="validate-item-title">
            {{ $t('personalInfo.verificationPhone') }}
          </div>
          <input
            v-model="verificationPhone"
            type="text"
            class="validate-item-code"
            :placeholder="$t('personalInfo.verificationPhonePlaceholder')"
            @blur="setValidateData()"
          />
          <div
            v-if="!countdownStatus"
            class="validate-item-button"
            @click="getVerificationPhone()"
          >
            {{ $t('personalInfo.getVerificationPhone') }}
          </div>
          <div v-else class="validate-item-button disable">
            {{ countdown }} S
          </div>
        </div>
      </div>
    </template>
    <template v-if="category === 'email'">
      <div class="validate">
        <div class="validate-item">
          <div class="validate-item-title">
            {{ $t('personalInfo.email') }}
          </div>
          <input
            v-model="email"
            type="text"
            class="validate-item-input"
            :placeholder="$t('personalInfo.emailPlaceholder')"
            @blur="setUpdateData()"
          />
        </div>
        <div class="validate-item">
          <div class="validate-item-title">
            {{ $t('personalInfo.verificationEmail') }}
          </div>
          <input
            v-model="verificationEmail"
            type="text"
            class="validate-item-code"
            :placeholder="$t('personalInfo.verificationEmailPlaceholder')"
            @blur="setValidateData()"
          />
          <div
            v-if="!countdownStatus"
            class="validate-item-button"
            @click="getVerificationEmail()"
          >
            {{ $t('personalInfo.getVerificationEmail') }}
          </div>
          <div v-else class="validate-item-button disable">
            {{ countdown }} S
          </div>
        </div>
      </div>
    </template>
    <template v-if="category === 'lineID'">
      <div class="validate">
        <div class="validate-item">
          <div class="validate-item-title">LINE ID</div>
          <input
            v-model="lineID"
            type="text"
            class="validate-item-input"
            :placeholder="$t('personalInfo.linePlaceholder')"
            @blur="setUpdateData()"
          />
        </div>
      </div>
    </template>
    <div class="remind">
      <i18n path="personalInfo.privacySecurity" tag="div">
        <template v-slot:path>
          <nuxt-link to="/CustomerService" class="remind-customer-service">{{
            $t('personalInfo.customerService')
          }}</nuxt-link>
        </template>
      </i18n>
    </div>
  </div>
</template>

<script>
import { getCountryCode } from '@/api/user.js'
import { getVerificationPhone, getVerificationEmail } from '@/api/member.js'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      vm.$store.dispatch('header/setHeaderComplete', true)
      vm.category = location.search.split('=')[
        location.search.split('=').length - 1
      ]
      switch (vm.category) {
        case 'realName': {
          const title = vm.$t('header.realName')
          vm.$store.dispatch('header/setHeaderTitle', title)
          break
        }
        case 'phoneNumber': {
          const title = vm.$t('header.phoneNumber')
          vm.$store.dispatch('header/setHeaderTitle', title)
          vm.getCountryCode()
          break
        }
        case 'email': {
          const title = vm.$t('header.email')
          vm.$store.dispatch('header/setHeaderTitle', title)
          break
        }
        case 'lineID': {
          const title = 'LINE ID'
          vm.$store.dispatch('header/setHeaderTitle', title)
          break
        }
        default:
          break
      }
      vm.$store.dispatch('member/setUpdateCategory', vm.category)
    })
  },
  data() {
    return {
      category: '',
      realName: '',
      lineID: '',
      phoneNumber: '',
      verificationPhone: '',
      email: '',
      verificationEmail: '',
      countryCode: '',
      countryCodeList: [],
    }
  },
  beforeDestroy() {
    this.$store.dispatch('header/setHeaderComplete', false)
  },
  methods: {
    setUpdateData() {
      switch (this.category) {
        case 'realName': {
          const payload = {
            state: 'updateInfo',
            property: this.category,
            data: this.realName,
          }
          this.$store.dispatch('member/setUpdateInfo', payload)
          break
        }
        case 'phoneNumber': {
          const payload = {
            state: 'updateInfo',
            property: this.category,
            data: this.phoneNumber,
          }
          this.$store.dispatch('member/setUpdateInfo', payload)
          const countryCode = {
            state: 'updateInfo',
            property: 'countryCode',
            data: this.countryCode,
          }
          this.$store.dispatch('member/setUpdateInfo', countryCode)
          break
        }
        case 'email': {
          const payload = {
            state: 'updateInfo',
            property: this.category,
            data: this.email,
          }
          this.$store.dispatch('member/setUpdateInfo', payload)
          break
        }
        case 'lineID': {
          const payload = {
            state: 'updateInfo',
            property: this.category,
            data: this.lineID,
          }
          this.$store.dispatch('member/setUpdateInfo', payload)
          break
        }
        default:
          break
      }
    },
    setValidateData() {
      switch (this.category) {
        case 'phoneNumber': {
          const payload = this.verificationPhone
          this.$store.dispatch('member/setValidate', payload)
          break
        }
        case 'email': {
          const payload = this.verificationEmail
          this.$store.dispatch('member/setValidate', payload)
          break
        }
        default:
          break
      }
    },
    async getCountryCode() {
      try {
        const res = await getCountryCode()
        const result = res.data
        this.countryCodeList = result
        this.countryCode = result[0].country_code
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getVerificationPhone() {
      const payload = {
        phoneNumber: this.phoneNumber,
        countryCode: this.countryCode,
      }
      try {
        await getVerificationPhone(payload)
        this.showToast(this.$t('personalInfo.sendSuccess'))
        this.countdownTimer(60)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getVerificationEmail() {
      const payload = {
        email: this.email,
      }
      try {
        await getVerificationEmail(payload)
        this.showToast(this.$t('personalInfo.sendSuccess'))
        this.countdownTimer(60)
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
  background-color: #f7f6fb;
}
.validate-item {
  background-color: white;
  padding: 1.5rem 0;
  border-top: 1px solid #ecf0f7;
  .validate-item-title {
    padding: 0 1rem 0.5rem;
    color: #434343;
    font-weight: bold;
  }
  .validate-item-phone {
    @include flexbox(flex-start);
    padding: 0 1.5rem;
    .validate-item-select {
      height: 1.5rem;
      outline: none;
      border: 0;
      font-size: 0.9rem;
      color: #333;
    }
    .validate-item-input {
      border: 0;
      padding-left: 0.5rem;
      outline: none;
      font-size: 0.9rem;
    }
  }
  .validate-item-input {
    border: 0;
    width: 100%;
    padding: 0 1.5rem;
    outline: none;
    font-size: 0.9rem;
    color: darkgray;
  }
  .validate-item-code {
    display: inline-block;
    border: 0;
    padding: 0 1.5rem;
    width: calc(100% - 130px);
    outline: none;
    font-size: 0.9rem;
    color: darkgray;
  }
  .validate-item-button {
    display: inline-block;
    background-color: #5296fd;
    border-radius: 0.5rem;
    width: 5.5rem;
    height: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: -5px 2rem 0 0;
    font-size: 0.9rem;
    color: white;
  }
  .disable {
    background-color: lightgray;
  }
}
.remind {
  padding: 1.5rem 3rem;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  color: #434343;
  .remind-customer-service {
    text-decoration: none;
    color: #5296fd;
  }
}
</style>
