<template>
  <div class="container">
    <div class="info-group">
      <div class="info-item">
        <div class="info-item-title">{{ $t('personalInfo.profilePhoto') }}</div>
        <div class="info-item-photo">
          <img src="@/assets/images/mb/personalCenter/photo.png" />
        </div>
        <!-- <label for="upload" class="info-item-upload">
          <img-svg
            :src="require('@/assets/images/mb/personalCenter/editor.svg')"
          ></img-svg
        ></label>
        <input id="upload" type="file" hidden /> -->
      </div>
      <div class="info-item">
        <div class="info-item-title">{{ $t('personalInfo.userName') }}</div>
        <div class="info-item-user">{{ userDetailInfo.account }}</div>
      </div>
      <div class="info-item">
        <div class="info-item-title">{{ $t('personalInfo.realName') }}</div>
        <template v-if="!userDetailInfo.bank_account_name">
          <nuxt-link
            class="info-item-link"
            :to="{
              path: 'PersonalVerification',
              query: { category: 'realName' },
            }"
          >
            <div class="info-item-prompt">
              {{ $t('personalInfo.realNamePrompt') }}
            </div>
            <div class="info-item-button">
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-right.svg')
                "
              ></img-svg>
            </div>
          </nuxt-link>
        </template>
        <template v-else>
          <div class="info-item-link">
            <div class="info-item-prompt">
              {{ userDetailInfo.bank_account_name }}
            </div>
            <div class="info-item-button">
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-right.svg')
                "
              ></img-svg>
            </div>
          </div>
        </template>
      </div>
      <div class="info-item">
        <div class="info-item-title">{{ $t('personalInfo.gender') }}</div>
        <div class="info-item-link" @click="selectorStatus = !selectorStatus">
          <div class="info-item-prompt">
            {{
              getGenderTypeText(userDetailInfo.gender) ||
              $t('personalInfo.genderPrompt')
            }}
          </div>
          <div class="info-item-button">
            <img-svg
              :src="
                require('@/assets/images/mb/personalCenter/arrow-right.svg')
              "
            ></img-svg>
          </div>
        </div>
      </div>
      <div class="info-item">
        <div class="info-item-title">{{ $t('personalInfo.birthday') }}</div>
        <label class="info-item-link">
          <div class="info-item-prompt">
            {{ userDetailInfo.birthday || $t('personalInfo.birthdayPrompt') }}
            <input
              v-model="birthday"
              type="date"
              class="info-item-input"
              @blur="updateUserDetailInfo('birthday')"
            />
          </div>
          <div class="info-item-button">
            <img-svg
              :src="
                require('@/assets/images/mb/personalCenter/arrow-right.svg')
              "
            ></img-svg>
          </div>
        </label>
      </div>
      <div class="info-item">
        <div class="info-item-title">{{ $t('personalInfo.phoneNumber') }}</div>
        <template v-if="!userDetailInfo.phone_no">
          <nuxt-link
            class="info-item-link"
            :to="{
              path: 'PersonalVerification',
              query: { category: 'phoneNumber' },
            }"
          >
            <div class="info-item-prompt">
              {{ $t('personalInfo.phoneNumberPrompt') }}
            </div>
            <div class="info-item-button">
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-right.svg')
                "
              ></img-svg>
            </div>
          </nuxt-link>
        </template>
        <template v-else>
          <div class="info-item-link">
            <div class="info-item-prompt">+{{ userDetailInfo.phone_no }}</div>
            <div class="info-item-button">
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-right.svg')
                "
              ></img-svg>
            </div>
          </div>
        </template>
      </div>
      <div class="info-item">
        <div class="info-item-title">{{ $t('personalInfo.email') }}</div>
        <template v-if="!userDetailInfo.email">
          <nuxt-link
            class="info-item-link"
            :to="{ path: 'PersonalVerification', query: { category: 'email' } }"
          >
            <div class="info-item-prompt">
              {{ $t('personalInfo.emailPrompt') }}
            </div>
            <div class="info-item-button">
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-right.svg')
                "
              ></img-svg>
            </div>
          </nuxt-link>
        </template>
        <template v-else>
          <div class="info-item-link">
            <div class="info-item-prompt">
              {{ userDetailInfo.email }}
            </div>
            <div class="info-item-button">
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-right.svg')
                "
              ></img-svg>
            </div>
          </div>
        </template>
      </div>
      <div class="info-item">
        <div class="info-item-title">LINE ID</div>
        <template v-if="!userDetailInfo.line_id">
          <nuxt-link
            class="info-item-link"
            :to="{
              path: 'PersonalVerification',
              query: { category: 'lineID' },
            }"
          >
            <div class="info-item-prompt">
              {{ $t('personalInfo.linePrompt') }}
            </div>
            <div class="info-item-button">
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-right.svg')
                "
              ></img-svg>
            </div>
          </nuxt-link>
        </template>
        <template v-else>
          <div class="info-item-link">
            <div class="info-item-prompt">
              {{ userDetailInfo.line_id }}
            </div>
            <div class="info-item-button">
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-right.svg')
                "
              ></img-svg>
            </div>
          </div>
        </template>
      </div>
    </div>

    <div class="remind">
      <i18n path="personalInfo.privacySecurity" tag="div">
        <template v-slot:path>
          <nuxt-link to="/CustomerService" class="remind-customer-service">{{
            $t('personalInfo.customerService')
          }}</nuxt-link>
        </template>
      </i18n>
    </div>
    <template v-if="selectorStatus">
      <div class="selector-mask">
        <div class="selector-main">
          <div class="selector-operate">
            <div
              class="selector-button"
              @click="selectorStatus = !selectorStatus"
            >
              {{ $t('personalInfo.cancel') }}
            </div>
          </div>
          <div
            v-for="item in genderList"
            :key="item.value"
            class="selector-menu"
            @click="selectGender(item)"
          >
            <div class="selector-menu-text">{{ item.name }}</div>
            <div
              v-show="genderSelected === item.value"
              class="selector-menu-icon"
            >
              <img-svg
                :src="require('@/assets/images/mb/personalCenter/checked.svg')"
              ></img-svg>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { getUserDetailInfo, updateUserDetailInfo } from '@/api/member.js'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.personalInfo')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      userDetailInfo: {},
      selectorStatus: false,
      genderSelected: '',
      genderList: [
        { name: this.$t('personalInfo.female'), value: 'F' },
        { name: this.$t('personalInfo.male'), value: 'M' },
      ],
      gender: '',
      birthday: '',
    }
  },
  created() {
    this.getUserDetailInfo()
  },
  methods: {
    async getUserDetailInfo() {
      try {
        const res = await getUserDetailInfo()
        const result = res.data
        this.userDetailInfo = result
        this.genderSelected = result.gender
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    selectGender(item) {
      this.gender = item.value
      this.updateUserDetailInfo()
      this.selectorStatus = !this.selectorStatus
    },
    getGenderTypeText(gender) {
      const genderTypeMap = new Map([
        ['F', this.$t('personalInfo.female')],
        ['M', this.$t('personalInfo.male')],
      ])
      const result = genderTypeMap.get(gender)

      return result
    },
    async updateUserDetailInfo() {
      if (!this.birthday && !this.gender) return

      const payload = {
        realName: '',
        birthday: this.birthday,
        email: '',
        lineID: '',
        phoneNumber: '',
        countryCode: '',
        gender: this.gender,
      }
      try {
        await updateUserDetailInfo(payload)
        this.getUserDetailInfo()
        this.birthday = ''
        this.gender = ''
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
}

.info-group {
  padding: 0 1rem;
  .info-item {
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
    @include flexbox(space-between, center, wrap);
    .info-item-title {
      color: #434343;
      font-size: 0.9rem;
      font-weight: bold;
      width: 100%;
    }
    .info-item-photo {
      @include flexbox;
      margin-top: 0.5rem;
    }
    .info-item-upload {
      position: absolute;
      margin: 4rem 0 0 2.8rem;
    }
    .info-item-user {
      margin: 0.5rem 0 0 10px;
    }
    .info-item-link {
      width: 100%;
      text-decoration: none;
      @include flexbox(space-between);
      .info-item-prompt {
        margin: 0.5rem 0 0 10px;
        color: darkgray;
        font-size: 0.9rem;
      }
      .info-item-input {
        opacity: 0.1;
      }
      .info-item-button {
        margin-top: 0.5rem;
      }
    }
  }
  .info-item:nth-last-child(1) {
    border-bottom: 0;
  }
}
.remind {
  padding: 1.5rem 3rem;
  background-color: #f7f6fb;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  color: #434343;
  .remind-customer-service {
    text-decoration: none;
    color: #5296fd;
  }
}
.selector-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  .selector-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    padding-bottom: 2.5rem;
    .selector-operate {
      @include flexbox(space-between);
      color: #5296fd;
      font-size: 0.9rem;
      font-weight: bold;
      border-bottom: 0.5rem solid #f7f6fb;
      .selector-button {
        padding: 1rem;
      }
    }
    .selector-menu {
      @include flexbox(space-between);
      font-weight: bold;
      margin: 0 1rem;
      padding: 0.8rem 2rem;
      border-bottom: 1px solid lightgray;
      .selector-menu-text {
        font-weight: bold;
      }
      .selector-menu-icon {
        @include flexbox;
      }
    }
  }
}
.hidden {
  position: absolute;
  left: -10000px;
}
</style>
