<template>
  <div class="container">
    <div class="detail-main">
      <div
        v-if="
          transactionType.value === 'withdraw' && transactionDetail.state === 0
        "
        class="detail-title"
      >
        {{ $t('recordDetail.withdrawFail') }}
      </div>
      <div v-else class="detail-title">{{ transactionType.name }}</div>
      <div class="detail-item">
        <div class="detail-item-title">
          {{ $t('recordDetail.transactionHour') }}
        </div>
        <div
          v-if="transactionType.value === 'withdraw'"
          class="detail-item-text"
        >
          {{ simpleDateFormat(transactionDetail.apply_time) }}
        </div>
        <div v-else class="detail-item-text">
          {{ simpleDateFormat(transactionDetail.log_time) }}
        </div>
      </div>
      <div class="detail-item">
        <div class="detail-item-title">
          {{ $t('recordDetail.orderNumber') }}
        </div>
        <div id="orderNumber" class="detail-item-text">
          {{ transactionDetail.transaction_id }}
        </div>
        <div class="detail-item-button" @click="copyText('#orderNumber')">
          {{ $t('recordDetail.copy') }}
        </div>
      </div>
      <div class="detail-line"></div>
      <template v-if="transactionType.value !== 'transfer'">
        <div class="detail-item">
          <div class="detail-item-title">
            {{ transactionType.name }}
          </div>
          <div
            v-if="
              transactionDetail.amount && transactionType.value !== 'withdraw'
            "
            class="detail-item-text"
          >
            {{ formatNumber(parseInt(transactionDetail.amount)) }}
          </div>
          <div
            v-if="
              transactionDetail.pay_amount &&
              transactionType.value === 'withdraw'
            "
            class="detail-item-text"
          >
            {{ formatNumber(parseInt(transactionDetail.pay_amount)) }}
          </div>
        </div>
        <div class="detail-item">
          <div class="detail-item-title">{{ $t('recordDetail.balance') }}</div>
          <div v-if="transactionDetail.balance" class="detail-item-text">
            {{ formatNumber(parseInt(transactionDetail.balance)) }}
          </div>
        </div>
      </template>
      <template v-else
        ><div class="detail-item">
          <div class="detail-item-title">
            {{ transactionType.name }}
          </div>
          <div v-if="transactionDetail.amount" class="detail-item-text">
            {{ formatNumber(parseInt(transactionDetail.amount)) }}
          </div>
        </div>
        <div class="detail-item">
          <div class="detail-item-title">
            {{ $t('recordDetail.transferOutAccount') }}
          </div>
          <div class="detail-item-name">
            {{ transactionDetail.from_account }}
          </div>
          <div class="detail-item-balance">
            {{ $t('recordDetail.balance') }}
          </div>
          <div v-if="transfetOutBalance" class="detail-item-funds">
            {{ formatNumber(parseInt(transfetOutBalance)) }}
          </div>
        </div>
        <div class="detail-item">
          <div class="detail-item-title">
            {{ $t('recordDetail.transferinAccount') }}
          </div>
          <div class="detail-item-name">
            {{ transactionDetail.to_account }}
          </div>
          <div class="detail-item-balance">
            {{ $t('recordDetail.balance') }}
          </div>
          <div v-if="transfetInBalance" class="detail-item-funds">
            {{ formatNumber(parseInt(transfetInBalance)) }}
          </div>
        </div>
      </template>
    </div>
    <div class="remind-main">
      <i18n path="recordDetail.helpTip" tag="div">
        <template v-slot:path>
          <nuxt-link class="remind-customer-service" to="/CustomerService">
            {{ $t('recordDetail.customerService') }}
          </nuxt-link>
        </template>
      </i18n>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import {
  getDepositDetail,
  getWithdrawDetail,
  getTransferDetail,
  getBonusDetail,
} from '@/api/report.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', -1)
      const title =
        vm.transactionType.value === 'bonus'
          ? vm.$t('header.rewardRecord')
          : vm.$t('header.transactionDetail')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      transactionDetail: {},
      mainWallet: 0,
      transfetOutBalance: '',
      transfetInBalance: '',
    }
  },
  computed: {
    ...mapState('report', ['transactionType', 'transactionId']),
  },
  created() {
    switch (this.transactionType.value) {
      case 'deposit': {
        this.getDepositDetail()
        break
      }
      case 'transfer': {
        this.getTransferDetail()
        break
      }
      case 'withdraw': {
        this.getWithdrawDetail()
        break
      }
      case 'bonus': {
        this.getBonusDetail()
        break
      }
      default:
        break
    }
  },
  methods: {
    async getDepositDetail() {
      const id = this.transactionId
      try {
        const res = await getDepositDetail(id)
        const result = res.data
        this.transactionDetail = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getWithdrawDetail() {
      const id = this.transactionId
      try {
        const res = await getWithdrawDetail(id)
        const result = res.data
        this.transactionDetail = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getTransferDetail() {
      const id = this.transactionId
      try {
        const res = await getTransferDetail(id)
        const result = res.data
        this.transactionDetail = result
        if (result.from_account === 'lhbet') {
          this.transfetOutBalance = result.main_balance
          this.transfetInBalance = result.target_balance
        } else {
          this.transfetOutBalance = result.target_balance
          this.transfetInBalance = result.main_balance
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getBonusDetail() {
      const id = this.transactionId
      try {
        const res = await getBonusDetail(id)
        const result = res.data
        this.transactionDetail = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    simpleDateFormat(data) {
      if (!data) return
      const date = new Date(data)
      const year = date.getFullYear()
      const month = (date.getMonth() + 1).toString().padStart(2, 0)
      const day = date.getDate().toString().padStart(2, 0)
      const hour = date.getHours().toString().padStart(2, 0)
      const minute = date.getMinutes().toString().padStart(2, 0)
      const second = date.getSeconds().toString().padStart(2, 0)

      return (
        [year, month, day].join('-') + ' ' + [hour, minute, second].join(':')
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
  background-color: white;
}
.detail-main {
  padding: 1rem;
  .detail-title {
    padding: 2rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  .detail-item {
    @include flexbox(flex-start);
    line-height: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    .detail-item-title {
      width: 20%;
      color: #aaa;
    }
    .detail-item-text {
      color: #707070;
      font-weight: 500;
    }
    .detail-item-name {
      color: #707070;
      width: 50%;
      font-weight: 500;
    }
    .detail-item-balance {
      color: #aaa;
      margin-right: 0.5rem;
    }
    .detail-item-funds {
      color: #707070;
      font-weight: 500;
    }
    .detail-item-button {
      @include flexbox;
      border: 1px solid rgb(82, 150, 253);
      color: rgb(82, 150, 253);
      height: 1.3rem;
      padding: 0 0.3rem;
      border-radius: 0.4rem;
      margin-left: 0.5rem;
      font-size: 0.8rem;
    }
    .detail-item-row {
      width: 70%;
      @include flexbox(space-between);
      .detail-item-row-text {
        font-weight: bold;
        color: #707070;
      }
      .detail-item-row-icon {
        width: 1.5rem;
        height: 1.5rem;
        background-color: gray;
      }
    }
  }
  .detail-line {
    margin: 0.5rem 0;
    border-bottom: 1px solid #aaa;
  }
}
.remind-main {
  @include flexbox;
  padding: 2rem 1rem;
  font-size: 0.85rem;
  font-weight: bold;
  color: #434343;
  .remind-customer-service {
    text-decoration: none;
    color: #5296fd;
  }
}
</style>
