<template>
  <div class="container">
    <div class="filter-main">
      <div class="filter-group">
        <div
          v-for="item in filterList"
          :key="item.id"
          class="filter-item"
          @click="openFilter(item.value)"
        >
          <div class="filter-item-text">{{ filterOption[item.value] }}</div>
          <div
            v-show="filterType !== item.value || !filterStatus"
            class="filter-item-icon"
          >
            <img-svg
              :src="require('@/assets/images/mb/personalCenter/arrow-down.svg')"
            ></img-svg>
          </div>
          <div
            v-show="filterType === item.value && filterStatus"
            class="filter-item-icon"
          >
            <img-svg
              :src="require('@/assets/images/mb/personalCenter/arrow-up.svg')"
            ></img-svg>
          </div>
        </div>
      </div>
      <nuxt-link class="filter-link" to="/Activity">{{
        $t('rewardRecord.activity')
      }}</nuxt-link>
    </div>
    <div class="table-main">
      <div class="table-group">
        <div
          v-for="item in exampleList.reports"
          :key="item.transaction_id"
          class="table-item"
          @click="setDetailData(item)"
        >
          <div class="table-icon">
            <img-svg
              :src="require('@/assets/images/mb/personalCenter/bonus.svg')"
            ></img-svg>
          </div>
          <div class="table-text">
            <div class="table-title">
              {{ $t('rewardRecord.bonus') }}
              <span class="table-title-text">{{
                $t('rewardRecord.rebate')
              }}</span>
            </div>
            <div class="table-time">
              {{ simpleDateFormat(item.log_time) }}
            </div>
          </div>
          <div class="table-funds">
            <div class="table-number">
              {{ formatNumber(parseInt(item.amount)) }}
            </div>
            <div class="table-button">
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-right.svg')
                "
              ></img-svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="withoutStatus" class="withoutRecord">
      <div class="withoutRecord-icon">
        <img src="@/assets/images/mb/personalCenter/rewardRecord-none.png" />
      </div>
      <div class="withoutRecord-text">
        {{ $t('rewardRecord.withoutRecord') }}
      </div>
    </div>

    <filter-bar
      v-if="filterStatus"
      :filter-type="filterType"
      :filter-option="filterOption"
      :reward-list="rewardList"
      :period-list="periodList"
      @setOptionData="setOptionData"
      @setDate="setDate"
    />
  </div>
</template>
<script>
import { getBonusRecord } from '@/api/report.js'
import {
  getDateByTimezone,
  getPreviousDateByDays,
  getISODateString,
} from '@/assets/scripts/time.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', -1)
      const title = vm.$t('header.rewardRecord')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      filterType: '',
      filterStatus: false,
      filterOption: {
        reward: '',
        date: '',
      },
      filterList: [
        { id: 1, value: 'reward' },
        { id: 2, value: 'date' },
      ],
      rewardList: [
        {
          id: 1,
          name: this.$t('rewardRecord.bonusRecord'),
          value: 'bonus',
        },
      ],
      periodList: [
        { id: 1, name: this.$t('rewardRecord.today'), value: 'today' },
        {
          id: 2,
          name: this.$t('rewardRecord.yesterday'),
          value: 'yesterday',
        },
        {
          id: 3,
          name: this.$t('rewardRecord.near7Days'),
          value: 'near7Days',
        },
        {
          id: 4,
          name: this.$t('rewardRecord.near30Days'),
          value: 'near30Days',
        },
        {
          id: 5,
          name: this.$t('rewardRecord.selectPeriod'),
          value: 'selectPeriod',
        },
      ],
      rewardRecord: {},
      exampleList: {
        reports: [
          {
            transaction_id: '123456',
            log_time: '2020-05-05T08:01:51+00:00',
            amount: 1000,
            balance: 1000,
          },
        ],
        current_page: 1,
        per_page: 50,
        count: 3,
        total: 3,
        hasMorePages: false,
      },
      search: {
        startTime: '',
        endTime: '',
        page: 1,
        pageSize: 50,
      },
      withoutStatus: true,
    }
  },
  created() {
    this.initialize()
  },
  methods: {
    initialize() {
      this.filterOption.reward = this.rewardList[0].name
      this.filterOption.date = this.periodList[0].name
      this.search.startTime = this.getDate(this.periodList[0].value, 'start')
      this.search.endTime = this.getDate(this.periodList[0].value, 'end')
      this.getBonusRecord()
    },
    openFilter(type) {
      if (this.filterType === type && this.filterStatus === true) {
        this.filterStatus = false
        return
      }
      this.filterStatus = true
      this.filterType = type
    },
    setOptionData(data) {
      this.filterStatus = false
      this.filterOption[this.filterType] = data.name
      switch (this.filterType) {
        case 'reward': {
          this.getBonusRecord()
          break
        }
        case 'date': {
          this.search.startTime = this.getDate(data.value, 'start')
          this.search.endTime = this.getDate(data.value, 'end')
          this.getBonusRecord()
          break
        }
        default:
          break
      }
    },
    async setDetailData(item) {
      const array = [...this.rewardList]
      array[0].name = this.$t('rewardRecord.bonus')
      await this.$store.dispatch('report/setTransactionType', array[0])
      await this.$store.dispatch('report/setTransactionId', item.transaction_id)
      this.$router.push({ path: 'RecordDetail' })
    },
    setDate(data) {
      this.filterStatus = false
      if (data.operate === 'confirm') {
        this.filterOption[this.filterType] = data.startTime + '-' + data.endTime
        this.search.startTime = getISODateString(
          getDateByTimezone(new Date(data.startTime), {
            isStartOfDate: true,
          })
        )
        this.search.endTime = getISODateString(
          getDateByTimezone(new Date(data.endTime), {
            isEndOfDate: true,
          })
        )
        this.getBonusRecord()
      }
    },
    getDate(key, type) {
      switch (key) {
        case 'today': {
          return type === 'start'
            ? getISODateString(
                getDateByTimezone(new Date(), { isStartOfDate: true })
              )
            : getISODateString(
                getDateByTimezone(new Date(), { isEndOfDate: true })
              )
        }
        case 'yesterday': {
          return type === 'start'
            ? getISODateString(
                getPreviousDateByDays(1, { isStartOfDate: true })
              )
            : getISODateString(getPreviousDateByDays(1, { isEndOfDate: true }))
        }
        case 'near7Days': {
          return type === 'start'
            ? getISODateString(
                getPreviousDateByDays(7, { isStartOfDate: true })
              )
            : getISODateString(
                getDateByTimezone(new Date(), { isEndOfDate: true })
              )
        }
        case 'near30Days': {
          return type === 'start'
            ? getISODateString(
                getPreviousDateByDays(30, { isStartOfDate: true })
              )
            : getISODateString(
                getDateByTimezone(new Date(), { isEndOfDate: true })
              )
        }
        default:
          break
      }
    },
    async getBonusRecord() {
      const payload = this.search
      try {
        const res = await getBonusRecord(payload)
        const result = res.data
        this.rewardRecord = result
        if (this.rewardRecord.reports.length > 0) {
          this.withoutStatus = false
        } else {
          this.withoutStatus = true
        }
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    simpleDateFormat(data) {
      const date = new Date(data)
      const year = date.getFullYear()
      const month = (date.getMonth() + 1).toString().padStart(2, 0)
      const day = date.getDate().toString().padStart(2, 0)
      const hour = date.getHours().toString().padStart(2, 0)
      const minute = date.getMinutes().toString().padStart(2, 0)
      const second = date.getSeconds().toString().padStart(2, 0)

      return (
        [year, month, day].join('-') + ' ' + [hour, minute, second].join(':')
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  background-color: white;
}
.filter-main {
  @include flexbox(space-between);
  position: fixed;
  background-color: white;
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  border-bottom: 1px solid #ecf0f7;
  .filter-group {
    @include flexbox(flex-start);
    width: calc(100% - 4rem);
    .filter-item {
      @include flexbox(space-between);
      color: #585858;
      font-size: 0.85rem;
      font-weight: 600;
      background-color: #f7f6fb;
      height: 2.3rem;
      width: 33%;
      border-radius: 1rem;
      padding: 0 0.7rem;
      margin-right: 0.5rem;
      .filter-item-text {
        width: 85%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .filter-item-icon {
        @include flexbox;
      }
    }
  }
  .filter-link {
    text-decoration: none;
    color: #5296fd;
    font-size: 0.9rem;
    font-weight: bold;
  }
}
.table-main {
  padding-top: 4rem;
  .table-item {
    @include flexbox(flex-start);
    padding: 1rem;
    border-bottom: 1px solid #ecf0f7;
    .table-icon {
      @include flexbox;
      @include iconSample(2rem, 2rem, #f7f6fb);
      margin-right: 1rem;
    }
    .table-text {
      width: calc(100% - 7.5rem);
      .table-title {
        font-size: 1.1rem;
        font-weight: bold;
        color: #707070;
        .table-title-text {
          font-size: 0.9rem;
        }
      }
      .table-time {
        font-size: 0.85rem;
        font-weight: bold;
        color: #aaa;
      }
    }
    .table-funds {
      @include flexbox;
      font-weight: bold;
      color: #707070;
      .table-number {
        margin-right: 0.5rem;
      }
    }
  }
}
.withoutRecord {
  margin-top: 40%;
  .withoutRecord-icon {
    @include flexbox;
  }
  .withoutRecord-text {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.85rem;
    font-weight: bold;
    color: #707070;
  }
  .withoutRecord-button {
    width: 15rem;
    padding: 1rem 0;
    margin: 2rem auto;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #5296fd;
    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}
</style>
