<template>
  <div class="container">
    <div class="menu-main">
      <div
        v-for="item in menuList"
        :key="item.id"
        class="menu-item"
        :class="{ selected: menuSelected === item.value }"
        @click="selectType(item)"
      >
        {{ item.name }}
      </div>
    </div>
    <div class="title-main">{{ getTitleTypeText(menuSelected) }}</div>
    <div class="content-main">
      <template v-if="menuSelected === 'rebateRatio'">
        <div class="content-header">
          <div
            v-for="item in rebateHeaderList"
            :key="item.id"
            class="content-header-item rebateRatio"
          >
            {{ item.name }}
          </div>
        </div>
        <div
          v-for="item in vipDataList"
          :key="item.vip_level"
          class="content-table"
        >
          <div class="content-table-item rebateRatio">
            <div class="content-table-icon">
              <img
                v-if="item.vip_level <= 4"
                src="@/assets/images/mb/personalCenter/level-gray.png"
              />
              <img
                v-else
                src="@/assets/images/mb/personalCenter/level-gold.png"
              />
            </div>
            <div
              class="content-table-level"
              :class="{ gold: item.vip_level > 4 }"
            >
              {{ item.vip_level }}
            </div>
            <div class="content-table-text">VIP{{ item.vip_level }}</div>
          </div>
          <div class="content-table-item rebateRatio">
            {{ item.sport_rake_ratio }}%
          </div>
          <div class="content-table-item rebateRatio">
            {{ item.live_rake_ratio }}%
          </div>
          <div class="content-table-item rebateRatio">
            {{ item.lotto_rake_ratio }}%
          </div>
          <div class="content-table-item rebateRatio">
            {{ item.egame_rake_ratio }}%
          </div>
          <div class="content-table-item rebateRatio">
            {{ item.poker_rake_ratio }}%
          </div>
          <div class="content-table-item rebateRatio">
            {{ item.esport_rake_ratio }}%
          </div>
        </div>
      </template>
      <template v-if="menuSelected === 'withdrawLimit'">
        <div class="content-header">
          <div
            v-for="item in limitHeaderList"
            :key="item.id"
            class="content-header-item withdrawLimit"
          >
            {{ item.name }}
          </div>
        </div>
        <div
          v-for="item in vipDataList"
          :key="item.vip_level"
          class="content-table"
        >
          <div class="content-table-item withdrawLimit">
            <div class="content-table-icon">
              <img
                v-if="item.vip_level <= 4"
                src="@/assets/images/mb/personalCenter/level-gray.png"
              />
              <img
                v-else
                src="@/assets/images/mb/personalCenter/level-gold.png"
              />
            </div>
            <div
              class="content-table-level"
              :class="{ gold: item.vip_level > 4 }"
            >
              {{ item.vip_level }}
            </div>
            <div class="content-table-text">VIP{{ item.vip_level }}</div>
          </div>
          <div class="content-table-item withdrawLimit">
            {{ item.free_transfer_times }}
          </div>
          <div class="content-table-item withdrawLimit">
            {{ formatNumber(item.deposit, 0) }}
          </div>
        </div>
      </template>
      <template v-if="menuSelected === 'activityRule'">
        <div class="content-group">
          <div v-for="item in ruleList" :key="item.id" class="content-item">
            <div class="content-item-label">{{ item.id }}</div>
            <div class="content-item-title">{{ item.title }}</div>
            <div class="content-item-text">{{ item.content }}</div>
          </div>
          <div class="content-tip">
            <div class="content-tip-label">{{ ruleList.length + 1 }}</div>
            <div class="content-tip-text">
              VWIN保留對活動的修改，停止及最終解釋權
              備註：每日返水將會在14:30-15:30發放。
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { getVIPLevel } from '@/api/vip.js'
export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.VIPDetail')
      vm.$store.dispatch('header/setHeaderTitle', title)
    })
  },
  data() {
    return {
      menuSelected: '',
      menuList: [
        {
          id: 1,
          name: 'VIP' + this.$t('VIPDetail.rebateRatio'),
          value: 'rebateRatio',
        },
        {
          id: 2,
          name: 'VIP' + this.$t('VIPDetail.withdrawLimit'),
          value: 'withdrawLimit',
        },
        {
          id: 3,
          name: this.$t('VIPDetail.activityRule'),
          value: 'activityRule',
        },
      ],
      rebateHeaderList: [
        { id: 1, name: this.$t('VIPDetail.vipLevel') },
        { id: 2, name: this.$t('VIPDetail.sportsRebate') },
        { id: 3, name: this.$t('VIPDetail.liveRebate') },
        { id: 4, name: this.$t('VIPDetail.lottoRebate') },
        { id: 5, name: this.$t('VIPDetail.eGameRebate') },
        { id: 6, name: this.$t('VIPDetail.pokerRebate') },
        { id: 7, name: this.$t('VIPDetail.eSportRebate') },
      ],
      limitHeaderList: [
        { id: 1, name: this.$t('VIPDetail.vipLevel') },
        { id: 2, name: this.$t('VIPDetail.dailyWithdrawCount') },
        { id: 3, name: this.$t('VIPDetail.dailyWithdrawAmount') },
      ],
      vipDataList: [],
      ruleList: [
        {
          id: 1,
          title: '晉升標準',
          content:
            '會員的累計存款以及累計流水達到相應級別的要求，即可在次日24點晉級相應的VIP等級。',
        },
        {
          id: 2,
          title: '晉升順序',
          content:
            'VIP等級達到相應的要求可每天晉升一級，但VIP等級不可越級晉升。',
        },
        {
          id: 3,
          title: '保級要求',
          content:
            '會員在達到某VIP等級後，90天內投注需要完成保級要求。如果在此期間完成晉升，保級要求重新按照當前等級計算。',
        },
        {
          id: 4,
          title: '降低標準',
          content:
            '如果會員在一個季度（90天計算）內沒有完成相應的保級要求流水，系統會自動降級一個等級，相應的返水及其它優惠也會隨之調整至降級後的等級。',
        },
        {
          id: 5,
          title: '特別優惠',
          content:
            '達到相應等級的VIP會員可聯繫在線客服進行申請，禮品不能折算為現金，每個級別的名貴禮品每位會員僅能獲得1次。VWIN對名貴禮品擁有最終解釋權。（名貴禮品僅針對VIP6/VIP7/VIP8/VIP9/VIP10會員）',
        },
        {
          id: 6,
          title: '升級禮金',
          content:
            '升級禮金在會員達到該會員級別後系統自動派發，每個級別的升級禮金每位會員僅能獲得1次。（升級禮金1倍流水即可提款）',
        },
        {
          id: 7,
          title: '生日禮金',
          content:
            '會員在註冊三個月內過生日，今年將不能領取生日禮金。另註冊時間大於三個月的會員需在生日當天的VIP頁面進行自助領取，每年可領取一次。（生日彩金1倍流水即可提款）',
        },
        {
          id: 8,
          title: '每月紅包',
          content:
            '會員在上個月有過至少1次的成功存款，即可在每月1號獲得上個月相應等級的每月紅包彩金。（每月紅包彩金1倍流水即可提款）',
        },
        {
          id: 9,
          title: '晉級優惠',
          content:
            '晉級優惠可在VIP頁面自助領取，領取晉級優惠活動後開始計算活動有效流水；此優惠不與平台其他優惠共享，僅與返水優惠共享；每個等級的VIP晉級優惠僅支持指定場館申請（只可申請符合當前等級的晉級優惠）。',
        },
      ],
    }
  },
  computed: {},
  created() {
    this.menuSelected = this.menuList[0].value
    this.getVIPLevel()
  },
  methods: {
    async getVIPLevel() {
      try {
        const res = await getVIPLevel()
        const result = res.data
        this.vipDataList = [...result]
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    selectType(item) {
      this.menuSelected = item.value
    },
    getTitleTypeText(type) {
      const tTitleTypeMap = new Map([
        ['rebateRatio', this.$t('VIPDetail.rebateRatio')],
        ['withdrawLimit', this.$t('VIPDetail.withdrawLimit')],
        ['activityRule', this.$t('VIPDetail.activityRule')],
      ])
      const result = tTitleTypeMap.get(type)

      return result
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
}
.menu-main {
  @include flexbox(space-between);
  padding: 1rem;
  border-bottom: 0.2rem solid #f7f6fb;
  color: #777777;
  font-weight: 600;
  .selected {
    color: #5296fd;
  }
}
.title-main {
  @include flexbox;
  padding: 1rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #333333;
  border-bottom: 0.2rem solid rgb(241, 241, 241);
}
.content-main {
  margin-bottom: 2rem;
  .content-header {
    @include flexbox(space-between);
    background: rgb(236, 240, 247);
    .content-header-item {
      font-size: 0.8rem;
      font-weight: bold;
      padding: 1rem 0;
      text-align: center;
    }
  }
  .content-table {
    @include flexbox(space-between);
    background: rgb(236, 240, 247);
    .content-table-item {
      @include flexbox;
      font-size: 0.8rem;
      font-weight: 500;
      padding: 0.5rem 0;
      .content-table-icon {
        @include flexbox;
      }
      .content-table-level {
        position: absolute;
        color: white;
        margin-left: -1.45rem;
      }
      .content-table-text {
        margin-left: -0.3rem;
      }
      .gold {
        color: rgb(99, 57, 32);
      }
    }
  }
  .content-group {
    padding: 2rem 1rem;
    .content-item {
      @include flexbox(flex-start, center, wrap);
      margin-bottom: 1rem;
      .content-item-label {
        @include flexbox;
        width: 1.2rem;
        height: 1.2rem;
        background: rgb(82, 150, 253);
        color: white;
        border-radius: 0.6rem;
        margin-right: 0.5rem;
      }
      .content-item-title {
        font-weight: bold;
      }
      .content-item-text {
        margin: 0.2rem 0 0 1.7rem;
        color: #777777;
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1.3rem;
      }
    }
    .content-tip {
      @include flexbox(flex-start, flex-start);
      .content-tip-label {
        @include flexbox;
        width: 1.2rem;
        height: 1.2rem;
        background: rgb(82, 150, 253);
        color: white;
        border-radius: 0.6rem;
        margin-right: 0.5rem;
      }
      .content-tip-text {
        color: rgb(82, 150, 253);
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1.3rem;
      }
    }
  }
  .rebateRatio {
    width: 14%;
  }
  .withdrawLimit {
    width: 33%;
  }
  .content-table:nth-child(2n) {
    background: rgb(251, 252, 254);
  }
}
</style>
