<template>
  <div class="container">
    <div class="personal-main">
      <div class="personal-top">
        <div class="personal-top-photo">
          <img src="@/assets/images/mb/personalCenter/photo.png" />
        </div>
        <div class="personal-top-item">
          <div class="personal-top-user">{{ memberInfo.account }}</div>
          <div class="personal-top-vip">VIP {{ userVIPData }}</div>
        </div>
        <div class="personal-top-image">
          <div class="personal-top-image-text">VIP</div>
          <div class="personal-top-image-level">
            {{ userVIPData }}
          </div>
        </div>
      </div>
      <div class="personal-middle">
        <div class="personal-middle-label">VIP {{ userVIPData }}</div>
        <div class="personal-middle-progressBar">
          <div
            class="personal-middle-target"
            style="margin-left: calc(10% - 1rem);"
          >
            <div class="personal-middle-ratio">10%</div>
            <div class="personal-middle-icon">
              <img src="@/assets/images/mb/personalCenter/arrow-down.png" />
            </div>
          </div>
          <div class="personal-middle-current" style="width: 10%;"></div>
          <div class="personal-middle-goal"></div>
        </div>
        <div class="personal-middle-label gray">VIP {{ userVIPData + 1 }}</div>
      </div>
      <div class="personal-bottom">
        <div class="personal-bottom-item">
          {{ $t('VIPPrivilege.currentDeposit') }}0.00
          <span>(0.00/500)</span>
        </div>
        <div class="personal-bottom-item">
          {{ $t('VIPPrivilege.currentFlow') }}0.00
          <span>(0.00/3,500)</span>
        </div>
      </div>
    </div>
    <div class="level-main">
      <div class="level-nav-group">
        <swiper
          ref="swiperNav"
          :options="swiperOptionNav"
          @click="swiperToSlide"
        >
          <swiper-slide
            v-for="(item, index) in vipDataList"
            :key="item.vip_level"
            class="level-nav-item"
          >
            <div
              class="level-nav-title"
              :class="{ selected: vipDataSelected === index }"
            >
              Lv{{ item.vip_level }}
            </div>
          </swiper-slide>
        </swiper>
      </div>
      <div class="level-line"></div>
      <div class="level-content-group">
        <swiper
          ref="swiper"
          :options="swiperOption"
          @slideChangeTransitionStart="swiperNavToSlide"
        >
          <swiper-slide
            v-for="item in vipDataList"
            :key="item.vip_level"
            class="level-content-item"
          >
            <div class="level-content-image">
              <img src="@/assets/images/mb/personalCenter/card.png" />
            </div>
            <div class="level-content-area">
              <div class="level-content-row">
                <div class="level-content-row-title">
                  VIP {{ item.vip_level }}
                </div>
                <div class="level-content-row-icon">
                  <div class="level-content-row-icon-text">VIP</div>
                  <div class="level-content-row-icon-level">
                    {{ item.vip_level }}
                  </div>
                </div>
              </div>
              <div class="level-content-row">
                <div class="level-content-row-item">
                  <div class="level-content-row-number">
                    {{ formatNumber(item.deposit) }}
                  </div>
                  <div class="level-content-row-text">
                    {{ $t('VIPPrivilege.accumulatedDeposit') }}
                  </div>
                </div>
                <div class="level-content-row-item">
                  <div class="level-content-row-number">
                    {{ formatNumber(item.upgrade_rolling) }}
                  </div>
                  <div class="level-content-row-text">
                    {{ $t('VIPPrivilege.flowRequire') }}
                  </div>
                </div>
                <div class="level-content-row-item">
                  <div class="level-content-row-number">
                    {{ formatNumber(item.relegation_rolling) }}
                  </div>
                  <div class="level-content-row-text">
                    {{ $t('VIPPrivilege.relegationFlow') }}
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper>
        <div class="level-content-page">
          {{ currentPage }}/{{ vipDataList.length }}
        </div>
      </div>
    </div>
    <div class="exclusive-main">
      <div class="exclusive-title">
        {{ $t('VIPPrivilege.vipExclusive', [vipDataSelected]) }}
      </div>
      <div class="exclusive-group">
        <div class="exclusive-item">
          <div class="exclusive-icon">
            <img-svg
              :src="require('@/assets/images/mb/personalCenter/vip-icon1.svg')"
            ></img-svg>
          </div>
          <div class="exclusive-number">{{ exclusive.dailyWithdrawCount }}</div>
          <div class="exclusive-text">
            {{ $t('VIPPrivilege.dailyWithdrawCount') }}
          </div>
        </div>
        <div class="exclusive-item">
          <div class="exclusive-icon">
            <img-svg
              :src="require('@/assets/images/mb/personalCenter/vip-icon2.svg')"
            ></img-svg>
          </div>
          <div class="exclusive-number">
            {{ formatNumber(exclusive.dailyWithdrawAmount) }}
          </div>
          <div class="exclusive-text">
            {{ $t('VIPPrivilege.dailyWithdrawAmount') }}
          </div>
        </div>
        <div class="exclusive-item">
          <div class="exclusive-icon">
            <img-svg
              :src="require('@/assets/images/mb/personalCenter/vip-icon3.svg')"
            ></img-svg>
          </div>
          <div class="exclusive-number">
            {{ formatNumber(exclusive.upgradeBonus, 0) }}
          </div>
          <div class="exclusive-text">
            {{ $t('VIPPrivilege.upgradeBonus') }}
          </div>
          <div class="exclusive-button">
            {{ $t('VIPPrivilege.receive') }}
          </div>
        </div>
        <div class="exclusive-item">
          <div class="exclusive-icon">
            <img-svg
              :src="require('@/assets/images/mb/personalCenter/vip-icon4.svg')"
            ></img-svg>
          </div>
          <div class="exclusive-number">
            {{ formatNumber(exclusive.birthdayBonus, 0) }}
          </div>
          <div class="exclusive-text">
            {{ $t('VIPPrivilege.birthdayBonus') }}
          </div>
          <div class="exclusive-button">
            {{ $t('VIPPrivilege.receive') }}
          </div>
        </div>
        <!-- <div class="exclusive-item">
          <div class="exclusive-icon">
            <img-svg
              :src="require('@/assets/images/mb/personalCenter/vip-icon5.svg')"
            ></img-svg>
          </div>
          <div class="exclusive-number">
            {{ formatNumber(exclusive.monthlyRedEnvelope, 0) }}
          </div>
          <div class="exclusive-text">
            {{ $t('VIPPrivilege.monthlyRedEnvelope') }}
          </div>
          <div class="exclusive-button">
            {{ $t('VIPPrivilege.receive') }}
          </div>
        </div> -->
      </div>
    </div>
    <template v-if="vipDataSelected">
      <div class="upgrade-main">
        <div class="upgrade-title">
          {{ $t('VIPPrivilege.vipUpgrade', [vipDataSelected]) }}
        </div>
        <div class="upgrade-group">
          <div class="upgrade-item">
            <div class="upgrade-number">{{ upgrade.minimumTransfer }}</div>
            <div class="upgrade-text">
              {{ $t('VIPPrivilege.minimumTransfer') }}
            </div>
          </div>
          <div class="upgrade-item">
            <div class="upgrade-number">{{ upgrade.bonusRatio }}%</div>
            <div class="upgrade-text">
              {{ $t('VIPPrivilege.bonusRatio') }}
            </div>
          </div>
          <div class="upgrade-item">
            <div class="upgrade-number">{{ upgrade.maximumReward }}</div>
            <div class="upgrade-text">
              {{ $t('VIPPrivilege.maximumReward') }}
            </div>
          </div>
          <div class="upgrade-item">
            <div class="upgrade-number">
              {{ $t('VIPPrivilege.multiple', [upgrade.flowMultiple]) }}
            </div>
            <div class="upgrade-text">
              {{ $t('VIPPrivilege.flowMultiple') }}
            </div>
          </div>
          <div class="upgrade-item">
            <div class="upgrade-number">
              {{ timesLimit }}
            </div>
            <div class="upgrade-text">
              {{ $t('VIPPrivilege.timesLimit') }}
            </div>
          </div>
          <div class="upgrade-item">
            <div class="upgrade-number">
              {{ gameVenue }}
            </div>
            <div class="upgrade-text">
              {{ $t('VIPPrivilege.gameVenue') }}
            </div>
          </div>
        </div>
        <div class="select-main">
          <div class="select-title">{{ $t('VIPPrivilege.selectVenue') }}</div>
          <div class="select-selector" @click="gameTypeStatus = true">
            <div class="select-text-text">{{ $t('VIPPrivilege.select') }}</div>
            <div class="select-text-icon">
              <img-svg
                :src="
                  require('@/assets/images/mb/personalCenter/arrow-down.svg')
                "
              ></img-svg>
            </div>
          </div>
          <div class="select-button">
            {{ $t('VIPPrivilege.participate') }}
          </div>
        </div>
      </div>
    </template>
    <nuxt-link class="link-main" to="VIPDetail">
      <div class="link-text">{{ $t('VIPPrivilege.vipDetail') }}</div>
      <div class="link-icon">
        <img-svg
          :src="require('@/assets/images/mb/personalCenter/arrow-right.svg')"
        ></img-svg>
      </div>
    </nuxt-link>
    <template v-if="gameTypeStatus">
      <div class="selector-mask">
        <div class="selector-main">
          <div class="selector-operate">
            <div
              class="selector-button"
              @click="gameTypeStatus = !gameTypeStatus"
            >
              {{ $t('VIPPrivilege.cancel') }}
            </div>
          </div>
          <div
            v-for="item in gameTypeList"
            :key="item.id"
            class="selector-menu"
            @click="selectGameType(item)"
          >
            <div class="selector-menu-text">{{ item.name }}</div>
          </div>
        </div>
      </div>
    </template>
    <template v-if="venueStatus">
      <div class="selector-mask">
        <div class="selector-main">
          <div class="selector-operate">
            <div class="selector-button" @click="venueStatus = !venueStatus">
              {{ $t('VIPPrivilege.cancel') }}
            </div>
          </div>
          <div
            v-for="item in venueList"
            :key="item.id"
            class="selector-menu"
            @click="selectVenue(item)"
          >
            <div class="selector-menu-text">{{ item.name }}</div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { getVIPLevel, getVIPInfo } from '@/api/vip.js'

export default {
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('header/setHeaderStatus', 2)
      vm.$store.dispatch('header/setNavbarStatus', 0)
      const title = vm.$t('header.VIPPrivilege')
      vm.$store.dispatch('header/setHeaderTitle', title)
      const data = [
        {
          id: 1,
          title: vm.$t('header.VIPDetail'),
          path: 'VIPDetail',
        },
      ]
      vm.$store.dispatch('header/setHeaderText', data)
    })
  },
  data() {
    return {
      userVIPData: {},
      swiperOptionNav: {
        slidesPerView: 5,
        spaceBetween: 20,
      },
      swiperOption: {
        slidesPerView: 1.2,
        centeredSlides: true,
      },
      vipDataSelected: 0,
      currentPage: 1,
      vipDataList: [],
      exclusive: {
        dailyWithdrawCount: '',
        dailyWithdrawAmount: '',
        upgradeBonus: '',
        birthdayBonus: '',
        monthlyRedEnvelope: '',
      },
      upgrade: {
        minimumTransfer: '',
        bonusRatio: '',
        maximumReward: '',
        flowMultiple: '',
      },
      gameTypeStatus: false,
      gameTypeList: [
        { id: 1, name: this.$t('VIPPrivilege.sport'), value: 'sport' },
        { id: 2, name: this.$t('VIPPrivilege.live'), value: 'live' },
        { id: 3, name: this.$t('VIPPrivilege.lotto'), value: 'lotto' },
        { id: 4, name: this.$t('VIPPrivilege.egame'), value: 'egame' },
        { id: 5, name: this.$t('VIPPrivilege.poker'), value: 'poker' },
        { id: 6, name: this.$t('VIPPrivilege.esport'), value: 'esport' },
      ],
      venueStatus: false,
      venueList: [],
    }
  },
  computed: {
    ...mapState('login', ['memberInfo']),
    timesLimit() {
      let result = ''
      if (this.vipDataSelected <= 3) {
        result = this.$t('VIPPrivilege.only')
      } else if (this.vipDataSelected > 3 && this.vipDataSelected !== 5) {
        result = this.$t('VIPPrivilege.weekly')
      } else if (this.vipDataSelected === 5) {
        result = this.$t('VIPPrivilege.monthly')
      }
      return result
    },
    gameVenue() {
      let result = ''
      if (this.vipDataSelected === 2 || this.vipDataSelected === 4) {
        result = this.$t('VIPPrivilege.sportVenue')
      } else {
        result = this.$t('VIPPrivilege.designateVenue')
      }
      return result
    },
  },
  created() {
    this.initialize()
  },
  beforeDestroy() {
    this.$store.dispatch('header/clearHeaderText')
  },
  methods: {
    async initialize() {
      await this.getVIPInfo()
      await this.getVIPLevel()
      const exclusive = {
        dailyWithdrawCount: this.vipDataList[0].free_transfer_times,
        dailyWithdrawAmount: this.vipDataList[0].daily_max_withdrawals,
        upgradeBonus: this.vipDataList[0].upgrade_prize,
        birthdayBonus: this.vipDataList[0].birthday_gift,
        monthlyRedEnvelope: this.vipDataList[0].first_month_prize,
      }
      const upgrade = {
        minimumTransfer: this.vipDataList[0].min_transfer,
        bonusRatio: this.vipDataList[0].bonus_ratio,
        maximumReward: this.vipDataList[0].max_bonus,
        flowMultiple: this.vipDataList[0].rolling_multiple,
      }
      this.exclusive = exclusive
      this.upgrade = upgrade
      this.$refs.swiper.$swiper.slideTo(this.userVIPData, 1000)
    },
    async getVIPInfo() {
      try {
        const res = await getVIPInfo()
        const result = res.data
        this.userVIPData = result
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    async getVIPLevel() {
      try {
        const res = await getVIPLevel()
        const result = res.data
        this.vipDataList = [...result]
      } catch (err) {
        this.showErrorMessage(err.message)
      }
    },
    swiperToSlide(data) {
      if (!data.clickedIndex && data.clickedIndex !== 0) return
      const index = data.clickedIndex
      this.vipDataSelected = index
      this.currentPage = index + 1
      this.$refs.swiper.$swiper.slideTo(index, 1000)
    },
    swiperNavToSlide(data) {
      const index = data.activeIndex
      this.vipDataSelected = index
      const currentLevel = this.vipDataList.find((x) => x.vip_level === index)
      const exclusive = {
        dailyWithdrawCount: currentLevel.free_transfer_times,
        dailyWithdrawAmount: currentLevel.daily_max_withdrawals,
        upgradeBonus: currentLevel.upgrade_prize,
        birthdayBonus: currentLevel.birthday_gift,
        monthlyRedEnvelope: currentLevel.first_month_prize,
      }
      const upgrade = {
        minimumTransfer: currentLevel.min_transfer,
        bonusRatio: currentLevel.bonus_ratio,
        maximumReward: currentLevel.max_bonus,
        flowMultiple: currentLevel.rolling_multiple,
      }
      this.exclusive = exclusive
      this.upgrade = upgrade
      this.$refs.swiperNav.$swiper.slideTo(index, 1000)
      this.currentPage = index + 1
    },
    selectGameType(item) {
      this.gameTypeStatus = false
      this.venueStatus = true
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $bottomNav-height;
}
.personal-main {
  padding: 1rem;
  background: #f7f6fb;
  border-radius: 0 0 1.5rem 1.5rem;
  .personal-top {
    @include flexbox(flex-start, flex-start);
    .personal-top-photo {
      margin-right: 1rem;
    }
    .personal-top-item {
      @include flexbox(flex-start);
      width: calc(100% - 9rem);
      margin-top: 1rem;
      .personal-top-user {
        font-size: 1.1rem;
        font-weight: 600;
        margin-right: 0.5rem;
      }
      .personal-top-vip {
        background: url('~assets/images/mb/personalCenter/vipLabel.svg') center
          no-repeat;
        color: white;
        font-weight: bold;
        font-size: 0.9rem;
        text-align: center;
        padding: 0.1rem 0.7rem;
      }
    }
    .personal-top-image {
      width: 4.5rem;
      height: 6rem;
      background: url('~assets/images/mb/personalCenter/vip.png') no-repeat;
      background-size: 100%;
      color: #633920;
      font-weight: bold;
      .personal-top-image-text {
        @include flexbox;
        margin-top: 2rem;
        font-size: 0.6rem;
      }
      .personal-top-image-level {
        @include flexbox;
        margin-top: -0.2rem;
        font-size: 1.2rem;
      }
    }
  }
  .personal-middle {
    @include flexbox(flex-start, flex-end);
    margin-top: -1rem;
    .personal-middle-label {
      @include flexbox;
      background: linear-gradient(
        to right,
        rgb(140, 206, 253),
        rgb(128, 194, 253)
      );
      font-weight: bold;
      font-size: 0.9rem;
      border-radius: 1rem;
      padding: 0.2rem 0.5rem;
      color: white;
    }
    .gray {
      background: linear-gradient(
        to right,
        rgb(197, 197, 197),
        rgb(156, 156, 156)
      );
    }
    .personal-middle-progressBar {
      padding: 0 1rem 0.5rem;
      width: calc(100% - 7rem);
      .personal-middle-target {
        width: 1.5rem;
        .personal-middle-ratio {
          text-align: center;
          font-weight: 500;
          font-size: 0.9rem;
        }
        .personal-middle-icon {
          @include flexbox;
          margin: 0.3rem 0;
        }
      }
      .personal-middle-current {
        background-color: #7cbffd;
        height: 0.7rem;
        border-radius: 0.35rem;
        position: relative;
        z-index: 1;
      }
      .personal-middle-goal {
        position: absolute;
        background-color: white;
        width: calc(100% - 11rem);
        height: 0.7rem;
        border-radius: 0.35rem;
        box-shadow: $box-shadow;
        margin-top: -0.7rem;
      }
    }
  }
  .personal-bottom-item {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    color: #434343;
    span {
      font-weight: 500;
    }
  }
}
.level-main {
  padding: 1rem 0;
  .level-nav-group {
    padding: 0 1rem;
    margin-bottom: 1rem;
    .level-nav-title {
      @include flexbox;
      background: #6b7089;
      color: white;
      font-weight: 500;
      padding: 0.1rem 0;
      border-radius: 1rem;
    }
    .selected {
      background: linear-gradient(to right, #8bcdfd, #8bcdfd);
    }
  }
  .level-line {
    position: absolute;
    border-top: 0.1rem solid #6b7089;
    width: 85%;
    height: 0.1rem;
    margin-top: -1.8rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .level-content-image img {
    width: 100%;
  }
  .level-content-page {
    margin-right: 2rem;
    text-align: right;
    color: rgb(107, 112, 137);
    font-size: 0.85rem;
    font-weight: bold;
  }
}
.level-content-area {
  position: absolute;
  width: 80%;
  margin-top: -9rem;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  .level-content-row {
    @include flexbox(space-between, flex-start);
    .level-content-row-title {
      font-size: 2rem;
      font-style: italic;
      font-weight: bold;
    }
    .level-content-row-icon {
      width: 3.5rem;
      height: 4.5rem;
      background: url('~assets/images/mb/personalCenter/vipLevel.png') no-repeat;
      background-size: 100%;
      font-weight: bold;
      .level-content-row-icon-text {
        @include flexbox;
        margin-top: 1.5rem;
        font-size: 0.6rem;
      }
      .level-content-row-icon-level {
        @include flexbox;
        margin-top: -0.4rem;
        font-size: 1.1rem;
      }
    }
    .level-content-row-item {
      text-align: center;
      font-size: 0.8rem;
      .level-content-row-text {
        font-weight: bold;
      }
    }
  }
}
.exclusive-main {
  padding: 1rem;
  border-top: 0.3rem solid rgb(247, 246, 251);
  .exclusive-title {
    font-weight: 600;
  }
  .exclusive-group {
    @include flexbox(flex-start, center, wrap);
    margin-top: 1rem;
    .exclusive-item {
      @include flexbox(flex-start, flex-start, wrap);
      width: 50%;
      margin-bottom: 1rem;
      .exclusive-icon {
        @include flexbox;
        margin-right: 0.5rem;
      }
      .exclusive-number {
        width: calc(100% - 2rem);
        font-weight: bold;
      }
      .exclusive-text {
        width: 100%;
        margin: 0.2rem 0 0 1.8rem;
        color: #777777;
        font-size: 0.8rem;
        font-weight: bold;
      }
      .exclusive-button {
        @include flexbox;
        margin: 0.2rem 0 0 1.8rem;
        color: white;
        width: 3.5rem;
        height: 1.5rem;
        background: linear-gradient(to right, #8dd0fe, #7cbffd);
        border-radius: 0.3rem;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
  }
}
.upgrade-main {
  padding: 1rem 1rem 0;
  border-top: 0.3rem solid rgb(247, 246, 251);
  .upgrade-title {
    font-weight: 600;
  }
  .upgrade-group {
    @include flexbox(flex-start, center, wrap);
    margin-top: 1rem;
    .upgrade-item {
      width: 33%;
      margin-bottom: 1rem;
      text-align: center;
      .upgrade-number {
        color: #5296fd;
        font-weight: bold;
      }
      .upgrade-text {
        color: #777777;
        font-size: 0.8rem;
        font-weight: bold;
        margin-top: 0.3rem;
      }
    }
  }
}
.select-main {
  @include flexbox(space-around);
  margin: 1rem 1rem 0;
  padding: 1rem;
  background-color: rgb(247, 246, 251);
  border-radius: 1rem;
  .select-title {
    font-size: 0.9rem;
    font-weight: bold;
  }
  .select-selector {
    @include flexbox;
    background-color: white;
    border: 1px solid #777777;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    .select-text-text {
      font-size: 0.9rem;
      font-weight: bold;
    }
    .select-text-icon {
      margin: -0.5rem 0 0 0.3rem;
    }
  }
  .select-button {
    background-color: #5296fd;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
  }
}
.link-main {
  @include flexbox;
  margin: 2rem 0;
  text-decoration: none;
  .link-text {
    margin-right: 0.5rem;
    color: #777777;
    font-size: 0.85rem;
  }
}
.selector-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  .selector-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    padding-bottom: 2.5rem;
    .selector-operate {
      @include flexbox(space-between);
      color: #5296fd;
      font-size: 0.9rem;
      font-weight: bold;
      border-bottom: 0.5rem solid #f7f6fb;
      .selector-button {
        padding: 1rem;
      }
    }
    .selector-menu {
      @include flexbox(space-between);
      font-weight: bold;
      margin: 0 1rem;
      padding: 0.8rem 2rem;
      border-bottom: 1px solid lightgray;
      .selector-menu-text {
        font-weight: bold;
      }
      .selector-menu-icon {
        @include flexbox;
      }
    }
  }
}
</style>
